[2016-09-23 18:41] alexstrel commented on #510
agree

[2016-09-23 18:47] alexstrel commented on #510
it looks like staggered-multigrid is now asymptotically  decaying to provide develop with some extra stuff.

[2016-09-26 10:04] kostrzewa commented on #444
This is solved in develop (I don't know what has changed), but I will close this now.

[2016-09-26 10:04] #444 closed

[2016-09-26 16:28] maddyscientist commented on #444
That's for confirming this has closed @kostrzewa.  Has the GPU driver on the system changed at all in the meantime?

Can you very if the hanging is still present as well on Jureca?

[2016-09-28 09:10] kostrzewa commented on #444
@maddyscientist Yes, it appears that the driver has been updated: NVIDIA-SMI 352.93     Driver Version: 352.93

As for the hanging, the answer is yes, unfortunately (at least it was two weeks ago). I will run another test and then provide you with the information we discussed at LAT'16.

[2016-09-28 09:23] kostrzewa opened #512 "QUDA twisted mass multigrid interface progress"
I'm currently extending the tmLQCD QUDA interface to provide access to the multigrid solver and its parameters. While the gamma basis problem still exists, I currently "fix" this by forcing `QUDA_DEGRAND_ROSSI_GAMMA_BASIS` in the `QudaInvertParam` struct which is pointed to in the `QudaMultigridParam` struct when it is passed to `newMultigridQuda`. The problem I encounter now is that after setting

[2016-09-28 09:35] kostrzewa commented on #512
This is with 3ef47faf55481520baa87f52ec934f9652db9639 of the develop branch.

[2016-09-28 11:01] kostrzewa commented on #512
Persists with 127153033a85cf03f8b7f5f9785933807c662282

[2016-09-28 15:01] kostrzewa commented on #512
@cpviolator: Would there be any interest in the Temple group in sharing experiences with the tm and tmclover mg? Perhaps you've come across the same issue?

[2016-09-28 15:37] maddyscientist commented on #512
(Looking on my phone, so not ideal)

I don't see above where you are setting the number of null space vectors.  By default, the correct templates are only instantiated for 24 and 32 vectors, from the error message it looks like you're using either 4 or 8 vectors which is leading to this message.

[2016-09-28 15:38] maddyscientist commented on #512
Also, set smoother_tol to 0.2 for each level.

[2016-09-28 15:42] kostrzewa commented on #512
@maddyscientist Ah, I see, thanks. I used 4 vectors to make the setup fast and make everything fit on a single node. I might just try with a smaller gauge configuration and use 24 vectors instead. I guess I'll close this issue then. Could I just call ```extractGhostMG<Float, 8>(u, Ghost, extract)``` without ill effects?

[2016-09-28 15:42] maddyscientist commented on #512
Ah, I see you are setting n_vec to 4: that's the problem.  Change this to 24.

Also, best to use DIRECTPC_SOLVE for the smoother solve type.  In general best solver comes from using e/o preconditioning everywhere.

It's on my todo list to update the wiki page outlining all these parameters and good default settings.

One other thing: a few of us are getting together in a few weeks to work on optim

[2016-09-28 15:42] cpviolator commented on #512
@kostrzewa I'll keep you in the loop when it comes to our code development for TM multigrid. We have lots of code that performs several variations of 2pt and 3pt correlation functions using a delated solver. I'm just concentrating of upgrading one of those functions to multigrid and comparing data so I know I have all the settings right. If I come across errors or subtitles I'll let you know.

Loo

[2016-09-28 16:34] maddyscientist commented on #512
To make it work with 4 vectors you just need to instantiated the correct templates.  There are a bunch of places where this will be needed, so will likely take a few edit / recompile efforts to get this working to stop the runtime errors.

It's restricted to 24/32 vectors  for compile time and binary size.  Long term plan is runtime compilation to make the choice fully dynamic but this is likely s

[2016-09-29 12:28] kostrzewa commented on #512
@maddyscientist Thanks a lot for your help. I've gotten it to launch the first gcrNkrylov GCR iterations. The setup time is quite tolerable, at least for the two levels that I've tried now. I stop BiCGStab at 200 iterations because it kind of stops converging after that, I plan to study the subspace quality later, depending on which parameters are used in the setup.

Unfortunately, I get a segment

[2016-09-29 13:48] mathiaswagner commented on #370
As we move on with the cmake build this is probably no longer an issue.

[2016-09-29 13:48] #370 closed

[2016-09-29 15:41] kostrzewa commented on #512
[code]
Will try to get some more debug information tomorrow...

[2016-09-29 21:18] maddyscientist commented on #512
Is this something that can be reproduced with the multigrid_invert_test that comes with QUDA?  If so, if you send me a modified version of that, I can debug from here to see what's going on.

[2016-09-29 21:26] kostrzewa commented on #512
I'll give it a try, but I will first need to compile a version of QUDA with all the dependencies necessary for running the *_invert_test stuff. Note that I went for 24 vectors now and simply run on more nodes. Reproduced it already with different lattice sizes on different numbers of nodes.

[2016-09-29 21:28] maddyscientist commented on #512
I don't think there are any extra dependencies for the tests.  You don't need to use QMP/QIO, it just means you can't load a lattice, but a seg-fault shouldn't care if the data is random or a real config 😉 , so just a plain MPI + MAGMA build should be fine.

[2016-09-30 05:34] mathiaswagner opened #516 "remove autoconf support"
Maintaining autoconf and cmake seems like a waste of time.
The autoconf builds have already been removed from Jenkins.
In a first step I would like to at least remove configure from all documentation for 0.9 and stop shipping the `configure`and maybe renaming the `Makefile` script so that it had to be actively re-enabled.

After shipping 0.9 we should remove all autoconf / make remainders.

[2016-09-30 08:37] kostrzewa commented on #512
Thanks, that's true of course! Both

[2016-09-30 09:27] kostrzewa commented on #512
I can't reproduce the segmentation fault with ```multigrid_invert_test```. I will try to see if I messed something up on the tmLQCD side with respect to reproducing the way the setup and solver are called.

[2016-09-30 09:36] mathiaswagner commented on #512
Maybe try building with `CMAKE_BUILD_TYPE=HOSTDEBUG`
This will enable debug information the the CPU code and may help pinning down where the segfault occurs using backtrace.

[2016-09-30 11:45] kostrzewa commented on #512
Thanks. I seem to have resolved the segmentation fault, which appears to have resulted from unfortunate combinations of ```matpc_type```, ```solution_type``` and ```solve_type``` and a mismatch between the outer and inner parameters.

After I've committed my changes, I'll revert back to the segfaulting version, to try to provide the problematic combination since this should probably be caught (as

[2016-09-30 15:14] kostrzewa commented on #512
As a side note: the two level solver "works" for plain Wilson quarks on a twisted mass sea, as long as the pion mass is well in excess of around 300 MeV or so. For twisted mass quarks on a twisted mass sea at a pion mass of around 300 MeV, GCR gets stuck as mentioned above.

[2016-09-30 16:02] kostrzewa commented on #512
Attempting to use a three level setup seems to fail for me both for Wilson and TM with the orthogonalisation of the null vectors not working at some early stage (vector 7, 8 or 9 out of 32).

[code]

It's a bit odd that the iterated residual is so far off the true one, although I've noticed that on the coarser levels, delta is relaxed significantly.

[2016-09-30 16:31] cpviolator commented on #512
@kostrzewa I'm not sure if it's possible, but can you change the `BiCGstab` to `CG`? I noticed in my studies of low mass pions with Wilson Clover fermions using QUDA that `BiCGstab` would get stuck but switching to `CG` would allow the solver to converge.

[2016-10-01 06:54] kostrzewa commented on #512
@cpviolator CG would only work for DD^dag and I don't think it would work for the homogeneous case anyway... or did you work on the MG setup phase? As far as I discussed with @maddyscientist, the fact that BiCGStab doesn't converge very well during null vector generation is not that important. Do I remember correctly, Kate? I seem to recall that you mentioned that the resulting solver still conver

[2016-10-03 22:34] weinbe2 opened #517 "Test executables appear to not build"
Hey all,

After grabbing a recent version of quda from develop, I've noticed that none of the test executables build after an appropriate ccmake/make -j 16. I didn't have this issue about a week ago (maybe  a3d95c8 is the culprit? not familiar enough with cmake to know). 'libquda.a' still builds and appears in the /lib directory (though I currently have no executable to link against it to attempt

[2016-10-04 04:04] weinbe2 commented on #517
Ah, I guess I was a bit confused by the description in commit #514 ---I assumed 'QUDA_BUILD_ALL_TESTS' = 'ON' would explicitly compile and link the tests, as was the old behavior. It appears that setting it to 'ON' it still generates the targets, so an explicit (for example) 'make invert_test' did successfully compile a running version of the test. All good on the eastern front.

[2016-10-04 07:06] mathiaswagner commented on #517
Reopened to investigate.

By default all tests should build and by setting `QUDA_BUILD_ALL_TESTS = OFF` the tests should not build but the targets should be generated.
It seems like this is not what happens.

[2016-10-04 10:25] mathiaswagner commented on #517
Inconsistent use of `QUDA_BUILD_ALL_TESTS` and `QUDA_BUILDALLTESTS` is never a good idea. Just checking whether my fix now really works as intended.

[2016-10-07 09:54] kostrzewa commented on #512
The segfaulting combination of parameters was:

QudaInvertParam for outer solver:
[code]

QudaInvertParam passed via QudaMultigridParam->invert_param
[code]

QudaMultigridParam:
[code]

Not sure if this helps...
[code]

[2016-10-07 10:26] kostrzewa commented on #512
A working parameter set is:
outer QudaInvertParam:
[code]

QudaMultigridParam->invert_param
[code]

QudaMultigridParam:
[code]

As far as I can tell, since gcrNkrylov is irrelevent for the segfault, the only difference is whether the outer solve is ```QUDA_DIRECT_PC_SOLVE``` or not. If I run the outer solver with ```QUDA_DIRECT_SOLVE```, I get the segfault again.

[2016-10-07 10:31] kostrzewa commented on #512
As a consequence, when setting up the MG parameters, I will set (inv_param is the param struct for the outer solver):

[code]
so the other difference will be the coarse grid solution type.

[2016-10-07 18:25] #517 closed

[2016-10-12 21:51] maddyscientist commented on #512
@kostrzewa Apologies I've not had a chance to look at this for the past few weeks (too many things ongoing at the moment).  Next week I'll be focussed on MG at our hackathon, so will look at this issue then.

[2016-10-13 09:59] kostrzewa commented on #512
Thanks a lot! I've essentially gotten everything to work for a two-level solve, but the segfault still exists for certain combinations of parameters, as described above. In addition, I can't get the three-level solver to work due to the orthogonalisation problem on the coarser level, as described above. I was thinking of relaxing the orthogonalisation condition in ```multigrid.cpp``` for this purp

[2016-10-14 11:46] kostrzewa commented on #512
I've gotten the three-level solver to work by setting ```mg_param->generate_all_levels = QUDA_BOOLEAN_NO``` and instantiating a few more block sizes for the restrictor. Unfortunately, although this roughly halves the number of iterations for the converging case, it does not seem to help with the stagnation problem described above, although it does increase the mentioned factor ```x``` by which the

[2016-10-14 16:15] kostrzewa commented on #512
The good news is that for tm+clover, the solver behaves quite well even with just two levels and converges even at the physical pion mass in around 1000 MG-GCR iterations, which is quite interesting. The setup time is quite substantial, however, as you mentioned.

[2016-10-14 16:17] maddyscientist commented on #512
@kostrzewa Excellent.  So the main issue that is left to be resolved is the segmentation fault?

[2016-10-14 16:33] kostrzewa commented on #512
@maddyscientist Well, it would be nice if it converged also for tm without a clover term. It would probably also be interesting to understand if accidental zero eigenvalues are really to blame for the non-convergence of low-mass Wilson quarks on a twisted mass sea. The former point is more important though. I'm also not sure why ```mg_param->generate_all_levels = QUDA_BOOLEAN_YES``` leads to ortho

[2016-10-14 16:45] maddyscientist commented on #512
@kostrzewa Ok, multiple things to get fixed then 😄

One thing I've been meaning to ask you, I see in tmQCD code that you have BiCGStab(l) support.  You may have noticed that @weinbe2 has been adding this to QUDA (I think it should help reduce the null-space generation cost).  How does this solver behave with twisted mass and twisted clover?  I would have naively thought that it would behave a whol

[2016-10-14 17:09] kostrzewa commented on #512
@maddyscientist Regarding plain BiCGStab, we know that it doesn't converge well (at all) for tm or tmclover. What I've tried is that I move away from maximal twist in the setup phase (kappa_setup ~ kappa_c - 0.003*kappa_c or -0.006*kappa_c), which seems to produce null vectors which are good enough at least for tmclover. This is essential for the prolongator to pass MG::verify(), as far as I can t

[2016-10-18 18:34] cpviolator opened #521 "Build failure with QUDA_CONTRACT bool ON"
I'm trying to incorporate some extra code into `QUDA` which requires the `GPU_CONTRACT` flag to be on. I was getting errors with this build so I attempted a vanilla build of the latest version of `QUDA` develop with the `GPU_CONTRACT` flag turned on as well as other features, such as, `MULTIGRID` and `MPI`, and of course `MAGMA`. I've attached my `CMakeCache.txt` file for reference and reproductio

[2016-10-18 19:11] cpviolator commented on #521
OK, so simply adding the instance of `coordsFromFaceIndex` from an older version of `QUDA` seems to fix the problem, but I suspect that it would be more elegant to fix the function calls in `lib/dslash_core/covDev_muX_core.h` and `lib/dslash_core/covDev_muX_dagger_core.h` to use the instance already at line 442 of `lib/dslash_index.cuh` if possible. Will that work @maddyscientist?

[2016-10-18 19:16] maddyscientist commented on #521
I suspect the fact that this failure arose means that the Jenkins build tests aren't including the contractions.  @mathiaswagner Once this is fixed, can you make sure to include this in the future?

@cpviolator Can you have a go at patching this to use the function in `lib/dslash_index.cuh`?

[2016-10-18 19:52] cpviolator commented on #521
Actually, scratch that, it doesn't build. Just copying in the function gives the error:

`terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
nvcc error   : 'cicc' died due to signal 6
nvcc error   : 'cicc' core dumped
CMake Error at quda_generated_reduce_quda.cu.o.cmake:266 (message):
  Error generating file
  /work/03653/howarth/MULTIGRID/contraction_test/la

[2016-10-19 00:02] cpviolator commented on #521
I switched out the function calls in `lib/dslash_core/covDev_muX_core.h` and `lib/dslash_core/covDev_muX_dagger_core.h` to read as:

`//QKXTM: DMH update function call
//coordsFromFaceIndex<1>(X, sid, x1, x2, x3, x4, face_idx, face_volume, dim, face_num, param.parity, dims);`
`int coord[5];`
`coordsFromFaceIndex<4,QUDA_4D_PC,dim,1>(X, sid, coord, face_idx, face_volume, param);`

but the same error

[2016-10-19 00:30] AlexVaq commented on #521
Umm ok, tomorrow we can try to talk.

[2016-10-19 18:30] cpviolator commented on #521
Just to be pedantic, I attempted to build the latest version of QUDA develop with the contraction bool off, and I still got the `std::bad_alloc` error. I suspected that there might be a problem with my set up so I built quda-develop with contractions off on a different machine. It compiled OK. I then swapped out the `coordsFromFaceIndex` function call to comply with the newer template instance, sw

[2016-10-19 23:50] cpviolator commented on #521
OK, so I haven't yet tested this solution, but I should be able to get some data in the next few days. I'm going to use the augmented `covDev_muX` headers with MPI to test some multigrid code. If the data agrees, then the code change must be good. I'll write the code changes here then submit a pull request.

To fix the bug, simply replace the function call:

[code]

in all the `covDev_muX` headers

[2016-10-20 01:54] AlexVaq commented on #521
Why do you need a 5D array???

[2016-10-20 02:03] maddyscientist commented on #521
We're working on transitioning things to dealing with multi src solvers, where the ndim+1 dimension maps to the right hand side index.

On Oct 19, 2016, at 21:54, Alejandro Vaquero <notifications@github.com<mailto:notifications@github.com>> wrote:

Why do you need a 5D array???

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/

[2016-10-20 02:20] AlexVaq commented on #521
Makes sense. Let's see if I find some time to look at Lanczos...

[2016-10-24 00:47] cpviolator commented on #512
I can confirm the segfaults when using a vanilla quda-develop and `multigrid_invert_tests`. When using a twisted-mass dslash and direct solve type there is a segfault. When using twisted-clover and direct then `verify()` fails in multigrid.cpp. Same errors for normop and normop-pc solves too. I can only get things working with direct-pc.

[2016-10-24 01:21] maddyscientist commented on #512
Ok I will try to reproduce this in the next few days.  Does the problem occur for both single and multi GPU?

On progress last week, at the hackathon, we now have an interface which allows the MG state to persist for gauge evolution with the introduction of a new interface call `updateMultigridQuda`.  Also, I've just about got most of the setup off loaded to the GPU so there will soon be a big spe

[2016-10-24 01:35] cpviolator commented on #512
Same story for single and multi-GPU. Right now I'm studying the working test combos `--dslash-type twisted-mass --solve-type direct-pc` and trying to get our code to work with it. We used to do normop-pc to get the eigenvectors for deflation, but I think that we can do a direct-pc solve if we upgrade to MG. I'll report back when a working setup is found.

[2016-10-24 07:31] cpviolator commented on #512
OK, I'm also seeing with our code that the level 1 BiCGStab solver has trouble getting past 1e-5 after 200 interactions using direct-pc and twisted mass, and that the GCR solver then has trouble getting past 1e-1 for |r|/|b|.  I'm relaxing the solver tolerance way down to 5e-1 just to get it to 'converge' and produce data. I'm using the same MG set up as given in `multigrid_invert_test`: a two lev

[2016-10-24 08:20] kostrzewa commented on #512
@cpviolator
see here for a working setup for tmclover: https://github.com/kostrzewa/tmLQCD/blob/quda_interface_multigrid/quda_interface.c#L1084

1) lower kappa by 2.5 per-mille (away from kappa_c to get a positive PCAC mass)
2) increase mu in the MG to 5.2*target_mu

Works for 2 and 3 level solves. I used direct_pc as that is the only setup where I don't experience segfaults, as you said above.

[2016-10-24 08:21] kostrzewa commented on #512
@cpviolation
regarding the lattices, can Martha get these or would you like me to provide some?

[2016-10-24 09:03] kostrzewa commented on #512
The ideal situation would be to generate the test vectors iteratively: run O(100) iterations of BiCGstab on the homogeneous systems to build a first approximation MG solver. Then use this solver on the homogeneous systems to improve the test vectors. Finally, at least according to the DDalphaAMG people (and in line with what I see in the QUDA-MG), the coarsest level mu should be increased relative

[2016-10-24 09:20] cpviolator commented on #512
@kostrzewa Thank you very much! I'll run with that setup and see what it brings. We have some lattices knocking around in Cyprus so I should be OK there.

With regards to the convergence problem, I think that this adaptive approach is what's needed too. I can design a small testing program to see what sorts of changes give the best improvements, if any at all.

[2016-10-29 05:44] cpviolator opened #522 "Heavy memory burden on reduce.cu?"
I'm posting this as a question rather that a bug because it's an issue related to a particular system (Stampede) that has arisen in the past few weeks.

I was working on the development brach pulled on the 22nd of September and I had no issues with compilation. I recently gave instructions to colleagues about how to add additions to QUDA, and instructed them to simply pull the most recent developm

[2016-10-29 06:10] maddyscientist commented on #522
Hmmm, what version of CUDA is on stampede? Does have particularly low memory?  @bjoo I recall you've had memory issues before with compilation though I recall this was related to scratch storage the compiler uses?

[2016-10-30 23:51] cpviolator commented on #522
On Stampede I use CUDA 7.5, gcc 4.9.3 and mvapich 2.1. Here's a rundown of the builds I tried using a core to make, with the results:

[code]
All the builds that fail seem to fail on reduce_quda.o Here are the dates of commits:

`6f324e6` Sep 20th: success
`ad2114c2` Sep 22nd: fail
`06da5f9` Sep 23rd: fail
`24cf95e` Sep 26th: success
`1271530` Sep 27th: success
`582e8b2` Oct 17th: fail

So it's a

[2016-10-31 00:10] maddyscientist commented on #522
Can you try with configure build to rule out a cmake issue?

My cycles are extremely limited for the next few weeks but hopefully we can clear this up.

One other thing to try: try the feature/bicgstab-l branch.  There the multi reductions are in their own file so the compile burden is spread out a bit better.

[2016-10-31 00:18] cpviolator commented on #512
Ok, just reporting back on progress.

I was using an L=48 lattice with 3 and 4 GPUS but ran into an error uninstantiated block sizes. @kostrzewa, can you explain how you instantiated different block sizes? I see the code in the function
[code]
and the various permissible block sizes. Does one simply add more conditionals? I also see in your `setMultigridParams()` setup that there are some conditio

[2016-10-31 00:31] maddyscientist commented on #512
Yes, just add the correct block sizes instantiations to restrictor.cu.  Block size template is half of multigrid aggregate size (parity is on the y axis).

[2016-10-31 09:51] kostrzewa commented on #512
@cpviolator
Yes, I simply added some more block sizes to ```restrictor.cu```.

As for the aggregation parameters in "my" ```setMultigridParams()```, I wanted to make the coarser blocking automatic (for level ```n```, say) by choosing either 3, 2 or 1 block aggregates on the coarser levels depending on the dimensions of the local block lattice on level ```n-1```. I get issues as described above wit

[2016-11-11 14:19] viktordick commented on #454
This problem not only affects the tests but also any code that uses the QUDA library and creates multiple executables. The performance should not suffer noticeably since changing from static to shared libraries only affects the calling of the QUDA routines and not the performance of the routines themselves (see https://gcc.gnu.org/ml/gcc/2004-06/msg01956.html).

Anyhow, in Bielefeld we used QUDA a

[2016-11-11 14:24] mathiaswagner commented on #454
@viktordick The issue just never had high enough priority. But aus you already started working on it do you mind creating a branch (we use feature/name_of_feature as convention) from current develop with the things you tried?

[2016-11-11 16:33] cpviolator commented on #454
The CovDev error is probably a small bug in the code, it's resolved here: https://github.com/lattice/quda/issues/521

I've been playing a lot with CMake recently as we use QUDA with several dependences and we needed to edit the CMakeLists.txt file to accommodate for those dependencies. Can you attach an error log for your build?

[2016-11-12 15:37] viktordick commented on #454
The errors I get are as follows:
[code]
I will push the feature branch with the changes I tried once I figure out how to properly configure the remote repository for pushing.

[2016-11-14 20:42] cpviolator commented on #512
@kostrzewa I'm not sure that the code you have in https://github.com/kostrzewa/tmLQCD/blob/quda_interface_multigrid/quda_interface.c#L1084 does what it should. From what I've seen, the \mu parameter remains unchanged on the finest levels, but on the coarsest level it gets rescaled. In your code (as far as I can see) the \mu parameter is scaled up at setup time to 5.2 it's input value, and remains

[2016-11-15 09:01] kostrzewa commented on #512
@cpviolator You are of course correct, I simply haven't had the time to poke into the QUDA innards to copy the DDalphaAMG-style mu-rescaling. Increasing mu on all coarse levels seems to kind of work as well and it was a first step towards getting a solver that converges. Especially during the setup phase, mu should ideally be the target mass, although this will likely affect the convergence of BiC

[2016-11-15 16:15] cpviolator commented on #512
I'm working on code to declare an array for `mu` which can be accessed by the solvers at various levels. The conventional thought is to increase `mu` on the coarsest level, but this method should allow for experimentation too. I'll share it when I get convergence.

[2016-11-17 09:54] mathiaswagner commented on #454
Ok. Doing a little digging in the code and I guess I found the issue.

Depending on the configuration some parts of quda are not build to reduce compile time.
In the files `llfat_quda.cu` and `covDev.cu` the corresponding `ifdef`'s remove whole function bodies (instead of just making it an empty function).

These are the undefined references you saw. Guess this should be easy to fix by modifying t

[2016-11-17 10:03] mathiaswagner opened #524 "build quda as shared library"
It might be desirable to build quda a a shared library in some cases. See e.g. #454

Currently there are two issues with that:
* The separation into cpp and cu files (introduced to compile cpp files first to catch errors there without having to wait on the longer cuda compilation) doesn't work with a shared library.

* `covDev.cu` and `llfat_quda.cu` remove function bodies if some feature are remo

[2016-11-17 10:03] mathiaswagner commented on #454
All the shared library discussion should now go to #524.

[2016-11-17 10:28] mathiaswagner commented on #524
@viktordick Just pushed some hacks to feature/shared_lib. Do you mind giving it a try?

[2016-11-21 15:12] viktordick commented on #524
Sorry, I had no time until now. I just pulled the current version (ca9c3b94) and tried it, but there are still some covdev errors. Maybe I should mention that I built with every non-advanced QUDA_... option OFF except for QUDA_DIRAC_WILSON, QUDA_INTERFACE_MILC, QUDA_INTERFACE_QDP and QUDA_MPI (and QUDA_GPU_ARCH set to sm_35). The errors are
[code]
and other similar ones.

[2016-11-21 15:14] mathiaswagner commented on #524
Our Jenkins server triggered that as well, see #526.

[2016-11-22 16:59] mathiaswagner commented on #521
As I am hitting this bug as well when trying to build quda as a shared lib (even when not building as a shared lib ...): Any updates here?

[2016-11-22 17:12] cpviolator commented on #521
I wrote a workaround to this in the comments above. You just replace the `coordsFromFaceIndex` function call in the 8 `covDev_mu` headers with more up-to-date code. I didn't make a pull request because I've not tested correlation functions using this patch with multi GPU's against single GPU data, but it does allow for compilation.

[2016-11-22 18:46] mathiaswagner commented on #521
I'll give that a try. I run into the issue with #526 but don't want to sneak your fix in with that pull.

Maybe it's best if you can just create a pull request with your fixes and we can then go through the review process for that.

[2016-11-22 22:52] cpviolator commented on #521
Just pushed a commit to develop, but forgot I was given privileges so it skipped code review, sorry. I've been working with these changes for a few weeks with zero issues, so I don't see any compilation problems arising from it.

[2016-11-23 08:46] mathiaswagner commented on #521
I guess we can check whether that breaks anything and fix it later. It shouldn't have any side effects so no worries.
Btw. GitHub now allows to require pull requests for branches and I have now enabled that for develop.

[2016-11-28 14:53] kostrzewa opened #527 "device_pinned_malloc fails consistently on Jureca"
On Jureca, for some reason, I see ```device_pinned_malloc``` failing consistently like so:

[code]

I've increased the number of used devices to make sure that this is not just an "out of memory" issue, but a 48^3 lattice should fit without problems on 16 K80s... Have you observed anything similar elsewhere?

[2016-11-28 15:07] mathiaswagner opened #528 "QUDA doesn't build with cmake 3.7"
Reported by Carleton and Olaf and I can reproduce it locally:

[code]

Workaround is to use cmake 3.6.3 from https://cmake.org/files/v3.6/

I am not sure whether this bug should / can be fixed on the QUDA side or whether it needs to be fixed in cmake but at least want to track it here.

[2016-11-28 15:10] kostrzewa commented on #527
The issue persists for Wilson quarks:

[code]

[2016-11-28 15:11] mathiaswagner commented on #527
Can you share QUDA, nvcc, CUDA driver versions for reference?
Can it be reproduced with one of the quda internal tests?

[2016-11-28 15:36] kostrzewa commented on #527
[code]

[code]

QUDA develop branch, latest commit:
[code]

I'll try to get the QUDA test to run...

[2016-11-28 15:46] mathiaswagner commented on #528
workaround in branch hotfix/cmake37_workaround

Should not break anything in quda.

@detar If cmake 3.6 is not an option hopefully this will work for you as well. Need to check whether there is a cleaner solution but I want to get this in asap.

[2016-11-28 15:57] kostrzewa commented on #527
Using ```invert_test``` without loading a gauge configuration, I get a non-converging solver with the following parameters, but I can't reproduce the crash:

[code]

However, there is a difference between the inversions because when run through tmLQCD, there is an additional basis change: ```N4quda10PackSpinorIddLi4ELi3ENS_11colorspinor11FloatNOrderIdLi4ELi3ELi2EEENS1_21SpaceSpinorColorOrderIdLi4E

[2016-11-28 16:18] detar commented on #528
Thanks, Mathias.  For now the old gnu configure/make seems to work for
me.  If not, I'll try 3.6.

Best,
Carleton

On 11/28/2016 08:46 AM, Mathias Wagner wrote:

[2016-11-28 16:21] viktordick opened #529 "insufficient padding when using MPI"
When trying to run a program using the MPI version of QUDA, I get the error
[code]
However, I could not find any hint in the documentation about how much padding is needed. With scalar code, `ga_pad = 0` was sufficient.

[2016-11-28 16:30] kostrzewa commented on #529
From the invert_test application:

[code]

[2016-11-28 16:35] viktordick commented on #529
Thanks!

[2016-11-28 16:35] #529 closed

[2016-11-28 20:54] maddyscientist commented on #529
Thanks @kostrzewa.

This bug reminds me though that I should probably remove the padding options from the interface, as they serve no purpose now other than to confuse the user.  or at the very least ensure that if insufficient padding is requested then instead of a hard error, rather issue a warning and resize automatically.

For background, the padding is present as an optimization on pre-Fermi

[2016-11-28 21:02] mathiaswagner commented on #529
When I was looking at the layout for 5d / component fields I was actually wondering whether there is any need to still have that in apart from lack of time for removing it.

On Nov 28, 2016, at 21:54, maddyscientist <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @kostrzewa<https://github.com/kostrzewa>.

This bug reminds me though that I should probably remove the paddi

[2016-11-29 11:03] mathiaswagner commented on #528
PR #530 should fix this.

[2016-11-29 17:26] maddyscientist commented on #528
#530 is merged into develop, so closing this.

[2016-11-29 17:26] #528 closed

[2016-11-30 04:01] rbabich commented on #529
Yep.  It's probably time.

[2016-11-30 11:53] viktordick opened #531 "out-of-bounds write in safe_malloc()"
When trying to create a `cudaColorSpinorField*`, something is written beyond allocated memory. This results in a segmentation fault further down the line, but as far as I can see with valgrind, the error happens somewhere in this area. A minimal working example is the following:
[code]
compiled with
[code]
against quda-0.8.0. When executed with valgrind, the errors are as follows:
[code]
Our code

[2016-11-30 11:58] mathiaswagner commented on #531
Did you use quda 0.8 or the current develop branch?

[2016-11-30 12:11] viktordick commented on #531
0.8 - since the current develop branch needs C++11 and this would require more changes to our code.

[2016-11-30 12:14] mathiaswagner commented on #531
Do you mind trying your reproducer with the current development branch?

[2016-11-30 12:14] viktordick commented on #531
If I try the MWE with the develop branch (and a C++11 compiler), I get
[code]

[2016-11-30 12:19] mathiaswagner commented on #531
You need to add '-lcuda' to your linker flags.

[2016-11-30 12:24] viktordick commented on #531
ok, now it compiles and valgrind gives the following (similar but less) errors:
[code]
I forgot to build quda with DEBUG, I think that's why there is less information.

[2016-11-30 15:58] viktordick commented on #531
Maybe what I want to do is no longer working like this. Is there some other way to create a cudaColorSpinorField without a CPU counterpart?

[2016-11-30 16:10] viktordick commented on #531
Another thing: it seems that if I create the `cudaColorSpinorField` on the stack instead of on the heap, the errors do not show up. However, since I need to prepare the `QudaInvertParam` as well as the `quda::ColorSpinorParam` before I can create the `cudaColorSpinorField` and since I want the field to live longer than the context in which I create the params, this is not a good option.

[2016-11-30 20:35] cpviolator commented on #531
Hey @viktordick, I think I had a similar issue when I was updating some old code to comply with this newer QUDA. I took clues from the `invertQuda()` function in the current develop branch. For your minimal code that you posted, try the following:

[code]
The change is that `d` is declared as `ColorSpinorField` then `QUDA` knows how to recast it as `cudaColorSpinorField`

[2016-11-30 20:39] maddyscientist commented on #531
I cannot reproduce this issue with the current develop branch, and the example runs to completion
$ ./bug
[code]

Also, I'm not sure I follow @cpviolator's comment.  There's no casting going on in the original example since the pointer declaration and the return type match.  This would only be a problem if the return type was `ColorSpinorField` instead of `cudaColorSpinorField`, in which case you

[2016-11-30 20:46] cpviolator commented on #531
@maddyscientist @viktordick Sorry, I'm still a touch hazy with QUDA's inner depths :)

[2016-11-30 20:46] maddyscientist commented on #531
This is just C++ not QUDA 😝

[2016-11-30 21:05] maddyscientist commented on #531
Ok, I've also tested it in multi-GPU mode as well, but don't see any issues there either (needed the following patches to work with multi-GPU).  It runs clean through valgrind as well.

I'm testing with CUDA 8.0, GCC 4.8.4 with cmake.  I'm not sure at this point how to help.  What version of CUDA are you using?  are you using cmake or configure to build?

[code]

[2016-11-30 23:34] cpviolator opened #532 "Setting twist flavour when using MG"
I noticed that in the `setMultigridParams()` function in the test function, the twist flavour is passed to the MG routines (default is MINUS.) Does this mean that in order to perform a calculation with both PLUS and MINUS twists, one needs two separate MG preconditioners for each type? In my code, I have a loop over spin and colour for a given source, and within that spin-colour loop I calculate b

[2016-12-01 07:28] viktordick commented on #531
I am using CUDA 8.0, quda 0.8.0 (I have checked out the tag v0.8.0) build with cmake (without MPI, DEBUG build), GCC 4.8.2 (earlier I used 4.4.7, but I now also tested with 4.8.2). valgrind still gives a lot of invalid writes. I tried to go through the program step by step (using valgrind+gdb) and narrowed it down to after the constructor of `cudaColorSpinorField` calls the base constructor of `Co

[2016-12-02 23:38] maddyscientist commented on #521
Closing this issue, since this problem has been fixed.  Any correctness issues can be taken up at a later date if needed.

[2016-12-02 23:38] #521 closed

[2016-12-05 22:47] maddyscientist opened #534 "Support MAGMA built with CMake"
If MAGMA is build with CMake, then when trying to set the MAGMA library location with QUDA's CMake build, an error message is given, and compilation fails
[code]

[2016-12-05 23:00] cpviolator commented on #534
This is problem I encountered. to solve it I rewrote line 213 of `CMakeLists.txt` to have quotations around the argument:

[code]
and gave the explicit location of `magma.h` at line 17 of `blas_magma.cu`

[2016-12-06 08:06] mathiaswagner commented on #534
I believe @cpviolator already has the solution but @maddyscientist do you have MAGMA build with CMake somewhere on your workstation so I can reproduce that?

[2016-12-06 16:08] cpviolator commented on #534
@mathiaswagner I used the OPENBLAS version of `make.inc` to build MAGMA in my directory on NVsocal2 (`/scratch/CPviolator/magma-1.7.0`) but there is a build with CMAKE located at `/scratch/CPviolator/magma-1.7.0_CMAKE` File permissions should be good on both.

[2016-12-11 07:05] viktordick commented on #531
I did a bisect and found that the MWE stops working with commit 85bd6183775bb48858f33f55d7aaef4aeba35060. This is before v0.5.0 and the changes of this commit are quite small, namely three instances of
[code]
in `lib/cuda_color_spinor_field.cu`. I tried with different cuda versions (8.0, 6.5 and 4.4, which happen to be installed on the machine I am testing). @mathiaswagner , you should still have

[2016-12-12 18:39] maddyscientist commented on #531
@viktordick Can you give remote access to the system that this is occuring on?  Since I can't reproduce this myself, if I can take a look at this directly myself I might have more luck.

Also, can you try the feature/memory-pool branch to see if this behaviour persists there?  That's my current working branch, which should be merged in this week, so it would be good to catch any issues in that bra

[2016-12-13 03:25] maddyscientist commented on #527
@kostrzewa can you try branch feature/memory-pool?  I have fixed some an uninitialized variables in that's gone unnoticed for too long (remnant code from experiments in overlapping domains that I hadn't appreciated before) that could be the cause of this.

[2016-12-13 03:26] maddyscientist commented on #506
Closed with pull #519

[2016-12-13 03:26] #506 closed

[2016-12-13 03:34] maddyscientist commented on #474
@kostrzewa Can you test this work flow on the feature/memory-pool branch?  I've just noticed that the initial autotuner state was not initialized.  This could lead to some processes autotuning and other not tuning, with the state not being set until the first call to the linear solver.  While I don't think this would cause a hang, since the tuning is a purely local process, it would be good to rul

[2016-12-13 06:34] viktordick commented on #531
I was not only using the interface (`quda.h`) but also, for example, `blas_quda.h`. I got some linker errors when linking with an old compiler (gcc 4.4.7) against a current quda branch. But this is no longer a problem, at least the MWE can also easily be compiled with a newer compiler and C++11. It still gives the problem.

Unfortunately, I have no administrative access to the machine and I suspec

[2016-12-13 06:38] maddyscientist commented on #531
Yes, for C++11 you need 4.7 or higher.  If this was the only issue stopping you from using develop then I guess that's not an issue to worry about, since the solution is straightforward.

[2016-12-13 07:14] viktordick commented on #531
Yes, I still have the issue with feature/memory-pool. I guess that anything from commit `85bd618` onwards (which was 4 years ago) shows the problem here. I will try to do some further tests with another (newer and still experimental) machine we have which has some newer software installed.

[2016-12-13 08:37] mathiaswagner commented on #531
@viktordick Do you still use the code in your original example or did you do any modifications to it?

[2016-12-13 14:34] viktordick commented on #531
Yes, I still use the same example - except that when I tried older versions of QUDA, the `ColorSpinorParam` constructor took an additional parameter which I set to `QUDA_CUDA_FIELD_LOCATION`.
Maybe I have to ask a different question: Is this even the intended way to create a spinor directly on the device?

[2016-12-14 06:10] maddyscientist commented on #531
@viktordick I just followed your exact configure build in https://github.com/lattice/quda/issues/531#issuecomment-266267170, and ran on a Kepler GPU as you appear to be doing, but it is continuing to work just fine for me.
[code]

What GPU Driver is installed on this machine? (run nvidia-smi to get this)  Do the regular QUDA internal tests work as expected?

To answer your question, this does look

[2016-12-14 07:29] viktordick commented on #531
Ok, this is weird - if I use `ColorSpinorField::Create` like you suggested, the error goes away. Even though the implementation of `Create` does nothing else than calling `new cudaColorSpinorField(cparam)` as far as I can see...
I guess I can close this thread then, thank you very much for your help. I am still confused though as to why the original MWE does not work for me, but well...

[2016-12-14 07:29] #531 closed

[2016-12-15 22:32] alexstrel opened #539 "Missing file?"
Makefile in develop contains a reference to staggered_oprod_new.o but I don't see the corresponding source file. Is it missing?

[2016-12-15 22:33] maddyscientist commented on #539
That issue was fixed with #536.

[2016-12-15 22:54] alexstrel commented on #539
it seems develop does not reflect changes from https://github.com/lattice/quda/pull/536/commits/e4bd7c044bb1f9047ff36d506773b1b0b42c1cea

[2016-12-15 23:15] maddyscientist commented on #539
This is very strange.  @mathiaswagner any idea what's going on here?

[2016-12-16 05:20] mathiaswagner commented on #539
Looks weird in the first place. No idea yet.

[2016-12-16 15:59] alexstrel commented on #539
In any case, I think it would be helpful if jenkins could also verify any update of the develop, i.e., after each merge.

[2016-12-16 16:00] mathiaswagner commented on #539
We don't use configure anymore in Jenkins ...

[2016-12-16 16:01] mathiaswagner commented on #539
But the thing is that the merge commit has changed fewer files than the pr showed.

[2016-12-17 09:45] kostrzewa commented on #527
@maddyscientist The job is in the queue. I found it a bit surprising though that 4 nodes (16 GPUs with 12 GB of memory each) are seemingly insufficient for a 48^3 lattice... (twisted+clover)

[code]

I'm trying on 8 nodes now, but the machine is very busy and it will take a while until the job runs.

[2016-12-17 18:38] maddyscientist commented on #527
One side effect of using the pool memory manager is that memory consumption can increase a bit.  It's possible you're running afoul of this.  If you set the envarg QUDA_ENABLE_DEVICE_MEMORY_POOL=0 you can disable this to see if this is the cause.

[2016-12-17 20:07] kostrzewa commented on #527
In the first test, I set all the memory pool environment variables that you mentioned in the pull request to 0 and disabled tuning.

[2016-12-17 20:26] maddyscientist commented on #527
Well there goes that theory......

[2016-12-20 22:28] #524 closed

[2016-12-20 22:32] cpviolator commented on #156
@maddyscientist Close this now with #540 merged?

[2016-12-20 22:39] maddyscientist commented on #156
Yes, we can close it.

[2016-12-20 22:39] #156 closed

[2016-12-22 17:00] bjoo opened #543 "Presence of staggered_oprod_new.o in lib/Makefile prevents QUDA building without CMake"
I pulled QUDA this morning and it complained that it couldn't make staggered_oprod_new.o
Indeed there was no .cu file there in 'develop' and this file didn't seem to appear in CMakeLists.txt.
I have removed this file from lib/Makefile and am doing a test build. Once that is finished, I will pull the fix and create a pull req.

[2016-12-22 17:07] alexstrel commented on #543
it was pointed out in https://github.com/lattice/quda/issues/539

[2016-12-22 17:08] stevengottlieb commented on #543
I had the same problem last night and got around it by copying
staggered_oprod.o to staggered_oprod_new.o.  I am glad to hear of a more
sensible fix.

On Thu, 2016-12-22 at 17:00 +0000, Balint Joo wrote:

[2016-12-22 17:12] detar commented on #543
I had this problem with the configure/make build, but not with cmake.

On 12/22/16 10:08 AM, stevengottlieb wrote:

[2016-12-22 22:04] bjoo commented on #543
@alexstrel, Indeed and there was a comment that it was fixed, but maybe not yet seemingly, or perhaps only in the CMake version. Anyway, I've submitted the pull, and it passed its testing. Could someone please review and merge?

[2016-12-22 22:10] alexstrel commented on #543
no the contrary, it turn out that some of the previous merge processes was broken.

[2016-12-22 23:01] #543 closed

[2016-12-22 23:02] maddyscientist commented on #539
Closing since I have just merged #543 .

[2016-12-22 23:02] #539 closed

[2016-12-22 23:05] maddyscientist commented on #543
This is closed now, but just to comment that @alexstrel's comment is correct.  This issue was fixed with pull #536 which Github reports successively merged without any issues, but it didn't update the lib/Makefile in develop branch when it did the merge.  This is rather troubling, though all other changes from the pull appear to have been applied.  No idea what caused this issue, a bug in git / Gi

[2016-12-23 01:48] maddyscientist opened #545 "CMake not robust when building Fortran interface"
If CMake is used to build QUDA, if after being build, the lib/quda_fortran.mod file is manually deleted, when `make` is rerun this file is not rebuilt.  The only recourse I have found is to nuke the cache file and rebuild from scratch.

[2016-12-23 01:54] bjoo commented on #543
Hi All,
 Indeed. I tried to pull after Kate’s last message, and got a warning that my version of develop and the repository version have diverged.
So for now I have backed up that directory and recloned… Let me check how this latest pull does.

Best,
 B

--------------------------------------------------------------------------------------
Dr Balint Joo              High Performance Computational

[2016-12-23 05:43] maddyscientist opened #546 "Implement Gaussian/Wuppertal smearing"
We should implement Wuppertal smearing into QUDA.

Notes from @ssyr:

With the generic framework we now have in QUDA, this should be easy to implement.

@ssyr, when you say that psi can have indices, do you mean spin indices, or a flavor/source index.  What are the possible ranges that this index can vary over?  The nature of this index will tell me if this should be implemented as an internal deg

[2016-12-23 07:04] cpviolator commented on #546
CPS has a good Gaussian Smearing routine. When I wrote stout for CPS, transcribing it over to QUDA (minus the bug that was in there) was pretty straightforward. The only major differences was how link variables were fetched.
If I may answer the question you asked, the Gaussian smearing operator has only colour and spacetime indices, and is therefore diagonal in spin-space. A spin-colour diluted po

[2016-12-27 05:34] cpviolator opened #547 "magma 2.x.x support"
I'm compiling on Tesla P100 and I wanted to use magma-2.2.0 to see if there was any significant increase in multigrid over 1.7.0. Compiling for 2.x.x requires a few function name changes, which is no big deal. However, when calling the functions

[code]
used for EigCG(?), one must pass a second argument to the functions. As far as I can tell, the original argument is the number of columns in the Q

[2016-12-27 16:35] alexstrel commented on #547
@cpviolator , fyi, I updated eigCG solver to be used with eigen library only, in the feature/fgmresdr, though it needs to be tested. I know Kate wanted to remove magma call from multigrid as well. That is, magma contribution will be minimized in the future releases.  Could you try to update blas_magma.cu with https://github.com/lattice/quda/blob/feature/staggered-multigrid/lib/blas_magma.cu (note

[2016-12-27 16:37] alexstrel commented on #547
Are you interesting in multigrid or eigCG performance?

[2016-12-27 18:03] cpviolator commented on #547
Those lines (452-429 among others) are exactly the type of updates I wrote. I suspected that the second argument was related to the number of eigenvectors, and I see that in `blas_magma.cu` one uses the `htsize` variable.

My strategy is to include a boolean variable in the CMake build `QUDA_MAGMA_VERSION_GE20` (because I don't know how to automatically scrape the magma version) so that if the use

[2017-01-02 14:37] kostrzewa opened #548 "HOSTDEBUG and DEBUG targets fail to compile due to quda_generated_gauge_stout.cu"
I'm trying to invest some more time into figuring out why I see the issues with twisted mass and our tmLQCD interface: #527 #474

Upon compilation of the latest commit of the develop branch (ccbf13f40b85c9fe23fac325de0d128295168805), I noticed that I cannot compile the DEBUG or HOSTDEBUG targets. Suspecting that it might be related to my using ```make.inc -> make``` rather than cmake, I finally go

[2017-01-03 19:45] kostrzewa commented on #527
I've been able to bisect the commit log for the develop branch and have found a point in history which seems to fix all the twisted mass issues. Essentially, anything later than 017870e48532a3281f33516af209c5cf2515aad6 makes it impossible for us to use QUDA on Jureca right now. In particular, the merging of lattice/hotfix/qdpjit-p2p (bd33550) seems to break the code on this machine.

My first thou

[2017-01-03 19:46] kostrzewa commented on #527
I haven't yet had the chance to test on another machine, hopefully I'll get around to it soon, but we have some compiler updates to do before I can get the latest commits compiled.

[2017-01-04 07:59] mathiaswagner commented on #545
I think we ran into this previously (at HQ last January ???). Guess we did not fix it then.

[2017-01-04 08:05] mathiaswagner commented on #548
To make sure I understand your issue correctly you are running into the issue after switching to cmake.
Basically HOSTDEBUG and DEBUG change compiler flags (you can see that by either inspecting CMakeCache.txt or running ccmake (and toggling to advanced mode) in your build dir)

Which cmake version do you use and which options do you enable for the build?
Do you mind running the cmake build using

[2017-01-04 09:22] maddyscientist commented on #548
I imagine the issue is compiler version related, and difference between how fussy the compiler wants to be with this line
[code]
Can you try editing the code to something like
[code]

[2017-01-04 09:29] maddyscientist commented on #548
Or if that doesn't work, how about?
[code]
I'm not sure I fully understand why adding `-g` would break this...

[2017-01-04 09:41] mathiaswagner commented on #548
You are probably right. It's not the `-g` but the

[code]

pattern in `gauge_stout.cu`. Only `HOSTDEBUG` and `DEBUG` builds call the ErrorSU3 function.

[2017-01-04 09:56] kostrzewa commented on #548
Sorry for being unclear. The compilation also failed using ```make.inc -> make```.

[code]
/usr/local/software/jureca/Stages/2016b/software/CUDA/8.0.44/bin/nvcc /homec/hbn28/hbn288/code/quda-develop/lib/gauge_stout.cu -c -o /homec/hbn28/hbn288/code/quda-develop/build/lib/CMakeFiles/quda.dir//./quda_generated_gauge_stout.cu.o -ccbin /usr/local/software/jureca/Stages/2016b/software/MVAPICH2/2.2-icci

[2017-01-04 09:59] maddyscientist commented on #548
Ok, so this looks like a bug: @cpviolator committed buggy code but our Jenkins server didn't catch it because it doesn't test debug builds.

1. @cpviolator can you fix this bug and make a hotfix pull request to fix it?
2. @mathiaswagner can you update Jenkins to include a HOST_DEBUG build to catch the debug code paths when doing compile testing for pull requests?

[2017-01-04 10:29] mathiaswagner opened #550 "Jenkins todo list."
Just keeping a list of things that Jenkins should build here as a todo list.

- [x] HOSTDEBUG / DEBUG compilation
- [ ] Update builds to utilize more recent compilers than GCC 4.8 (e.g., 5.4)
- [ ] Also build with clang (as CXX and host compiler)
- [ ] Build tests should encompass all features of QUDA (e.g., multigrid, gauge tool, etc. should all be enabled)

[2017-01-04 13:43] cpviolator commented on #548
OK, I'll try to clean this today, I'm traveling later. Will update.

[2017-01-04 15:02] kostrzewa commented on #527
I may have rejoiced a bit too soon because the rate of convergence seems to depend quite strongly on the number of MPI processes with the develop branch at (017870e48532a3281f33516af209c5cf2515aad6). Going from 4 to 8 nodes (16 to 32 K80 GPUs), I see an increase of about 10% in the number of iterations.

[2017-01-04 16:03] kostrzewa commented on #527
The effect might be independent of the parallelisation, however, because I also see strong fluctuations in the number of iterations to convergence in the inversion with a number of different stochastic time-slice (wall) sources.

[code]

[2017-01-04 19:45] cpviolator commented on #548
So the problem there, as far as I can tell, was

[code]
which didn't like the matrix operation in the argument. ErrorSU3 works now, but it's less elegant. Pushed to hotfix/errorSU3

[2017-01-05 11:44] #545 closed

[2017-01-05 16:16] maddyscientist commented on #527
@kostrzewa I don't think those are large fluctuations (one comment up), and are to be expected with a solver like conjugate gradient (would be much worse with BiCGStab).

On the other hand, to test if the fluctuations you are seeing from 4 to 8 nodes is significant you should keep the process count constant, and rerun any test with a fresh tune cache.  There are necessarily fluctuations arising fr

[2017-01-06 11:38] kostrzewa commented on #527
@maddyscientist

They are significantly larger than I'm used to with twisted clover fermions. Fluctuations of O(5-10%) do occur, but the 21126 seen in one instance are somewhat surprising. I understand that the auto-tuner can induce very different rounding behaviour between block sizes.

I will try to investigate this a bit more if I get a chance, for now I think it seems to be working with aforem

[2017-01-09 19:54] maddyscientist commented on #473
Closing this issue, as this required functionality is trivially obtained from the `CUDA_VISIBLE_CONNECTIONS` environment variable (the order that devices are listed in this variable corresponds to the order that the CUDA runtime sees the device).

[2017-01-09 19:54] #473 closed

[2017-01-09 20:00] maddyscientist opened #553 "Changing from dynamic shared library to static library builds can lead to link errors"
The following leads to silent link errors that (in my case anyway!) are extremely frustrating to debug
* Build QUDA using dynamic shared library option
* Modify QUDA, e.g., add new function
* Rebuild QUDA using static library
* Link errors ensue for this new function since old shared library is favoured by Linux over new static library

The Cmake build should be more robust to nuke libquda.so when

[2017-01-10 06:43] mathiaswagner commented on #553
Can you share the 'make VERBOSE=1' to see how the linker is called?
Maybe we can get cmake to prefer the static or shared version depending on the build type.

Nuking the libquda.so might be tricky as when switching to a static build libquda.so is no longer a target that is created by cmake and probably cmake doesn't know what to do with it. Not sure whether there is a clean way to hande that. We

[2017-01-10 06:58] maddyscientist commented on #553
The problem arises with external apps too, so not something that we can get cmake in quda to fix (unless I misunderstand you).

[2017-01-10 07:11] mathiaswagner commented on #553
Got it. Need to think about that. Maybe there is an obvious solution or we Hack it for now ...

On Jan 10, 2017, at 07:58, maddyscientist <notifications@github.com<mailto:notifications@github.com>> wrote:

The problem arises with external apps too, so not something that we can get cmake in quda to fix (unless I misunderstand you).

-
You are receiving this because you were assigned.
Reply to this

[2017-01-10 16:47] #553 closed

[2017-01-19 19:12] mathiaswagner opened #557 "Hisq force prints negative performance / test runs in segfault on large volumes"
When trying to run on a large local volume (64^3x16) the HISQ force path test segfaults. For 32^3x16 it prints negative performance values.

Might well be integer calculations that overflow and need to be replaced with long.

[2017-01-20 14:28] mathiaswagner commented on #557
Probably related:
[code]

yields
[code]

running a smaller local volume
[code]
or
[code]

is fine.

[2017-01-21 00:33] maddyscientist commented on #557
So the segmentation fault occurs with both the llfat_test (fat and long link creation) as well as the hisq force path test?  I'm wondering it's a texture size limit: 64x64x32x16x9 = 18874368 texels (using double2 or float2 storage) which is greater than the 1-d texture size of 2^27.

However, the textures are split into even and odd components with separate textures, which is leads to 9437184 whic

[2017-01-21 00:34] maddyscientist commented on #557
I did a quick run through cuda-gdb, and the failure in llfat is coming from the long-link computation (line 1049 in llfat_core.h where the field is loaded from memory) and is a simple out of bounds load request.

[2017-01-22 10:07] mathiaswagner commented on #557
I'll look into it. Just noted while running some tests and did not want to forget to create an issue.

[2017-01-22 16:38] maddyscientist commented on #557
Ok, it is the textures limit as I thought.  The input fields are extended in all dimensions regardless of whether the dimension is partitioned or not.  This is enough to make each parity greater than 2^27 texels.

Two solutions possible: only extend the dimensions that are partitioned (which is how it should have been in the first place) or switch to ldg loads.  Both of these are probably desirabl

[2017-01-23 23:38] maddyscientist commented on #532
Apologies for the aeonic response time.  To answer your questions
1. There is no need for this, and is this present functionality is rather accidental
2. I'm not sure what one has to do at present due to a little bit of ignorance on my behalf

Cleaning up this should be high in our priorities.  Moreover, I'm not entirely sure why the ColorSpinorField class should know or care about what the `twist

[2017-02-04 22:25] maddyscientist commented on #557
Just an update that I've fixed the issue in the fat and long link generation.  Will be pushing a branch shortly (it's a complete rewrite of the fat-link code, like has already been done for the gauge force code).

[2017-02-04 22:35] stevengottlieb commented on #557
That sounds great, Kate.  I am eager to test and benchmark it.

Steve

On Sat, 2017-02-04 at 22:25 +0000, maddyscientist wrote:

[2017-02-06 01:31] cpviolator opened #559 "Vanillla quda_develop build error."
I'm just adding a few bits to the develop branch and this CMake error is preventing the build

[code]
Not doing anything fancy, just downloading the latest develop branch, linking to MAGMA, and enabling Multigrid.  Can anyone tell where I'm going wrong? I can't see where in CMake I can even access these variables. Using CMake 3.1.0 on Stampede TACC

[2017-02-06 06:50] mathiaswagner commented on #559
No clue yet. When does this error occur? Right after calling cmake in a fresh build dir?

I haven't actually tried cmake 3.1 with the recent changes. Do you have access to a newer cmake version?
I'll give it a try with 3.1 later today.

[2017-02-07 07:56] mathiaswagner commented on #559
Just created a pull request #561. Fixes the issues for me (reproduced with cmake 3.2.2)

[2017-02-08 19:05] #559 closed

[2017-02-09 18:17] alexstrel opened #562 "mixed precision optimization of deflated solvers"
Main point is to merge fgmresdr2 and fgmresdr.

[2017-02-13 17:01] mathiaswagner opened #564 "reorder on GPU fails for BQCD"
with an illegal memory access error. More on that later.

Forcing reorder on CPU using env variables works.

[2017-02-13 17:43] maddyscientist commented on #564
Will look into this tomorrow as well as BQCD in general.

[2017-02-14 06:34] cpviolator commented on #426
Just pushed to hotfix/delta_mu to address this issue. Three new parameters are added to `include/quda.h`, namely `delta_muMG`, `delta_massMG`, and `delta_kappaMG`. These are multiplicative factors which change the respective values of `mu`, `mass` and `kappa` when going from the finest grid to coarser grids.

Passing values to `delta_XXXMG` from the command line is done with "`--delta-XXXMG <value

[2017-02-16 08:54] mathiaswagner opened #566 "QUDA doesn't build with Intel compilers"
Reported by @stevengottlieb (confirmed by @kostrzewa )

I am trying to compile on a computer at NCSA that likes the Intel
compilers.  I am getting some errors:

[sgindiana@nano7 build]$ grep error make_feb15_hotfix.log
/home/sgindiana/lustre/quda/lib/staggered_dslash_def.h(990):
catastrophic error: #include file
"/home/sgindiana/lustre/quda/lib/staggered_dslash_def.h" includes itself
/home/sgindia

[2017-02-16 17:12] stevengottlieb opened #567 "can't compile on Big Red 2"
Yuzhi and I cannot compile the develop or hotfix/hisq-link-fix on Big Red 2, a Cray.  I put the log files here:
http://physics.indiana.edu/for_quda
doit.log is output from running cmake
make_hisq-link-fix.log is from running make -j.  It is big.  Compilation took almost 9.5 hours and failed
login1 quda_git/build_hisq-link-fix>
[1]    Exit 2                        make -j >& make_hisq-link-fix.log

[2017-02-16 18:32] maddyscientist commented on #566
@stevengottlieb Can you tell me the version of icc you have been using here?

[2017-02-16 18:34] maddyscientist commented on #567
@stevengottlieb I can't seem to get the outputs at the quoted webpage.  Are the permissions set correctly for external access?

Not Found

The requested URL /for_quda was not found on this server.

[2017-02-16 18:34] mathiaswagner commented on #566
Not Steve but I used intel/15.0 and ran into it.

[2017-02-16 18:38] maddyscientist commented on #566
Would be good to confirm whether this issue is still present with CUDA 8.0 and icc 16.

[2017-02-16 18:44] mathiaswagner commented on #566
Yes. But different error now:
[code]

I think this is some incompatibility with icpc being used as nvcc host compiler.

[2017-02-16 18:58] maddyscientist commented on #566
Can you check with the released version of CUDA 8.0 (8.0.44), 8.0.27 is the release candidate?

[2017-02-16 19:31] stevengottlieb commented on #567
Did I forget ~sg before for_quda?  If so, I apologize.

Steve

-rw-r--r-- 1 sg sg     266 Feb 16 12:05 doit.log
-rw-r--r-- 1 sg sg 1336500 Feb 16 12:05 make_hisq-link-fix.log
-rw-r--r-- 1 sg sg    1636 Feb 16 12:05 remake.log

On Thu, 2017-02-16 at 18:34 +0000, maddyscientist wrote:

[2017-02-16 19:35] stevengottlieb commented on #566
[sgindiana@nano build]$ which icc
/opt/intel/compilers_and_libraries_2016.2.181/linux/bin/intel64/icc
[sgindiana@nano build]$ icc -V
Intel(R) C Intel(R) 64 Compiler for applications running on Intel(R) 64,
Version 16.0.2.181 Build 20160204
Copyright (C) 1985-2016 Intel Corporation.  All rights reserved.

[sgindiana@nano7 ~]$ icc -v
icc version 16.0.2 (gcc version 4.8.5 compatibility)

The above is

[2017-02-16 20:54] mathiaswagner commented on #567
I tried with my account there (and current develop branch). Compiled fine for me using cmake and make -j16.

My modules

[code]

I ran the default configuration but can try the HISQ branch tomorrow.

[2017-02-16 21:59] stevengottlieb commented on #567
Thanks very much, Mathias.

The only difference between our modules is that you are using
python/2.7.8.

I am trying to compile the develop branch without changing python and no
changes to the cmake options.  It is now 16:58 and there has been no
output to eh log file sine 16:33, but that is consistent with previous
behavior.

BTW, I cannot see into your area to look at what has been done.  Can yo

[2017-02-16 22:01] sdliuyuzhi commented on #567
I tried on BigRed2 again and now I can compile the develop branch. So weired...

Here is my modules
[code]
There are some warnings though. One example is the following
[code]

and here is another typical one
[code]

I have no problem compiling on my own laptop with Device0 = Quadro K1000M, gcc-4.8.4, cmake-3.2.2 and cuda-V7.5.17. There is no warning at all.

[2017-02-17 04:54] mathiaswagner commented on #567
python should not matter so much. The warnings are probably due to the cray compiler wrapper.
[code]
These are cosmetic fixes to the build system ... (we turn on warning in the development build type and try to fix them.)

Anyway, my build dir is `/N/u/mathwagn/BigRed2/qudabuild` and there should be a build.log and you can check my CMakeCache.txt.

Please note that compilation of QUDA may at times

[2017-02-17 05:09] stevengottlieb commented on #567
Yuzhi had success this afternoon and I have been having lots of success
this afternoon and evening.  I don't think my processes have been killed
but total time has sometimes been very long.

I took an incremental approach in the last three attempts and started
with the default values in cmake.  Then I removed that non-staggered
solvers, and then added the gauge pieces.  I think I am all done for
s

[2017-02-17 05:55] mathiaswagner commented on #567
That sounds good. QMP implies MPI (it uses QMP for comm but compiles with MPI things enabled). So it should not harm to enable both but it is not intended (hopefully is identical to only enabling QMP).

On Feb 17, 2017, at 06:10, stevengottlieb <notifications@github.com<mailto:notifications@github.com>> wrote:

Yuzhi had success this afternoon and I have been having lots of success
this afternoon

[2017-02-17 06:41] mathiaswagner commented on #567
@maddyscientist My understanding is that @stevengottlieb was trying to compile #563 to verify it and in the course of that #566 and #567 popped up. Neither originates in #563 but as they slow down @stevengottlieb in verifying #563 I haven't merged yet. I believe #566 is still unresolved but the issues on Big Red work now (these are likely to be system related issues.).

[2017-02-17 07:45] mathiaswagner commented on #567
From the log I isolated the error:

[code]

Do disabling other slashed should work around the issue. I think we do had an issue with tm Dslashes recently. Not sure it was fixed. @cpviolator Were you looking into that or was this something different?

[2017-02-17 08:52] kostrzewa commented on #567
@mathiaswagner @maddyscientist  This seems to be a side-effect of dc88504576827f6708824d84143bb7015ccfd718

[2017-02-17 08:54] mathiaswagner commented on #567
@kostrzewa Do you mind creating an issue for that?

[2017-02-17 08:55] kostrzewa commented on #566
@maddyscientist  I have attempted to compile QUDA using ICC 16 / CUDA 8.0.44 in the past with the same results.

[2017-02-17 09:22] kostrzewa commented on #567
@mathiaswagner Will do, would like to confirm the problem first. What I did to reach the idea above, was to see that the version of ```tm_core.h``` that I use right now is not the one currently in develop... Might be a few days before I get a chance to test, on account of a number of deadlines.

[2017-02-17 18:07] maddyscientist commented on #567
I cannot reproduce the problem on my workstation with CUDA 8.0 / GCC 4.8, so will try experimenting with compilers to see if I can workout what's going on.

[2017-02-17 19:26] maddyscientist commented on #567
Ok, CUDA 7.5 also compiles fine with GCC 4.8 with no compiler warnings.  However, switching to GCC 4.9 reveals a range of compiler warnings, and compilation failures.  Debugging...

[2017-02-18 00:21] maddyscientist commented on #567
Ok, I have silenced all compiler warnings with GCC 4.9, and fixed the compilation error that arose in the gauge fixing code (related to more strict handling of creating a `std::stringstream` from a `std::string` (pushed to hotfix/hisq-link-fix / pull #563).  Still have not reproduced the error compilation problem in tm_core.h, and indeed the error message is confusing since there's no such variabl

[2017-02-18 00:49] sdliuyuzhi commented on #567
Thanks!

I tested the updated hotfix/hisq-link-fix branch on our local cluster (cream) and it compiles fine. There is still one warning shown below

[code]
I used  gcc-4-9-2 and cuda-7.5.

I can't compile the development branch on this cluster(cream) with gcc 4.9 and cuda-7.0 or 7.5. The errors are

[code]
I searched for the error message and it was believed to be a cuda compiler error back to ver

[2017-02-18 01:02] maddyscientist commented on #567
@sdliuyuzhi Yes, the hisq-linkfix branch will be merged in in the next few days (probably Monday if not before).  Not sure why I don't see that compiler warning with the multi-shift solver here (gcc 4.9.3 and CUDA 7.5 / CUDA 8.0) but I'll take a look at it.

The error you're seeing with the develop branch with extended_color_spinor_utilities.cu was one of the warning I just fixed in hisq-linkfix (

[2017-02-18 01:48] sdliuyuzhi commented on #567
@maddyscientist Cool!  This is really a good news for me. I will test the hisq-linkfix branch on a couple other platforms (fnal pi0, bigred2, my own laptop et al) and will let you know if there is any other warning or error. The current development branch doesn't work on pi0 (it will hang there for hours) with several versions of gcc and cuda.

[2017-02-18 07:18] maddyscientist commented on #567
@sdliuyuzhi The warning you were seeing with the multi-shift solver was a bug in gcc in early versions of 4.9.  Fixed in 4.9.3, which is why I wasn't seeing this warning: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=64277

I've just compiled QUDA now with GCC 5.4 successfully, against no warnings.  So I think we're looking good now.  @mathiaswagner Perhaps you should update Jenkins to build with G

[2017-02-18 07:22] kostrzewa commented on #567
@maddyscientist

Couldn't this be a Cray thing? To me, it looks like something that is used for template specialisation. Unfortunately, I don't have access to a Cray machine right now, otherwise I'd simply test it. I also can't reproduce this using gcc 5.4 on Jureca.

[2017-02-18 07:45] maddyscientist commented on #567
@kostrzewa I'm also wondering if this is a Cray specific issue, which I can't reproduce either...

@stevengottlieb / @mathiaswagner from looking at your configuration above, I'm confused what the combination of `gcc/4.9.3` and `PrgEnv-gnu/5.2.82` will do, since the latter suggest that gcc-5.2 would be used contradicting the former.  Shouldn't these be consistent?

[2017-02-18 08:28] mathiaswagner commented on #567
Ok. We can put that on my Jenkins list.

On Feb 18, 2017, at 08:22, Bartosz Kostrzewa <notifications@github.com<mailto:notifications@github.com>> wrote:

@maddyscientist<https://github.com/maddyscientist>

Still have not reproduced the error compilation problem in tm_core.h, and indeed the error message is confusing since there's no such variable that's named __T0 in the whole of QUDA....

Couldn'

[2017-02-18 13:05] stevengottlieb commented on #567
It seems that all the programming environments are 5.2.82, so that is
not related to the version of the compiler.

sg@login2:~/run/spec00223> module avail PrgEnv

----------------------------------------------- /opt/cray/modulefiles
-----------------------------------------------
PrgEnv-cray/5.2.82(default)  PrgEnv-gnu/5.2.82(default)
PrgEnv-intel/5.2.82(default) PrgEnv-pgi/5.2.82(default)

On Sat

[2017-02-18 19:45] mathiaswagner commented on #567
I think the cray prgenv version number is not linked to the gcc version.

On Feb 18, 2017, at 14:05, stevengottlieb <notifications@github.com<mailto:notifications@github.com>> wrote:

It seems that all the programming environments are 5.2.82, so that is
not related to the version of the compiler.

sg@login2:~/run/spec00223> module avail PrgEnv

----------------------------------------------- /opt/

[2017-02-18 20:02] maddyscientist commented on #550
@mathiaswagner I've updated list above

[2017-02-18 23:48] maddyscientist commented on #567
I finally managed to reproduce the compilation problem related to tm_core.h.  Looks like it was a bug in the CUDA 7.0 compiler which revealed itself after commit dc88504576827f6708824d84143bb7015ccfd718: passing a single struct of parameters together with an anonymous template boolean parameter led to the unexplained compilation error.  Fix is trivial (don't make the boolean anonymous), and it's f

[2017-02-20 01:09] maddyscientist commented on #522
@cpviolator just checking: is this an issue?

[2017-02-20 01:10] #417 closed

[2017-02-20 01:11] cpviolator commented on #522
@maddyscientist It looks like this was a bit of a Heisenbug because I'm not having any issues with newer (2017) builds.

[2017-02-20 01:25] maddyscientist commented on #86
Closing this issue, since it isn't applicable to using the even odd decomposition as well as having race conditions

[2017-02-20 01:25] #86 closed

[2017-02-20 01:26] maddyscientist commented on #72
Closing this issue.  Nothing to worry about anymore since we have improved stability in mixed precision solvers, improved half precision accuracy and modern GPUs have plenty of memory for double-half precision solvers

[2017-02-20 01:26] #72 closed

[2017-02-20 01:28] maddyscientist commented on #522
Ok, I'll close the issue then.  Could have been caused by the reductions and ,unto reductions being in the same file as I noted above, something which has since been resolved.

[2017-02-20 01:28] #522 closed

[2017-02-21 07:53] maddyscientist commented on #212
This merge was done sometime ago...closing.

[2017-02-21 07:53] #212 closed

[2017-02-22 07:04] #557 closed

[2017-02-22 07:04] #567 closed

[2017-02-25 22:42] stevengottlieb opened #569 "trouble testing on a node with 4 P100 GPUs"
In December, I was able to run benchmarks on a node with 4 GPUs without problem using the develop branch.  The output contains this information:
Peer-to-peer enabled for rank 0 (gpu=0) with neighbor 1 (gpu=1) dir=0, dim=2
Peer-to-peer enabled for rank 1 (gpu=1) with neighbor 0 (gpu=0) dir=0, dim=2
Peer-to-peer enabled for rank 2 (gpu=2) with neighbor 3 (gpu=3) dir=0, dim=2
Peer-to-peer enabled for

[2017-02-25 23:25] maddyscientist commented on #569
It looks like it's dying immediately.  A couple of things to try:
* if you are able to reset the node, can you do this and retry?
* does running nvidia-smi reveal anything already running on the system that could consuming memory?
* Can you confirm you have compiled for GPU architecture sm60?

[2017-02-26 04:16] stevengottlieb commented on #569
Thanks for the quick response.
a) I cannot reset the node since it is not mine and it is in Illinois.

b) Good call.  There is a batch system on this node and I have been
asked to only use it via the batch system, but I get the impression that
maybe others do not adhere to this practice.  Looks like three of the
nodes don't have much memory available.

[sgindiana@nano7 ~]$ nvidia-smi
Sat Feb 25 22

[2017-02-27 07:51] cpviolator commented on #569
Steven,

Just some reassurance on this issue. A few months ago I was running into
seemingly random 'out of memory' issues when compiling on the Stampede
login nodes https://github.com/lattice/quda/issues/522. Over the course of
about a month (Sep-Oct), some QUDA pushes would compile, and some would
fail. Recent pushes do not seem to be affected. May I ask, what is the date
of your last QUDA pull?

[2017-02-27 18:48] maddyscientist commented on #569
@stevengottlieb Looks like that this isn't a QUDA problem, and it's just because the GPUs were being swamped by other users.

I do note however, that the GPU driver used on that system is not a recommended one for P100 systems.  Either use 361.xx or 375 and later.  368 is only supported on non-P100 Pascal systems.

[2017-02-27 18:52] stevengottlieb commented on #569
@maddyscientist I agree about it not being a QUDA problem.  Thanks for
the information about recommended drivers.

On Mon, 2017-02-27 at 18:48 +0000, maddyscientist wrote:

[2017-02-27 18:54] maddyscientist commented on #569
Closing this since this is not a QUDA bug.

[2017-02-27 18:54] #569 closed

[2017-03-02 04:55] cpviolator opened #572 "QIO + Tunecache problem"
Recent commits to develop place the bulk of the saveVector(B) function inside a `HAVE_QIO` preprocessor flag. Using multigrid with these commits, and not using QIO, results in a call to errorQuda.

I placed a guard around the call to saveVectors(B):
[code]
but then I consistently get failures from the tuning routines during `Computing TMCAV` (or `Computing AV` for wilson/clover):
[code]
Is this a

[2017-03-02 05:00] maddyscientist commented on #572
I noticed this issue earlier today.  Fix is trivial
[code]
I'll add this fix to the BQCD pull right now so it will be picked up tomorrow and merged into develop.

[2017-03-02 05:03] maddyscientist commented on #572
Pushed a fix to hotfix/bqcd-copy with 5d3831a6a8cbbc05471dbc474ceba6214b3c8173.

[2017-03-02 05:04] cpviolator commented on #572
Excellent. I was trawling the history of tune.cpp and saw this change in header. Thanks for the quick feedback.

BTW, can we also implement the guard around saveVectors(B) to prevent the call to errorQuda if QIO is not installed?

[2017-03-02 05:08] maddyscientist commented on #572
Sure, we add that guard.  Add it to your current pull if you want, and I will see we can merge the pull this week.  Just getting back into the multigrid stuff now (in preparation for hackathon next week) so cleaning up and testing my main development branch (feature/multigrid).  Lots of improvements there that are coming to a GPU near you real soon. 😄

[2017-03-02 06:06] cpviolator commented on #572
Fixed with https://github.com/lattice/quda/commit/5d3831a6a8cbbc05471dbc474ceba6214b3c8173

[2017-03-02 06:06] #572 closed

[2017-03-02 06:19] maddyscientist commented on #572
Not that it matters, but if you state in you commit comment that this commit closes a given issue, e.g.,
[code]
then when the branch that the commit is in is merged into the develop branch github will automatically close the issue.

[2017-03-02 06:21] cpviolator commented on #572
Great! I love learning new git magic, thanks Kate.

[2017-03-02 08:48] #564 closed

[2017-03-03 16:53] kostrzewa commented on #527
Just a comment before the hackathon, this may have relevance to the weird behaviour we observed on Jureca.

[code]

[2017-03-03 18:02] mathiaswagner commented on #527
Thanks for sharing. Should also be posted to Slack.

On Mar 3, 2017, at 17:55, Bartosz Kostrzewa <notifications@github.com<mailto:notifications@github.com>> wrote:

Just a comment before the hackathon, this may have relevance to the weird behaviour we observed on Jureca.

*          ### Important information for users with multi-GPU jobs ###         *
*

[2017-03-03 18:12] maddyscientist commented on #527
Let's hope that solves all Jureca issues!

[2017-03-07 00:25] cpviolator commented on #566
I am also trying to build on Piz-Daint using the Intel compilers, and am running into the exact issue `catastrophic error: #include file`

However, I have colleagues who run QUDA using the Intel programming environment so I will ask them what magic they are using to make it work.

[2017-03-07 02:10] cpviolator commented on #566
Ok, a solution that works for us is probably related to @rbabich's suggestion from #563. One simply passes a visible path to g++ for the CMake variable `CUDA_HOST_COMPILER`.  The one we use is:
g++ (SUSE Linux) 4.8.5
but I suspect any decent one will do.

[2017-03-07 02:14] stevengottlieb commented on #566
Thanks, Dean!

Steve

On Tue, 2017-03-07 at 02:10 +0000, Dean Howarth wrote:

[2017-03-07 05:07] mathiaswagner commented on #566
We can put this in cmake if we need to.
Options I see:
* make cmake try to use g++ as host compiler if intel is used as CXX
* just issue a warning in this case but let the user take care of setting the host compiler
* add a comment to the wiki page describing what to do

Does anyone know whether there is a combination of Intel / Cuda versions that just works?

On Mar 7, 2017, at 03:14, stevengottl

[2017-03-07 05:53] cpviolator commented on #566
The compiler errors are pretty harsh. I researched the issue before coming here and the recursive use of headers is not something that I think can be forced with Intel. I updated the wiki and I'll tinker with CMake.

[2017-03-07 06:46] AlexVaq commented on #566
The recursive headers and the dslash code in general is something that we want and we need to update in QUDA. It's a matter of finding the time and the moment to do it.

Alex

[2017-03-08 05:05] detar opened #576 "Excessive iterations with QUDA HISQ multi shift solver"
The double-precision multi-shift solver for three small masses takes almost six times the time of the single-mass solver on the BNL GPU cluster.  Both solvers run at about 51 GF/s per device.  Both are given the same stopping condition and a similar unsmeared random color wall source.

The propagators are needed on both even and odd sites.  For the multi-shift case the code calls the QUDA solver s

[2017-03-08 18:25] mathiaswagner commented on #576
Could you run that again with `QUDA_VERBOSE` and send the full solver output? (It should print the residual after every step)?

[2017-03-09 15:48] maddyscientist opened #580 "Implement MdagM operator for DslashCoarse"
This is missing and prevents the use of CG and related solvers on the coarse grids.  PErhaps will be troublesome on the preconditioned operator, need to think about this.

[2017-03-10 09:36] maddyscientist opened #582 "invert_test is flaky when computing the clover field"
The invert_test has issues when running with clover field construction.  The clover inversion seems to fail producing NaNs but runs fine with a random field or with a finite mu parameter.  All routines are working fine when plugged into tmLQCD, so probably a problem in the interfacing.

[2017-03-10 09:46] maddyscientist opened #583 "Investigate double-half CG solver for twisted clover"
Twisted clover fermions with double-half CG solver is very unstable compared to clover or regular twisted-mass fermions.  Perhaps related to #582.

[2017-03-10 10:08] mathiaswagner commented on #583
New or old reliable updates?

[2017-03-10 10:16] maddyscientist commented on #583
It's broken either way

[2017-03-10 10:54] maddyscientist opened #584 "Improve readability of tunecache names"
Most kernels end up with the C++ mangled names in their record.  We could easily use the demangled name instead, using `abi::__cxa_demangle` and this would dramatically improve the readability of the records.

[2017-03-10 11:05] maddyscientist commented on #582
Note for self, use these lattices for testing:

/scratch/ETMC_gauge_configurations/tmclover_nf2/cA2.60.32

with kappa = 0.1373, mu = 0.006, clover coeff = 1.57551

[2017-03-10 11:07] maddyscientist commented on #583
Note for self, use these lattices for testing:

/scratch/ETMC_gauge_configurations/tmclover_nf2/cA2.60.32

with kappa = 0.1373, mu = 0.006, clover coeff = 1.57551

[2017-03-10 12:55] kostrzewa commented on #583
It seems that ```QUDA_DYNAMIC_CLOVER``` helps (i.e., it works then). This is an improvement from a few months ago.

Tested with 65a2b78b5c3efd041e19d1b88367faf5f0a2dac8 of feature/multigrid

[2017-03-10 13:03] kostrzewa commented on #583
@maddyscientist had an argument for this, noting that storing and loading in half precision, leads to some loss of precision. This could be especially severe for twisted-clover because we have [ (1+C_ee)^2 + \mu^2 ]^-1, rather than just the inverse itself.

[2017-03-10 13:57] kostrzewa opened #585 "Implement twisted boundary conditions"
twisted bcs are used within tmLQCD, the ```RECONSTRUCT_13``` and ```RECONSTRUCT_9``` stuff in QUDA can be adjusted to support these in all dimensions. This will also be generally useful.

[2017-03-10 14:01] kostrzewa commented on #583
stability confirmed up to 64c128

[2017-03-10 18:16] maddyscientist commented on #583
@kostrzewa can you test this with the develop branch enabling @mathiaswagner's new reliable update scheme (enabled with `QUDA_ALTRELIABLE=ON`).  Would be good to see iteration count differences for pure double, double-single and double-half using the old mechanism and the new one.

[2017-03-11 06:54] kostrzewa commented on #583
will do

[2017-03-12 12:50] detar commented on #576
Hi Mathias,

I put the verbose output on
http://www.physics.utah.edu/~detar/for_mathias/outverbose.bz2 .

Thanks for looking into this.

Best,

Carleton

On 3/8/17 11:25 AM, Mathias Wagner wrote:

[2017-03-12 15:10] mathiaswagner commented on #576
Thanks. We'll see what we can find.
Does the same happen with MILC's multi shift solver?

On Mar 12, 2017, at 13:50, Carleton DeTar <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Mathias,

I put the verbose output on
http://www.physics.utah.edu/~detar/for_mathias/outverbose.bz2 .

Thanks for looking into this.

Best,

Carleton

On 3/8/17 11:25 AM, Mathias Wagner wrote:

-
Y

[2017-03-12 20:00] detar commented on #576
Hi Mathias,

I will check the MILC inverter.  Our past experience is that the MILC
multimass inverter requires approximately the same number of iterations
to converge as the lightest single-mass.

Best,

Carleton

On 3/12/17 9:10 AM, Mathias Wagner wrote:

[2017-03-12 21:06] mathiaswagner commented on #576
Thanks, Carleton.
We're just looking for some data points that might help us pin down the issue.
I have not found time to look in your output but will do so tomorrow.

Best,
Mathias

On Mar 12, 2017, at 21:00, Carleton DeTar <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Mathias,

I will check the MILC inverter. Our past experience is that the MILC
multimass inverter requir

[2017-03-13 03:16] cpviolator opened #587 "QUDA gauge fixing routines"
I'm looking to utilise the gauge fixing routines, specifically CoulombOVR, but they seem to be fixed to MILC order. Does QUDA have an easy workflow to switch from QDP ordered on the host to MILC order on the device?

While I'm working on this, I'll attempt to clean-up the routines to be sleeker, like the smearing routines. The algorithm is good, but the syntax is out of date.

[2017-03-13 04:01] detar commented on #576
Hi Mathias,

New interesting data point: the MILC multishift inverter took about the
same number of iterations (7600 + 7600) as the QUDA inverter.  So I will
next check the MILC single-mass inverter.

Best,

Carleton

On 3/12/17 3:06 PM, Mathias Wagner wrote:

[2017-03-13 06:02] mathiaswagner commented on #576
Thanks for checking. So for now this doesn't necessarily look like a QUDA issue.

[2017-03-13 12:40] detar commented on #576
Hi Mathias,

More data points added, this time for the MILC single-mass inverter.

           MILC (4 Haswell - 64 cores)   QUDA(8 K-80)

0.001524 ~2900+500 iters (77 + 13 sec)  ~2900+500 iters (13 + 2 sec)
0.002426 ~2000+300 iters (42 + 6 sec) ~2000+300 iters (9 + 1 sec)
0.003328 ~1600+200 iters (55 + 8 sec) ~1600+200 iters (7 + 1 sec)

So the MILC and QUDA inverters seem to be taking approximate

[2017-03-13 13:37] mathiaswagner commented on #576
Thanks. I am closing this for now as this doesn't need any immediate fixes on the QUDA side. If there is anything we can do to help algorithmically.

[2017-03-13 13:37] #576 closed

[2017-03-14 22:59] cpviolator commented on #587
So in order to do this properly I'll rewrite the existing gauge fixing routines to be more in the style of the smearing routines. That way, the algorithm is easier to read and can be used with on any gauge field order, though it may be slower than the existing MILC based code. Optimisation can be done later. This will require the creation of new QUDA objects to store the gauge fixing matrices, sim

[2017-03-16 00:41] maddyscientist commented on #587
@cpviolator I don't see where the MILC gauge order is assumed in the gauge-fixing routines.  Perhaps I'm missing something.  Can you point to where this is?  Either way, it should be trivial to change the interface as needed.

[2017-03-16 00:49] cpviolator commented on #587
I think I was misreading the interface code. I was trying to use the gauge_alg.cpp tests with a QDP gauge ordered field and getting segfaults.

The `interface_quda.cpp` file lists the OVR function as

[code]
which has a `void *gauge` pointer to the gauge field and takes in gauge field parameters, but I would have thought that it would just use the gauge field pointed to by `gaugePrecise` and use t

[2017-03-16 00:52] maddyscientist commented on #587
Ok understood.  Do you think you could make an interface that sits below the current one that is similar to the smearing interface, and wrap the current interface around this for compatibility?

[2017-03-16 00:52] cpviolator commented on #587
I'm writing a simple link trace calculation, and hijacking a gauge field copy to store gauge fixing matrices. I'll have to create a new QUDA object that is 1/4 the size of a gauge field eventually, but this will do for the moment. I'm also writing a transformation function to fold in those matrices to an object called gaugeFixed, similar to gaugeSmeared.

[2017-03-16 00:54] cpviolator commented on #587
Sure thing. All the gauge fixing stuff seems very MILC oriented, so it would be good to open things up.

[2017-03-16 15:21] alexstrel opened #588 "Ghost zones for individual elements in a composite container"
Currently all elements of the composite spinor field container share a common ghost zone (derived for the whole container). This is not a problem for current algorithms in QUDA, but may result in the incorrect behaviour for some exotic scenarios (e.g., application of the dslash on a number of individual components within multi-threaded workflow)

[2017-03-16 17:44] cpviolator commented on #587
Created a new branch feature/minimal_gauge that calls the OVR routines using the resident gauge field. This will be extended to include an iterative search for the minimal gauge (Fundamental Modular Region) in either Coulomb Or Landau gauge.

[2017-03-20 13:16] hsandmeyer opened #591 "Head files in build directory incompatible to compiled library"
When building quda, there are a lot of defines that are generated by cmake. These defines may change objects in the header files. However, the include directory in the build directory is a simple copy of the include directory in the source folder.
When instantiating quda objects outside the compile process of quda, these defines are not known to the compiler. This leads to incompatible compiled ve

[2017-03-20 13:21] mathiaswagner commented on #591
First workaround here is to have cmake configure a header with all the necessary includes.
Applications using quda headers then need to make sure that this is included before any other quda header.

In a further step we could also move all the compile time definitions into generated header files and make sure these are included in headers / source files as necessary.

[2017-03-20 13:29] mathiaswagner commented on #591
I will script something together. Which defines do we currently need to make sure to have the headers behave properly?

- [ ] COMPUTE_CAPABILITY
- [ ] CUDA_VERSION

@hsandmeyer Can you please add to the list ?

[2017-03-21 03:06] rbabich commented on #591
It used to be that quda.h was the only header that an application was expected to include.  Is that no longer the case?

Shouldn't the generated header just be included at the beginning of quda.h?

[2017-03-21 03:10] maddyscientist commented on #591
@rbabich Due to intense customer demand 😄 , we need to introduce an interface that uses the underlying C++ types in QUDA allowing external application to manipulate the underlying structures.  That's what makes this different from the usual use of the C interface in quda.h.

[2017-03-21 03:21] rbabich commented on #591
I see.

Rather than generate a header, another option is to provide a "quda-config" executable in the build directory that can be used to query the CFLAGS used during the build, as well as library dependencies, etc.

For an example, see https://github.com/usqcd-software/qmp/blob/master/bin/qmp-config.in (or the generated "qmp-config", if you happen to have QMP installed).  This approach is used by

[2017-03-21 19:06] mathiaswagner commented on #591
@rbabich I know the USQCD way. But I don't see the benefit here. The header only affects the preprocessor defines and once quda is configured and compiled these defines are unique for the build and don't need to be exposed to the user. (They are not really hidden in the configured header).

When it comes to making sure all other compile flags are set correctly (which can also be handled by the USQ

[2017-03-23 16:26] hsandmeyer opened #594 "Copying between not extended cpuGaugeField and extended cudaGaugefields gives wrong results"
When copying from a not extended `cpuGaugeField` to an extended `cudaGaugeField` via
`device_field->loadCPUField(host_field)` I get wrong results.
A work around is to introduce a cpu buffer which is extended, copy to this buffer via `copyExtendedGauge` and then call `loadCPUField` from the buffer.

[2017-03-23 21:14] stevengottlieb opened #595 "compilation on summitdev"
I am trying to compile on summitdev at ORNL.  Running into a little problem.  The compiler seems to have its own convention for using C++ 11 standard.

I see these warning and errors:

/ccs/home/gottlieb/quda/lib/dirac_coarse.cpp:9:11: error: use of undeclared iden
tifier 'nullptr'
      Y_h(nullptr), X_h(nullptr), Xinv_h(nullptr), Yhat_h(nullptr),

/ccs/home/gottlieb/quda/include/lattice_field.h:

[2017-03-23 21:17] maddyscientist commented on #595
You need to build with gcc and not with xlC.  I've done this on Minsky systems, and it has worked fine.

@bjoo you've compiled on these systems, any advice for @stevengottlieb?

[2017-03-23 21:18] mathiaswagner commented on #595
gcc should be fine. The IBM recommendation is gcc 5.4.

[2017-03-23 21:19] mathiaswagner commented on #595
Out of curiosity: I assume you used cmake. In the first run of cmake (in the clean build dir) the compiler id should be reported. What does it say?

[2017-03-23 21:37] mathiaswagner commented on #595
Also can you check whether changing the line
`set(CMAKE_CXX_STANDARD_REQUIRED 11)` on the top of QUDA's top level dir's CMakeLists.txt to `set(CMAKE_CXX_STANDARD_REQUIRED ON)` changes anything?

[2017-03-23 21:43] cpviolator commented on #595
@stevengottlieb Do you have access to an xlc++ compiler?

[2017-03-23 21:53] mathiaswagner commented on #595
Ok. I think I found the cause for xlc.
According to https://cmake.org/cmake/help/v3.8/manual/cmake-compile-features.7.html#supported-compilers
it is not a compiler that cmake knows the option for and we rely on cmake handling that. The workaround is probably to specify that flag in the CMAKE_CXX_FLAGS which you can modify with ccmake. Also make VERBOSE=1 will print the calls to the compiler and yo

[2017-03-24 03:01] stevengottlieb commented on #595
@maddyscientist
I added this before the cmake command:
export CC=gcc
export CXX=g++
and make seems to be proceeding smoothly.

What are Minsky systems?

These are the compilers found with this cmake command:
-- Check for working CXX compiler: /usr/bin/g++
-- Check for working CXX compiler: /usr/bin/g++ -- works

On Thu, 2017-03-23 at 21:17 +0000, maddyscientist wrote:

[2017-03-24 03:03] maddyscientist commented on #595
Minsky is just the name of the IBM platform that comprises SummitDev (POWER8 + 4x P100).

[2017-03-24 08:13] mathiaswagner opened #598 "dslash_test fails with segfault for clover"
Not sure what the root cause is yet but before I forget:

[code]

[2017-03-24 08:21] sbacchio commented on #598
Could it be an out of memory? A 48^4 lattice maybe doesn't fit on one node..

[2017-03-24 08:25] mathiaswagner commented on #598
It does fit.

`$ mpirun -np 1 ./tests/invert_test --dslash-type clover --prec double --recon 12 --dim 48 48 48 48 --gridsize 1 1 1 1` runs fine.
I guess it is an overflow in randomizing the fields.

[2017-03-24 08:46] sbacchio commented on #598
I checked the code and actually could be due to that.
Indeed just before "Randomizing fields..." you have the following
[code]
which allocates 4 spinor field on the cpu's that in double precision for a 48^4 lattice are 15.2 GB. I don't know the memory of your node, but this can make run out of memory.
I just gave a quick look, but such a heavy allocation seems to not be done in invert_test for the

[2017-03-24 08:46] cpviolator commented on #598
`dslash_invert_test.cpp` looks like it has outdated code compared to `invert_test.cpp` For example, in `dslash_test`
[code]
but in `invert_test`
[code]

[2017-03-28 11:44] kostrzewa commented on #527
It seems that during the hackathon I was able to find a setup which seems to work. I've documented the build process here: https://github.com/etmc/tmLQCD/wiki/tmLQCD---QUDA

I need still need to check the reliability issues that I observed with a particular workload for sequential propagators with twisted boundary conditions, but it looks as though I'll be able to close this soon.

[2017-04-03 11:34] junlizhang commented on #595
You can just try to use gnu compiler, for example:
  git clone https://github.com/lattice/quda.git && \
  cd quda && \
  mkdir build && \
  cd build && \
  sed -i.ori 's:set(CPU_ARCH x86_64):set(CPU_ARCH ppc64le):g' ../CMakeLists.txt && \
  cmake3 .. \
  -DCMAKE_CXX_COMPILER=/usr/bin/g++ \
  -DCMAKE_C_COMPILER=/usr/bin/gcc \
  -DMPI_CXX_COMPILER=/usr/lib64/openmpi/bin/mpicxx \
  -DMPI_C_COMPILER=/

[2017-04-03 20:12] stevengottlieb opened #606 "can't [rp[er;u launch mpi jobs on SummitDev"
I have run some single GPU jobs on SummitDev, but am having trouble trying to run multiGPU jobs.  I am launching with this command:
mpirun -gpu --map-by ppr:1:socket ./su3_rhmd_hisq_noFF.mpi
or without any --map-by argument.  In either case, this shows up in the output.  Looks like both MPI ranks are trying to attach to same GPU.

QUDA 0.9.0 (git v0.8.0-1620-g3f2f3a7-sm_60)
QUDA 0.9.0 (git v0.8.0-

[2017-04-07 17:14] maddyscientist commented on #507
Closed with 8073b851627e90133d04ed94a6e5b1fcb05045f5.

@weinbe2 this should unblock you from running on Fermi.

[2017-04-10 19:05] maddyscientist commented on #606
@stevengottlieb Is this issue still a problem on SummitDev?  Can you test the QUDA internal packages, e.g., tests/staggered_invert_test, test/staggered_dslash_test, etc., to see if they have the same issue?

What's confusing about the message there is that QUDA is reporting some information that's only reported by process 0.  Is this defintiely a multi-GPU build of QUDA: this behaiour would be tri

[2017-04-10 19:10] kostrzewa commented on #606
Or, possibly, by using a different MPI launcher than the application was compiled with. (had that happen once or twice in incompatible MPICH / MVAPICH mixups)

[2017-04-11 14:46] forandom commented on #595
For IBM xlC, please try adding -std=c++11 to CXXFLAGS.

[2017-04-11 19:59] maddyscientist commented on #606
@stevengottlieb, together with @bjoo, we've made some progress on this issue.  Long story short: if you've been building QUDA build enabled, then we have fixed the issue (use feature/rdma branch -
 I've just pushed the fix there).

The problem was that the SummitDev defaults to running in compute exclusive mode which means that different processes cannot share the same GPU.  This normally isn't a

[2017-04-13 11:44] #598 closed

[2017-04-14 09:50] kostrzewa opened #609 "some invert_test solves diverge, unsure why"
In order to test a new machine that we are purchasing, I wanted to do a full inventory if how different dslashes behave with different reconstructions and different mixes of solver precisions (```--prec``` always double).

So I set up this little script to run through all of them:

[code]

What I find, on two difference machines (1: 8xP100 in a single root complex, 2: 2 nodes of Jureca with 4 K80

[2017-04-14 09:53] kostrzewa commented on #609
[CMakeCache.txt](https://github.com/lattice/quda/files/921890/CMakeCache.txt)

[2017-04-14 09:55] kostrzewa commented on #609
[CMakeCache_P100.txt](https://github.com/lattice/quda/files/921893/CMakeCache_P100.txt)

[2017-04-14 10:22] kostrzewa commented on #609
Another example: with peer to peer enabled, it seems that an identical solve (ok, with a different random gauge) diverges, while it converges just fine with p2p disabled:

[code]

Could it be that some of the many recent and fundamental changes have allowed a number of bugs to to creep in? I have to say that since version 0.7.2, keeping our codes running with QUDA has been quite a challenge...  I

[2017-04-14 12:03] kostrzewa commented on #609
@urbach
doing the tests on the machine is proving to be harder than anticipated... I'll try to figure something out...

[2017-04-14 12:45] kostrzewa commented on #609
Using v0.8.0 as a test platform is not really an option, however, because P2P comms seem to be extremely important to get good Multi-GPU performance with "moderate" lattice sizes on 4 or 8 GPUs.

I observed that when I set QUDA_ENABLE_P2P=0 with the current develop branch, inversions barely scale beyond 2 P100s if the local lattice size is any smaller than 32c16 .. @maddyscientist  Would you say t

[2017-04-14 17:51] maddyscientist commented on #609
@kostrzewa This is disappointing to hear that the develop branch is having these problems 😞, as it should in principle be stable.  Indeed enabling peer-to-peer is critical for performance on dense nodes, so no surprise that you are finding this.
* Can you try with the feature/rdma branch?  In that branch I have been working on cleaning up the halo exchange significantly, and while I don't think I

[2017-04-14 17:58] cpviolator commented on #609
@kostrzewa <https://github.com/kostrzewa> This is a long shot suggestion,
but have you tried removing the tunecache files so that it tunes from
scratch?

On Fri, Apr 14, 2017 at 1:51 PM, maddyscientist <notifications@github.com>
wrote:

[2017-04-14 20:54] kostrzewa commented on #609
@cpviolator yes, this was all freshly tuned from scratch, hence the "tune" loop, one iteration for tuning, one for the "benchmark"

[2017-04-15 05:33] maddyscientist commented on #609
I can't reproduce this issue with the feature/rdma branch, though my job timed out, and it did not get through the entire run. I'll resubmit with a longer queue time and paste the results.  Here's a summary of the results though.  No lack of convergence for any results so far, but the iteration counts do change a bit between p2p and non-p2p.  This may simply be order of reduction changing with dif

[2017-04-15 06:35] kostrzewa commented on #609
@maddyscientist thanks for checking this. Could you try ```twisted-mass``` only, just to test the particular case that diverged before my own jobs ran out of time? On my end, I've recompiled, deleted the tunecache and started the job again. Maybe there was indeed some issue with the tuning, although I was a tad surprised to see the same behaviour on the two machines...

[2017-04-15 06:40] kostrzewa commented on #609
This sounds like a good failsafe.

[2017-04-15 06:40] maddyscientist commented on #609
I don't think it's a tuning issue, as this should not cause the issue you observed.  I've resubmitted the job with 1000 minute limit, which should cover the full run I think.

One thing I've realized is that my p2p runs are not full p2p since I didn't order the GPUs correctly the 8-way splitting in the t dimension to the NVLink topology (DGX-1 has a 2^3 cubic-mesh topology, so you need to order th

[2017-04-15 06:43] maddyscientist commented on #609
FYI, the forced retune should only be a performance issue rather than a correctness issue.  I also now record the machine topology in the tuning string of the dslash policy (e.g., break the tuning degeneracy between running 24^4 on 4 GPUs and 24^3x48 on 8 GPUs.)  Again for performance, rather than correctness.

[2017-04-15 16:33] maddyscientist commented on #609
Update at this end.  Looks like there is an issue with regular twisted-mass fermions with peer-to-peer enabled as you've observed @kostrzewa.  Every other solve converged without issue.  This is a little perplexing since the same halo exchange code is used for all Dirac operators.  Investigating....
[code]

[2017-04-15 16:43] maddyscientist commented on #609
I should also note than most of the twisted-mass solves with p2p do actually converge. I don't see an obvious pattern why some are failing
[code]

[2017-04-15 17:22] kostrzewa commented on #609
@maddyscientist ah, thanks a lot for confirming. I guess this is also what I saw, although I can't be sure because I couldn't run a long enough job yet. For the moment I will thus concentrate on testing twisted-clover performance, since this is what is presently most important anyway. Incidentally, I managed to completely crash the P100 machine, I hope it's not on fire o_O Will provide info once i

[2017-04-15 17:34] maddyscientist commented on #609
@kostrzewa I just route-caused the bug in twisted-mass.  Will push a fix to feature/rdma shortly.  When splitting the t dimension, you have a choice whether to do the exchange as a straight memcpy  (since it's the slowest running dimension you can do this efficiently) or run a packing kernel and copy from there.  The decision on whether to do this is queried with `getKernelPackT()` and set with `s

[2017-04-15 18:24] maddyscientist commented on #609
@kostrzewa Fix pushed.  This should close this issue now.

Just to note that this kind of sweep through parameter space, run-time testing, is exactly the kind of run-time testing that @mathiaswagner and I are planning on enabling as part enhancing the testing performed in pull requests.  We hope to work on this next month (post GTC).  Your bug has re-highlighted the need for this.

[2017-04-15 18:50] stevengottlieb commented on #609
I have been meaning to jump in on this discussion since I have been
having little success on SummitDev trying to run su3_rhmd_hisq with the
MILC code.  I was able to run at NCSA a number of weeks ago.  They
announced a software update and I recompiled and am still having
problems.

Here is some header information from the start of the run:
Peer-to-peer enabled for rank 0 (gpu=0) with neighbor 1 (g

[2017-04-15 18:58] maddyscientist commented on #609
@stevengottlieb this looks like a very different issue than the bug in twisted-mass fermions that was route caused to be the issue here.  Is the NCSA machine a Minsky system as well?

[2017-04-15 19:53] stevengottlieb commented on #609
@maddyscientist SummitDev is at ORNL.  It is a Power based system, so
from what you said before, that should be Minsky.  I am trying to fall
back to 0.8.x.  Will let you know what happens.

On Sat, 2017-04-15 at 18:58 +0000, maddyscientist wrote:

[2017-04-15 20:11] maddyscientist commented on #609
@stevengottlieb I took this to mean that the above issues were reported on a machine at NCSA after a software update.  So to confirm: no issues at NCSA, and the software update was at ORNL?  regardless, let's move this discussion to #606 (also still waiting on you comment on my update there whether multi-GPU in a node issues were caused by running in debug mode).

[2017-04-15 20:12] maddyscientist commented on #609
@stevengottlieb and by NCSA, you meant BlueWaters?

[2017-04-15 21:10] stevengottlieb commented on #606
@maddyscientist, Sorry for being confusing before and for not reading
all my email this week.

First, about NCSA, there is an Innovative System Lab there and they let
me have an account on a cluster that single and quad P100 systems.  That
is where I first was able to run on P100 hardware and where I ran the
hotfix/hisq_link (as best I recall).  I was able to run on multiple GPUs
there.

I looked

[2017-04-15 22:52] maddyscientist commented on #606
No worries @stevengottlieb 😄

To see the feature/rdma branch, you probably just need to update your local repository: `git remote update`.  I need to do more testing on this branch before it is merged into develop, but it currently passes all tests that I can think of.

So, am I correct in thinking that all your issues then are on SummitDev and not on the P100 system at NCSA?

[2017-04-16 01:42] stevengottlieb commented on #606
Yes, @maddyscientist, all my issues are on SummitDev, but I have new
information.  Mnetioned before that I was going to try QUDA 0.8.x on
SummitDev.  I built that version and relinked MILC to it.  I submitted
some 2 GPU benchmarks before leaving for a movie and just got back.  I
look at the end of one output file and it looked like normal
termination.  I just submitted a 4 GPU run on a single node

[2017-04-16 01:50] maddyscientist commented on #606
Thanks for the new information.  There are many difference between devel and 0.8.x, so it's hard to pin down what the difference could be caused by.  One issue that did trip me up on POWER was the differing conventions of char variables being unsigned on POWER versus being signed on x86.  While I think I fixed that problem, I do wonder if there are other differences between POWER and x86 that have

[2017-04-16 06:51] kostrzewa commented on #609
@maddyscientist Thanks a lot for fixing this so quickly, I'll check out rdma to confirm that all is well and then I'll get started with testing @AlexVaq ND-tmclover operator fully.

[2017-04-16 08:01] kostrzewa opened #610 "tmclover-nondeg testing"
Issue to collect possible problems with new tmclover-nondeg operator by @AlexVaq

[2017-04-16 08:02] kostrzewa commented on #610
Compilation results in warnings of the type:
[code]
Haven't seen this before, so I thought I'd mention it to begin with.

[2017-04-16 10:03] kostrzewa commented on #610
There is probably still an issue in the dagger operator. First test:

1) invert using the NONDEG_DOUBLET (without clover). Confirm that this works and that the parameters are passed correctly.
2) switch on clover term but with csw=0.00001 and the same parameters as in 1.
    * solve diverges

I'll try to figure out what's going on.

[2017-04-16 10:35] kostrzewa commented on #610
Interesting development: when I run this with just one process, the solver does not diverge, but the final residual is wrong.

[2017-04-16 16:09] kostrzewa commented on #610
3. Setting epsilon to zero nodes not help.

[2017-04-16 16:20] kostrzewa commented on #610
4. csw=0.000001, mu=0.000001, epsilon=0.02, kappa set to give a largish, positive PCAC mass does not help (solver converges, this is sort of a doublet of plain wilson quarks, after all, but the final residual is wrong)

[2017-04-17 19:34] kostrzewa commented on #610
@AlexVaq is it normal that the "fused exterior" kernel is an empty file?

https://github.com/lattice/quda/blob/feature/nondeg-tmclover/lib/dslash_core/tmc_ndeg_fused_exterior_dslash_core.h

[2017-04-17 19:40] kostrzewa commented on #610
Between ```tmc_core.h.old``` and ```tmc_core.h```, it seems that some of the Macros have been shortened (backslashes here and there have been removed). Was this intended?

[2017-04-17 19:45] kostrzewa commented on #610
The corresponding tmclover (degenerate) operator converges fine and the residual is correct, so I'm guessing there's no problem there.

[2017-04-17 20:08] AlexVaq commented on #610
No, hell, multigpu is not implemented yet, now I remember.

[2017-04-17 20:09] AlexVaq commented on #610
Yes, I think that was intended. I'll try to find some time today to look into this. I'll review all the input you sent me first, thanks for doing this!

[2017-04-18 09:02] kostrzewa commented on #610
Okay, sounds good. In the meantime, I compiled a single-GPU version of everything and I still find that the final residual is not correct for the tmclover-nondeg operator, even with mu=0.000001, muepsilon=0.000001, csw=0.000001 and a kappa value corresponding to a large, positive PCAC mass. For the same parameters, the corresponding standard non-degenerate operator gives the correct residual.

How

[2017-04-18 10:35] kostrzewa commented on #610
Adding non-zero values for mu and epsilon then leads to larger differences between the two solves. I still haven't gotten around to writing the test harness for the operators themselves, I'm afraid...

[2017-04-18 14:20] AlexVaq commented on #610
Oh no, I'm aware that the dagger operator has a problem. I'd like to see a dslash test (not an inversion) of the non-daggered operator.

Also, the unpreconditioned operator (dagger, non-dagger) should be working. Did you try the CG on that one?

[2017-04-18 17:13] AlexVaq commented on #610
I'm looking (a bit) into this now. So far I can only say that the unpreconditioned operator should work. The preconditioned operator is giving me some trouble, and requires further debugging. The compilation warning you saw before I think it's related to the dynamic clover inversion, but I'm not sure.

I think the way to go right now is to test the CG with the unpreconditioned operator. I'm really

[2017-04-18 19:27] AlexVaq commented on #610
If you were not using the dynamical clover inverter, then the preconditioned operator was bound to fail, because in the calculation of the inverse clover the epsilon term was not taken into account. I'll push a fix for that.

[2017-04-18 19:31] kostrzewa commented on #610
I will try to test the unpreconditioned inversion in the coming days. We don't have an implementation of the unpreconditioned operator, unfortunately. I was always using dynamical clover, on account of the finding that it is more stable.

As for the operator test harness, I still haven't gotten around to implementing it...

[2017-04-18 19:36] AlexVaq commented on #610
Ok, now I tested non-dynamical clover and seems to agree with twisted mass non-degenerated in the dslash test. The preconditioned operator looks good, so maybe you want to have a look at that one.

My first test would be with a very small (negligible) clover coefficient (but not exactly 0 because then QUDA might throw it away and use twisted mass) and see if there is agreement. Then you can switch

[2017-04-18 20:09] AlexVaq opened #611 "Possible bug in twisted-mass nondeg for half precision"
@alexstrel can you check line 961 of tm_core.h?

float a = param.a_f
float b = param.b_f
float c = param.b_f

I guess the third sould be

float c = param.c_f

Am I missing something?

[2017-04-18 20:10] maddyscientist commented on #611
Does it give the wrong answer that is fixed by correcting this?

[2017-04-18 20:15] AlexVaq commented on #611
I didn't test. I know I should but I'm terribly overworked. I found this while trying to debug the nondeg twisted clover.

[2017-04-18 20:23] AlexVaq commented on #610
In the inversion test (the one you show that iteration per iteration it seems that twisted-mass and twisted-clover are doing the same):
- Which kind of preconditioning are you using, symmetric or asymmetric?
- Is the source prepared, or you prepare directly the halfspinor and the solution is only reconstructed?

[2017-04-19 06:28] maddyscientist commented on #611
I've confirmed this is a bug, with the obvious fix being the correct thing to do.  Doing more testing of the non-degenerate twisted-mass fermions has revealed further issued, such as the unit tests not being fully implemented for this operator for some reason, e.g., we can solver for Mx=b using CGNR, but we can't solve for M*M x = b.

Moreover, there seems to be an issue with the symmetric precond

[2017-04-19 13:47] AlexVaq commented on #611
Thanks Kate, I appreciate that you found the time to do this.

[2017-04-19 19:54] maddyscientist commented on #611
@AlexVaq I fixed this and pushed it to the feature/rdma branch
(383a7c47c0f10112987ad3841fa02b7885737d7d), as well as fixing some other issues: added full solution_type support for non-degenerate twisted-mass fermions in invert_test, and fixed an apparent bug in the symmetric-preconditioned reference dslash dagger operator (98005c6e40c769553c698513e1f9a7ad9e576240 - does this fix make sense?).  I

[2017-04-21 19:32] alexstrel commented on #399
this issue was resolved in https://github.com/lattice/quda/pull/612

[2017-04-21 19:32] #399 closed

[2017-04-25 08:43] kostrzewa opened #613 "QUDA tests get stuck for a long time with CUDA-aware OpenMPI"
Following [Multi-GPU QUDA Wiki](https://github.com/lattice/quda/wiki/Multi-GPU-Support), we have been experimenting with CUDA-aware MPI versions (OpenMPI 2.0.2). While performance seems good or better than without support compiled in, the resulting applications show slightly odd behaviour:

1) When launched on a given CPU (as seen via top) a process might move to another CPU dynamically. I guess t

[2017-04-25 08:45] mathiaswagner commented on #613
What happened to all of us here is that we compiled for the wrong GPU arch and this is the point where JIT compilation takes place. Did you check that you compiled for sm_60 ?

[2017-04-25 08:45] mathiaswagner commented on #613
Just realizing in your output `git v0.8.0-1638-gaf0db9b-sm_35` is compiled for Kepler.

[2017-04-25 09:44] kostrzewa commented on #613
Oh dear, indeed, sorry about that! I'll recompile and test again and will close as soon as I see it working.

[2017-04-25 13:26] kostrzewa commented on #613
Of course, this was the problem. Sorry for wasting your itme @mathiaswagner

[2017-04-25 13:26] #613 closed

[2017-04-25 13:29] mathiaswagner commented on #613
Happy to help.

Actually the reason the `-sm_35` is in place was because of myself repeatedly failing at setting the right architecture for a fresh build. Do the results look good now?

[2017-04-25 13:39] kostrzewa commented on #613
Absolutely, things are working great. Still testing P2P over Infiniband.

[2017-04-26 06:46] maddyscientist commented on #172
Closing issue, since this is long since completed.

[2017-04-26 06:46] #172 closed

[2017-04-26 06:49] maddyscientist commented on #283
Closed with #601 (and interface does need to be defined though)

[2017-04-26 06:49] #283 closed

[2017-04-26 06:50] maddyscientist commented on #304
This has long since been done.

[2017-04-26 06:50] #304 closed

[2017-04-26 07:04] maddyscientist commented on #372
Closing this issue: the main motivation for doing this was because it was an alternative to #304.  Since that's been done, we can close this.

[2017-04-26 07:04] #372 closed

[2017-04-26 07:07] maddyscientist commented on #546
As a prototype for implementing this, I implemented a standard 4-d gauge Laplace in 7684193231f23093f9183da333cb11c8177ad91f (using the high-level C++ that I eventually intend to rewrite all Dslash kernels with).  This can be used as skeleton for implementing this feature.

[2017-04-26 07:12] maddyscientist commented on #606
@stevengottlieb Any updates from trying feature/rdma on SummitDev?  I've continued to improve this branch's robustness, catching all corner cases that I can think of.  At least on Piz Daint and the SaturnV clusters, I can't find any configuration that is breaking (MILC and QUDA multigrid both seem to be working fine).  If you're still having problems, can you pull the latest version of feature/rdm

[2017-04-29 10:22] kostrzewa commented on #546
@maddyscientist out of curiosity, what is the performance of the high-level C++ Laplacian like?

[2017-04-29 13:30] maddyscientist commented on #546
Performance is the same as low-level C code would be:
* Single precision, 12 reconstruct, applying the operator to just one parity: 595 GFLOPS (627 GB/s)
* Single precision, 12 reconstruct, applying the operator to just both parities: 305 GFLOPS (655 GB/s)
* Double precision, 12 reconstruct, applying the operator to just one parity: 595 GFLOPS (627 GB/s)
* Double precision, 12 reconstruct, applyin

[2017-05-06 18:29] maddyscientist commented on #606
Closing this issue, as @stevengottlieb confirmed this issue reported at the top of this issue was not a QUDA problem.

Note that when running on SummitDev, QUDA was hanging: this has been root caused to Spectrum MPI that is installed on SummitDev.  The cure for this hang is to use a different MPI library - @bjoo has successfully testing Chroma + QUDA, both BiCGStab and Multigrid, with OpenMPI 2.1.

[2017-05-06 18:29] #606 closed

[2017-05-06 18:31] maddyscientist commented on #595
Closing this issue, as I understand this is no longer a problem

[2017-05-06 18:31] #595 closed

[2017-05-16 20:01] alexstrel commented on #194
resolved in https://github.com/lattice/quda/pull/612

[2017-05-16 20:01] #194 closed

[2017-05-16 20:02] alexstrel commented on #562
resolved in https://github.com/lattice/quda/pull/612

[2017-05-16 20:02] #562 closed

[2017-05-16 20:54] maddyscientist commented on #547
Closed with #612

[2017-05-16 20:54] #547 closed

[2017-05-19 06:32] sbacchio commented on #546
I did a push to feature/laplace which adds a first implementation of the Wuppertal smearing.
@maddyscientist, I hope is fine I pushed there.

For the next step, shall I create a function in the interface which does "performNWuppertalStep"? something similar to what is done for the APE smearing?

[2017-05-19 06:33] maddyscientist commented on #546
Sounds perfect!

[2017-05-19 06:33] maddyscientist commented on #546
I should note that I haven't tested the multi-GPU yet for the Laplace operator, should get that done in the next few days......

[2017-05-19 06:37] sbacchio commented on #546
Ok, I followed how you constructed the laplace operator, but it is independent from it. Now I will do the function in the interface and then test if at least everything works with single/multi-GPU and if I obtain the same results in the two cases.
Then I should do a cross check with some other code in order to see if everything is implemented correctly.

[2017-05-19 13:21] ssyr commented on #546
does it overlap communications and computing?

[2017-05-19 16:29] maddyscientist commented on #546
@ssyr No, it presently does blocking comms.  Not hard to add, but I won't do this until someone actually needs it 😄

[2017-05-19 17:39] kostrzewa commented on #157
This is a problem which may surface again, as far as I can tell. When QUDA (or another library, QPhiX, say) is used to do HMC using a **red-black preconditioned effective action** with a code which has a different gamma convention AND a different ordering of dimensions.

For exchanging between the chiral and the DeGrand-Rossi basis, while exchanging, at the same time, Q_1 and Q_3:

gamma^C_0 -> ga

[2017-05-31 07:08] sbacchio commented on #546
I've had finally time to test it. With the last commits to feature/laplace everything works fine and the results have been crosschecked with our production code.

The function I've done in the interface uses the gaugeSmeared, if created, or gaugePrecise otherwise.

When feature/laplace will be merged to the develop branch, this issue can be closed.

[2017-05-31 08:56] #580 closed

[2017-05-31 08:56] #611 closed

[2017-05-31 08:56] #609 closed

[2017-05-31 13:38] evanberkowitz opened #617 "Additional -l and -L library flags from qmp-config ignored"
I am modifying `QMP`, which requires linking against a library my colleagues and I are developing called `mpi_jm`.  `qmp`, and `qdp++` compile and install, successfully linking against `mpi_jm`.  `qdp++` picks up the needed flags from `qmp-config`.

The relevant results of running `qmp-config` are

[code]

When I `make VERBOSE=1` I get to the step

which fails, complaining about not being able to

[2017-05-31 16:04] cpviolator commented on #617
Which QUDA version are you using? I'm looking at the current CMakeLists.txt file in quda/develop and at line 234 https://github.com/lattice/quda/blob/4717e96238ffbbd91cf960e984c7c447405bcf3b/CMakeLists.txt#L234
you can see that CMake queries qmp-config three times, and places the output into three variables. These variables don't get used explicitly as the CMake scripts asks for the QMP home direc

[2017-05-31 16:32] evanberkowitz commented on #617
I built with the 4717e96238ffbbd91cf960e984c7c447405bcf3b commit.

Looking through `lib/CMakeLists.txt` I don't see an equivalent place where the `QMP_LDFLAGS` variable set in `CMakeLists.txt`L235 can be inserted trivially.

[2017-05-31 16:39] cpviolator commented on #617
Just change this part of `quda/lib/CMakeLists.txt` from
[code]

to

[code]

[2017-05-31 16:42] evanberkowitz commented on #617
And what if the user doesn't have the lib in their LD_LIBRARY_PATH?  ie. what about the `QMP_LDFLAGS` variable?

With just a little guidance I will fork, patch, and test tonight, I hope.

[2017-05-31 16:46] cpviolator commented on #617
In the old `configure` `make` method, there was this code:

[code]
but it must have slipped through the cracks in the transition to CMake. Do you have non-trivial CLFAGS too?

[2017-05-31 16:48] mathiaswagner commented on #617
We use cmake's findlibrary functionality and use qmpconfig to get the library name and provide a search path.

This is then added to the dependencies (target_link_libraries).

On Wed, May 31, 2017 at 6:42 PM +0200, "Evan Berkowitz" <notifications@github.com<mailto:notifications@github.com>> wrote:

And what if the user doesn't have the lib in their LD_LIBRARY_PATH? ie. what about the QMP_LDFLAGS v

[2017-06-01 13:11] mathiaswagner commented on #617
Will be fixed through #619. Might be a two step process.

[2017-06-04 09:29] cpviolator opened #620 "RDMA on CRAY architecture"
I recently found that in order to use RDMA on cray architecture (specifically Piz-Daint) one has to delete the CMAke entries for two static libraries: libcublas_device and libcudart. This forces all executables to link to the dynamic libraries and CRAY's MPI with RMDA works. Do we need a new CMake flag for CRAY build or can we just default to the dynamic libs in general?

[2017-06-06 15:18] #312 closed

[2017-06-06 15:21] mathiaswagner commented on #217
@maddyscientist Status unchanged on this?

[2017-06-14 01:02] stevengottlieb opened #622 "tuning problem on SummitDev"
I am finally getting back to SummitDev and able to launch multiple GPU job using the develop branch of QUDA.  However, I am running into a problem.  Here is how a typical job ends:

CONGRAD5: time = 2.279687e-02 (multicg_offset_QUDA D) masses = 7 iters = 35 mflops = 8.238043e+03
 OK converged final_rsq= 6.6e-27 (cf 2.5e-17) rel = 1.2e-24 (cf 0) restarts = 0 iters= 35
ERROR: Failed to clear error s

[2017-06-22 10:01] maddyscientist opened #625 "Implement arbitrary gauge action calculation"
For full offload of (R)HMC we need to support the evaluation of arbitrary gauge actions.  To enable this, we can just use the gauge force code, which already support evaluation of arbitrary loops.

[2017-06-23 10:06] mathiaswagner commented on #622
The error might not be triggered from the last kernel called. It might be useful to try running the job within cuda-memcheck to point down where the illegal access occurs. Launching the job like

`mpirun -MXM -n $nodes --hostfile $LSB_DJOB_HOSTFILE --bind-to core --map-by ppr:2:socket cuda-memcheck ./$EXE <params${nodes}.$ns >out_np$nodes.$ns.pretune`

I noticed that you have two mpiruns. If you c

[2017-06-23 10:51] mathiaswagner opened #626 "QUDA should avoid using raw pointers"
Wherever possible when writing new code we should try to use C++11's smart pointers, i.e.
`std::unique_ptr` and `std::shared_ptr`.

In most cases there is probably no reason to stick with raw pointers and smart pointers have minimal overhead but avoid a lot of the pitfalls with raw pointers. We use C++11 anyway so at least for newly added code we should not accept pull request with raw pointers an

[2017-07-04 07:12] #546 closed

[2017-07-06 06:08] mathiaswagner commented on #617
Closed by #619.

[2017-07-06 06:08] #617 closed

[2017-07-12 07:26] mathiaswagner commented on #534
Is this still an issue?

[2017-07-13 07:04] mathiaswagner commented on #400
Close by #633

[2017-07-13 07:12] maddyscientist commented on #400
Not sure what #633 has to do with this issue?  #633 was a fix to a bug I inadvertently introduced a few months ago, where a tolerance of 0 resulted in the solver never existing until the limit of precision is reached.

[2017-07-13 07:14] mathiaswagner commented on #400
Argh, Right. I should get a coffee. I reopened the issue.

[2017-07-13 20:22] mathiaswagner opened #637 "Use a proper parser for command line options of tests"
I admittedly love python's argparse for that but as we don't have something like that in C++ directly a quick google search turned up with:

https://github.com/Taywee/args

Seems to be close to argparse and is header only and under MIT license.

Thoughts?

[2017-07-14 10:24] mathiaswagner commented on #507
Fix is in develop

[2017-07-14 10:24] #507 closed

[2017-07-14 16:34] maddyscientist commented on #620
@mathiaswagner thoughts on this.  We can't kill configure/make support until this issue is resolved cleanly.  As it stands, the only way to use RDMA on the Cray machine without hacking Cmake files is to use a configure/make build.

[2017-07-14 17:21] mathiaswagner commented on #620
CUDA_USE_STATIC_CUDA_RUNTIME looks like the option to use.

See

https://cmake.org/cmake/help/v3.9/module/FindCUDA.html

On Fri, Jul 14, 2017 at 6:35 PM +0200, "maddyscientist" <notifications@github.com<mailto:notifications@github.com>> wrote:

@mathiaswagner<https://github.com/mathiaswagner> thoughts on this. We can't kill configure/make support until this issue is resolved cleanly. As it stands,

[2017-07-14 17:28] mathiaswagner commented on #620
Seems to require cmake 3.3 or higher.

On Fri, Jul 14, 2017 at 7:21 PM +0200, "Mathias Wagner" <mathiasw@nvidia.com<mailto:mathiasw@nvidia.com>> wrote:

CUDA_USE_STATIC_CUDA_RUNTIME looks like the option to use.

See

https://cmake.org/cmake/help/v3.9/module/FindCUDA.html

On Fri, Jul 14, 2017 at 6:35 PM +0200, "maddyscientist" <notifications@github.com<mailto:notifications@github.com>> wrote:

@m

[2017-07-14 17:59] maddyscientist commented on #620
Piz Daint has cmake 3.6 so that would be fine.  I'm happy if we require >= cmake 3.3 in general.

[2017-07-14 18:08] mathiaswagner commented on #620
I don't have access there so can't test. But it can be tested now as we don't need to change code for it.

[2017-07-14 20:24] maddyscientist commented on #620
@cpviolator can you try this?

[2017-07-14 20:30] cpviolator commented on #620
Will do, starting some other tests now so easy to do this too.

[2017-07-18 13:08] mathiaswagner commented on #620
Any success here?

[2017-07-19 16:32] james-simone opened #640 "cmake configuration for multiple architectures"
Currently, cmake defaults to 'sm_35'. Overriding the default with 'QUDA_GPU_ARCH' only allows a single architecture to be specified, rather than a list. I would like to be able to build quda to work optimally on several possible systems. This is a useful feature for the distribution of quda in a container environment.

[2017-07-19 18:52] mathiaswagner commented on #640
Do you prefer a single libquda.a that contains the code for all architectures?
We can look into this but as we query the architecture we compile for to select some things depending on the arch beyond the actual code generation for that arch it might require a little more work than adding multiple archs to the compile flags. Also note that QUDA for a single arch is a massive several 100MB file. Not

[2017-07-24 07:37] mathiaswagner opened #641 "Explicit dependency on mpi.h in quda_arpack.h"
quda_arpack.h uses
[code]
Why is this here? We do not want any explicit dependency on these headers. Can we get rid of that?

[2017-08-02 11:33] #622 closed

[2017-08-02 11:34] mathiaswagner commented on #620
Any updates here?

[2017-08-15 18:50] maddyscientist commented on #527
Closing this issue, since this now seems to be resolved.

[2017-08-15 18:50] #527 closed

[2017-09-18 18:14] maddyscientist opened #643 "Enable selective GDR support for asymmetric node topologies"
I've been thinking about how to enable GDR on the FNAL K40 system, which is asymmetric with respect to NIC and GPU placement.  E.g.,
[code]
How about I expose yet another env arg

[code]

This would only enable GDR for the processes listed in the `QUDA_ENABLE_GDR_RANK` env arg.  The default, if `QUDA_ENABLE_GDR_RANK` is not enabled, would be to enable GDR for all ranks (if `QUDA_ENABLE_GDR` is set

[2017-09-18 20:10] mathiaswagner commented on #643
While there is hope I am afraid that with more and more fat nodes the topology will become a bigger pain. It is probably good to have something like this but I am wondering whether there is a way to let the autotuner figure out whether GDR is available for that GPU.

[2017-09-18 20:17] maddyscientist commented on #643
My first thought indeed was to enable this with the autotuner as you suggest.  The problem is that the node topology isn't available in general to CUDA unless we introduce an external dependency to QUDA, e.g., Hwloc.  Enabling this with an envarg enables this much easier to implement, and at least test the potential improvement from this.

[2017-09-18 20:25] mathiaswagner commented on #643
I agree. Maybe implement this and add a follow-up issue which we
a) might fix if some better solution shows up
b) have open forever
c) decide that we don't need to worry anymore.

[2017-09-18 21:12] drossetti commented on #643
MPI should be able to do this kind of decisions.
Are there issues/bugs opened with major MPI implementations, e.g. Open MPI, MVAPICH2, Spectrum MPI, regarding improving the intra-node performance so that you can drop your special handling in QUDA?

[2017-09-18 21:20] maddyscientist commented on #643
@drossetti my experience has been that it wants to use the same strategy for all processes, and not have special per process handling for each process.  The tuning handles in MVAPICH and OpenMPI do not for example, allow me to have some processes doing GDR for some and others not doing GDR.

Moreover, even if MPI could do a good job of identifying which processes should use GDR and which should ro

[2017-09-19 15:58] saysharma opened #644 "QUDA for fermions in different representations"
Hi, It would be nice if one could access quda for Wilson or staggered quarks in different representations. See for example:
https://arxiv.org/pdf/0805.2058.pdf

[2017-10-03 13:17] bjoo opened #645 "CMake 3.9.2 configuration fails"
Hi,
 I was trying to build the recent QUDA (feature/multigrid branch, commit c1f0f29975731161a1ae6431d6ef77753de70182 ) and using CMake 3.9.2 on
SummitDev (recent upgrade from 3.6.1). The CMake command failed with:

[code]

This was a surprise, because this build has built for me before. In the end I reverted to the older
CMake 3.6.1 and the problem went away. For now I can build with CMake 3.6.1,

[2017-10-03 13:27] mathiaswagner commented on #645
Thanks for the report. Starting from cmake 3.8 we use cmake's native support for CUDA (instead of relying solely on FindCUDA) which seems to have issues locating the libraries on summitdev.

[2017-10-03 13:31] bjoo commented on #645
Hi Mathias,
 Yes, this could actually be an issue with CMake… How to progress this?
Unfortunately right now I have not too much time to dig deep Since I can
move forward with 3.6.1 I am more or less happy. If SummitDev tests work out
I will likely try to build on our local K80 node. I can try to install CMake 3.9.2 there,
to see if the problem is SummitDev specific, or whether it seems related to

[2017-10-03 13:54] mathiaswagner commented on #645
I'll have a look at some point later this week as I don't have time to dig into it right now at all.

[2017-10-03 14:07] alexstrel commented on #645
I guess for now one needs to set -DCUDA_cublas_LIBRARY explicitly.

[2017-10-05 16:29] kostrzewa opened #647 "GCC 6.3 compatibility"
Just a question on gcc 6.3 compatibility. We would like to upgrade the OS on our GPU cliuster and need to make sure that our toolset will continue working. The new default compiler would be gcc 6.3 and we would like to avoid having to install another gcc toolchain if possible. Info would be very much appreciated!

[2017-10-05 23:07] maddyscientist commented on #647
CUDA 9.0 introduces GCC 6.x compatibility, so that solves that problem.  Having said that, CUDA 9.0 requires a few changes to QUDA, these changes are covered by #642 (which should be merged into develop soon).

FWIW, all my local development is done using CUDA 9 and GCC 6.3.

[2017-10-06 05:19] kostrzewa commented on #647
@maddyscientist Thanks a lot for the quick info! One more question: we have Tesla K20m's mixed with P100's. I tried to find info on CUDA 9 support for K20s but unfortunately came up short, could you enlighten us?

[2017-10-06 05:45] mathiaswagner commented on #647
Cuda 9 supports Kepler so K20 is fine.

Support for Fermi (SM2.x) was dropped.

[2017-10-09 09:37] #124 closed

[2017-10-09 09:44] mathiaswagner commented on #647
@kostrzewa We have merged #642. I guess we can close this issue?

[2017-10-09 09:45] mathiaswagner commented on #641
@alexstrel Could you please comment and fix? We don't want explicit mpi / qmp dependencies outside of the comm's wrapper files.

[2017-10-09 09:56] kostrzewa commented on #647
Indeed, thanks a lot for the info! Closing.

[2017-10-09 09:56] #647 closed

[2017-10-10 04:01] alexstrel commented on #641
@mathiaswagner done, I created a hotfix for the issue. After check will PR the branch.

[2017-10-10 04:24] mathiaswagner commented on #641
Thanks., Alexei.

On Tue, Oct 10, 2017 at 6:03 AM +0200, "Alexei Strelchenko" <notifications@github.com<mailto:notifications@github.com>> wrote:

@mathiaswagner<https://github.com/mathiaswagner> done, I created a hotfix for the issue. After check will PR the branch.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/lattice/quda

[2017-10-10 08:39] mathiaswagner commented on #645
I had a look a what we do. We use a specific FIndCudaWrapper and FindCudaLibs in the cmake directory.
I could reproduce the issue locally on my machine and see what we can do to fix it.

[2017-10-10 08:45] mathiaswagner commented on #640
@james-simone Just pinging here: Do you still need this? Can you elaborate on your container deployment plans?

[2017-10-10 08:46] mathiaswagner commented on #620
@cpviolator Is this issue solved? It's been 3 months since the last update.

[2017-10-10 09:05] mathiaswagner commented on #645
@bjoo Can you please give the branch `hotfix/cmake_native_cudalibs` a try?

[2017-10-10 14:59] james-simone commented on #640
Hi,

I’d categorize compact mult-compute-capability builds as a long-term goal for QUDA. Such a build would allow distributing a tested and certified QUDA/sciDAC build to be distributed as a HPC Singularity container.

On 10/10/17, 3:45 AM, "Mathias Wagner" <notifications@github.com> wrote:

    @james-simone <https://github.com/james-simone> Just pinging here: Do you still need this? Can you elab

[2017-10-10 15:02] mathiaswagner commented on #640
So I get that you are looking into singularity here? Motivation here is more towards automated testing but I am glad to hear about singularity as that is what I started looking into today.

[2017-10-14 15:25] james-simone commented on #640
Hi,

I can send you my singularity .def file which builds a SciDAC/QUDA
container starting from Nvidia''s Ubuntu/Cuda Docker image.

On Tue, 2017-10-10 at 15:03 +0000, Mathias Wagner wrote:

[2017-10-16 07:13] mathiaswagner commented on #640
Please do. I am happy to experiment with that. I also based some experiments on the NVIDIA docker images but only to get a stable build environment for continuous integration. I did not look at creating a container that ships QUDA (and have not looked at SciDAC things at all).

Do you know whether other USQCD resources (JLab, BNL) are joining the container effort?

[2017-10-16 15:46] james-simone commented on #640
Hi,

See attached. I have not updated the .def fine since July. This container is using the 375.26 driver and cuda-8.
On DockerHub there is now cuda-9.

Here at Fermilab we have already containerized all the machine learning / cuda workflows with great success.

On 10/16/2017 02:13 AM, Mathias Wagner wrote:

--
--jim

#
# QUDA container
#
# singularity create -s 9200 ubuntu16-quda.img

BootStrap:

[2017-10-20 07:33] mathiaswagner commented on #641
@alexstrel Did you have a chance to test this ?

[2017-10-23 20:06] alexstrel commented on #641
@mathiaswagner just created PR.

[2017-10-25 07:33] maddyscientist commented on #620
Just testing this now on Piz Daint....  It seems to be working fine now with cmake 3.8, the problem arose with 3.6.  Things just seem to work now 😄

Closing this.

[2017-10-25 07:33] #620 closed

[2017-10-30 19:44] jshap70 opened #655 "cmake cannot reliably find special CUDA installation and cannot override"
I'm an annoying use case for cuda, as I'm internal on the CUDA team. And for reasons out of my control, when I'm running non release versions of the compiler, the libs and deps are relatively laid out differently than they are on a release version of it. This is a complicated way of saying that the vast majority of the time when I build something that depends on stuff like cufft or thrust ect. I o

[2017-10-30 19:49] jshap70 commented on #655
I guess my issue is actually: "I can't use the cmake configuring method because as far as I can figure out I can't manually force the options I need"

[2017-10-31 00:27] maddyscientist commented on #655
Hi @jshap70.

On cmake, @mathiaswagner is the expert, but I'd suggest you use the latest version of cmake, as since 3.8 cmake has incorporated native CUDA support and doesn't rely on the FindCUDA script anymore.

On the double precision atomicAdd: this was forced on us by the CUDA toolkit needing us to exclude the host compiler from seeing this: this meant we couldn't used `__CUDA_ARCH__` since th

[2017-10-31 05:35] jshap70 commented on #655
Ah, ok. Yeah I was wondering about how cmake 3.8 would fit into it, but
unfortunately I think that kicks the can down to me investigating the
`enable_language(CUDA)` call. It didn't seem super well documented, but
we'll see what I can turn up. Again, the biggest issue isn't that it's in a
special location, but that the layout is different. Things that would
normally get dumped in separate folders

[2017-10-31 05:44] maddyscientist commented on #655
Ah, interesting that you got this to work by hacking around.  A quick look, and I see that once we drop Fermi support, then essentially the need for `__COMPUTE_CAPABILITY__` disappears (modulo the atomicAdd issue).  So I guess we will be able to support multiple arches in the not-too-distant future without much effort.  Our plan is to release QUDA 0.9 in the next few weeks; once we've branched for

[2017-10-31 06:09] mathiaswagner commented on #655
I am away from my laptop now but for cmake  >= 3.8 library detection is separate from nvcc detection.
Check the findcudalibs file in QUDA's cmake directory.
If you need you can add a different location to the search path.

I can have a closer look next week.

On Tue, Oct 31, 2017 at 6:37 AM +0100, "Joel Shapiro" <notifications@github.com<mailto:notifications@github.com>> wrote:

Ah, ok. Yeah I was

[2017-11-02 10:38] #641 closed

[2017-11-07 14:34] mathiaswagner commented on #645
This still seems to pop up when using -DCUDA_TOOLKIT_ROOT_DIR ...

[2017-11-08 00:05] weinbe2 opened #657 "verify() fails in some cases in feature/multigrid"
In some cases, the call to verify() as a part of the coarse construct in multigrid now fails. It fails at the check "0 = (1 - P P^\dagger) v_k"  in the cases I've been able to produce in the current feature/multigrid. I can also get it to fail at the comparison between the constructed and emulated coarse op with some combinations of operator, partitions, and blocksize in feature/multigrid-circlest

[2017-11-08 00:53] maddyscientist commented on #657
Ok, I have reproduced the problem with the supplied line.  The fact that it fails with and without partitioning shows us that the problem is not a parallelization problem.

However, I see that the level 2 null space refinement fails to converge on one of the vectors - not necessarily surprising since this is a small mass in free field theory.  Investigating to see if this is the cause of the failu

[2017-11-08 01:38] maddyscientist commented on #657
Closing this as not a bug.  The failure is occurring here because the quark mass is very low, and BiCGstab fails to produce a good set of null vectors on the intermediate grid.  This results in the block orthogonalization (which using Gram Schmidt) to fail to produce an orthogonal basis to the expected precision.  Any of the following makes the issue go away:
* Run at mass=0.0001 instead of mass=0

[2017-11-08 01:38] #657 closed

[2017-11-10 12:11] j-stephan opened #658 "Potential memory leaks in lib/interface_quda.cpp:loadGaugeCuda()"
* `cudaGaugeField *precise` is always allocated (line 652), but only deleted under certain circumstances (only instance of `delete` in line 676).
* `cudaGaugeField *sloppy` is sometimes allocated (line 696) but never deleted
* `cudaGaugeField *precondition` is sometimes allocated (line 712) but never deleted
* `cudaGaugeField *extended` is sometimes allocated (line 726) but never deleted

As this

[2017-11-10 13:33] j-stephan commented on #658
Ah, I should've read more thoroughly. Everything is fine.

[2017-11-10 13:33] #658 closed

[2017-11-11 00:48] maddyscientist commented on #658
At some point, the resident gauge fields in QUDA, that are defined in interface_quda.cpp will be cleaned up - the code as it currents stands is not exactly cleanly put together.  This aspect of QUDA is legacy code that hasn't really been touched in years.  Indeed, we intend to introduce more use of `unique_ptr` in QUDA as part of this.

[2017-11-20 11:47] j-stephan commented on #254
Note that there are style guidelines from the ISO C++ committee:

https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#S-naming

However, they recommend snake_case everywhere, similar to the STL. As far as I can see this would require extensive renaming in QUDA.

[2017-11-20 22:39] maddyscientist commented on #66
One concept that has been introduced in QUDA, is to allocate a CUDA field with a different memory type
[code]

This could be extended to include a `QUDA_MEMORY_HOST` for a regular CPU fields.  For SHMEM, I don't we need to worry: there we would be using a custom allocator for the halo region, not for the entire field.  For CUDA IPC, we already introduced `device_pinned_malloc` for this purpose.

[2017-11-21 09:54] mathiaswagner commented on #637
alternative here might be gflags: https://github.com/gflags/gflags

[2017-11-21 10:14] j-stephan commented on #637
https://github.com/philsquared/Clara/

https://github.com/muellan/clipp

I've read about both a few days ago, never used them. Both require C++11.

Then there's the nuclear option:

http://www.boost.org/doc/libs/1_65_1/doc/html/program_options.html

Used that in the past, worked pretty will but has a messy syntax. Should be compatible with C++03 though.

[2017-11-21 10:19] j-stephan commented on #66
You're right. The halo exchange can be done with a special policy (dslash_policy.cu). I'm currently working on this, so far this does not (and should not) require any changes to the fields or the kernels.

[2017-11-21 11:09] mathiaswagner commented on #591
Picking up here again. It looks like some simplification will come once quda 0.9 is out. We will drop Fermi and this will remove a lot of `#ifdefs`

[2017-11-21 11:36] mathiaswagner commented on #316
Guess we consider this done for CG now.

[2017-11-21 11:36] #316 closed

[2017-11-21 11:44] mathiaswagner commented on #129
@maddyscientist Is this considered done with #639?

[2017-11-21 11:44] mathiaswagner commented on #129
Is this considered done with #639?

[2017-11-22 21:01] mathiaswagner commented on #645
It's probably best to not use `DCUDA_TOOLKIT_ROOT_DIR=` anymore.

[2017-11-22 21:01] #645 closed

[2017-11-23 11:06] j-stephan opened #660 "const_cast and undefined behavior"
While working on cuda_color_spinor_field.cu I noticed a call to `const_cast(this)` inside a `const` class method. A quick grep revealed that this is not the only instance where this happens, there are multiple calls in color_spinor_field_order.h, gauge_field_order.h and clover_field_order.h as well.

The problem is that everything is working and well defined if the instantiated object is not `cons

[2017-11-27 12:47] mathiaswagner commented on #655
I just created #662.
This will detect libraries based on nvcc location mostly but it should now also work to set the locations of the libraries manually afterwards or use e.g. `cmake -DCUDA_cublas_LIBRARY=<path-to-libcublas>`

Right now this will need to be done for all libraries requires out of
[code]

There is no common location you can specify (but we can add that if it helps you).

[2017-12-01 19:26] mathiaswagner opened #663 "Check nvidia-ml detection with native cuda support"
This is a reminder to check proper detection of libnvidia-ml.
We can probably rely on FindCUDALibs.cmake for native cmake.

[2017-12-05 08:28] mathiaswagner commented on #663
seems to work but still might be up for some cleanup. Not a priority for 0.9.0

[2017-12-05 16:56] jshap70 commented on #655
Does #662 target cmake >= 3.8? or is it compatible with previous versions

[2017-12-05 17:10] mathiaswagner commented on #655
It does target 3.8. As it is usually easy to get a recent cmake I have not looked too much in older versions.
Also in cmake < 3.8 library and nvcc detection is all in cmake's FindCUDA so this would have to be hacked around.

On Tue, Dec 5, 2017 at 5:56 PM +0100, "Joel Shapiro" <notifications@github.com<mailto:notifications@github.com>> wrote:

Does #662<https://github.com/lattice/quda/pull/662> ta

[2017-12-15 19:45] #643 closed

[2017-12-15 19:46] mathiaswagner commented on #516
remove it fully at some point for 1.0

[2017-12-20 20:11] maddyscientist commented on #129
Not done yet since we are still missing CPU test for this.

[2017-12-27 06:44] stevengottlieb opened #668 "linking problem on SummitDev"
I am back at work on SummitDev and am having trouble linking the tests when building QUDA.  I start the configuration and run of cmake with these commands:

-bash-4.2$ more doit_gcc.sh
#!/bin/sh
# path contained these elements:
# /sw/summitdev/xalt/0.7.5/bin:/sw/summitdev/spectrum_mpi/10.1.0.2-20161221c/gcc
-4.8.5/bin:/sw/summitdev/cuda/8.0.54/bin:/sw/sources/hpss/bin:/opt/lsf/10.1/linu
x3.10-glib

[2017-12-27 07:03] bjoo commented on #668
Hi Steve,
 I typically don’t build the MILC interface but your error looks like some C++11 related issue.
perhaps you could add the following to the CMAKE command line

        -DCMAKE_LINKER=mpicxx \
        -DCMAKE_EXE_LINKER_FLAGS=“-std=c++11”
?

My full QUDA build is:

#!/bin/bash
#
#################
# BUILD QUDA
#################
source ./env.sh

pushd  ${BUILDDIR}
if [ -d build_quda ];
then

[2017-12-27 17:45] stevengottlieb commented on #668
Thanks for that suggestion, Balint.  Unfortunately, it did not work for
me and the failure comes earlier.  Let me provide some details of what I
did.

Changed the doit_gcc.sh file to modify cmake command:

-DQUDA_MPI=ON -DCMAKE_LINKER=${PK_CXX} -DCMAKE_EXE_LINKER_FLAGS="-std=c
++11"
where previously executed:
export PK_CXX=mpicxx

Here is the result of the module commands:
The following have been

[2017-12-27 17:57] bjoo commented on #668
Hi Steve,
 Looking at your output,  It looks like it is still tring to use cuda-9.0.69 which is not
good. I fell afoul of this myself at one point.  Hence my reason for backing off of
gcc-6.3.0 and cuda-9.0.69 and going back to gcc-5.4.0 and cuda-8.0.61-1.

Let me see if I can built QUDA in my current package (which has evolved some
since I may or may not have given you it…)
I see below you are tr

[2017-12-27 18:08] stevengottlieb commented on #668
I am making some progress.  It may actually work this time.  I think the
problem is that I was setting modules in a shell command to run cmake.
But, then I was back in bash to run make and I did not have the right
modules loaded for the make command.  I think that explains why
cuda-9.0.69 was showing up with its error.  I put the make command in
the script that runs cmake and it has gotten past th

[2017-12-27 18:10] bjoo commented on #668
Ah yes. That has also happened to me. I always now source the my env.sh outside
the build script if I want to follow up by manual building. (And to be sure, source it
also for running the job in case it has some LD_LIBRARY_PATH setting in there too,
like LLVM in my case).

Best,
 B

--------------------------------------------------------------------------------------
Dr Balint Joo              Hi

[2017-12-28 04:36] stevengottlieb commented on #668
I really did not make any progress today.  I am back where I was before:

[ 75%] Building CXX object
tests/CMakeFiles/gauge_force_test.dir/gauge_force_reference.cpp.o
[ 75%] Linking CUDA device code
CMakeFiles/gauge_force_test.dir/cmake_device_link.o
[ 75%] Linking CUDA executable gauge_force_test
../lib/libquda.a(coarse_op.cu.o): In function `void
std::__cxx11::basic_string<char, std::char_traits

[2018-01-03 15:38] kimjangho1120 opened #669 "node freezing when I use 4 gpus in one box"
Dear all,

In our cluster, there are 4 k80 cards.
When I run the tests/invert_test with 2 gpus, it works well.
However, if I increase the number of gpus larger than 4, node freezes.
My command is
mpirun -np 4 ./invert_test --gridsize 1 1 2 2
Does anyone suffer this problem?

Best Regards,
Jangho Kim

[2018-01-08 23:11] kimjangho1120 commented on #669
I solve the problem.
After I set "export QUDA_ENABLE_P2P=0" in .bashrc, it works.

[2018-01-09 14:04] maddyscientist commented on #669
Hi @kimjangho1120.  This is very unexpected behaviour, and I don't think I've seen this anywhere.  Sorry to hear you are having this issue.

* Can you confirm you are using the latest code from the `develop` branch?
* Can you share the output from nvidia-smi?
* What version of CUDA and GCC are you using?
* If you have an Intel CPU on your system, can you confirm that ACS is disabled (see https://d

[2018-01-09 14:28] kimjangho1120 commented on #669
I use develop branch of quda.

nvidia-smi output is
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 387.26                 Driver Version: 387.26                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage

[2018-01-09 14:33] maddyscientist commented on #669
Thanks @kimjangho1120.

Can you send the output `nvidia-smi topo -m`?

To check if ACS is enabled on your system, can you follow the instructions in https://devtalk.nvidia.com/default/topic/883054/multi-gpu-peer-to-peer-access-failing-on-tesla-k80-?  You will need root access to do this.

[2018-01-09 14:33] maddyscientist commented on #669
Also, if your motherboard is a SuperMicro, then this FAQ will help: https://www.supermicro.com/support/faqs/faq.cfm?faq=20732

[2018-01-09 14:46] kimjangho1120 commented on #669
nvidia-smi topo -m is
	GPU0	GPU1	GPU2	GPU3	GPU4	GPU5	GPU6	GPU7	mlx5_0	CPU Affinity
GPU0	 X 	PIX	PXB	PXB	SYS	SYS	SYS	SYS	SYS	0-13
GPU1	PIX	 X 	PXB	PXB	SYS	SYS	SYS	SYS	SYS	0-13
GPU2	PXB	PXB	 X 	PIX	SYS	SYS	SYS	SYS	SYS	0-13
GPU3	PXB	PXB	PIX	 X 	SYS	SYS	SYS	SYS	SYS	0-13
GPU4	SYS	SYS	SYS	SYS	 X 	PIX	PXB	PXB	PHB	14-27
GPU5	SYS	SYS	SYS	SYS	PIX	 X 	PXB	PXB	PHB	14-27
GPU6	SYS	SYS	SYS	SYS	PXB	PXB	 X 	PIX	PH

[2018-01-22 15:15] ybyang opened #675 "The multigrid inverter on a large lattice"
Hi all,

I am trying to use the QUDA clover multigrid (MG) inverter with the chroma interface (QUDA_MULTIGRID_WILSON_INVERTER, actions/ferm/invert/quda_solvers/syssolver_linop_clover_quda_multigrid_w.*),  and then have some questions about the memery usage and the input parameters.

With the paramters will be attached at the end of this email, I will need at least 4 k20 on Titan@OCLF to run the MG

[2018-01-22 19:59] kostrzewa commented on #675
@ybyang I don't know if this:

[code]

is the right Chroma XML parameter, but the [QUDA-MG Wiki](https://github.com/lattice/quda/wiki/Multigrid-Solver) suggests that using half precision null-vectors is the way to go for speed and (I guess) memory.

Other than that, using larger blocks reduces memory usage, but at some point the setup quality suffers.

@maddyscientist if you have any tips on what

[2018-01-23 22:52] ybyang commented on #675
Thanks for the suggestion! @kostrzewa

I tried to change the null vectors precision from single to half, and then I can use 24 GPUs instead of 32 GPUs to run the MG on the 48^3x64 lattice. But the 16 GPUs case still met the memory allocation problem.

For the success test with 24 GPUs, I used the largest layout 4488. In the 16 GPUs test, I tried the layout 4488 and 3334, none of them works.

For t

[2018-01-23 23:36] maddyscientist commented on #675
Hi @ybyang!

I am actually working at this very moment on optimization of memory allocations in QUDA multigrid, and in fact I just pushed an update that provides a further 10% reduction in memory when using half precision for the coarse grids.  To run with the latest feature/multigrid I would recommend the latest devel branch of Chroma.

Further reductions in memory can be obtained by setting the

[2018-01-24 01:20] bjoo commented on #675
Hi,
Right now the subspace from Chroma is not I/O-d to disk. However one should be able to reuse the subspace on multiple solves using the subspaceID tag. I would advocate using devel versions of everything (qdpxx, chroma) and the feature/multigrid version of QUDA. I can test whether the subspace reuse works properly in the Linop version of the solver.

Once QUDA tuning is complete computing the s

[2018-01-24 03:13] bjoo commented on #675
Hi @ybyang,
 I am having a look at your MG parameters. There are a few things that confuse me:
You set <Residual> to 1.0e-10 — this is very tight, bear in mind that this is the residuum reduction
you want to achieve in the preconditioner, so typically I set this to O(1.0e-1). If you want the final
accuracy to be good to 1.0e-10, you should set the RsdTarget for that (which in your case is set to 1

[2018-01-24 22:37] ybyang commented on #675
Hi @maddyscientist,

      Thanks for the help! I made the changes you mentioned and it can run with 16 GPUs now. The performance per GPU of the inverter itself is slightly better than that with 24 or 32 GPUs (~140 v.s. ~111), while the total time with 16 GPUs is more than two time longer than the 32 cases. I will check where the slow down is but it is great to have a good scaling from 16 to 32 an

[2018-01-25 03:54] ybyang commented on #675
Hi  @bjoo <https://github.com/bjoo>,

I and Jian didn’t figure out how to pass the subspace from QUDA to chroma, thus we tried to save subspace to the disk and then temporary skip that difficulty. It should be much better if we can let the QUDA generate the subspace, pass it to chroma using the subspaceID tag, and then reuse it in another propagator element.

Saving it to the disk is just a altern

[2018-01-25 13:34] bjoo commented on #675
Hi Yi-Bo,

This is in fact what happens. When one calls QUDA, all the subspace generation is done in QUDA. QUDA then passes a pointer back to
Chroma which we place in the NamedObject store. The full sequence should be:

Chroma: Check if a Named Object element with ID “SaveSubspaceID” exists.
 If it does:
        Retrieve the NamedObject, cast it to the appropriate pointer type and call QUDA’s upda

[2018-01-25 13:50] ybyang commented on #675
Hi Balint,

Thanks. Let me check this and also test your inputs,  then keep you updated.

It seems that the chroma interface I am using will set the parameters N_level-1 and let the N-th level parameters to be the default one? The code (syssolver_linop_clover_quda_multigrid_w.h) will set the blocking of N-th level as 4444. It is why I just mentioned on blocking. As you mentioned in your previous e

[2018-01-25 14:01] bjoo commented on #675
HI Yi-Bo.
 The Blocking is from Level i, to level i+1.
So if you have 3 levels you only need two blockings:

 Blocking 0: level 0 -> level 1
 Blockign 1: level 1 -> level 2

The 4x4x4x4 default quda blocking on the last level is irrelevant
as it would be for level 2->level 3 and there is not a level 3. I think this is
a vaguary of the interface.

If you want to generate 3 levels of blocking you ca

[2018-01-25 14:40] ybyang commented on #675
Hi all,

       Another question about the multigrid inverter on FNAL:

       When I run the multi-grid QUDA inverter with Chroma, it crashes in the tuning. I compared the output with the normal output on Titan, the FNAL case failed after the third

MG level 1 (GPU): Tuning N4quda16CloverDslashCudaI6short4S1_S1_EE with policy,comm=0001,reconstruct=12,Xpay,topo=1114 at vol=12x24x24x16

and before

[2018-01-25 15:15] bjoo commented on #675
Hi Yi-Bo,
 Which version of QUDA are you using. Can you run ‘git status’ and ‘git log’ in the quda source
directory ? Is it different from Titan?

Best,
B

--------------------------------------------------------------------------------------
Dr Balint Joo              High Performance Computational Scientist
Jefferson Lab
12000 Jefferson Ave, Suite 3, MS 12B2, Room F217,
Newport News, VA 23606, U

[2018-01-25 15:26] ybyang commented on #675
HI Balint,

        Both of them are in the feature/multi-grid branch and the last commit is f3392a77813551d21030cdb6b8d289751b0d7f93 at Jan 10. So I think the version of QUDA should be the same. But the CmakeList.txt at FNAL is somehow different from the version on the git, due to some changes on the openmp setup. I am not sure where the changes come from; will discard the change and compile the

[2018-01-25 15:39] bjoo commented on #675
Hi Yibo,
 Can you please try this version:

8ec0f1b7ddfac06af5a3de5683613656a6bbc2a6

This is on the feature multigrid branch from Jan-14. I remember the error you
are seeing, and Jan 10 is a date at which time we were doing some heavy hacking.

Best,
 B

--------------------------------------------------------------------------------------
Dr Balint Joo              High Performance Computational

[2018-01-26 19:53] ybyang commented on #675
Hi Balint,

     Thanks for the help. I made some attempts but the program crashes after the message “MG level 1 (GPU): Updating operator on level 1 of 2 levels” with Segmentation fault.

     What I tried is following: I copied the SubspaceID section (line 489 to 534 of syssolver_mdagm_clover_quda_multigrid_w.h) to syssolver_linop_clover_quda_multigrid_w.h. Then the codes can be compiled and the

[2018-01-29 20:02] ybyang commented on #675
Hi  @bjoo <https://github.com/bjoo>,

     I figured out the problem I asked in the attached email. I forgot to change the destructor of the MG inverter and it destroyed the preconditioner, thus it is obviously failed when the updatemultigridQUDA in the 2nd propagator XML element try to access the element of that preconditioner.

     But there is still an minor problem. It seems that if the MG in

[2018-01-29 23:09] bjoo commented on #675
Hi Yi-Bo,
Are you doing this from Chroma? That should already be set up. If it isn't its a bug for me to fix.

In chroma there is a special inline measurement called ERASE_MG_SUBSPACE
It takes the subspace ID  and calles the appropriate destruction functions.

In the HMC I call this between trajectories.

Best,
B

⁣Dr Balint Joo, Scientific Computing Group, Jefferson Lab,  Tel: +1 757 269 5339 (Of

[2018-01-30 04:12] ybyang commented on #675
Hi  @bjoo <https://github.com/bjoo>

     All the “internal memory allocations were not freed" warning are cleared after I added the inline measurement ERASE_QUDA_MULTIGRID_SUBSPACE after all the MG inverters! Thanks for the help.

Yi-Bo

[2018-01-30 05:26] bjoo commented on #675
Hi Yi-Bo,
 Super. I am glad it is working. However, if the devel version of chroma needs a patch
in the syssolver_linop_quda_clover_multigrid_w.h to work ‘out of the box’ please let me know and I will fix this,
so you and others won’t need to edit source code in the future to get things working.

Many thanks and best wishes,
 Balint

----------------------------------------------------------------

[2018-01-30 21:29] ybyang commented on #675
Hi  @bjoo <https://github.com/bjoo>,

     The present syssolver_linop_quda_clover_multigrid_w.h don’t have the necessary codes to reuse the subspace; but if I add them by myself, then I don’t have to change any other source codes, and just need add a XML element ERASE_QUDA_MULTIGRID_SUBSPACE in the input to free the GPU memory. It will be great if you can add the reuse-mg-subspace feature to the

[2018-01-30 21:39] bjoo commented on #675
Hi Yi-Bo,

and is this in the “devel” branch of Chroma, or master ?

Yes, in  a regular build it is likely that on a few nodes, the gaussian smearing will be slow compared to the inversion.
One way around is to build the QDP-JIT version of the code. That is a little involved but I can give you a package
that will do it. The downside is that the smeared full prop needs memory for storage and K20X G

[2018-01-30 21:57] ybyang commented on #675
Hi Balint,

     I think it is in the “devel” branch. The syssolver_mdagm_quda_clover_multigrid_w.h has the necessary codes to reuse the subspace, but linop one is not.

Yeah.. A possible way. Will think about it.

Yi-Bo

[2018-01-30 22:42] bjoo commented on #675
Ok. Thanks Yi-Bo. If you could please send me your existing modified version of the file with the patch that would save me repeating the work.

Best wishes and thanks,
Balint

⁣Dr Balint Joo, Scientific Computing Group, Jefferson Lab,  Tel: +1 757 269 5339 (Office)
Sent from my mobile phone​

On Jan 30, 2018, 4:57 PM, at 4:57 PM, ybyang <notifications@github.com> wrote:

[2018-01-30 23:09] ybyang commented on #675
Hi Balint,

     The modified head file and the patch are attached.

Yi-Bo

[2018-01-30 23:11] maddyscientist commented on #675
@ybyang you are sending the message through github which doesn't forward attachments.  You need to use real email addresses 😉

[2018-01-30 23:15] ybyang commented on #675
I see.. Sent the email to Balint directly..

[2018-01-31 00:08] bjoo commented on #675
Thanks Yi-Bo! I got the files. I will add them to devel shortly.

Best,
B

⁣Dr Balint Joo, Scientific Computing Group, Jefferson Lab,  Tel: +1 757 269 5339 (Office)
Sent from my mobile phone​

On Jan 30, 2018, 6:15 PM, at 6:15 PM, ybyang <notifications@github.com> wrote:

[2018-01-31 00:56] bjoo commented on #675
HI YI-Bo,
 I have just been looking through the patch. I see you have followed the MdagM
route and got rid of the multigrid setup fomr the linop .h file and instead like the MdagM
case you are using the QUDAMGUtils:: functions. This is excellent! Switching to this
was on my to-do list for a while. Many thanks for doing this. I will merge it in now.

Best,
 Balint

---------------------------------

[2018-02-04 21:55] ybyang commented on #675
Hi @balint and @maddyscientist,

      I tested the timing with MG@QUDA inversions with the CPU smearing and contraction (with hadspec or so), it turns out that the smearing and also the contraction can be much slower than the inversion itself. Since we don’t plan to save the clover propagator and do the sink smearing and contraction separately (which will require large disk space when we plan to

[2018-02-06 16:50] lqcd opened #677 "uint64_t need explicit conversion to unsigned long"
To make C++ happy, in lib/comm_qmp.cpp, function comm_allreduce_xor(), one needs to explicitly convert data to (unsinged long *)data before calling QMP_xor_unlong().

[2018-02-14 09:04] #677 closed

[2018-02-21 15:24] ybyang commented on #675
Hi @balint,

        Maybe I should open another issue for the gaussian smearing?

        I found that I just need use the performWuppertalnStep in the interface_quda.cpp in chroma to do the gaussian smearing I need. So the things I need to do are just passing the correct parameters to QUDA. With the present parameters, I met the following error after the first PreTune:

Wuppertal smearing done w

[2018-02-21 15:33] bjoo commented on #675
Hi Yi-Bo,
 Apologies for taking a little while to get back to you. I am currently testing the QDP-JIT approach to this.
I am afrait I never tried the Wuppertal smearing interface directly from QUDA. So if you wnat to use that
through the current implementation this would need a code extension. We would also need some more
guidance from Kate and Mathias on how to use it.  Perhaps adding an issue is

[2018-02-21 22:07] #675 closed

[2018-02-21 22:12] ybyang opened #681 "Gaussian smearing in QUDA with the chroma interface"
Hi all,

I found that I just need use the performWuppertalnStep in the interface_quda.cpp from chroma to do the gaussian smearing I need. So the things I need to do are just passing the correct parameters to QUDA. With the present parameters, I met the following error after the first PreTune:

[code]

I tried 8^4 and 24^3x64 lattice so it should not be a problem about running out the memory.

Any

[2018-02-22 08:04] mathiaswagner commented on #668
Is this still an issue?

[2018-02-22 08:10] stevengottlieb commented on #668
No, I am able to compile with an updated version of spectrum-mpi.
Thanks for asking.

On Thu, 2018-02-22 at 08:04 +0000, Mathias Wagner wrote:

[2018-02-22 08:12] mathiaswagner commented on #668
Glad to hear. So I am closing this.

[2018-02-22 08:12] #668 closed

[2018-02-22 08:29] mathiaswagner commented on #584
This might be useful as it saves the trouble of demangling things. We could also replace the tune key with a hash (not sure but this might improve the time needed for lookup).

https://github.com/Manu343726/ctti

[2018-02-23 00:47] maddyscientist commented on #681
Hi @ybyang

We should be able to make this work.  Looking at the interface code I suspect the issue is centered around the use of checker boarding.  Do you need apply the Wuppertal smearing to a full fermion field, or to a single parity field.

The rb`

[2018-02-23 01:01] ybyang commented on #681
Hi @maddyscientist

     I need to apply the Wuppertal smearing to a full fermion field. I tried to malloc the memory with the size V*12*8 (both spinorIn and spinorOut) in Chroma and then call the performWuppertalnStep, but it doesn’t work either. So it should be the problem of the inv_param or gauge_param I set?

Regards,

Yi-Bo

[2018-02-23 14:36] ybyang commented on #681
Hi @maddyscientist,

     I tried the following setup for the inv_param, but the problem is still the same. I think it should be an acceptable choice for me if we have to do the smearing for 4 Dirac indices individually..

           quda_inv_param.dslash_type = QUDA_LAPLACE_DSLASH;
           quda_inv_param.gamma_basis = QUDA_DEGRAND_ROSSI_GAMMA_BASIS;
           quda_inv_param.Ls = 1;

[2018-03-15 08:45] mathiaswagner opened #684 "Git version check breaks when built as a submodule"

[2018-03-23 00:41] maddyscientist commented on #681
Hi Yi-Bo,

Sorry for the slow response time on this.

I think I may need to support to the Chroma-QUDA interface to allow for exchange of full quark fields as opposed to single parity fields.  Perhaps the best way to proceed is for you to send me your code and I can work on this directly.  Can you send me your modified chroma code that calls the QUDA Wuppertal smearing, together with instructions

[2018-03-23 13:44] lmazur1990 opened #685 "Fermi Dslash error"
Hi,
I'm getting that error, when I call the Wilson Dslash:
[code]

This happens only on Fermi cards. On pascal cards it works without issues.. How can I fix this?

with regards,
Lukas

[2018-03-24 11:10] ybyang commented on #681
Hi,

       I found that the attached reply didn’t appear in the issue 681 on the github website. I guess I should reply the address @reply.github, not the others?

       Besides, if I want to try the QUDA Wuppertal smearing with quda, should I switch to some special branch? It seems that no one called the function wuppertalStep or performWuppertalnStep from the tests, even though the staggered_i

[2018-03-26 09:32] lmazur1990 commented on #685
Ok, I tested this hotfix, but that error still appears. Not only with multi-GPU but also in scalar mode?

[2018-03-26 10:16] lmazur1990 commented on #685
Sorry, I have to correct myself.. The error appears when I call the operator of a MultiShiftCG object. So in invert_quda.h in line 754 (in hotfix branch):

[code]

I compile quda with these parameters:
[code]

[2018-03-26 19:12] lmazur1990 commented on #685
Thank you very much! Now it works!

[2018-04-10 19:59] #685 closed

[2018-04-23 23:29] maddyscientist opened #687 "Native cmake build does not propagate CXX flags to NVCC"
This is only a problem with recent cmake versions: this continues to work fine with older versions of cmake.  The main result of this is that warnings are suppressed compared to compiling with older versions of cmake, leading to unexpected failures in Jenkins.

[2018-04-24 20:17] mathiaswagner commented on #687
looking into this I think it is now up to us to propagate flags if we want to. So we need to give this some thought whether we want to use a big hammer here.
which flags would you want to propagate? Any example?

[2018-05-02 09:50] mathiaswagner commented on #687
@maddyscientist ping

[2018-05-02 15:58] maddyscientist commented on #687
The flags that are most needed are the warnings.  Since the warning flags are not passed to NVCC, the *.cu files are compiled without issuing warnings that would be indicated when compiling *.cpp files.

[2018-05-02 17:43] mathiaswagner commented on #687
So passing the CXX flags to -Xcompiler by default should be fine.
We can set this as the default. Do we want to expose this in the cache so that the user can change it or do we just always pass them (that is what FindCUDA does for cmake < 3.8 unless you disable the propagation completely).

[2018-05-02 17:54] maddyscientist commented on #687
Happy to always pass them, but if it's quick enough for you to expose this as an option which can be disabled that sounds fine.

[2018-05-02 18:02] mathiaswagner commented on #687
The other option would be to pre-populate the Cuda flags with -Xcompiler $CXX_FLAGS but then in ccmake the Cuda and cxx flags would be independent. I.e. any change to CxX_FLAGS would not propagate to the XCompiler option.

That gives the user the most control but not sure that is ever needed as this is also the case if we propagate the flags (and can turn it off).

[2018-05-02 18:45] mathiaswagner commented on #687
Should be addressed in #689

[2018-05-05 00:07] #687 closed

[2018-05-07 14:08] kostrzewa opened #692 ""Attempting to bind too large a texture""
It seems that I'm having some issues running on PizDaint on few nodes when device memory utilisation is high and local lattice edge lengths are large due to errors of the following kind:

[code]

This is a simple double-half mixed CG run on a 48c96 lattice (twisted clover with dynamic clover inversion).

The corresponding run on 9 nodes reports device memory usage below 5 GB, which would mean that

[2018-05-07 20:15] maddyscientist commented on #692
The issue here is the maximum texture size is 2^27 texels (where one texel equals at most 128 bits).  QUDA binds all arrays to textures, and these are used for accessing in the dslash kernels rather than directly loading from arrays.  This was never really a problem prior to 16 GiB cards, since the 2^27 texel size was never really broached for a real calculation, but it can be an issue with 16 GiB

[2018-05-08 09:30] kostrzewa commented on #692
Thanks for the explanation Kate! With an eye towards backwards-compatibility and performance on older hardware (pre-Volta), would it not perhaps be possible to use multiple textures as cache for a single field?

[2018-05-08 09:42] kostrzewa opened #693 "cudaEventSynchronize in future::wait: an illegal memory access was encountered"
Trying to run a three-level MG (64c128 lattice, twisted clover with dynamic clover inversion, GCR double-single, everything else half precision as recommended, GCRNKrylov=20, no multiblas (pipeline=0) )

On "any" number of cards below 128 (I tried 16, 32, and 64), I encounter the following error:

[code]

Irrespective of whether gauge compression is enabled or not. Is 1 TB of device memory simply

[2018-05-12 05:35] maddyscientist commented on #693
@kostrzewa this should not be happening, and indeed things should fit on 64 GPUs.  Out of contact for the next week, but I will try on Piz Daint and an internal cluster when I return.

[2018-05-12 05:41] maddyscientist commented on #692
Multiple textures on a single field probably can't be done cleanly (that I can think of anyway).  In theory, barring the for-free conversion from short to float that textures bring when using half precision, there should be very little reason to prefer textures over direct loads on all GPUs after big Kepler (sm_35).  So I don't think there's anything to worry about from having a no-texture option,

[2018-05-15 14:40] mathiaswagner commented on #684
Closing with #689

[2018-05-15 14:40] #684 closed

[2018-05-18 20:25] hummingtree opened #694 "copyExtendedColorSpinor functions does not support Mobius fermion field"
It seems the "copyExtendedColorSpinor" functions in lib/extended_color_spinor_utilities.cu does not recognize the extra 5th dimension for domain-wall/mobius fermions. I don't know if this is something that will be supported in the near future?

Thanks,

[2018-05-24 21:49] weinbe2 opened #696 "Reconstruct-9 and -13 support for naive staggered"
The LSD collaboration takes advantage of an nHYP smeared naive fermion action in some of its BSM simulations. nHYP smeared gauge links (hep-lat/0702028) are U(3), as opposed to SU(3), matrices. For this reason, to take advantage of gauge link compression, we need support in the naive staggered operator for reconstruct-9 and -13 as opposed to reconstruct-8 and -12.

[2018-05-24 23:52] maddyscientist commented on #694
Hi @hummingtree.  The `copyExtendedColorSpinor` function is essentially deprecated, as it doesn't have the full functionality desired.  The plan is to extend the framework used for extending gauge fields, to also work with color-spinor fields as well.

[2018-05-25 17:18] hummingtree commented on #694
Thanks @maddyscientist. It would be great if quda could support the extension of 5-dim fermion field. We(RBC/UKQCD) are trying to implement a new preconditioner for CG which needs this badly. I don't know if you have any idea about when this functionality will be implemented?

[2018-06-08 23:47] maddyscientist opened #699 "doxgyen link is broken"

[2018-06-11 20:09] detar opened #701 "QUDA develop build of lib/deflation.cpp throws compilation error from Eigen header"
In file included from /ccs/home/detar/quda/build-cmake-develop/externals/eigen/src/Eigen/Eigen/Core:376:
/ccs/home/detar/quda/build-cmake-develop/externals/eigen/src/Eigen/Eigen/src/Core/arch/AltiVec/PacketMath.h:1025:13: error:
      cannot initialize a variable of type 'Packet2bl' (aka 'Packet2ul') with an
      rvalue of type '__vector __bool unsigned long long' (vector of 2
      'unsigned lon

[2018-06-11 20:10] maddyscientist commented on #701
Hi @detar.  Which system is this coming from?

This looks like you are compiling with XLC, which Eigen doesn't support.  If this is the case, then switching to GCC instead of XLC will fix the issue.

[2018-06-11 20:14] detar commented on #701
Hi Kate,

Summit.  Indeed, it is xlC.  I'll try gcc/g++.

Thanks,

Carleton

On 6/11/18 2:10 PM, maddyscientist wrote:

[2018-06-11 21:18] alexstrel commented on #701
Hi Carleton,
I had no issues with eigen-3.2.10 (and xlc++ 16.0.3) while the latest eigen, ver 3.3.4, gave me the same error , hope this will work for you.

[2018-06-12 06:18] mathiaswagner commented on #701
Do we need to add a warning to QUDA when xlc is detected? I guess a few people ran into this issue and I think cmake has everything that is needed to detect xlc.

[2018-06-12 14:52] alexstrel commented on #701
@mathiaswagner   a warning message would be helpful, since eigen is our default library.

[2018-06-12 15:01] mathiaswagner commented on #701
@alexstrel I don't have access to Summit. Do you mind putting

[code]

in the top level CMakeLists.txt (somewhere after the `project("QUDA" ...` line and verify that the output is `XL` ?

[2018-06-12 15:22] alexstrel commented on #701
@mathiaswagner  sure. BTW, I'm running on IBM Poughkeepsie Client Center that provides with a similar environment.

[2018-06-12 16:29] alexstrel commented on #701
@mathiaswagner here is the example (note that recent xlc adopted clang frontend):
Currently Loaded Modules:
  1) cuda/9.2   2) xlc/16.1.0   3) smpi/10.1.1.0

cmake output :

-- Found Git: /usr/bin/git (found version "1.8.3.1")
-- The C compiler identification is Clang 4.0.1
-- The CXX compiler identification is Clang 4.0.1
-- Check for working C compiler: /gpfs/gpfs_gl4_16mb/RHEL/XL/xlC/16.1.0/bin

[2018-06-12 16:52] mathiaswagner commented on #701
Hmm, `Clang` as compiler ID is not useful. Clang should work fine (although we have not tested QUDA with clang in a while. Should add this to Jenkins.
Do you know if Eigen compilation fails also with the clang frontend?

Is this the same version as on Summit?

[2018-06-12 19:21] alexstrel commented on #701
Unfortunately, clang is not exposed for users on IBM system. I need to compile my own version.  Also,  I have used clang-6.0.0 (and the latest Eigen) for QUDA compilation on my ubuntu desktop, without issues.

[2018-06-12 19:27] detar commented on #701
We are being booted off of Summit and our projects are being
discontinued, pending acceptance testing, so I have stopped building
code there for now.

On 6/12/18 9:01 AM, Mathias Wagner wrote:

[2018-06-14 07:01] mathiaswagner commented on #701
@trudeaun Ah, thanks for reminding me. I remember reading something in the release notes. Anyway, not sure this is a good solution unless everyone uses cmake 3.11 or later on Power systems.
But instead of adding a warning in our build system we would  much more like to see a fix of the underlying issues in xlc so that eigen just works with it.

[2018-06-14 07:10] maddyscientist commented on #701
I have filed a bug at Eigen: http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1555, let's see what they say.

[2018-06-14 15:29] alexstrel commented on #701
@maddyscientist thanks for the suggestion. After inspection of PacketMath.h from eigen-3.3.4,  the suggested  code snippet is already there. Macro ```EIGEN_COMP_CLANG``` is defined for XLC compiler , along with ```EIGEN_COMP_IBM``` macro . (So I extended  with an additional check for ```EIGEN_COMP_IBM```,  for consistency ).  The problem was with line 1025, namely I added a reinterpret cast to typ

[2018-06-14 17:36] trudeaun commented on #701
@mathiaswagner Hi Mathias, if you think there is an XLC compiler bug, can you please provide me with some reduced steps to reproduce? I see in the last comment that a code change might have fixed the issue.

[code]
Did the following change in the code resolve the error above?
`Packet2bl mask = vec_cmpeq(reinterpret_cast(select), reinterpret_cast(p2l_ONE));`
->
`Packet2bl mask = reinterpret_cast<Pa

[2018-06-14 18:01] alexstrel commented on #701
@trudeaun yes, this will fix the error. (It did in my case)
I think one may reproduce the error directly in the Eigen library, just try ```make blas``` or ```make check```

[2018-06-20 12:39] c-e-bowler commented on #701
I have been able to synthesize a short test, which I expect is representative of the Eigen diagnostic:

#include<altivec.h>

void foo(__vector double v) {
  __vector bool long long r = vec_cmpeq(v, v);
}

Clang and g++ accept this because they allow lax vector conversions while the XL compiler does not.  Clang emits a diagnostic as well if -fno-lax-vector-conversions is specified.  The return type

[2018-06-20 17:37] mathiaswagner commented on #701
@c-e-bowler Sure, but I guess that is not a QUDA issue and you should add that to the bug that @maddyscientist filed (see above) http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1555

[2018-06-20 21:42] trudeaun commented on #701
@c-e-bowler I was able to get an account to post at http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1555, and have posted your comments. Thanks!

[2018-06-21 16:15] trudeaun commented on #701
The [fix has been applied](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1555#c4) to eigen v3.3:

[2018-06-22 13:08] mathiaswagner commented on #701
@alexstrel Do you mind trying that on the Power system you have access to?

I am inclined to stay on a released version of Eigen but we could switch to the fixed version for Power.

[2018-06-22 15:39] alexstrel commented on #701
@mathiaswagner  Unfortunately, it's not ready for the usage:  I found a missing close parenthesis in the updated version,
`
/gpfs/gpfs_gl4_16mb/b7p319/b7p319ab/install/eigen-devel/include/eigen3/Eigen/src/Core/arch/AltiVec/PacketMath.h:1057:131: error: expected ')'
  Packet2bl mask = reinterpret_cast<Packet2bl>( vec_cmpeq(reinterpret_cast<Packet2d>(select), reinterpret_cast<Packet2d>(p2l_ONE));
`

[2018-06-25 20:46] maddyscientist commented on #701
@alexstrel can you try with this?
https://bitbucket.org/eigen/eigen/pull-requests/410/fix-typo-in-pblend-for-altivec/diff

[2018-06-25 21:36] alexstrel commented on #701
@maddyscientist the second issue is still there, I need to report:
`
/gpfs/gpfs_gl4_16mb/b7p319/b7p319ab/install/eigen-devel-2/include/eigen3/Eigen/src/Core/arch/AltiVec/PacketMath.h:945:71: error: 1540-0557 The
      asm operand does not match the specified constraint.
  __asm__ ("xvcmpgtdp %x0,%x2,%x1\n\txxsel %x0,%x1,%x2,%x0" : "=&wa" (ret) : "wa" (a), "wa" (b));
`

[2018-06-25 21:42] maddyscientist commented on #701
@alexstrel Thanks for checking @alexstrel.  It seems that the patch works fine on latest release of Eigen, but the issue you are seeing is only on latest HEAD version from BitBucket.  I've added your latest bug report on http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1555....

[2018-06-27 17:59] trudeaun commented on #701
@alexstrel Do you know where the `__asm__` inline assembly call is coming from in the error message? Line 945 is the macro `EIGEN_DEBUG_ALIGNED_STORE`, defined to be empty. Are you able to compile with `-P` to create preprocessed .i files? Do you know which altivec.h is being picked up? Is it the XL one, or something different?

[2018-07-02 17:35] weinbe2 opened #707 "Incorrect logic for determining bi-directional coarsening in multigrid"
In feature/multigrid, the current logic for determining if you need to do bi-directional coarsening is if the previous level is preconditioned. This is true in every practical use case for Wilson-Clover, but it isn't strictly true: you need to do bi-directional coarsening if _any_ previous operator was preconditioned, because once that's the case you've broken the Hermitian conjugate symmetry betw

[2018-07-06 14:34] kostrzewa opened #709 "QUDA MG setup re-use for opposite twisted mass flavour?"
Is there currently an easy way to re-use the MG setup generated with +mu for an inversion with -mu? Simply setting the outer solver parameters accordingly and re-using the setup naively does not seem to work...

This fails for both plain twisted and twisted clover.

What does work is to re-use the setup generated for a particular mu with a larger mu, as one would expect.

[2018-07-06 14:35] kostrzewa commented on #709
@sbacchio ever tried this?

[2018-07-06 15:11] maddyscientist commented on #709
@kostrzewa I think what will work is to run the setup as normal, then when it comes to flipping mu, use the `updateMultigridQuda()` interface that we use in HMC.  This is what we use to change the masses for the different mass contributions for the determinant.  The same should just work for changing mu (famous last words).

@cpviolator I recall you looked at this, but I may have imagined it.

[2018-07-06 15:21] kostrzewa commented on #709
@maddyscientist thanks, will this cost something?

[2018-07-06 15:29] maddyscientist commented on #709
Yes, it will result in the re-computation of the coarse link field elements, but this is relatively cheap since this is well optimized.  Put it this way: in HMC, the cost of calling this and running the subsequent MG is still cheaper than using standard Krylov solver on very heavy quark mass.

[2018-07-06 15:33] cpviolator commented on #709
One possibility (if you’re set on using a single MG object) is to just use
a plain Wilson(clover) construction. You will likely see a performance hit
for physical pion masses though.

On Fri, Jul 6, 2018 at 11:29 maddyscientist <notifications@github.com>
wrote:

[2018-07-06 15:37] maddyscientist commented on #709
One other thing: since we typically use even-odd preconditioning throughout, this means that re-computing the coarse-link field is the correct thing to do.  E.g., the inverse of the clover matrix which absorbs the mass and twist (or the equivalent on coarser grids) means that we cannot directly relate the coarse-link field from different masses or twists.  However, reusing the null-space fields do

[2018-07-07 08:10] kostrzewa commented on #709
@maddyscientist @cpviolator Thanks a lot for the info. It works fine and it's not too expensive, although for the case in question it's more of a matter of correctness of program flow, one would not organise the calculation like that in practice.

As for the setup working with masses of different magnitudes: this even worked without running the setup update and gave the correct residual.

[2018-07-07 08:10] #709 closed

[2018-07-16 06:16] maddyscientist opened #712 "QIO and QUDA disagree on process topology"
When QUDA uses "column" as the default Cartesian rank ordering (`--rank-order col`), QIO assumes the rank order is "row" ordered `--rank-order row`.  This means that I/O gives junk if we partition more than 1 dimension, unless we explicitly pass `--rank-order row` to QUDA.  We need to set QIO's rank order to match QUDA's.

[2018-07-23 18:52] maddyscientist commented on #712
Moving to 0.9.1.  For now, in commit e522c8e6394fc51cbc67476df8114360bec662e5, I've added a check if column rank ordering is use, together with QIO, and QUDA will error with a sensible error message telling the user to rerun with `--rank-order row`.  This unblocks the 0.9.0 release.

[2018-07-23 20:50] mathiaswagner commented on #712
Is there a PR ?

[2018-08-23 23:55] maddyscientist opened #718 "Reconstruct cannot be used with non-zero Naik-episilon correction"
At present, when running with MILC, QUDA's gauge reconstruct support is enabled uniformly for all solvers regardless with the `QUDA_MILC_HISQ_RECONSTRUCT` environment variable.  However, this is problematic, since reconstruction cannot be used with a non-zero Naik-epsilon correction.  Thanks to @weinbe2 for realizing this.

We need to make sure that the MILC interface is intelligent enough to know

[2018-08-24 01:06] detar commented on #718
Hi Kate,

I am not familiar with the problem Eric refers to.  With MILC+ QUDA, I
don't believe we have ever used QUDA's reconstruct.  If we need the
solution on the full lattice, we do the checkerboard preconditioning
ourselves, call QUDA for a single checkerboard solve, reconstruct, and
then polish the reconstructed solution on the other checkerboard with a
second QUDA single-checkerboard solve. 

[2018-08-24 04:59] maddyscientist commented on #718
Hi @detar

I was referring to long-link gauge reconstruction, which can be set to 13 or 9 numbers to reduce memory traffic.  This is what breaks down when using non-zero naik epsilon since the link ceases to be U(3).

Regarding the checkerboard solve and reconstruction, this is something that should really be done all directly in QUDA since the overhead of doing on this on the CPU will have a non-

[2018-09-04 17:39] weinbe2 commented on #712
Addressed by merging #723.

[2018-09-04 17:39] #712 closed

[2018-09-10 17:47] maddyscientist commented on #362
This issue will (finally) be closed by pull #725

[2018-09-11 20:55] weinbe2 opened #726 "Add support for QUDA self-determining MG block sizes"
As it stands, QUDA uses a default blocksize on each level for an MG solve (currently an aggregation of 4^4 on each level). If a given volume can't be aggregated by a factor of 4 in each dimension, it will try to recursively divide the aggregation factor by 2 until the aggregation factor works (throwing a warning each time), or it drops to 0 (where it throws an error).

Example: Assume we have a `4

[2018-09-19 21:53] maddyscientist opened #730 "Support overriding communication dimensions in generic exchange functions"
To improve the scalability of some measurement codes, it would be beneficial to overload the which dimensions are partitioned to remove unnecessary ghost exchange.  E.g., while we may be running on a system where we are partitioning all dimensions, we need only to exchange in the first three space dimensions and not across the T dimension.  This functionality should be added to both `GaugeField::e

[2018-09-20 19:11] maddyscientist opened #731 "Add fine-grain accessor coarse-grain accessor"
It would be nice for some algorithms to have fine-grained access to coarse-grained accessors.  E.g., requesting a given color and spin component to a quark field.  This could be useful for adding fine-grained optimization to codes already written using coarse-grained accessors.

[2018-09-21 07:30] mpdeka opened #733 "quda 0.9.0 nppi library"
I am in the process of compiling quda 0.9.0 with cuda 9.2 and cmake 3.12 . I would like to mention one (minor) issue regarding the nppi library. Recently, (most likely from cuda 9.0 onward) nppi library is replaced with a few sub-libraries in order to improve load time and runtime startup. As a result, I had to needed to modify in FindCUDALibs.cmake under cmake/ sub-directory in the following way:

[2018-09-21 16:01] mathiaswagner commented on #733
Thanks for reporting.
We don't use nppi so we should be able to just remove that part from FindCUDALibs.cmake. This script is there historically for compatibility reasons when we switched from FindCUDA to native support in cmake.

I'll have a look at what we can do for cleanup here.

[2018-09-23 12:46] mpdeka commented on #733
Thank you Mathias.

[2018-09-24 07:40] mathiaswagner commented on #733
Hi @mpdeka
Could you please check whether
https://github.com/lattice/quda/tree/hotfix/cmake_npp_libs
resolves your issues?

[2018-09-26 07:07] #362 closed

[2018-10-08 08:30] kostrzewa opened #738 "non-degenerate twisted clover operator has disappeared?"
When I try to create a two-flavour twisted clover (non-degnerate) operator, it seems that this is no longer supported. I thought this was implemented during the Juelich hackathon?

[2018-10-08 08:32] kostrzewa commented on #738
I see, it seems this was never merged... https://github.com/lattice/quda/tree/feature/nondeg-tmclover

[2018-10-08 08:37] mathiaswagner commented on #733
@mpdeka Did you have a chance to look at that?

[2018-10-08 16:31] maddyscientist commented on #738
Hi @kostrzewa.  Yes, it was never merged.  I don't think that @AlexVaq got it quite finished.

As I think I told you, I've been planning on ripping out the Dslash code for all stencils and rewriting it from scratch in the high-level C++ framework that QUDA has now.  I'm pleased to say I have *finally*  started on this, and I now have a Wilson dslash plain in the new framework (https://github.com/l

[2018-10-11 08:33] kostrzewa commented on #692
Just to keep up to date, are there any news on this issue?

[2018-10-11 13:31] weinbe2 opened #740 "Release versions of QUDA contain hard-coded hash values for Eigen that can change"
The `CMakeLists.txt` file in the main directory of QUDA has a hard-coded hash value for Eigen that gets checked when its source tarball gets downloaded. Because Eigen is out of our control, this hash can change (even for fixed versions of Eigen) if for, whatever reason, the developers upload a new tarball. While it's easy enough to work around, we should have a better solution for release versions

[2018-10-12 22:07] maddyscientist commented on #692
@kostrzewa this is being worked on as part of the ground-up dslash rewrite.  This is presently being worked on in the feature/dwf-rewrite branch.  Hopefully less than a month from now, depending on how much time I have to work on this.

[2018-10-13 06:41] kostrzewa commented on #692
That's good to hear! It's currently somewhat of a limiting factor given the poor scaling that one observes on many machines.

[2018-10-19 20:51] maddyscientist opened #744 "Add MG verify test that checks correctness of Schur operator"
At the moment the MG verification tests do not check for the correctness of the even-odd preconditioned operator that is constructed.  We should add a verification test for this, since this is a significant gap in testing coverage.

As noted by @weinbe2 we can just compare the constructed operator against a manual construction of the preconditioned operator by applying the relevant hopping terms a

[2018-10-24 00:06] bjoo opened #745 "Optionally add a twisted mass to the even-odd-preconditioned Wilson-Clover Dirac operator"
It may be handy for implementing Hasenbusch terms in their original way, to add a twisted mass term onto the even-odd preconditioned Wilson-Clover Dirac operator ie.  to go from:

       1 - A^{-1}_oo D_oe A^{-1}_ee D_eo   to  1 + i gamma_5 mu - A^{-1}_oo D_oe A^{-1}_ee D_eo

and as appropriate for the Hermitian conjugate. This was already envisaged in Chroma (tho the recent symmetric precondition