[2015-07-07 13:31] mathiaswagner opened #309 "Move atomic functions for double out of gauge_plaq.cu"
The following functions are implemented in `gauge_plaq.cu`.
[code]

They should be moves to a header so that other parts of quda can also use them.

[2015-07-07 15:15] mathiaswagner commented on #223
@rbabich Just wanted to follow up whether the internal discussion led to a final conclusion whether we may include the header file in quda.

[2015-07-08 03:51] rbabich commented on #223
Kate has pinged the relevant folks again... will hopefully know tomorrow.  I'm 90% sure that we're okay, though.

[2015-07-08 08:02] mikeaclark commented on #309
There is an `atomicAdd` defined in clover_invert.cu as well.

[2015-07-08 10:39] mathiaswagner opened #310 "Autotuning ignores preferred L1 cache config"
The autotuner is documented to:

[code]

It then uses

[code]

The variable `deviceProp.sharedMemPerBlock` however always returns the maximum shared memory, i.e. 48kB for most devices.

 We however use
`cudaDeviceSetCacheConfig(cudaFuncCachePreferL1);` in `interface_quda.cpp`.

This leaves us with 16kB shared memory and so of a kernel is tuned to request more than that the driver will switch the c

[2015-07-08 17:01] mathiaswagner commented on #305
closed with #307.

[2015-07-08 17:03] mathiaswagner opened #311 "Performance of plaquette computation"
Preliminary tests of the performance of the plaquette code merged in #307 show possible performance issues. Once we merge the vectorized accessor from @nmrcardoso (pull request #253) we should re-evaluate the performance.

[2015-07-08 17:03] mathiaswagner commented on #305
Performance to be addressed in #311.

[2015-07-08 17:03] #305 closed

[2015-07-08 17:36] mathiaswagner opened #312 "Enable L1 cache on GK110B (K40)"
It probably only has a small impact (if measurable at all) but we might see some modest performance improvement if we add `-Xptxas -dlcm=ca` to `NVCCOPT`.

It should have no effect on Fermi (default anyway) and K20/X (not supported anyway).

Not sure about Maxwell yet. It has the same effect but as the L1 and tex cache are not separate caches this might also have negative impact on the performace.

[2015-07-10 05:03] Drink7 opened #313 "QUDA with MILC"
I have some problem about the quda with MILC.
I'm using the application in the MILC called ks_imp_rhmc,and the Makefile setting is below.
//compiler
CC = mpicc
//Linker flag
LD=mpicxx
//QUDA option
WANTQUDA    = true
WANT_GF_GPU = true

Other QUDA options are commented.
But I still cannot run on the GPU,an executable is generated but it seems that it doesn't run on the GPU.
I don't know some warni

[2015-07-10 05:20] AlexVaq commented on #313
Well, these two warning messages look QUDA generated. What makes you think you're not running in the GPU? Did you try to log in the node you were running and call nvidia-smi to see the GPU workload?

Aldo take into accout that, if there is not cache file, the first time you run it might take a while...

[2015-07-10 08:08] Drink7 commented on #313
The GPU card I use is Tesla K40,and I call nvidia-smi to see the workload and got this picture.
![image](https://cloud.githubusercontent.com/assets/11875213/8614426/32dc0fa8-271c-11e5-8229-08b2192ab0c6.png)

The GPU-Util here remains 0%,and I'm sure that my testcase is not a small testcase.
Because of the 0% GPU Util,I think the executable doesn't correctly run in the GPU.

[2015-07-10 08:14] AlexVaq commented on #313
Which part of QUDA are you trying to use exactly? Did you enable VERBOSE output?

[2015-07-10 08:47] Drink7 commented on #313
The application ks_imp_rhmc seems that trying to use HISQ fermion force and gauge tools,and I just use the configure file in the quda's directory named configure.milc.titan to build up QUDA.
In the configure file it doesn't enable VERBOSE,I'll add it to configure file and build it again.

[2015-07-10 08:51] AlexVaq commented on #313
It might give you some info, but I don’t guarantee anything. To tell you the truth, I’m not familiar at all with MILC code. However, I contributed to gauge tools... What are you using exactly of gauge tools?

[2015-07-10 09:07] Drink7 commented on #313
In the MILC code,the readme in the application ks_imp_rhmc said that measurements include plaquette...,so I add the flag to the configure file.But I'm not sure whether it will work with the executable ks_imp_rhmc generate.

[2015-07-10 11:02] mathiaswagner commented on #313
Which version of MILC and QUDA do you use?

Can you share your MILC Makefile and QUDA make.inc ?

[2015-07-10 11:04] mathiaswagner commented on #313
The NUMA affinity message is from QUDA. It is a known issue that might affect performance on some systems.

[2015-07-10 11:35] Drink7 commented on #313
I use the latest version,version 7.7.11 of MILC and version 0.7.1 of QUDA.
Here is my MILC Makefile
http://codepad.org/2EaY2rJp
QUDA make.inc
http://codepad.org/9cG6fxmQ

[2015-07-10 13:17] mathiaswagner commented on #313
Thanks. I will try to have a look later.

Did you try to run on of the test input files in the ks_imp_rhmc/test directory? Which binary exactly did you use in the ks_imp_rhmc directory? su3_rhmc_hisq ?

[2015-07-10 13:47] mathiaswagner commented on #313
From my first look in your Makefile:

You only offload the gauge force to the GPU. Everything else is kept on the CPU. So that should explain why your GPU is idle most of the time. I assume the code is running on the GPU, it is just only the gauge force.

Things you can check to verify it is running on the GPU:
* at the end QUDA should print some timing information:

[code]

* for the calls of the

[2015-07-10 14:48] Drink7 commented on #313
Yes,I've tried to run the test input file in the ks_imp_rhmc/test directory before,and I used the executable su3_rhmd_hisq with double precision.And then I called nvidia-smi and it showed the GPU information above.

So should I put the inversions for all the QUDA Options or just change this option?
WANT_FN_CG_GPU = true

[2015-07-10 14:50] mathiaswagner commented on #313
Well, your nvidia-smi output shows that the GPU is used. But with only the gauge force on the GPU the utilization is probably pretty low. That is what you see.
How long does the execution take and what does QUDA print for `computeGaugeForceQuda` at the end of the run?

If you want to put the inversion on the GPU the `WANT_FN_CG_GPU = true` is sufficient but you may also set everything to true. Jus

[2015-07-10 15:13] detar commented on #313
For the ks_imp_rhmc applications, you will need the full suite of HISQ
evolution modules.

Perhaps the following example Makefile for ks_imp_rhmc would help

http://www.physics.utah.edu/~detar/milc/Makefile-Drink7

This is for a somewhat later version of the MILC code than 7.7.11, but
the QUDA macros should still be OK.

On 7/10/2015 8:48 AM, Drink7 wrote:

--
Carleton DeTar
Department of Physics

[2015-07-11 01:02] mathiaswagner opened #314 "Add a TimeProfile for total time spend in QUDA"
Not just for the components as right now to get a total time the application spend in QUDA and the total time spend in compute, H2D, ...

[2015-07-11 06:58] mikeaclark commented on #193
I've noticed that there is a lot of unnecessary integer division occurring in the 4-d dslash operator.  The fact that this indexing overhead has an impact on performance can be seen by the fact that the regular Wilson dslash is 5% faster than the 4-d dslash as Ls=1.  At larger Ls when we are less memory bandwidth this will have a bigger effect on performance.

[2015-07-11 07:35] Drink7 commented on #313
OK. I'll try to set those option to true and see how they change the performance about GPU.
And I'll try to relink QUDA with MILC later.
I forgot to put the execution result into a log file,so I'll run the test input again and check the information you talked about.

Thank you very much for your help.

[2015-07-11 11:15] stevengottlieb commented on #313
Are you part of the student cluster competition?  If so, you should use the MILC tar all prepared for the competition.

Sent from my iPad

On Jul 11, 2015, at 3:35 AM, Drink7 <notifications@github.com<mailto:notifications@github.com>> wrote:

OK. I'll try to set those option to true and see how they change the performance about GPU.
And I'll try to relink QUDA with MILC later.
I forgot to put the

[2015-07-11 14:35] Drink7 commented on #313
Yes,I meet some problem when building QUDA with MILC and trying to ask for help.
You mean all the application in MILC 7.7.11(like ks_imp_dyn,pure_gauge and others) or just ks_imp_rhmc in the MILC?

[2015-07-11 15:42] mathiaswagner commented on #313
If this is part of the student cluster competition I would prefer to take the further support away from the QUDA bug tracker. I think QUDA performs as expected.

@stevengottlieb , @detar : Do you provide the support the student cluster competition?

[2015-07-12 20:57] detar commented on #313
Could you please introduce yourself?

Are you part of the student cluster competition?

On 7/11/2015 8:35 AM, Drink7 wrote:

[2015-07-12 21:27] stevengottlieb commented on #313
Please use the google group set up for the student cluster competition,
not the github developers list.  I agree with Mathias Wagner that this
discussion belongs elsewhere.

Read the instructions on the competition webpage for MILC that were
recently updated.  There is a specific tarball for the competition that
has a restricted set of code.  There are also more test cases.

I will no longer respo

[2015-07-13 06:58] Drink7 commented on #313
I should use the google group to ask for help,not the github here.
I'm sorry and I'll close this issue later.

[2015-07-13 06:58] #313 closed

[2015-07-13 10:44] mathiaswagner commented on #313
Thanks for moving that to the right place.

@stevengottlieb , @detar : If anything comes up during the cluster competition that is QUDA related please feed it back here. Also If you want some of QUDA developers to sometimes have a look into the issues popping up in the student competition let us know.

[2015-07-14 01:04] mikeaclark opened #315 "Tuned bandwidth numbers for some 5-d operators looks wrong"
Flops look correct, but the bandwidth numbers for the 5-d local kernels look way off.  A quick look at the code suggests that these aren't special cased, and the default `DslashCuda::bytes()` is being used, but I'll need to check for more than 30 seconds to work this out exactly.

[code]

[2015-07-14 02:15] mathiaswagner commented on #315
What volume was this? Did you check limiting cases?

[2015-07-14 13:05] maddyscientist opened #316 "Add a block CG solver"
I've had a request (from Yoshinobu Nakamura) for a block CG solver, specifically a block multi-shift CG solver.  This is for RHMC simulations where multiple pseudo fermions are used using nroots.  Acceleration is gained through the use of a block solver which reduces the total iteration count.  If we implemented a block solver, this could be combined with a multi-rhs dslash for both improved conve

[2015-07-14 13:21] mathiaswagner commented on #223
Got to ask here again as I am doing some benchmarks with MILC and affinity improves things somewhat.

Also, I don't like having this lying around forever on my desk / issue tracker forever.

I can bug the people who decide that if you give me their contact data.

[2015-07-16 22:38] nmrcardoso opened #318 "gauge fixing in ARM7+MILC"
Just for curiosity, I run a test and after a minor tweaks I has able to successfully run it.
Problems running in ARM7:
-> -m32 flags must be removed
-> cudaHostRegister() does not work, in cuda 6.5 toolkit release notes:
"Mapping host memory allocated outside of CUDA to device memory is not
allowed on ARM; because of this, cudaHostRegister() is not supported by the
CUDA driver on ARM platforms. If

[2015-07-16 23:26] mathiaswagner commented on #318
That was on a Tegra K1? What is the performance on a Kepler based GPU?

[2015-07-17 14:39] nmrcardoso commented on #318
yes, it's a Tegra K1.
I didn't found the nvidia specs.
For the gauge fixing with OVR I got ~6/14 GFlops for single/double precision

On Thu, Jul 16, 2015 at 6:26 PM, Mathias Wagner <notifications@github.com>
wrote:

[2015-07-17 17:01] mathiaswagner commented on #314
I started work on that in the branch *hotfix/timer_total*

Output currently looks like:
[code]

It might need some further test and I am not sure whether the inclusion of the lower-level timers is desirable.

[2015-07-17 17:39] mathiaswagner commented on #318
We could check which memory allocations are allowed but I am not sure whether we need that.

[2015-07-17 17:40] mathiaswagner commented on #315
Closed with #317.

[2015-07-17 17:40] #315 closed

[2015-07-17 17:42] mathiaswagner commented on #277
Can this be closed?

[2015-07-17 17:43] #243 closed

[2015-07-17 17:51] #262 closed

[2015-07-17 18:21] #277 closed

[2015-07-17 19:33] mathiaswagner commented on #275
I need to dive into the current Makefiles to see what changes are required but the solution presented in http://make.mad-scientist.net/papers/multi-architecture-builds/ seems feasible for use w/ QUDA.

[2015-07-17 22:36] nmrcardoso commented on #275
I think it also would be great that the tune cache file could include
the gpu arch in the filename, it would simplify a lot the testing for
machines with different type of gpu architectures.

On Fri, Jul 17, 2015 at 2:33 PM, Mathias Wagner <notifications@github.com>
wrote:

[2015-07-18 00:09] mathiaswagner commented on #275
We had this discussion a while ago.
In the end we didn't implement that. Probably we thought it was not important enough.
When one does this it would ultimately be even better to use the GPU name instead of the architecture.  a k20 might get a different launch configuration than a K40.

But to avoid the moving and deleting of the tune file when switching architectures adding the architecture to th

[2015-07-20 18:49] mathiaswagner commented on #65
As I am looking in the Makefiles I wanted to bring up the discussion of generating dependencies again: Was there any reason why this has never been implemented?

[2015-07-20 18:50] mikeaclark commented on #65
It's never been a top priority.  Happy to get this done though.

[2015-07-20 21:48] mikeaclark commented on #314
This looks good.  I tend to agree that we don't need any of the low-level data here: I'd suggest removing everything from pack to constant here.

It would be good to be able to report the total time spent since initQuda to endQuda, so we can see how much time is spent outside of QUDA.

[2015-07-20 21:49] mikeaclark commented on #314
Actually looking at your breakdown above, it looks like total time missing might include this already.  If that's the case, I think we need to differentiate between total time in QUDA but not accounted for, and total time spent outside of QUDA.

[2015-07-21 00:31] mathiaswagner commented on #314
The output is a simple copy of the routine already used. I will clean that up. Otherwise these ate probably the lost timings that Justin wanted to get printed in an older issue.

Adding a time between init and end should be easy. I had that already on my list. Only shortcoming is that it depends on when the calling application calls these. E.g. Some MILC applications do a lot of output after the c

[2015-07-21 15:41] mathiaswagner commented on #314
I added a Timer from initQuda to endQuda.
[code]

That time is different from the *QUDA Total time*. I might have to do a more careful check which timers are use at what time.

[2015-07-21 17:21] mathiaswagner commented on #314
Just some more sample output ( from MILC RHMC ):

[code]

Total time reported by MILC:
[code]

Time measured by `time` on command line:
[code]

[2015-07-22 20:59] mathiaswagner opened #321 "gauge_plaq fails to compile"
To be honest I just noticed while trying to build QUDA with cmake, so it might be strange. the code for
`double 3 plaquette` reads

[code]

if `GPU_GAUGE_TOOLS` is not defined that will throw a runtime error but compilation fails as `plq` is undefined.

[2015-07-23 01:08] mathiaswagner commented on #256
I also found occurrences of `__COMPUTE_CAPABILITY__ >= 130`.
They could be removed already now but should definitely be checked when we check for Tesla support at all.

[2015-07-23 11:23] mathiaswagner opened #323 "Build quda using cmake"
I am working on a cmake build of quda.

This should come with:
* support for build directories (e.g. different directories for different SM)
* support for different build types (release, debug, ...)
* automatic dependency generation (faster recompilation)

This issue is just to document and track progress, missing features from the current autoconf/make build and discuss issues.

Everything is sti

[2015-07-23 11:24] mathiaswagner commented on #275
This will be support if we get #323 done.

[2015-07-23 11:24] mathiaswagner commented on #65
This should come with #323.

[2015-07-23 20:29] maddyscientist opened #324 "HISQ fat-link generation has massive performance degradation on Maxwell"
MILC reports a 32x performance reduction versus an equivalent Kepler.  While Maxwell doesn't have strong DP performance, this regression is significantly higher than expected.

[2015-07-23 20:31] mathiaswagner commented on #324
If you have any further information I can try to look into that. Where was that seen?
I will try to reproduce that with our internal tests on K40 / Titan X.

[2015-07-23 20:33] mikeaclark commented on #324
It was seen on a MILC RHMC benchmark, comparing a K80 to dual GM204s.  For CG solver, gauge force and fermion force, the Maxwells were 0.6-0.8x the performance of the K80, but fat-link was 0.03 the performance.

[2015-07-23 20:36] mathiaswagner commented on #324
Ok, I assume all double precision. Do you happen to know the lattice size?

[2015-07-23 20:37] mikeaclark commented on #324
Yes, all DP.  I suspect this will be easy to reproduce, and it will occur for all lattice sizes.

[2015-07-23 22:07] nmrcardoso commented on #299
This kind of problem also happens with file  extract_gauge_ghost.cu and cuda 6.5
ptxas /tmp/tmpxft_00001777_00000000-5_extract_gauge_ghost.ptx, line 2553; fatal   : Parsing error near '�': syntax error
ptxas <macro util>, line 10; error   : Arguments mismatch for instruction 'mov

[2015-07-23 22:09] mikeaclark commented on #299
@nmrcardoso, I presume it doesn't happen with CUDA 7.0, only 6.5?

[2015-07-23 22:13] nmrcardoso commented on #299
yes, only with cuda 6.5.
The removal of non-breaking spaces fixed the problem?
if yes, there is a script for this?

On Thu, Jul 23, 2015 at 5:09 PM, mikeaclark <notifications@github.com>
wrote:

[2015-07-23 23:03] nmrcardoso commented on #299
Looking at the ptx file, there is many ld.param.u64 entries like this one:
ld.param.u64 %rd258, [ Ìª X +128];

On Thu, Jul 23, 2015 at 5:12 PM, Nuno Cardoso <nmrcardoso@gmail.com> wrote:

[2015-07-23 23:07] nmrcardoso commented on #299
the problem is at gauge_field_order.h file.
Don't know yet where in this file.

On Thu, Jul 23, 2015 at 6:02 PM, Nuno Cardoso <nmrcardoso@gmail.com> wrote:

[2015-07-23 23:16] mikeaclark commented on #299
Does this help?
http://stackoverflow.com/questions/12999651/how-to-remove-non-utf-8-characters-from-text-file

[2015-07-23 23:27] nmrcardoso commented on #299
@mike, that didn't help me.
At least I have now pretty sure that the problem is inside this function on
that file:
__device__ __host__ inline void saveGhost(const RegType v[length], int x,
int dir, int parity)

probably this is the same problem dslash_twisted_clover file but for the
clover order... that Alexei had reported some time ago...

Now I have to leave, but later I will try to look better

[2015-07-23 23:29] mikeaclark commented on #299
In the feature/gauge-fix branch I've found a series of ^M characters in
* include/random.h
* lib/covDev.h
* lib/dslash_core/contract_core.h
* lib/dslash_core/contract_core_minus.h
* lib/dslash_core/contract_core_plus.h
* lib/generate/deg_tm_dslash_cuda_gen.py
* lib/generate/deg_tmc_dslash_cuda_gen.py
* lib/generate/dslash_cuda_gen.py
* lib/generate/fused_exterior_deg_tm_dslash_cuda_gen.py
* lib/ge

[2015-07-23 23:32] mikeaclark commented on #299
I found a nice utility to get rid of these characters [dos2unix] (http://www.liquidweb.com/kb/dos2unix-removing-hidden-windows-characters-from-files/).  Can you try running that on all files in your director, e.g.
[code]
and see if that helps the problem.

There was an issue in the CUDA 6.5 compiler, so the character issue may not be the problem.

[2015-07-24 01:16] nmrcardoso commented on #299
@mike, the command did not worked for me, probably because I'm using linux?

Nevertheless, I think I found a workaround, at least no more that strange
error.
Solution was changing the order in two lines in gauge_field_order.h on
template <typename Float, int length, int N, int reconLen>
    struct FloatNOrder {
from
      int faceVolumeCB[4];
      const int volumeCB;
to
      const int volumeCB;

[2015-07-24 02:27] mathiaswagner commented on #324
My first quick impression was that fatlinkis ok and unitarization is slower but not by 0.03.
Have to ask the 'Was tuning active' question? Will continue the investigation tomorrow.

[2015-07-24 03:22] mikeaclark commented on #324
Ah, it could be the SVD algorithm that is killing performance then.  I don't what the default is but isn't this invoked depending on parameters and how singular the matrix is?
-----------------------------------------------------------------------------------
This email message is for the sole use of the intended recipient(s) and may contain
confidential information.  Any unauthorized review, use,

[2015-07-24 05:34] AlexVaq commented on #299
That was me and my mac...

[2015-07-24 06:32] mikeaclark commented on #299
@nmrcardoso, I used the utility on linux :)

Was this problem seen on feature/gauge-fix branch?  If so, can you push the fix there before we merge this?  thx

[2015-07-24 10:24] mathiaswagner commented on #324
One observation: My question about using was pointless as the code for the hisqlink does not seem to use tuning at all. At least no entries show up in the tunecache and when starting without a tunecache non e is created.

[2015-07-24 10:35] mathiaswagner commented on #324
Running the internal tests I get the results (24^4, double)

[code]

and

[code]

So I see the Titan X a bit *faster* than the K40 for the faulting and something like a factor 2.5 *slower* for the unitarization. Note that the K40 is running with ECC and 745 MHz.

More troubling is that the unitarization on the K40 shows one 1 error while it completes without error on the Titan X :-(

One more thin

[2015-07-24 10:47] mathiaswagner commented on #299
For the Mac users: TextWrangler (free, either on the Appstore or at http://www.barebones.com/products/textwrangler/) has a function *Zap Gremlins* which should get rid off all these problematic characters.

I am wondering whether you can configure git to preprocess (run the dos2unix tool ?) the source before committing.

[2015-07-24 15:48] nmrcardoso commented on #299
@mikeaclark, yes I saw this problem in feature/gauge-fix branch.
I added the fix.

[2015-07-24 20:25] rbabich commented on #323
Out of curiosity, did you look at automake?

I think that's the solution used by the other USQCD libraries, and QUDA already uses autoconf for the configure script.

[2015-07-25 02:13] mathiaswagner commented on #323
No, not in detail. I had the impression that cmake might be the cleaner approach.
But I have to admit that this is my very personal view.  I never liked automake very much. Using was fine but writing the build system never convinced me.

Cmake came up during a presentation at the ORNL user meeting and I discussed with Balint a bit. I just thought it might be worth an evaluation. I am close to havi

[2015-07-25 05:46] nmrcardoso commented on #318
I was able to run the QUDA only with the gauge fixing feature branch and cuda 6.5
by changing:
Traditional way:
1) malloc(...);
2) cudaHostRegister(..., cudaHostRegisterDefault);
3) cudaHostGetDevicePointer(...)
4)cudaHostUnregister()
5) free()
In ARM, we need to change to:
1) cudaHostAlloc(..., cudaHostAllocMapped)
2) cudaHostGetDevicePointer(...)
3) cudaFreeHost()

Everything runs compiles and r

[2015-07-25 06:13] nmrcardoso commented on #318
Seems there are no cuda 7.0 for arm.

[2015-07-25 18:17] rbabich commented on #323
Balint is definitely more expert in automake than I am, so if he was in favor of cmake (or indifferent), and you've had success so far, it sounds good to me too.  I had a bad experience with cmake recently, but that was probably user error.

End users of QUDA should never have to run cmake, right?  They'll just use the pre-generated build files?  (One advantage of the GNU buildtools is that they c

[2015-07-25 18:24] mathiaswagner commented on #323
With the default setup enduser will have to use cmake. I am not sure whether there is an easy way to work this around. Right now the current build system can co-exist with cmake. But this then requires maintaining two build systems which is not what we are aiming for.

Not quite but I sincerely do hope that end users of quda are capable of using cmake. We can certainly convince Jlab / FNAL to have

[2015-07-25 18:40] rbabich commented on #323
That's okay.  I'm mostly just a spectator at this point :-).

It does seem unfortunate to introduce another external dependency, but I understand it may be the lesser evil.

[2015-07-26 01:23] bjoo commented on #323
Hi All,
 I have been meaning to sit down and write a longer reply to this, but here is a quick one. Autoconf/Automake is pretty much similar in function to CMake. With the first you as a user would run

configure --configure-options=...
make

With the other you would run:

cmake CMAKE_OPTION_VARS=...
make

Apart from that the user would see little difference.

The devil is really in the details. I

[2015-07-27 11:51] mikeaclark commented on #323
From what I understand the cmake / autoconf builds can coexist, and they are not mutually exclusive.  This gives us a chance to better compare the approaches.

I am open to cmake but I definitely echo Ron's comment that we should have a very high bar for introducing external dependencies to QUDA.

[2015-07-27 18:26] mathiaswagner commented on #323
@bjoo Thanks a lot for you long explanation. Are you interested to call in when we have a discussion about that? I think you told me that you are still traveling so let us know. We should be flexible in the schedule and would love to have your expertise in the discussion.

[2015-07-27 21:28] mathiaswagner commented on #323
We should be able to build a large number of possible configurations now. Not everything has been ported yet (MAGMA, NVTX, generators, ...) but basic build should work.

If we decide to follow that route a lot of testing is necessary.

[2015-07-28 03:15] mikeaclark opened #325 "Optimize extended gauge-field creation"
The extended gauge-field creation and exchange is currently suboptimal for a number of reasons:
* The border radius `R` always has to be an integer multiple of 2, regardless of how much data we want to exchange.  This is because making the border radius odd means we have to swap the parities.  Doable, but requires some thought.
* Both parities, all internal vector/tensor dimensions, and directions

[2015-07-28 03:50] mathiaswagner commented on #323
just a little note: gromacs has switched from autoconf/make to cmake and has a nice documentation on building with cmake: http://www.gromacs.org/Documentation/Installation_Instructions_5.0

[2015-07-28 20:02] mikeaclark commented on #321
Closed with #322.

[2015-07-28 20:02] #321 closed

[2015-07-29 00:48] mathiaswagner opened #326 "Check quda internal criterium for calling the refinement in the multi shift"
Seems to be broken in interface_quda.cpp

[2015-07-29 18:01] mathiaswagner commented on #326
Needs no fix in QUDA - Just bad mixed precision support from MILC.

[2015-07-29 18:01] #326 closed

[2015-07-29 20:10] mikeaclark commented on #278
Initial support for post-solve resident quark fields has been added to `invertMultishiftQuda` and `cloverForceQuda`.  There are new fields in `QudaInvertParam` that can instrument this:
[code]
I used a std::vector of solution vectors so that it can easily handle the solutions out of the multi-shift solver.  It will be trivial to add support for this to the regular `invertQuda` solver.

@AlexVaq do

[2015-07-29 21:25] mathiaswagner commented on #323
Current plan is to switch to CMake and at least for the time being keep the old build system until we gathered some experience with CMake and made sure it has all the features of the current build system.

[2015-07-29 22:38] mathiaswagner commented on #29
closed with #253

[2015-07-29 22:38] #29 closed

[2015-07-29 22:42] mathiaswagner commented on #261
closed with #253

[2015-07-29 22:42] #261 closed

[2015-07-30 16:09] mathiaswagner commented on #323
As it came up in the discussion with @bjoo : http://www.cmake.org/Wiki/CMake_Cross_Compiling

[2015-07-30 16:22] mathiaswagner commented on #323
Just a note to myself:
To get the code generators integrated we can probably use things from http://www.cmake.org/Wiki/CMake_FAQ#How_can_I_generate_a_source_file_during_the_build.3F

and to only run them when explicitly requested the `EXCLUDE_FROM_ALL` option might help.

Still might be tricky as we build out of source and in the ling run it might be the cleaner approach to run the code generator

[2015-07-30 20:13] mathiaswagner opened #333 "(Staggered) mixed precision inverter is broken with reconstruction 9"
I tried using the staggered mixed precision inverter in MILC with reconstruction and saw convergence issues. I can reproduce the issue with staggered_invert_test on a single node.

For reference pure double:

[code]

Double single without reconstruction and pure double with 9 reconstruct:

[code]

And finally mixed precision with reconstruction:

[code]

The name of the output is `test_invert_<pre

[2015-07-30 20:15] mikeaclark commented on #333
Is there a way in MILC you can set the boundary conditions to be all periodic?  I wonder if it's related to boundary conditions getting screwed up.

[2015-07-30 20:16] mikeaclark commented on #333
This is the develop branch isn't it?

[2015-07-30 20:22] mathiaswagner commented on #333
This is the branch for the milc baseline (essentially develop + NVTX).
The results I copied above are from the internal QUDA tests:
[code]

[2015-07-30 20:23] mathiaswagner commented on #333
Adding more datapoints:
[code]

13 reconstruct seems to be fine.

[2015-07-30 20:24] mikeaclark commented on #333
Ah sorry, I understand now.  For some reason I inserted a "not" in relation to whether you could reproduce the issue.

Can you switch off the boundary condition then to see if this affects this?

[2015-07-30 20:39] nmrcardoso opened #334 "develop branch broken by blas_magma.cpp"
Problem with blas_magma.cpp file:
magma functions called outside  #ifdef MAGMA_LIB ... #endif

[2015-07-30 20:44] mikeaclark opened #335 "blas_magma.cpp does not compile"
On the develop branch after the recent merge of the mixed-precision eigCG support (62868e52cd701ba86b9c27684a0ddbc77fcede16).  There are two issues that I can see:
* This is a C++ code yet it uses C99 complex numbers.  These are not recognised by strict C++ compilers (e.g., clang/LLVM) and these fail to compile.
* There are many parts of the code that are not protected from compilation if MAGMA_LI

[2015-07-30 20:45] mikeaclark commented on #334
Thanks @nmrcardoso.  Closing this issue, it is a duplicate of #335 that I just filed (more detail is on that bug).

[2015-07-30 20:45] #334 closed

[2015-07-30 21:06] alexstrel commented on #334
Thanks for brinning my attention! Creating hotfix branch for the issue.
@mikeaclark  C99 notations is unavoidable if one uses Lapack C interface( as it is in the current implementation), isn't it?

[2015-07-30 21:11] mikeaclark commented on #335
Quoting from here: http://stackoverflow.com/questions/10540228/c-complex-numbers-in-c

So you should be able to work with C++ complex numbers on the QUDA side of things, and it should work ok.

[2015-07-30 21:19] alexstrel commented on #335
ok, thanks.

[2015-07-30 22:51] alexstrel commented on #335
Compilation errors fixed, I cleaned magma interface because it contained stuff required by GMRESDR solver only (I missed this point completly). There are now runtime errors, namely
ERROR: CopyGenericColorSpinor has not been built for Nspin=4 fields
this i did not observe with yesterday's feature branch..
Comments?

[2015-07-30 22:53] mikeaclark commented on #335
Do you have a branch I can test this on to work out the problem?

[2015-07-30 22:55] mikeaclark commented on #335
Ok, I see the problem.  Can you swap this on line 413 of copy_color_spinor.cu
[code]
for this
[code]

[2015-07-31 02:29] alexstrel commented on #335
sure , this was the problem, thanks!

[2015-07-31 02:34] alexstrel commented on #335
hmm, incremental stage was successful, but deflted CG collapsed, still need some time to resolve this issue before the pull request,
CG: 0 iterations, <r,r> = 4.611374e+06, |r|/|b| = 9.999999e-01, heavy-quark residual = 1.730952e+00
CG: 1 iterations, <r,r> = 1.840267e+06, |r|/|b| = 6.317208e-01, heavy-quark residual = 6.319742e-01
CG: 2 iterations, <r,r> = 7.712731e+05, |r|/|b| = 4.089676e-01, hea

[2015-07-31 03:56] mathiaswagner commented on #335
I would prefer to have a pull request now which fixes the compilation. Having a develop branch that does not compile is highly undesirable. Fixing that is the highest priority.

We can keep the branch alive after that first pull and you can fix the other issues. Once these are fixed we can do a second pull.

[2015-07-31 14:13] rbabich commented on #323
The code generator requires python 2.7 (not 2.6 and not 3.x).  That's the default version in most recent linux distros, but there's no guarantee on a given machine.  If it's at all avoidable, it would be better if end users didn't have to worry about this kind of stuff.

[2015-07-31 14:20] mathiaswagner commented on #323
Thanks, @rbabich. I had not paid attention to that. While I hope 2.6 is not longer widely installed we never know. Making the code generator compatible with python 3.x might be a good idea though. For now we will definitely keep the generated cuda code in git.

[2015-07-31 14:20] rbabich commented on #323
I was misremembering...  python 2.5 or later should be fine.  (RHEL/CentOS 5 was probably the last major distro with 2.4 as the default.)

I'd still say it's better to avoid the dependency if possible.

[2015-07-31 14:29] mathiaswagner commented on #323
I agree.

If we decide to keep the generated code the only ones ever need to run the generate command are developers. I am not sure what the final solution for running the code generators from cmake will be (not because it is complicated but because I have not started working on it) but if it turns out that this will require a modest amount of being able to follow some instructions beyond typing '

[2015-07-31 14:40] alexstrel commented on #335
since the observed run time problem is unrelated to the original compilation issue, I suggest to close this item.

[2015-07-31 14:41] mathiaswagner opened #337 "Modernize the code generators for python 3.x"
Just a reminder for now as it came up in #323.

Probably all we need to do is use 'python-modernize' and fix integer divisions (https://docs.python.org/3/howto/pyporting.html). And we can easily check the generated code is still the same.

At the same time we can also remove the code generated for SM 1.x

[2015-07-31 14:42] mathiaswagner commented on #323
I had a look at updating the generators to python 3 compatibility.

I used `python-modernize` to update the code. It runs without issues and for the things I quickly checked it still generates identical code for python 2.x. To run it with python 3.x we still need to fix the integer division, see https://docs.python.org/3/howto/pyporting.html for details. That should be a quick fix and result in co

[2015-07-31 14:47] mathiaswagner commented on #335
I would like to keep that open until we confirmed that compilation works now and #336 is merged in develop.

[2015-07-31 15:27] nmrcardoso commented on #335
tested here and blas_magma.cpp compiles without errors (using option
BUILD_MAGMA =  no).

On Fri, Jul 31, 2015 at 9:47 AM, Mathias Wagner <notifications@github.com>
wrote:

[2015-07-31 15:32] mathiaswagner commented on #333
I still have not turned off the boundary conditions but generated a more complete matrix of the impact of reconstruction on the staggered solver:

## Single precision and reconstruction

### Baseline: Pure Single

[code]

### Reconstruction
[code]

## Double precision and reconstruction

### Baseline
[code]

### Reconstruction
[code]

## Mixed precision (Double single)

### Baseline
[code]

### Re

[2015-07-31 15:34] mathiaswagner commented on #335
Thanks, @nmrcardoso. I just would like to wait if it also is fine with @mikeaclark and her clang compilation.

[2015-07-31 15:54] mathiaswagner opened #338 "Invert_test broken in develop"
I get the error:
[code]

Can someone please test this? I am still on a state before we merged in the eigcg branch, i.e. basically right after we merged in Nuno's gauge fixing.

I have to check the release branch.

[2015-07-31 15:56] mathiaswagner commented on #338
Sorry, my fault. Build for staggered only this time and had not checked.

[2015-07-31 16:10] alexstrel commented on #338
invert_test broken, as I could see for double-half twisted mass cg inversion: the first reliable update gives
WARNING: CG: new reliable residual norm 4.297223e+03 is greater than previous reliable residual norm 2.146612e+03 (total #inc 1)
and then the residual norm exploded in a hundred of iterations. Test was done for blas-magma-issue, but with BUILD_MAGMA=no, so it's not related to the eigcg stu

[2015-07-31 16:16] alexstrel commented on #338
also, this was observed for multi- and single-GPU tests.

[2015-07-31 16:19] mikeaclark commented on #335
Confirmed, the bug is fixed.

[2015-07-31 16:22] alexstrel commented on #335
So, we can now close the issue?

[2015-07-31 16:22] mikeaclark commented on #338
@alexstrel, I guess this is the same problem you saw with initCG then?

[2015-07-31 16:23] alexstrel commented on #338
initCG is essentially a normal CG, so this is a regular CG problem. (double-half mixed precision CG solver, to be precise)

[2015-07-31 16:25] mikeaclark commented on #338
Can you run the blas_test to check that all tests pass?

[2015-07-31 16:27] mathiaswagner commented on #335
closed with #336

[2015-07-31 16:27] #335 closed

[2015-07-31 16:28] mathiaswagner opened #339 "MILC interface for gauge fixing"
Now that gauge fixing is in QUDA we should expose this also in the MILC interface.

[2015-07-31 16:29] alexstrel commented on #338
yes, I'll do a thorough check, let me recompile develop branch.

[2015-07-31 16:35] nmrcardoso commented on #339
I have the gauge fixing in milc_interface.cpp/quda_milc_interface.h
void qudaGaugeFixingOVR(...)
void qudaGaugeFixingFFT(...)
@mathiaswagner can you check the code and change if it not the correct way?

[2015-07-31 16:35] mathiaswagner opened #340 "Optional quda runtime configuration using a file"
Just wondering:
We currently do have some options in QUDA that are not exposed in the interface, e.g. using reconstruction within MILC.
Either we can hard code them as they are right now or expose them to MILC which will probably result in them just being hard-coded in the MILC code. That clearly is no real improvement.

Other option would be to have a compile flag (`-D<something>`). But using a c

[2015-07-31 16:38] mathiaswagner commented on #339
Oh, sorry. I missed that. I really should have checked this before creating the issue.

Do we still need to modify MILC so it can actually be used from MILC? Do you have a MILC version that calls the qudaGaugeFixing?

[2015-07-31 16:48] mikeaclark commented on #338
Ok, I've isolated the issue: half-precision dslash is broken, at least it is for Wilson fermions.  Result from running on 4^4 lattice:

[code]

[2015-07-31 16:53] mathiaswagner commented on #338
:no_mouth:

[2015-07-31 17:06] mikeaclark commented on #338
Ok, I've narrowed this down to the merge of the gauge-fixing branch.  Continuing to bisect....

[2015-07-31 17:20] mikeaclark commented on #333
Thanks for the summary.  It appears this behavior is consistent with the copy gauge from double9 to single/half (any reconstruct).  Is that correct?

I wouldn't read anything into the increase in iteration count for pure single precision with reconstruction.  Given that it fails to converge anyway, the increase in iteration count isn't significant I believe.

[2015-07-31 17:37] mathiaswagner commented on #333
Yes, it looks like copying from double9 to anything is strange. Copying from double13 to single18 also is unexpected as it has a higher iteration count than double13,single13.
Copying from single9 to single13,18 is also affected. But I don't know why anyone would run with high precision single9 and sloppy precision single13 or single 18. I had it in my test matrix for completeness but excluded it

[2015-07-31 17:44] mathiaswagner commented on #333
Same arguments for the error also apply for mixed precision solvers:
[code]

We can play it safe and never reconstruct the high precision. It should have a negligible performance impact. double13, single9 is slightly slower (5.56 vs 5.43) than double18, single9 as the iteration count (1841 / 1829) is increased. No timings for double9, single9 as that does not work.

[2015-07-31 19:13] mathiaswagner commented on #338
Just adding to that for staggered_invert_test:
`ERROR: Solver appears to have diverged` for mixed precision with sloppy_precision=half.

[2015-07-31 19:16] mathiaswagner commented on #338
Also here the underlying half-precision dslash is completely broken.
(I am not really looking into this right now but wanted to add it to the points)

[2015-07-31 19:19] mathiaswagner commented on #333
For pure double precision double18, double13 is best. double9 is probably slower due to increased register usage. double13, double13 is slower than double18, double13 as iteration count increases.

[2015-07-31 19:51] mathiaswagner commented on #298
I checked back because of the license and it is covered by: https://github.com/parallel-forall/code-samples/blob/master/license.txt

So we should probably include that license file.

[2015-07-31 19:57] mikeaclark commented on #298
Are there any implications of dual BSD /Apache licensing?

[2015-07-31 20:06] mathiaswagner commented on #298
As far as I can tell BSD and Apache licenses are similar. Apache requires the inclusion of the license, state changes and include the notice (if exists). As far as I can tell it only applies to the file included or probably the code included from it.
Maybe @rbabich has an understanding of it.
Jiri did not specifically apply a license to the code but it is included in the parallel forall repository

[2015-07-31 22:31] rbabich commented on #298
Apache includes a patent grant, so it's substantially different from MIT or BSD.  (QUDA is currently licensed under MIT.)

Kate: Maybe just ask Jiri if he minds us including snippets of his code under our current license?  (Technically, he'd be joining the ranks of "QUDA Developers" mentioned in the LICENSE file.)

[2015-07-31 22:34] mikeaclark commented on #298
Isn't QUDA BSD, not MIT?  At least it only mentions BSD in the license not MIT.....

(There's already a side discussion between Jiri and Mark H. as to how to license this.)

[2015-07-31 22:37] rbabich commented on #298
It's MIT.  The "additional BSD notice" is referring to the license for LLNL's PMPI wrapper.  There should probably be better indentation or something to make that clear.

[2015-08-03 04:04] mikeaclark commented on #340
I really like this idea, and it would be applicable for more than just MILC (e.g., BQCD, TIFR, etc.).  It would have the additional advantage of reducing the amount of code required in the host application since the parameter setting is removed and would unify the setting of parameters.  It would even be advantageous for Chroma, since it would allow for setting of new parameters in QUDA without wa

[2015-08-03 04:07] mikeaclark commented on #337
Just to note that the code generated for sm_1.3 is actually the one that is being used, and the dslashes labelled Fermi aren't actually used.

[2015-08-03 06:43] mikeaclark commented on #311
I noticed that the plaquette algorithm doesn't use shared-memory tuning.  Enabling this improves the performance up to 1.3x on sm_30.  I'll rerun this on sm_35/sm_52 GPUs to see what the improvement is on large GPUs.

[2015-08-03 06:46] mikeaclark commented on #311
This has been enabled with de557e2f3e2bfc4b8216c3caace783e29bff564b.

[2015-08-03 10:35] mathiaswagner commented on #340
I didn't really think about details yet. I think there are a few requirements:
* Available (license-compatible) parser
* User-understandable setting of parameters
* we might want a hierarchical structure for the file
* Tools to check syntax before starting a run(?)

I actually like plist a lot (Mac OS property lists) when writing python code but am not sure about the parser for cpp. I only use the

[2015-08-03 13:42] mathiaswagner commented on #340
One more thing that came to my mind: Apart from setting it using an environment variable we might also allow the calling application to specify the configuration file using the interface? Maybe as an optional argument to init?

[2015-08-03 13:44] mathiaswagner commented on #337
Good point. I had not actually looked at the python code but then we should at least think of proper labeling for the future :smile:

[2015-08-03 13:48] mathiaswagner commented on #298
Jiri has added a BSD license to the NVTX code:

[code]

If I get it right all we need to do is to include that in our LICENSE file and we can merge that in?

[2015-08-03 14:04] rbabich commented on #340
I think the file should be human-readable.  XML fails that test (at least for this human :-) ).

My vote would go to YAML: https://en.wikipedia.org/wiki/YAML

LibYAML is MIT-licensed: http://pyyaml.org/wiki/LibYAML

... but until we need something more complicated, a home-grown parser might suffice.  I just uploaded this one, in case it's useful: https://gist.github.com/rbabich/9359c850aff56e17463

[2015-08-03 14:29] rbabich commented on #340
As a historical note, the reason QUDA_RESOURCE_PATH has the name it does (rather than something more obvious like "QUDA_TUNECACHE_PATH") is because we were envisioning that the directory might be used for additional purposes such as this one.

I like this idea, but I think it's important to make it as idiot-proof as possible.  If a parameter is specified both via the interface and in an input file

[2015-08-03 14:36] mathiaswagner commented on #340
Agreed.

I thought more about passing things like whether to use reconstruction for the links and stuff like that. I.e. things that are not exposed in the interface or even if we expose them in the interface the calling application will have not way to expose them to the user (Imagine MILC would have to expose options to reconstruct links, like I said above).

Things that can and should be set fro

[2015-08-03 15:13] alexstrel commented on #340
like the idea too: some parameters are attributed to QUDA library and cannot be so transparent in the application code (e.g., hard-coded reliable updates delta in the MILC interface, while MILC itself, if I'm not mistaken, does not support mixed precision optimization at all)

[2015-08-03 15:22] rbabich commented on #298
Yep.  I'd preface it with a mention of the specific file names that contain the code.  Then remove the comment delimiters and maybe indent it a few spaces.  (It would also be a good idea to block-indent the licenses for gtest and PMPI.)

[2015-08-03 15:31] mathiaswagner commented on #338
Looks good to me now with #341.

[2015-08-03 15:31] #338 closed

[2015-08-03 15:44] mathiaswagner commented on #314
Merged w/ #330.

[2015-08-03 15:44] #314 closed

[2015-08-03 15:47] mathiaswagner commented on #309
I believe this has been included in the merge of #253.

[2015-08-03 15:47] #309 closed

[2015-08-03 20:33] mathiaswagner commented on #340
I am more into the XML direction than YAML but in the end the syntax of the input file matters only in terms of readability and ease of use (not creating errors in the file). But YAML looks promising.

Plist still might be useful but I could not find an parser that is easy to include so far (python comes with it). Only benefit would be if we want a python script to act as a parser / checker before

[2015-08-03 20:38] mathiaswagner commented on #340
One thing we need to evaluate first: Developer feedback seems positive but will users make use of it?
Shall we ask them for feedback on this?
Maybe @bjoo , @detar , @stevengottlieb , @azrael417 can comment from a user's perspective?

[2015-08-03 21:05] mathiaswagner opened #343 "Ask users to send in time profile"
In an effort to better get to know who is using quda and how the application profile looks like (roughly):

Might it be useful to ask users to send in the time profile of their runs (a typical sample)?

If yes we could extend the time profile to:
- Include the request to share it with us (motivate it by telling them that this ensures that it might help us identify bottlenecks, etc, ...)
- ask the

[2015-08-03 21:33] bjoo commented on #340
HI All,
 This sounds like a good idea. With Chroma, I tried to leave all the myriad precision
present in the XML files Chroma used resulting in very complicated interfacing classes.

One thing to consider is what your solvers are since now there will be many solvers with many different sets of parameters. E.g. Regular BiCGStab, GCR with inner DD solver,
FGMRES DR, Multi-Grid, and so the space of t

[2015-08-03 22:47] AlexVaq commented on #340
For us (ETMC) I think it would be very useful. I think it is easier to handle than the command line, and people here would appreciate it.

[2015-08-04 04:50] mikeaclark commented on #298
closed by #342

[2015-08-04 04:50] #298 closed

[2015-08-04 04:53] mikeaclark commented on #325
I just noticed that the gauge field extraction / injection kernels that are used for the gauge-field creation were running about 3-4x too slowly (on GM200).  It turns out this is caused by local memory traffic caused by dynamic indexing of the `dim` parameters.  Turning this into a template type remedies this giving the expected performance.

[2015-08-04 14:57] nmrcardoso opened #344 "running timer"
Running the gauge_alg_test in develop branch i'm getting the error:
ERROR: Cannot start an already running timer (rank 0, host hybrid, ../include/quda_internal.h:127 in Start())
       last kernel called was (name=N4quda9GaugePlaqIfNS_11FloatNOrderIfLi18ELi2ELi18EEEEE,volume=28x28x28x28,aux=threads=614656,prec=4)
application called MPI_Abort(MPI_COMM_WORLD, 1) - process 0

[2015-08-04 15:00] mikeaclark commented on #344
I'll take a look in a couple of hours.

[2015-08-04 15:30] nmrcardoso commented on #344
The problem is that I use TimeProfile to measure time in
pgauge_det_trace.cu
pgauge_heatbath.cu
gauge_fix_ovr.cu
gauge_fix_fft.cu
and it seems that calling one TimeProfile after another one had started is not allowed.
Probably the best way is if I replace all these in the files above by Timer defined in quda_internal?
Please, let me know if this change is ok, replace the Timer, and I'll create a h

[2015-08-04 16:07] nmrcardoso commented on #311
@mikeaclark , probably I should enable also this in the gauge fixing code, heatbath and det/trace codes.
I also noticed that in the plaquette you use the 2D block reduction, I didn't knew that this was implemented in CUB.
I tried to implement this and it seems that the CUB code in the develop branch is outdated to support the 2D block reduction.
I only tested this in pgauge_det_trace.cu, but didn'

[2015-08-04 16:32] mikeaclark commented on #311
2-d block reductions require a new version of cub, that's why I've updated cub in the hotfix/cub-update branch.  I'll make a pull for this shortly, once I've finished some more investigations.

You're correct that my code did have a bug, though I'd already caught it in my local copy :)

I'll report back on this bug once I've formed some conclusions on how to make the gauge code go faster.  You sho

[2015-08-04 17:01] mikeaclark commented on #344
I'm not sure I follow.  Calling one TimeProfile's start while a *different* is already running should be fine.  This error is saying that you're trying to call start on a timer instance that is already running.

A couple of other observations:
* I see you're using a single TimeProfile called `profileGaugeFix` in `computeGaugeFixingOVRQuda` and `computeGaugeFixingFFTQuda`.  I'd suggest using two di

[2015-08-04 18:51] nmrcardoso commented on #344
Thanks @mikeaclark .
I think I found the problem in quda_internal.h:
There are 2 repeated lines, see lines 263-266.
    void Start(QudaProfileType idx) {
      // if total timer isn't running, then start it running
      if (!profile[QUDA_PROFILE_TOTAL].running && idx != QUDA_PROFILE_TOTAL) {
	profile[QUDA_PROFILE_TOTAL].Start();
	switchOff = true;
        profile[QUDA_PROFILE_TOTAL].Start();

[2015-08-04 18:56] mikeaclark commented on #344
Yes that does look like a bug.  I guess that creeped in there with #342.  Can you make a hotfix branch to fix this, and the issues I pointed out above?

[2015-08-04 20:25] mikeaclark commented on #311
I found a major issue with the reconstruct 8 gauge accessor in single/half precision.  That being that in the unpack operation the double precision sqrt was being invoked and not the single precision one.  This causes unnecessary slow double-precision instructions as well as an explosion in register count.  This is fixed with commit 8515b987b1e6051999588ea3b7b861ea5cb3a185.

[2015-08-04 20:34] nmrcardoso commented on #344
I have done the fix on TimeProfile::Start(), and the observations made by @mikeaclark.
Also, I commented the line:
bool tuneSharedBytes() const { return false; } // Don't tune shared memory
in several files.

Still there is a bug in the TimeProfile that I yet not found the origin, since this error is
only triggered in MILC+QUDA.
@mathiaswagner can you look to the code in TimeProfile?

The fixes th

[2015-08-04 20:37] mikeaclark commented on #344
@nmrcardoso Can you describe this problem?  What is happening?

Any performance improvement from enabling the shared-memory tuning?

[2015-08-04 20:54] mikeaclark commented on #311
I think I'm ready to sign off on this for now.  Here's a performance comparison of the present release/0.7.x branch with the latest improvements in d528e269a4f676ad61ee66f60116f03b484df42d (vectorized gauge-field accessor, reconstruct-8 unpack improvement in single/half precision, keep parity in the thread block to increase locality, shared-memory tuning).

K80 (using one GPU)
* reconstruct 18
  *

[2015-08-04 20:54] #311 closed

[2015-08-04 21:03] nmrcardoso commented on #344
This last problem is related with the problem that I mentioned before, more than one instance is not allowed as in the following example:
  TimeProfile abc( "abcd");
  abc.Start(QUDA_PROFILE_COMPUTE);
(...)
  TimeProfile abcd( "abcd");
  abcd.Start(QUDA_PROFILE_COMPUTE);
(...)
    abc.Stop(QUDA_PROFILE_COMPUTE);
(...)
    abcd.Stop(QUDA_PROFILE_COMPUTE);
(...)
this is related with the global time

[2015-08-04 21:11] mikeaclark commented on #344
Let's wait for @mathiaswagner to comment on this before we make any big changes.

What you list above should work I think, at least it is supposed to.  The total timer is local to each instance, though all instances share the global timer, but it should be ok to have a double start on these, e.g,
[code]

[2015-08-04 22:02] nmrcardoso commented on #344
That shows only that several calls for QUDA_PROFILE_TOTAL is allowed, but not for
QUDA_PROFILE_COMPUTE, which is the case here.
And probably the best way is not to use.

Ok, it's better to @mathiaswagner comment on this.

Meanwhile I changed in the interface_quda.cpp to bypass this error by setting the use_global to false in TimeProfile. Since the gauge_fix_ovr.cu and gauge_fix_fft.cu have a TimeP

[2015-08-04 22:12] mikeaclark commented on #344
@nmrcardoso take a look at my branch hotfix/dev_timerprofile2.  I've added tracking information so that when a Timer fails because it is already running or fails because it hasn't been started it should print exactly where this call was made.  Similar to what we do with device_malloc, etc.

Can you take a look and try to run it with `use_global = true`, to see if it accurately pinpoints where the

[2015-08-04 22:31] nmrcardoso commented on #344
This is the error using use_global = true in interface_quda.cpp:
ERROR: Cannot start an already running timer (gauge_fix_ovr.cu:1474 in gaugefixingOVR())
ERROR: Aborting (rank 0, host hybrid, ../include/quda_internal.h:129 in Start())
       last kernel called was (name=,volume=,aux=)
application called MPI_Abort(MPI_COMM_WORLD, 1) - process 0

code in that line: profileInternalGaugeFixOVR.Start(Q

[2015-08-04 22:40] mikeaclark commented on #344
Ok, thanks for the feedback.  I'll make it more robust (problem is I've made `Start` / `Stop` a macro definition which makes it very flaky and will interfere with other functions with these names.  Once I've cleaned this up I'll merge it into your branch.

[2015-08-04 22:45] nmrcardoso commented on #344
Thanks a lot @mikeaclark and sorry for all this work. I was silly doing this kind of stuff, double calls... gah

[2015-08-05 00:21] mikeaclark commented on #344
@nmrcardoso, I think it would be better if you switch off the global timer in the algorithms themselves, e.g., gauge_fix_ovr.cu.  This keeps it consistent with the rest of the interface then, so that the global timer represents time spent in the interface and not functions called from there.  Make sense?

[2015-08-05 00:31] nmrcardoso commented on #344
yes, I'm doing the changes in the hotfix/dev_timerprofile

[2015-08-05 00:32] mikeaclark commented on #344
Ok, I've merged in my branch into yours.  There are now macros TPSTART and TPSTOP that should be called to start/stop a TimeProfile instance.  E.g.
[code]

[2015-08-05 00:35] mikeaclark commented on #344
Great, let me know when you've finished this, and I will review it all and merge into devel.  Perhaps you can test me pull #345 with your gauge-fixing routines and do this merge? (@mathiaswagner  is at the beach this week....)

[2015-08-05 00:52] nmrcardoso commented on #344
done.
Ok, I will test the #345. Just to avoid any bad thing since my first time to do a merge, It's only a click on "merge pull request"?

[2015-08-05 01:12] mikeaclark commented on #344
Yes, it's just a case of clicking on merge pull request, and then delete the old branch (also only a click away).  But I would first ask that you checkout this branch and run your gauge fixing tests in it to check all is ok.  It would be nice to know also if you see any performance improvements :)

[2015-08-05 01:28] nmrcardoso commented on #344
I finish the checking and left the performance numbers on #345

[2015-08-05 01:47] nmrcardoso commented on #344
I've done the merge and deleted the branch #345.
Tomorrow is my last day in work, probably I won't be able to do much things.
However, If I have time I would like to implement the 2D cub reduction, after pulling this hotfix, on the
pgauge_det_trace.cu
gauge_fix_ovr.cu (gauge fix quality measurement kernel)
gauge_fix_fft.cu (gauge fix quality measurement kernel)

[2015-08-05 01:59] #344 closed

[2015-08-05 02:07] mikeaclark commented on #344
Ok, I hope your last day goes ok.  Good luck with the move.

On the writing of the full field necessary for the FFT gauge fixing.  I realised while out on my run that if you bring the parity into the same block, like I did with the plaquette code, then all data necessary to do full coalesced writes for the delta array will be in the same thread block.  So while it would be a pain to get working, i

[2015-08-05 05:07] mikeaclark commented on #325
This performance fix for the extraction / injection kernels is included in #345.

[2015-08-05 06:36] mikeaclark commented on #205
When we do a reliable update, we don't do anything special for the shifted systems, we only do a reliable update on the zeroth system, and compute the new `zeta[j]` factors.  This has the effect that the shifted systems don't really see much improvement from the reliable update.

We need to somehow also apply this reliable update on the shifted systems.  While there is no concept of computing the

[2015-08-05 12:08] mathiaswagner commented on #205
I tried that when I looked into this but was not successful. There is an old mw/ branch that has that in.

I believe it doesn't help with orthogonality of p and r for the shifts.

But the higher shifts are  something I want to look at again.

[2015-08-10 23:25] mikeaclark commented on #311
As of c94a92b05ea3f5f8543610a56cba376587f25404, the call to `atomicAdd(double*, double)` has been replaced with a last-CTA reduction approach (as used in reduce_core.h).  New performance for the plaquette running on one M6000 in single precision (this include further performance fixes for single precision reconstruct 8 accessors - 0f80c8eeed9d906a5fa45b08ba3d32300d65aa70)

M6000 (using one GPU)
*

[2015-08-11 00:05] mathiaswagner commented on #311
Any idea about Kepler performance?

[2015-08-11 00:06] mikeaclark commented on #311
I haven't tested it yet, as I've got no Kepler in my workstation.

[2015-08-11 23:31] mikeaclark opened #349 "Kernels that use the RNG class are not reproducible when autotuning"
I noticed when running the gauge_alg_test that the answer changes for the first test depending on whether autotuning is occurring.  This is because the state of the RNG generator is not being restored after the tuning has completed, giving a different answer if the tuning is disabled or if it has already previously been performed.  This affects the heatbath algorithm and the creation of an initial

[2015-08-12 03:43] nmrcardoso commented on #349
I have almost this implemented, not yet put this hotfix in git due a minor problem, see bellow.
After some runs and without getting the desire results, I found that the unitarize links also needs to have a backup/restore gauge field in the tuning process if we use the same gauge field for the the input and the output , otherwise we cannot get the same results :S

@mikeaclark, can I remove the cons

[2015-08-12 04:51] mikeaclark commented on #349
I have the unitarize problem fixed already on my feature/gauge_reduce branch.  Feel free to put your fix in my branch.

This branch gets rid of the need for atomicAdd, replacing it with a reduction by the last thread block.  This makes the plaquette computation much faster (now runs over 1 TFLOPS on a Maxwell GPU), and I've applied this to the gauge fixing kernels as well.  There is also a further

[2015-08-12 12:31] nmrcardoso commented on #349
Thanks @mikeaclark , that's really great news :)
I already updated and tested the backup/restore option in the kernels that uses the RNG.

[2015-08-12 18:29] mikeaclark opened #350 "Optimize link unitarization"
The link unitarization has one of the largest performance regressions when running on Maxwell, which doesn't have fast double-precision capability.  Benchmarking reveals that the bulk of the time is spent in the `reciprocalRoot` function.
[code]
The above is an experimental version I have that replaces the 3 `cos` calls with a single call to `sincos`.  The performance is dominated by the `acos` ca

[2015-08-12 18:51] AlexVaq commented on #350
Is this a projection back to su(3) after some smearing? In the APE smearing code I was using an iterative method that maybe you find easier to optimize (although I think it will turn out the other way, that you can optimize APE smearing with that code).

[2015-08-12 18:53] mathiaswagner commented on #350
Yes, this is a projection to U(3).

[2015-08-12 18:56] AlexVaq commented on #350
Well, I project to su3, but if you want to have a look at the code, it is in gauge_ape.cu, the polarSu3 function or sth like that.

Don't expect great performance, when I wrote this I was mostly interested in the functionality, but it might be optimizable...

[2015-08-12 18:58] mathiaswagner commented on #350
The formulas in the code are given e.g. in https://inspirehep.net/record/850762?ln=en and this is what comes from the MILC code. I am not quite sure but there might be alternative implementations also in the MILC code for the U3 projection. We can check there.

[2015-08-12 19:19] mikeaclark commented on #350
From the MILC paper, one can see that the `acos` call comes from the analytic solution of the cubic characteristic equation.  I suspect it would be much faster if we replaced this analytic solution with a Newton Raphson method to solve this.  This would have the advantage of being iterative and allow the first few iterations to be done in single precision, with an initial guess to the solutions gi

[2015-08-12 19:24] mathiaswagner commented on #350
That might be worth trying. I know that the performance of the projection is quite bad on Maxwell but in the overall picture it should hopefully still be fast ...
How large is the fraction spend in the projection compared to smearing (not at all talking about PCI and data reordering ...), I don't have any reliable timings for this at hand.

[2015-08-12 19:25] mikeaclark commented on #350
I should benchmarks on this later today.

[2015-08-12 19:28] mikeaclark commented on #350
Also, I believe an iterative solution to the characteristic equation will be faster irrespective on all GPUs, since it would allow us to use the hardware transcendentals for sincos.  Even on fast-DP GPUs, transcendentals are done using nasty branchy code that use local memory.

[2015-08-12 19:41] mathiaswagner commented on #350
From my MILC RHMC runs on K20s:

[code]

and total

[code]

And from a profiling output for the HISQ smearing (just the first level of smearing that includes the projection). I hope I got that right from just looking in the profiler.

![screen shot 2015-08-12 at 15 38 15](https://cloud.githubusercontent.com/assets/4508207/9234728/83778f54-4108-11e5-95bb-5c826bec6e2e.png)

But this again was on Kep

[2015-08-12 19:42] mathiaswagner commented on #350
But I don't want to discourage you from looking at this.

[2015-08-13 20:44] #349 closed

[2015-08-17 14:27] AlexVaq opened #354 "Fermi support with blas_magma"
Is develop branch still supporting Fermi? I'm getting problems compiling and having a look at blas_magma.cu it looks like the code assumes cc 300 or above.

[2015-08-17 14:29] mathiaswagner commented on #354
Yes, we generally still support Fermi.

[2015-08-17 14:31] AlexVaq commented on #354
Then blas_magma.cu fails to compile:

/fhgfs/prometheus/buildsets/eb141014/software/CUDA/5.5.22/bin/nvcc  -O3 -D__COMPUTE_CAPABILITY__=200 -ftz=true -prec-div=false -prec-sqrt=false  -w -DMULTI_GPU -DPTHREADS -DGPU_WILSON_DIRAC -DGPU_TWISTED_MASS_DIRAC -DGPU_WILSON_DIRAC -g -DHOST_DEBUG -DBUILD_QDP_INTERFACE -DDEVICE_PACK -DGPU_CONTRACT -arch=sm_20                      -I/fhgfs/prometheus/buildset

[2015-08-17 14:32] AlexVaq commented on #354
The title of the issue might be misleading because blas_magma.cu is always compiled, whether we use Magma or not. There are no macros excluding parts of the code if BUILD_MAGMA is set to "no".

[2015-08-17 14:34] mathiaswagner commented on #354
OK, we need @alexstrel to look into that and comment.
I have not build for Fermi in a while.

[2015-08-17 15:57] alexstrel commented on #354
done in hotfix/magma-fermi,
let me check it before merge.

[2015-08-20 06:54] mikeaclark commented on #354
Closed by #356

[2015-08-20 06:54] #354 closed

[2015-08-20 07:01] maddyscientist opened #358 "Staggered fat-link code is extremely brittle"
The present fat-link generation code (lib/llfat_*) is extremely brittle and needs to be cleaned up:
* it uses a hard coded block size
* doesn't use the Tunable class
* for certain local lattice sizes some kernels can get invalid launch parameters
* for too small a problem size the kernels give the wrong answer, e.g. llfat_test fails at V=6^4
* llfat_test fails with `--recon 12`

These kernels real

[2015-08-21 02:18] cpviolator commented on #120
Mike,

Please see the REPO published here https://github.com/cpviolator/QUDA-CPS For a version of CPS that has QUDA support for Clover fermions.

[2015-08-21 05:13] mikeaclark commented on #120
Thanks @cpviolator!  This is a nice surprise.  Can you tell me:
* Does this support both asymmetric and symmetric clover fermions?
* Have you offloaded the clover generation to QUDA and / or the clover inversion to QUDA?
* The README mentions that Wilson is only supported through setting the clover coefficient to 0.0.  So is this a different code path from the Wilson support I added to CPS years (

[2015-08-21 05:49] cpviolator commented on #120
@mikeaclark,

My pleasure. I'll answer as best I can.

1. We've never run on anything but symmetric lattices with this code. However...
2. We take the clover data from CPS and make the necessary conversions in the functions 'fill_clover_all' and 'quda_clover_interface', so the clover generation is done entirely in CPS and inserted to QUDA via loadCloverQuda(). We take the same route with the gauge

[2015-08-21 05:55] cpviolator commented on #120
@mikeaclark,

There is one problem I'm having with regards to QUDA 0.7.x. When we compile QUDA-CPS against 0.7.x, QUDA throws an error:
Error: param tol not defined (check_params.h:145 CheckInvertParams())
but we do not see this problem when using 0.5.x or 0.6.x. This is confusing because the QUDA parameter 'tol' is always defined and and line 145 in check_params.h has nothing to do with the tol p

[2015-08-21 06:06] mikeaclark commented on #120
1. Sorry I wasn't clear on symmetric / asymmetric. I meant with respect to preconditioning, e.g., from enum_quda.h
[code]
2. For the gauge field, doesn't setting the gauge order to `QUDA_CPS_GAUGE_ORDER` work for you?  This works fine for DWF / Wilson, as far I'm aware.  For the fermion field, doesn't `QUDA_CPS_WILSON_DIRAC_ORDER` work?  If you pass null pointers to the `loadCloverQuda()` interfac

[2015-08-21 06:49] cpviolator commented on #120
* I'll do some testing with the `_MATPC_` params and see what needs to be done on the CPS end to include them.
* The Quda `gauge_order` parameter we pass to QUDA already `QUDA_CPS_GAUGE_ORDER` so I will certainly try that change out, and again we use `QUDA_DIRAC_ORDER` for the `dirac_order` so I will experiment there too and update accordingly. We can scratch together some small anisotropic lattic

[2015-08-21 06:56] mikeaclark commented on #120
You are welcome.  :+1:

Just so I fully understand your comment, what do you mean by clover support for 0.8.0?  What is needed on the QUDA end that isn't already there?

r are you referring to anisotropic support for clover field construction since it only support isotropic at the moment.  The clover inversion should work already for anisotropic (I think).

[2015-08-21 07:16] cpviolator commented on #120
Oops! I just meant closing issue #120 before the 0.8.0 release. It's been a long day! Sorry!

I'll get on with what's been discussed here and update the thread when I have results. Thanks again!

[2015-08-21 10:05] mathiaswagner commented on #223
If we go on with CMake I believe we can probably integrate and void adding nvml.h  https://github.com/jirikraus/scripts/blob/master/NVML/cmake/FindNVML.cmake

[2015-08-29 21:53] cpviolator opened #359 "Magma support with MKL."
On the TACC Stampede machine, the preferred BLAS libraries are MKL and BLIS. Atlas and LAPACK are not installed as modules and must therefore be built in project directories. Further, MKL offers significantly better performance on this machine.

I would like to try to get QUDA working on TACC stampede with Magma built with MKL. If at all possible, what steps would need to be taken to substitute th

[2015-08-31 19:43] alexstrel opened #360 "redirection to master branch"
the official site http://lattice.github.io/quda/ redirects now to the develop branch (instead of master, as it should).

[2015-08-31 19:58] alexstrel commented on #359
current MAGMA interface in develop or master branch does not use LAPACK explicitly, so all what is needed is to correctly link QUDA against MKL ( e.g., in https://github.com/lattice/quda/blob/develop/make.inc.in  substitute lines 87-88 with path to MKL stuff and lines 185-186 for the linker). I presume you want to use deflation algorithms from QUDA? Otherwise you can deisable MAGMA at all.
Note th

[2015-08-31 20:31] cpviolator commented on #359
Thank you @alexstrel I do indeed wish to use the deflated solver. I will attempt to compile QUDA with a MAGMA library using MKL using your instructions and reply to this thread with results.

[2015-09-03 06:28] mikeaclark opened #361 "Remove sloppy gauge and clover fields (make local to the solver)"
Presently, the sloppy gauge and clover fields are global variables declared in interface_quda.cpp.  This is bad, but it's even worse considering that these fields are not needed at all outside of the linear solvers.  I propose that the sloppy fields are created when the solver is created and destroyed when the solver exits.

As well as being conceptually the correct thing to do, this will also red

[2015-09-11 00:50] maddyscientist opened #362 "Employ nvrtc for run-time compilation of QUDA kernels"
As of CUDA 7.0, run-time compilation is possible using the nvrtc library.  If we rewrite QUDA to use nvrtc, then the benefits are significant:
- Massive reduction in up-front compilation time, with all kernels only compiled on demand.  This will also have the benefit of reducing the memory resources needed for compilation.  This will significantly aid development as well as deployment, where curre

[2015-09-14 08:54] mathiaswagner commented on #360
The default branch is set to develop. According to github that means that newly created pull requests are targeted for merging into develop. Seems like that makes develop the selected branch when following the link. Not sure how to change that.

[2015-09-14 08:55] mathiaswagner commented on #360
We could set the link from the page to https://github.com/lattice/quda/tree/master

[2015-09-15 09:57] mathiaswagner commented on #323
A lot of things work now. MAGMA and qdpjit are still missing.

[2015-09-16 16:41] mikeaclark commented on #323
I see that "correct MPI support" is left unchecked above.  What does this represent?

[2015-09-16 17:48] mikeaclark commented on #360
I set the default branch to develop as it means that pull requests automatically go to this branch instead of to master.  It also means that the network defaults to focus on the last commit to develop which is typically much more recent than master, which can lag behind months and months.

If want to reset the default branch to master, then it can be done so here:
https://github.com/lattice/quda/s

[2015-09-16 17:53] mikeaclark commented on #362
After some experimentation this looks like it will be a pain to implement.  The main issue surrounds the many headers that QUDA kernels typically include, these cannot include any non-GPU code.

The good news is that the changes required to do this, will increase the modularity of QUDA and help with the ongoing maintainability.  I suspect that having cmake working will help also in this regard, as

[2015-09-17 10:44] mathiaswagner commented on #360
I think we should just point to the master branch. I like develop being the pre-selected branch for pull requests. If there are no objections I will update the link on the webpage.

[2015-09-17 15:43] mikeaclark commented on #360
Sounds good to me.

[2015-09-23 11:57] mathiaswagner commented on #360
Fixed with 484efebd0a81e7efbb7a04a868b5536fcc71cdec

[2015-09-23 11:57] #360 closed

[2015-09-24 22:58] mikeaclark commented on #43
Global variables have been almost completely removed from QUDA for some such that this is no longer an issue.

[2015-09-24 22:58] #43 closed

[2015-09-24 22:59] mikeaclark commented on #123
This was completed and verified with commit e04b189e232392b36d0140bdb53bd5d0af9d05b6.

[2015-09-24 22:59] #123 closed

[2015-09-24 23:05] mikeaclark commented on #176
This was closed with 7a91e92e1ecd4083cf15eb4c9b9e9ac2105b830b

[2015-09-24 23:05] #176 closed

[2015-09-24 23:07] mikeaclark commented on #188
This was completed with 7480252b136a2bd935868cef34462ff61bfe0afc.

[2015-09-24 23:07] #188 closed

[2015-09-24 23:10] mikeaclark commented on #198
This was closed with 8c1c8307a852acd144972716a3e4ba40270786dd.

[2015-09-24 23:10] #198 closed

[2015-09-29 11:42] nmrcardoso opened #367 "Develop branch plaquette code and dslash_staggered"
Hi, I tried to compile (cuda 7.5) the last code in the develop branch and it breaks in files:
1) dslash_staggered.cu
   dslash_core/staggered_dslash_core.h(717): error: no suitable user-defined conversion from "float2" to "float4" exists
2) gauge_plaq.cu
ptxas error   : Entry function '_ZN4quda11computePlaqILi960EfNS_11FloatNOrderIfLi18ELi4ELi8EEEEEvNS_12GaugePlaqArgIT1_EE' uses too much shared da

[2015-09-29 11:44] mathiaswagner commented on #367
I think Kate ran into the same or a similar gauge_plaq error when compiling for Fermi. For which architecture did you try to compile?

[2015-09-29 12:14] nmrcardoso commented on #367
Hi Mathias, I tried for fermi architecture.
Now I've tested also for kepler and maxwell and this happens only for fermi.
Do you know if there are a workaround for this?

On Tue, Sep 29, 2015 at 12:44 PM, Mathias Wagner <notifications@github.com>
wrote:

[2015-09-29 12:17] mathiaswagner commented on #367
I have not yet looked into this. Maybe @mikeaclark has some more insight already. I am not sure whether anyone ever tried to compile develop for Fermi recently with a different CUDA version.

[2015-09-29 13:00] mikeaclark commented on #367
The problem with the plaquette has been fixed in my feature/improved_staggered_rhmc branch.  I will look at the other issue later today and make the fix there so it goes in pull #366.

[2015-09-29 16:21] mikeaclark commented on #367
The staggered dslash problem has now been fixed also.

[2015-09-29 16:41] nmrcardoso commented on #367
thanks @mikeaclark.
Fixed in #366.

[2015-09-29 16:41] #367 closed

[2015-09-30 18:38] mathiaswagner commented on #323
Sorry, I somehow missed to answer here. I think MPI is mostly working now. I have not tried an awful lot of combinations and there might be some edges if you have mip-wrappers in your path but want to use others (but I might work - I just have not had a real chance to try).

[2015-10-02 10:31] mathiaswagner opened #370 "Reduce build parameters"
I am wondering whether we can reduce the dimensionality of the configuration space (or at least the exposed space). (With cmake we can mark some options as advanced and hide them from the user).

I have the impression that there are some typical combinations which we should test and some options which we can probably remove because the build times do not really matter like for building the interfa

[2015-10-02 10:41] mathiaswagner opened #371 "Setup Jenkins build server"
I am in the progress of setting up a build server (later to also test the builds for #165 ) using Jenkins.
If you see some comments and build status markers on branches these are from the integration of Jenkins with github.
Currently it should trigger builds with different CUDA versions (6.5.,7.0,7.5) for different GPU architectures.
The issue is to keep track of ideas and comments and things to-d

[2015-10-02 10:44] mathiaswagner commented on #323
We now have cmake in the develop branch. Please give it a try!
It might be a good idea to generate new issues for things that do not work yet at some point.

I will probably have to add a wiki page on building QUDA with cmake.

[2015-10-02 23:35] mikeaclark commented on #323
Wiki page sounds like a great idea :+1:

[2015-10-02 23:52] maddyscientist opened #372 "Kernel launches should use cudaLaunchKernel"
Throughout QUDA we presently use the triple chevron syntax for launching kernels, e.g.

[code]

However, there exists a lower-latency API call for launching kernels `cudaLaunchKernel`.  For the latency bound kernels, e.g., the dslash operators, we should modify the kernel launching to use this alternate form.

[code]

Due to the nature of how the dslash kernels are presently built, this is a non-t

[2015-10-03 00:18] mikeaclark commented on #370
I think the real solution here is that once we have JIT kernel generation (#362) then most of the options and `if def` guards in the source can be deleted.  Then we simply compile on demand, and the need to reduce the library size at library compilation time vanishes.

[2015-10-05 09:51] mathiaswagner commented on #370
I agree with you that #362 will solve a lot of issues with building QUDA (and probably introduce new ones :wink:) but I am wondering about the timescale for that. Anyway, maybe that is something we should do for cmake only.

[2015-10-05 10:36] mathiaswagner opened #373 "Split large object files into different compilation units"
Looking at the object files generated by quda this turns out to be among the bigger ones.
See (only files larger than 1MB)
[code]

It should be easy to split that into multiple object similar to `copy_gauge'.

Shall we still go for these kind of optimization?

At least the cmake build should hopefully track the newly generated dependencies ...

[2015-10-05 15:51] mikeaclark commented on #373
I've already split the copy_color_spinor .cu file in the multigrid branch: due to the explosion in number of colors it swells to over 200 MB - urgh.

[2015-10-05 15:56] mathiaswagner commented on #373
So we know how to create a merge conflict.
Can we cherry pick that change?

[2015-10-05 21:25] mikeaclark commented on #373
Probably not.  As I've said before the multigrid branch is major change: for that reason perhaps we should be aiming to get it merged into develop even before it's mature to keep the development vaguely sane.

[2015-10-05 21:27] mikeaclark commented on #373
And I think I wouldn't favour any more file fragmentation until we have a hierarchical source file structure.

[2015-10-06 04:03] mathiaswagner commented on #373
Agreed.

[2015-10-06 04:03] #373 closed

[2015-10-08 04:22] mikeaclark opened #379 "Restriction operators should use double precision for the reduction"
At present, the single-precision reduction operators in multigrid do their summation in single precision.  This results in a significant errors when applying the restriction operator, hence these should always do their block-local summation in double precision.

[2015-10-08 09:24] alexstrel commented on #372
A C++ generator seems to be a solution, e.g. , I'm thinking about something similar to approach adopted in QPhiX library.  It has two levels , in which for kernel bodies, the low level, one can reuse the stuff produced by our python scripts. However, for the high level it's necessary to rewrite *_def.h files.

[2015-10-08 14:51] mathiaswagner commented on #370
Are
[code]
still needed for currently supported CUDA versions?

[2015-10-08 15:06] mikeaclark commented on #370
We can definitely kill the fermi double tex flag.  Not needed since CUDA < 5.0.  The blas tex can probably also go though it useful for debugging.

[2015-10-14 09:22] mathiaswagner commented on #359
@alexstrel Is that now fixed in #365 ?

[2015-10-14 09:32] alexstrel commented on #359
yes I think so, however, I did not try magma with the Intel library. QUDA magma interface itself is now agnostic to which x86-based library is used.

[2015-10-14 10:38] mathiaswagner commented on #359
So, once we merged #365 can @cpviolator please check whether this is still an issue?

[2015-10-15 10:32] mathiaswagner commented on #302
Shall we go for 'pkg-config' here?
@bjoo What about using this for other USQCD packages?

[2015-10-22 03:55] #284 closed

[2015-10-22 04:21] maddyscientist commented on #275
Since we have cmake support now in place, this bug can be closed.

[2015-10-22 04:21] #275 closed

[2015-10-22 08:18] mathiaswagner commented on #186
I have not checked but with Nuno's work and the default use of `__ldg` is that still an issue? Of course there is still a lot of old code that doesn't use Nuno'  accessors.

[2015-10-22 08:21] mathiaswagner commented on #65
While we still might need to introduce some hierarchical structure in the code in a big cleanup I guess all dependencies are now done with #364 (#323)

[2015-10-22 08:21] #65 closed

[2015-10-22 08:24] mathiaswagner commented on #279
Where do we stand on this?

[2015-10-22 08:26] mathiaswagner commented on #299
@alexstrel @nmrcardoso @AlexVaq : Does anyone of you still have issues? All my recent builds with Cuda 6.5 did not suffer from this.
If I don't get any replies that we still have problems here I will close this issue.

[2015-10-22 11:11] nmrcardoso commented on #299
I only had issues with cuda 6.5 on tegra, otherwise it worked fine with the above fix in the FloatNOrder struct. But since anyone will be using quda in tegra systems,arm, you can close this.

[2015-10-22 13:01] mathiaswagner commented on #318
Can we close this?

[2015-10-22 13:13] nmrcardoso commented on #318
I think so. The workaround made for cuda 6.5 compiler bug did not work at 100℅ for arm systems.

[2015-10-22 13:14] #318 closed

[2015-10-26 12:46] mathiaswagner commented on #299
Looks like this is currently no longer an issue.

[2015-10-26 12:46] #299 closed

[2015-10-27 09:57] mathiaswagner commented on #370
A short term fix to improve compile times:When building QUDA in parallel we should fire up the largest files (object size) first as they compile longest and we can hide the compilation of many smaller files behind them. Currently the reduce part takes quite long to compile and is started rather late (at least from cmake).
Just wondering whether this makes sense -- it is however not related to the

[2015-10-27 11:00] mathiaswagner commented on #358
I did fire up some more tests and it looks like with Multi-GPU support enabled the tests seem to pass as long as the dimensions are a multiple of 4. I only did some random tests for now.

[2015-10-29 05:22] maddyscientist commented on #358
Fixed with #384.

[2015-10-29 05:22] #358 closed

[2015-10-29 05:25] maddyscientist commented on #143
This fix is in the feature/multigrid branch, so marking at 0.9.

[2015-10-29 11:06] mathiaswagner opened #385 "cmake should copy include to build dir"
Currently cmake does not copy the include dir to the build dir.
We then have

build/lib/libquda.a

but the include files are only in

src/include/

Most applications expect to find the files in QUDA_HOME/lib and QUDA_HOME/include

Should be an easy fix.

[2015-10-30 00:51] nmrcardoso opened #388 "Multi-GPU bug"
Develop branch seems to have a bug when running in multi-gpu mode, at least i'm detecting a lot of nan's in the gauge_alg_test. The determinant and trace codes are reporting nan's, the plaquette seems fine, and the gauge fixing is strange in Landau is reporting nan's and in Coulomb no sign of nan's, but the result is no coherent from a version of develop branch from around 2 months ago.

Is anyone

[2015-10-30 01:06] nmrcardoso opened #389 "Multi-GPU codes and gauge radius"
We need to make some fixes about the multi-gpu code and the gauge radius, because in some codes it uses a fixed radius and others only reads the radius if the dimension is partitioned.

found in codes:
1)        for(int dir=0; dir<4; ++dir){
      if(comm_dim_partitioned(dir)) border[dir] = data.R()[dir];
      else border[dir] = 0;
	  X[dir] = data.X()[dir] - border[dir]*2;
        }
and
2)

[2015-10-30 01:12] nmrcardoso commented on #388
I think I found the issue, however I did not make any tests yet.
@maddyscientist  please correct me if I'm wrong, the VolumeCB() from cudaGaugeField in multi-gpu mode returns the number of lattice points for one parity including the points in the gauge radius, right?
If this is correct we have to correct this in some codes since it uses this to get the number of cuda threads, at least in the multi

[2015-10-30 01:24] nmrcardoso commented on #388
for the gauge determinant and trace this was the issue.
Tomorrow, if I have time I will be changing this and the thinks pointed in #389 and I will create an hotfix.

[2015-10-30 01:56] maddyscientist commented on #389
Agree this needs to be fixed, and 2.) will lead to bad performance since it adds unnecessary overhead.  Why would you not want to keep the check for comm_dim_partitioned though, like in 1.)?

[2015-10-30 02:31] nmrcardoso commented on #389
Because there are codes that puts the same radius in all dimensions even if some of them aren't partitioned, that's why it's better to remove the "if(comm_dim_partitioned(dir))" and since R() in cudaGaugeField already includes this information.
Examples in the interface_quda.cpp:
1)    int R[4] = {0,0,0,0};
    for(int dir=0; dir<4; ++dir) if(comm_dim_partitioned(dir)) R[dir] = 2;
    for(int dir=

[2015-10-30 02:44] nmrcardoso commented on #389
or adding R() check in cuda_gauge_field.cu,  void cudaGaugeField::exchangeExtendedGhost(const int *R, bool no_comms_fill):
if (!commDimPartitioned(d) && !no_comms_fill) continue;
to jump if no_comms_fill=true and R()[d]=0

Also we can remove the "const int *R" and using inside the cudaGaugeField::R()  instead, also in principle the bool no_comms_fill can go by using the R() checking instead.

[2015-10-30 13:11] nmrcardoso commented on #388
fixed with 05e44fd1df73a119caa98d1b641c2eadd86eed59

[2015-10-30 13:13] nmrcardoso commented on #389
Done
for(int dir=0; dir<4; ++dir){
border[dir] = data.R()[dir];
X[dir] = data.X()[dir] - border[dir]*2;
}
in 05e44fd1df73a119caa98d1b641c2eadd86eed59. I didn't make any changes in void cudaGaugeField::exchangeExtendedGhost(const int *R, bool no_comms_fill):

[2015-10-30 13:40] mathiaswagner commented on #389
Interesting that this comes up now as I noticed issues with the exchangeExtendedGhost (initcheck complains there) for the fat link code and there
[code]

Is used.

Not sure whether is causes the issues with the FL but maybe it's worth having a look.

[2015-10-30 14:17] nmrcardoso commented on #389
I made some fixes already in 05e44fd1df73a119caa98d1b641c2eadd86eed59.
@mathiaswagner , in the interface_quda.cpp there are lot of places where the cudaGaugeField::R(),
don't know if all the inner codes uses the cudaGaugeField::R().
Also,  I don't know if all the codes that adds a border radius to the non partitioned dimensions need to be done in this way or if we can  change the this to only add

[2015-11-04 08:30] mathiaswagner commented on #389
fixed with #390.

[2015-11-04 08:31] mathiaswagner commented on #388
fixed with #390.

[2015-11-04 08:31] #389 closed

[2015-11-04 08:31] #388 closed

[2015-11-04 08:44] #385 closed

[2015-11-04 17:03] maddyscientist opened #391 "Single-precision restriction operators have sub-optimal memory access patterns"
The memory access patterns of the restriction operators are suboptimal owing to the fact that thread blocks have a one-to-one mapping with aggregates.  Since the aggregates typically are of size `4x4x4x4`, the resulting checkerboarded x-dimension of width 2 is not wide enough to cover a cache line in single precision: `width x sizeof(complex<float>) = 16 < 32 bytes`.

Note this problem does not oc

[2015-11-04 18:41] alexstrel commented on #391
Option 2 looks more complicated to extend for staggered, while option 1 is more generic

[2015-11-04 18:46] maddyscientist commented on #391
I'm only suggesting this for the packed V field, where each space-time point has Ns*Nc*Nvec colors.  Even when Ns=1, as for staggered, Nvec will be >=2, so it shouldn't be an issue for staggered either.  The only constraint would be that Nvec must be even.

[2015-11-04 18:50] alexstrel commented on #391
ok, agree. even number Nvec for staggered is not a restriction (one more eigen/null vector makes no significant difference)

[2015-11-05 06:43] maddyscientist opened #392 "Move V field into Nvec separate ColorSpinorFields"
Presently, the V matrix field, which consists of Nvec different ColorSpinorFields stored in a special packed format where we set the number of colors of the field equal to `nColor * nVec`.  While this was convenient while developing, I've since realized this was a poor design choice.  In order to copy these fields, pack their halo region, etc. we need to instantiate specific templates for each of

[2015-11-06 02:16] maddyscientist opened #393 "Optimize Generic ColorSpinorField ghost exchange and packing"
At present the generic `ColorSpinorField::exchange` function is rather suboptimal.  This will have bad effects on the strong scaling performance of multigrid.
* All dimensions are currently packed in color_spinor_pack.cu regardless of whether they are partitioned or not.
* The halo region is always filled in.  While a straight memory copy is used for dimensions that are not partitioned, this is st

[2015-11-07 06:13] maddyscientist opened #394 "CA-GMRES solver"
We need a solver for the bottom coarse grid that is robust and fast.  The presently used GCR is limited by the latency invoked by reductions.  A good candidate will be communication avoiding GMRES (CA-GMRES) since it robust and drastically reduced the synchronization versus the presently used GCR solver.

[2015-11-09 17:26] alexstrel commented on #394
I was thinking about implementing deflated version of CA-GMRES in different context, namely to improve performance of GMRESDR; this is  reported ,e,g, here: www.icl.utk.edu/sites/icl/.../icl-utk-762-2014.pdf This solver does require all ingredients of a regular CA-GMRES , so our experience would be essential for deflation stuff as well. (Corresponding task for AMG would be a pure CPU implementatio

[2015-11-09 17:36] maddyscientist commented on #394
I don't think it should make any difference for implementation whether this is CPU or GPU.  We have all the routines we need on both: BLAS and stencil can run on either; and MAGMA can deal with CPU data.  So I think it should not matter.

On another topic, I guess once your deflation branch is merged, this will need to be updated so that the solvers can run on CPU or GPU.  We'll need this to defla

[2015-11-09 17:39] alexstrel commented on #394
Absolutely, the solver itself relies on MAGMA, that can use either CPU or GPU (depending on the problem size).

[2015-11-12 06:00] mathiaswagner commented on #362
Just adding here as a possible optimization to explore with RTC:
It might not be straightforward but we could explore templating e.g. Dslash-Kernels also with lattice dimensions. If the compiler is smart enough that might save us some of the integer operations for indexing ...

[2015-11-12 06:05] mathiaswagner commented on #362
Just to think about: What will we do with tuning of launch parameters? Add a driver-dependency to the tunecache?

[2015-11-12 06:12] maddyscientist commented on #362
Probably no need to template on lattice dimensions.  The primary benefit from this is it allows integer division by constants to be done instead of using variables.  Division by constants can be done using magic numbers, however, the same effect can be achieved using @milakov's fast integer division class
(https://github.com/milakov/int_fastdiv).

[2015-11-12 06:13] maddyscientist commented on #362
Yes, we will need to record the driver version in the tunecache, but this is a minor detail since the driver will change far less frequently than say the git tag.

[2015-11-12 06:17] mathiaswagner commented on #362
Sure. It might save some registers as well but fastdiv might be the same.
I know the driver is not likely to change frequently it just came to my mind.

[2015-11-19 10:02] cpviolator commented on #359
@mathiaswagner @alexstrel Absolutely. I'll be using TACC Stampede very soon so I'll reply to this thread with the results. Thank you!

[2015-11-23 16:18] mathiaswagner commented on #255
I have not checked but maybe http://accfft.org/ is of interest.

[2015-11-23 16:23] nmrcardoso commented on #255
I already sent an e-mail to Amir Gholami, from accfft, last week asking if
they are willing to support 4D FFTs. Still waiting for a response, hope for
a positive one.

On Mon, Nov 23, 2015 at 4:18 PM, Mathias Wagner <notifications@github.com>
wrote:

[2015-11-23 16:30] maddyscientist commented on #255
Even without 4d support though you could use this though couldn't you?

I saw a poster on this as SC15 last week and spoke to the presenter (whose name I don't recall).  Looked very promising.

[2015-11-23 16:43] maddyscientist commented on #255
I just looked at the source code.  It has been licensed under GPL so just a heads up to be careful that none of its source code is migrated into QUDA.

[2015-11-23 17:18] nmrcardoso commented on #255
I have not yet looked closely, but I hope that I can still use 2D+2D or
3D+1D  FFT decompositions for parallel FFT with this library.
However, if they will support 4D it will be better to have on our side a
cleaner code.

On Mon, Nov 23, 2015 at 4:43 PM, maddyscientist <notifications@github.com>
wrote:

[2015-11-25 19:42] maddyscientist opened #399 "Mixed precision deflation should support non-power of two eigenvectors"
Currently the implementation of the mixed-precision deflation algorithms require that the number of eigenvalues calculated per solve is a power of two.  This is due to the mixed-precision matrix-vector kernel that these algorithms employ.  This restriction should be lifted.

[2015-11-25 20:54] detar opened #400 "invertMultiShiftQuda should not abort if the source norm is zero."
Aborting is wrong.  It should simply return a zero solution.

[2015-11-25 20:57] maddyscientist commented on #400
Under what circumstances should this appear in a normal run?

I would suggest we simply return 0 and give a warning then?

[2015-11-25 21:21] detar commented on #400
Hi Kate,

When we run the spectrum analysis code, we often choose sources with
support on only the even sites of a single time slice.  The MILC code
calls for separate multimass inversions on the even and odd sites.  The
odd site solve then has a zero rhs.  Of course, calling QUDA with such a
setup is inefficient, because all the data movement is for naught.   The
alternative is to compute the sou

[2015-11-25 21:26] maddyscientist commented on #400
So in QUDA we could check for zero before copying to the GPU to reduce the unnecessary overhead.  We can get this into the develop branch in the next few days.

[2015-11-25 21:32] detar commented on #400
Hi Kate,

Don't make this urgent.  I have already hacked the MILC wrapper for now
to prevent this, so my jobs can run.

Thanks,
Carleton

On 11/25/2015 2:26 PM, maddyscientist wrote:

--
Carleton DeTar
Department of Physics and Astronomy
University of Utah

[2015-12-01 19:56] alexstrel opened #403 "Flexible spinor structures"
As a part of the further deflation development, it's desirable to have more generic spinor field objects. In particular, to enbale spinor field sets (like eigenvector containers etc.) I'm  implementing a new structure that I called the composite spinor field structure. (Did not find better name for the object, any suggestion is welcome). Here is the code snippet from color_spinor_field.h :
(Typede

[2015-12-03 10:10] AlexVaq opened #404 "Compilation fails for Fermi, CUDA 5.5"
During compilation in a local cluster in Cyprus using Fermi I came accross with this error:

make[1]: se ingresa al directorio `/fhgfs/prometheus/home/avaquero/git/test/quda-develop/lib'
/fhgfs/prometheus/buildsets/eb141014/software/CUDA/5.5.22/bin/nvcc  -O3 -D__COMPUTE_CAPABILITY__=200 -ftz=true -prec-div=false -prec-sqrt=false  -w -DMULTI_GPU -DPTHREADS -DGPU_WILSON_DIRAC -DGPU_TWISTED_MASS_DIRA

[2015-12-03 10:23] mathiaswagner commented on #404
Development branch or release?

[2015-12-03 10:28] AlexVaq commented on #404
Development

[2015-12-03 10:30] AlexVaq commented on #404
Adding:

using namespace dslash;

in line 114 of  dslash_policy.cuh seems to do the trick, but I'm sure this is not a very good solution.

[2015-12-03 10:37] mathiaswagner commented on #404
Have you tried different builds (different CUDA, release, without HOST_DEBUG) ?

[2015-12-03 10:41] AlexVaq commented on #404
No, I didn't. It's very possible that the issue is pretty restricted to a very specific configuration. I never had this problem before.

[2015-12-03 11:00] AlexVaq commented on #404
I confirm that the bug persists if HOST_DEBUG is set to "no".

[2015-12-04 09:54] mathiaswagner commented on #404
Not sure whether this is an option on the system: Have you tried newer CUDA versions? (If you install CUDA in your home you can still use it to test compilation but the created binary might not run because of a too old cuda driver).

[2015-12-04 10:20] AlexVaq commented on #404
I can try CUDA 6.0.37, but if I remember well, CUDA 6 was plagued with issues, so I don't know if that would give us new info or make things worse.

[2015-12-07 14:44] maddyscientist commented on #404
I'll try to find a workaround.  Is there any reason why this machine is still using 5.5? I would have hoped that we don't have to support such an old version.

[2015-12-09 09:55] AlexVaq commented on #404
Sorry for the late reply, Kate. Here we had long holidays.

This machine is a cypriot machine that is not decomissioned because it's almost the best they have, and the alternative version is CUDA 6.0.37. If you think it might help, I'll recompile for that version and see if the error persist.

But it is really stupid. I mean, it is not a CUDA issue, it looks like a c++ issue (maybe related to nvcc

[2015-12-09 09:56] AlexVaq commented on #404
Alternatively, we can drop support for 5.5 in the next release. Looks like a drastic way of solving problems, but I agree we shouldn't be burden with legacy code.

[2015-12-09 16:49] AlexVaq opened #405 "Covariant derivative might give wrong result while tuning"
If the covariant derivative is not tuned, the first run might give wrong results. This reminds me of the bug all the dslash had before.

I'll try to look at it.

[2015-12-09 16:53] maddyscientist commented on #405
I presume this isn't as simple as needing to save some state prior to tuning that is overwritten when tuning?

[2015-12-09 16:55] maddyscientist commented on #404
I cannot reproduce this issue.  I'm using CUDA 5.5 and GCC 4.7.3, and yet compilation is working fine for me.  I've also tried CUDA 7.5 with GCC 4.7.3, and CUDA 5.5 with GCC 4.8.4.

[2015-12-09 17:12] AlexVaq commented on #404
Mmm, then it might be related to the cupriot machine. Actually today we compiled in a different machine wthout issues.

I suppose we can close this issue.

[2015-12-09 17:14] AlexVaq commented on #405
Well, I'm not sure. I've just observed the bug, but I didn't have time to look into the details.

I'll try to find out.

[2015-12-09 17:22] maddyscientist commented on #404
Ok, closing this issue for now.  If you understand how to reproduce it then we can reinvestigate then.

[2015-12-09 17:22] #404 closed

[2015-12-10 10:33] mathiaswagner commented on #323
With the release of 0.8 coming up I am inclined to declare the old build system as deprecated and require a flag to configure (maybe `--iamoversixty`) to make it still generate an output (and only print massive warnings).
That will hopefully give us some feedback and then we can get rid of the autoconf for 0.9.
That will allow us to do a lot of source file organization much easier.

[2015-12-11 07:54] #393 closed

[2015-12-11 23:59] maddyscientist commented on #256
As of pull request #406, this has been completed.

[2015-12-11 23:59] #256 closed

[2015-12-12 00:01] maddyscientist commented on #134
This should be delayed until the next major release, since the multigrid branch has drastically improved the handling of full fields versus parity fields.

[2015-12-12 00:06] maddyscientist commented on #281
This has long since been implemented in #291.  Closing.

[2015-12-12 00:06] #281 closed

[2015-12-12 00:09] maddyscientist commented on #194
@alexstrel with your mixed-precision eigCG, has this been completed?

[2015-12-12 01:16] alexstrel commented on #194
I think it's still a valid issue. We discussed this point in the context of the low mode computing for multigrid. (current mixed precision is designed for single precision eigCG, with half precision reserved for cg corrections). on the other hand I believe gmresdr might be more relevant for this purpose.

[2015-12-14 16:21] mathiaswagner commented on #323
While there are probably a lot of things that don't work yet we do have most functionality for CMakeLists.txt now in 0.8 and will continue to make this even greater over time.

[2015-12-14 16:21] #323 closed

[2015-12-14 16:33] maddyscientist commented on #323
One issue I realized with the way cmake works.  QDPJIT requires that we compile cpp code with c++11, however cmake passes all cpp flags to nvcc.  This will mean that QDPJIT and cmake will require CUDA 6.5 and upwards.  Not a big deal but worth noting.

[2015-12-14 16:43] mathiaswagner commented on #323
We can probably work around that. But only if we really need to support pre 6.5.

[2015-12-15 09:27] mathiaswagner commented on #371
A temporary installation is in use and just needs tweaking. These tweaks should go into specific issues.

[2015-12-15 09:27] #371 closed

[2015-12-15 15:52] mathiaswagner commented on #405
@AlexVaq Do you want to get that in for the 0.8.0 release?

[2015-12-15 15:53] mathiaswagner commented on #370
I guess we can look at this for the cmake based build once we start cleaning that.

[2015-12-15 15:55] mathiaswagner commented on #124
@maddyscientist Move this to the big clean-up for 0.9?

[2015-12-15 16:23] maddyscientist commented on #38
Closing this issue, as having QIO functionality on a single-GPU build is not something that needs to be done.

[2015-12-15 16:23] #38 closed

[2015-12-15 16:26] maddyscientist commented on #120
@cpviolator Just checking on the status of CPS and clover.  Is there anything that needs to be done at the QUDA end?

[2015-12-15 16:28] maddyscientist commented on #72
Moving to 0.9, though I'm not sure this is really an ongoing issue that we need concern ourselves with.

[2015-12-15 16:31] maddyscientist commented on #156
Moving this to 0.9.

@bjoo can you add the Chroma file reference for Stout smearing to this bug so I have a reference point to work from?

There's no pressing need to implement this from an application point of view, but having this support in place would make testing the QUDA multigrid solver much easier.

@AlexVaq given you've implemented APE smearing already, I don't support you fancy implement

[2015-12-15 16:32] maddyscientist commented on #113
Moving to 0.9.  I plan on revamping the blas framework a lot in 0.9, and these changes will make this task trivial.

[2015-12-15 16:36] maddyscientist commented on #287
Moving to 0.9.

[2015-12-15 16:40] AlexVaq commented on #405
I don't know how many people are using this, apart from my group. And there is an easy workaround, which is first to tune and then to run, so it's not really blocking anything. I think there is not a big rush here, although definitely is something I should fix soon.

Since the release of the 0.8.0 is imminent, I'd leave as an open issue and add a hotfix later, because I can't promise I'll make it

[2015-12-15 16:48] cpviolator commented on #120
Not to my knowledge. I'm running Clover fermions on CPS with QUDA support
with no problems and no bottlenecking, using the
QUDA_CPS_WILSON_DIRAC/GAUGE_ORDER flags and a little vector rearranging on
the host. If I find a more elegant method I'll make a branch then pull
request.

On Tue, Dec 15, 2015 at 11:27 AM, maddyscientist <notifications@github.com>
wrote:

[2015-12-15 16:51] maddyscientist commented on #120
Thanks.

Did you ever try the built in clover construction / inversion to avoid the need to do any clover transfers?  Also, we could support the reordering as part of QUDA directly to keep CPS cleaner.

Is this in mainline CPS?

[2015-12-15 16:58] cpviolator commented on #120
I'm hacking the public release, I'm not affiliated with Columbia.

I will make a priority of streamlining the clover construction / inversion this week. It's my understanding that passing null pointers in loadCloverQuda will perform the construction / inversion on the device, a nice feature that ought to be utilised.

[2015-12-15 17:02] AlexVaq commented on #120
Yes, null pointers in loadCloverQuda forces the gpu to calculate the Fmunu tensor and the clover term.

[2015-12-15 17:04] maddyscientist commented on #120
Great.  Probably best to check it in two steps: first just pass a null pointer for the inverse to check the inversion works ok, then check the full clover construction.  It should just work: only reason it wouldn't work is if you're using anisotropic fields, which we don't support yet (though this would only affect the clover construction, not the inversion which should work regardless).  Somethin

[2015-12-15 17:06] cpviolator commented on #120
@maddyscientist will do re 0.8.x.

[2015-12-15 17:13] maddyscientist commented on #220
I suspect this is not something that we can do for 0.8, since this would be a disruptive change.  Marking as 0.9.

[2015-12-15 17:14] cpviolator commented on #156
@AlexVaq, I have written some Stout smearing routines in CPS for operator smearing. The routine starts at line 959 [here](https://github.com/cpviolator/QUDA-CPS/blob/7afa752496e9e01983b4aba9ce2ca7dd9e16089e/QUDA-CPS_v5_0_26/src/alg/alg_smear/alg_smear.C) and the exponentiation of the matrix Q is written at line 74 [here](https://github.com/cpviolator/QUDA-CPS/blob/7afa752496e9e01983b4aba9ce2ca7dd9

[2015-12-15 17:19] maddyscientist commented on #156
That would be fantastic if you can take a look.  I think the APE smearing should be fairly easy to understand as it's written in fairly high-level C++ that abstracts away much of the GPU details.  I'm happy to help if needed.

[2015-12-15 17:22] maddyscientist commented on #405
Just taking a quick look at this now.  I presume this is for the CovDevCuda class?

[2015-12-15 17:24] maddyscientist commented on #405
And does this problem arise in both single- and multi-GPU builds?

[2015-12-15 17:24] cpviolator commented on #156
Will do. Most of the effort has already been done in writing the CPS code. I'll take a look this afternoon.

[2015-12-15 17:26] AlexVaq commented on #156
Yes, I use a simple 3-staple, but going further than that is more of the same. Just look at the field-stress tensor code, for instance.

You might want to check the linkIndex and linkIndexShift functions which allow you to retrieve the index associated to some coordinates, so you can access the gauge field in neighbouring points. And you also need to understand how the extended gauge fields work.

[2015-12-15 17:46] AlexVaq commented on #405
Yes, it's that class, and I don't know whether it affects single GPU or not. We saw this while trying to prepare some code for production, and since we're writing a paper in a rush, I couldn't do further testing.

[2015-12-15 19:19] maddyscientist commented on #278
Closed by #411.

[2015-12-15 19:19] #278 closed

[2015-12-15 19:45] cpviolator commented on #156
@AlexVaq Thank you. If I get stuck I'll be sure to ask for help! 👍

[2015-12-16 02:59] cpviolator commented on #156
@AlexVaq I have the routine written but I don't know how to test it. Also, which branch of QUDA should I fork to make a pull request?

[2015-12-16 03:05] maddyscientist commented on #156
Branch from develop.  If you issue the pull request we can review and decide what to do from there.

If you're using stout smearing in the cps could you use this as the reference to check correctness?

Fast work!

[2015-12-16 03:54] cpviolator commented on #156
OK, I think I did that pull request correctly.

I know that the stout smearing works perfectly in CPS. The code I submitted is just a transposition, in that some data types were changed and some matrix operations were shuffled around to account for the new operators. No major changes were needed in the algorithm itself.

[2015-12-16 04:06] alexstrel opened #417 "Dslash with reconstruction 8 seems to be broken at least for Wilson operator"
invert_test for CG solver (other solvers did not check) with reconstruction 8 fails with NaN appeared in the source norm already after  the preparation stage. (i.e. Ln 2375 in interface_quda.cpp) This can be traced further to the dslash application , i.e. Ln 195 in dirac_wilson.cpp . Rec 12 and no reconstruction work fine. Also, dslash_test woks fine as well , for all cases including rec 8. Curren

[2015-12-16 05:18] maddyscientist commented on #417
I don't think this is a bug.  There is an issue that you can't use free fields with reconstruct 8, and I see that at least the develop branch defaults to using free field unless you load in a gauge field.

[2015-12-16 05:23] maddyscientist commented on #417
I note there is an unavoidable singularity in reconstruct 8, which is triggered when the diagonal elements = 1.  This is fixable by modifying how reconstruct 8 is parametrized, such that the singularity appears on the off-diagonal and not on the diagonal, hence it won't be triggered by free fields.  Doing so may actually improve the precision of reconstruct in the general case.

[2015-12-16 08:05] AlexVaq commented on #156
Sorry for the late reply, Dean. It was 3am here when I got your message.

Even if the code is just a transcription of the CPU routines, I'd suggest that you tested it for correctness. You can, for instance, check the plaquette as the level of smearing increases, and compare it with you CPU code. CUDA and QUDA can be very tricky sometimes.

Also, when testing, be careful with the boundary condition

[2015-12-16 08:48] AlexVaq commented on #405
I'm spending some time right now on this issue. It seems the covDev is all right, but the contraction kernels are not, and require saving the prior state. This was not an issue with the original contraction kernels, because they were overwriting the previous state anyway, but with the plus and minus options leads to the wrong result.

[2015-12-16 08:57] cpviolator commented on #156
@AlexVaq I was wondering how this test could be done, checking the plaquette seems like a good idea.

[2015-12-16 08:57] mathiaswagner opened #420 "cleanup build options for cmake"
We should mark some options as advanced if they are likely only to be changed by developers and not by users. It is also a good time to change names if desired.

[2015-12-16 09:03] AlexVaq commented on #156
It is not the perfect check, but it is what I used for APE. If you get an agreement for ~7 significant figures for an arbitrary number of smearing steps, you can be fairly sure the code is correct.

Mind you, the current interface plaquette routines read directly the gaugePrecise field (maybe we should change this in the future???). I suppose you store your smeared field in gaugeSmeared, so you mi

[2015-12-16 09:23] cpviolator commented on #156
I think that the method you used for APE will work just as well for STOUT. A 7 sig. fig. agreement should be good enough for anyone! The pull request is [here](https://github.com/lattice/quda/pull/418). Though I made a new file gauge_stout.cu, everything therein is a copy of your APE code. Can you please send me your scripts for APE testing and I will try to do the same testing for STOUT?

[2015-12-16 10:20] AlexVaq commented on #156
Uf... I used a custom routine to load custom gauge fields that I generated with a custom HMC program I developed during my PhD... You have writen interfaces so you can just copy su3_test.cpp as a template, load your gauge configuration, and just run the smearing. If you set the verbosity to QUDA_VERBOSE, at the end of the run, you'll get the plaquette (according to your code).

So, I would just ad

[2015-12-16 12:55] mathiaswagner commented on #420
my suggested sorting of options for now are shown below.
As cmake sorts options alphabetically I would prefer to rename all options for QUDA so that they start with QUDA (we can leave the defines the way they are, I am just thinking about the variable names in cmake).
Furthermore, if there are any options that can be unified or removed (preferably those that hardly affect compile time / library si

[2015-12-16 12:56] mathiaswagner commented on #420
Just to clarify: Advanced options in cmake are only hidden in the GUI / text mode interface if the advanced option is not marked, see https://cmake.org/cmake/help/v3.0/command/mark_as_advanced.html

[2015-12-16 16:44] maddyscientist commented on #420
This looks like a great idea.  Something like this would be much more readable given the alphabetical ordering :wink:
[code]

[2015-12-16 16:58] maddyscientist commented on #405
Closed with #422.

[2015-12-16 16:58] #405 closed

[2015-12-16 17:39] mathiaswagner commented on #420
I'm also in favor of using QUDA as prefix for all our options. That keeps them together in the gui and CMakeCache, e.g.

QUDA_DIRAC_WILSON

etc.

Thoughts?

On 16.12.2015, at 17:52, maddyscientist <notifications@github.com<mailto:notifications@github.com>> wrote:

This looks like a great idea. Something like this would be much more readable given the alphabetical ordering [:wink:]

set(GPU_ARCH sm

[2015-12-16 17:50] maddyscientist commented on #420
Yes, sounds good.

[2015-12-17 14:46] mathiaswagner commented on #120
Any updates here? Any fixes required for 0.8.0 ?

[2015-12-17 22:51] cpviolator commented on #120
At the moment, I can pass the gauge field and the fermion fields to QUDA with the relevant QUDA settings, but I must still construct the clover terms on the CPU then load. Passing null pointers to `loadCloverQuda`,

`loadCloverQuda(null_pointer, null_pointer, &quda_inv_params)`

in an attempt to have the device construct the clover matrices results in the solver diverging on the first iteration. H

[2015-12-17 22:56] maddyscientist commented on #120
Ok thanks for the update @cpviolator.  I will take a look at this when I get a chance.

Is it any faster in your workflow to invert on the GPU rather than transfer the inverse?

[2015-12-17 22:57] cpviolator commented on #120
I will time it now and post back with results.

[2015-12-17 23:31] maddyscientist commented on #120
Also, do you think the test you ran with CPS is something I can easily reproduce?  I see you've posted your variant of CPS on github...

[2015-12-17 23:33] cpviolator commented on #120
Let me update it properly before you download a copy. Reproduction will be straightforward with some simple 1 hadron simulation code.

[2015-12-17 23:54] cpviolator commented on #120
Ok, I've updated the QUDA-CPS repo. The current version will construct the clover matrices on the host, then have the device calculate the clover inverse matrices. You can change this by editing the function `loadCloverQuda(ptr1,ptr2,&params)`
in the file
`QUDA-CPS_v5_0_26/src/util/quda_interface/quda_interface.C`
The single hadron code should compile, but packaging that was handed off a project c

[2015-12-18 00:13] cpviolator commented on #120
Here is some simple 1pion code. Just adjust the makefile so that it knows
where your QUDA, CUDA, and CPS builds are, and also comment out #define READ in
the 1pion.cpp and 1pion.GPU.cpp files on your first run. This will generate
a small lattice that you can read in on subsequent test runs.

On Thu, Dec 17, 2015 at 6:31 PM, maddyscientist <notifications@github.com>
wrote:

[2015-12-18 00:26] cpviolator commented on #120
In the repo I added a directory called `1pion_quick_test` that should be a lot easier work with.

[2015-12-18 00:37] maddyscientist commented on #120
Thanks.  Not sure when I'll get to this, but hopefully soon.  I shortly have to turn my attention to clover multigrid once I've finished my current work on applying even/odd preconditioning to the multigrid framework, so that would probably involve minimal context switching.

[2015-12-18 00:39] maddyscientist commented on #120
A couple of quick questions in the meantime though:
* are you doing asymmetric or symmetric preconditioning?
* even-even or odd-odd?
* the lattice is isotropic I presume?
* are you using gauge reconstruction?

[2015-12-18 00:49] cpviolator commented on #120
Information from CPS on preconditioning:
Algorithm:
i.  The preconditioned matrix is inverted with
i.1: on the odd checkerboard:  the conjugate gradient
i.2: on the even checkerboard: explicit inversion of those local and hermitian clover matrices.
ii. steps: (no extra storage required)
1. out_even0 = Aee^inv in_even
2. out_odd  = (MatPcDagMatPc)^inv MatPcDag
                                (kappa

[2015-12-18 00:56] maddyscientist commented on #120
Thanks for the info.  So when solving, are you passing `in` to QUDA and using say `QUDA_MAT_SOLUTION` with QUDA_DIRECT_PC_SOLVE to compute the full `out`, or are you just letting QUDA do the preconditioned solve, `QUDA_MATPC_SOLUTION`, i.e., just passing to QUDA `in_odd` and getting back `out_odd`?

[2015-12-18 01:01] cpviolator commented on #120
I pass the full `in` and 'out` vectors to `invertQuda(out,in,&inv_param) with the QUDA flags:

`inv_param.solution_type = QUDA_MAT_SOLUTION;`
`inv_param.solve_type = QUDA_NORMOP_PC_SOLVE;`
`inv_param.matpc_type = QUDA_MATPC_EVEN_EVEN;`

So QUDA does all the work.

[2015-12-18 01:07] maddyscientist commented on #120
Ok.  I'll take a look, thanks for all the info.

If you have a chance, I've got one final test for you do.  Can you retest but with `QUDA_RECONSTRUCT_NO`, just to rule out reconstruction as a possible source of error.

One thing, it looks like the type of preconditioning you're requesting there is not the same as the CPS is doing.  `QUDA_EVEN_EVEN` / `QUDA_ODD_ODD` will invert both parities clover

[2015-12-18 01:24] cpviolator commented on #120
Adjusting the `QUDA_RECONSTRUCT_XX` flag to NO has the same effect and the solver diverges.

Thanks for the heads up about preconditioning. When I time the clover inverse routines I'll do some timing tests to see what the differences are with respect to preconditioning.

[2015-12-18 02:05] maddyscientist commented on #120
Just looking at your interface, and the first thing I've spotted is that you're not enabling the the autotuning.  This will greatly reduce the performance of the linear solver.
[code]
Any reason you're not using mixed precision or BiCGstab?  There's probably a factor of 3-4 sitting untapped there.

[2015-12-18 02:14] cpviolator commented on #120
This is on my list of jobs before scaling up to large lattices. Indeed, Joel (my supervisor) has strongly suggested I move to Mixed ASAP. I've taken the policy of trying to keeping everything as accurate as possible, but once we move to L=16,20,24... then yes, mixed precision will be employed. I didn't know about the `inv_param.tune = QUDA_TUNE_NO;` flag, it's probably been that way since Joel and

[2015-12-18 02:21] maddyscientist commented on #120
Using mixed precision won't affect the final result at all, only make it go faster.  It's a violation of the no-free-lunch theorem :wink:

For double-single, using `reliable_delta = 0.01` should work fine, and for double-half, `reliable_delta = 0.1` is probably optimal.  Both should give a big speedup, with double-half precision working fastest.

[2015-12-18 02:35] cpviolator commented on #120
That's awesome, thank you! Given all this new input, I'll bench the code properly and write a short report. I have to do it for thesis anyway so I may as well do a proper job. Tabulated results will appear here for:

*double-double / double-single / double-half,
*comparisons with `QUDA_TUNE_NO/YES`,
*timings for host Vs CPU clover matrix inversion,

all done at a variety of L and m_{\pi} in the qu

[2015-12-18 05:17] maddyscientist commented on #120
I don't know if the entire set is available or not, @bjoo can you help out here?

[2015-12-18 05:20] maddyscientist commented on #120
Also, when running with tuning, for a fair comparison, you need to set the `QUDA_RESOURCE_PATH` environment variable and compare multiple runs.  See [here](https://github.com/lattice/quda/wiki/QUDA-Quick-Start-Guide#kernel-autotuning) for more details.

[2015-12-18 07:08] mathiaswagner commented on #120
OT: Just realized that the tuning is describe twice on that wiki page. (above internal testing and in the corresponding section). Anyhow, we'll rewrite a lot here for cmake ...

[2015-12-18 07:12] cpviolator commented on #120
May I ask, how does one set that? I put
`export QUDA_RESOURCE_PATH=/home/howarth/QUDA_resources`
in my .bash_profile and started a new shell, but QUDA doesn't recognise it. Am I doing something terribly wrong?

[2015-12-18 07:30] maddyscientist commented on #120
Can you just set it in the shell directly and check that it's being correctly:
[code]

[2015-12-18 07:41] mathiaswagner commented on #120
check with 'env' that it is correctly set in your shell.

[2015-12-18 07:43] cpviolator commented on #120
Thank you, `QUDA_RESOURCE_PATH` is now being set and recognised. And it looks like double-half using CG gives a factor two improvement! I see there is a whole host of QUDA inverters so I'll have a lot to play with with regards to benching the code.

[2015-12-18 07:45] maddyscientist commented on #120
Excellent.  Generally, BiCGstab gives the best performance for clover, and I would expect a further factor of two improvement.  Until multigrid is stable anyway...

[2015-12-18 08:53] mathiaswagner commented on #120
While you are benchmarking anyway you can also try to set different reconstruct options for sloppy precision (half, single) and full precision (double). At least for staggered I sometimes saw better performance by using no_reconstruct for full precision and reconstruct 12 / 8 for sloppy (technically 13 / 9 for staggered). No huge effects but while you are benchmarking anyway it might be nice to ge

[2015-12-18 09:01] cpviolator commented on #120
Thanks @mathiaswagner, the more angles I have to look at, the better!

I will also be looking at swapping out the CPS clover (and Wilson) inverter in the HMC phi algorithm. Right now I use a BG/Q to generate dynamical configurations, but moving that over to the GPU would be great. It would make for a solid variant of CPS that can generate publication quality data on just one or two GPU cards.

[2016-01-06 15:06] fwinter opened #425 "release/0.8.x has problems with qdp-jit"
While current master (0.7.2) works release/0.8.x (3450833ac5a7) has problems when called with qdp-jit:

ERROR: (CUDA) unknown error (rank 0, host qcdgpu, cuda_gauge_field.cu:123 in createTexObject())
       last kernel called was (name=,volume=,aux=)
[unset]: aborting job:
application called MPI_Abort(comm=0x84000003, 1) - process 0

I am using the qdp-jit device interface to QUDA.

[2016-01-06 15:27] maddyscientist commented on #425
Can you list all the steps needed to reproduce this?  Also, what GPU, CUDA version, host compiler etc?

[2016-01-06 15:41] mathiaswagner commented on #425
I assume you still used autoconf / configure as cmake has never been tested with QDPJIT and I would not yet expect it to work.

[2016-01-06 15:46] fwinter commented on #425
I did not use cmake.

[2016-01-06 15:48] mathiaswagner commented on #425
Just wanted to make sure.

[2016-01-08 07:47] maddyscientist opened #426 "Add easy method to change mass/kappa to MG preconditioner"
We currently need to rerun the entire setup if we want to change the mass/kappa parameter for the MG preconditioner.  Since the mass parameter is just a diagonal constant, it should be easy make this a trivial change.

[2016-01-08 07:52] maddyscientist commented on #107
Closing as this has long since been implemented.

[2016-01-08 07:52] #107 closed

[2016-01-09 05:47] maddyscientist commented on #394
Just leaving a note for myself :wink:

A further advantage of CA-GMRES (and communication-avoiding solvers in general) is that they allow for the introduction of the so-called matrix-powers kernel.  Such an approach is especially beneficial for the coarse grids: on the coarsest grids we don't typically saturate the memory bandwidth due to lack of parallelism.  Moreover, when we apply the dslash op

[2016-01-11 23:04] fwinter opened #427 "malloc.cpp:240 in device_free_"
During propagator calculation with standard Chroma switching from QUDA 0.7.2 to 0.8.x I get an error in device_free_() probably coming from QUDA. (Means with 0.7.2 everything's fine)

K20m, CUDA 7.0, g++ (GCC) 4.8.2
NVRM version: NVIDIA UNIX x86_64 Kernel Module  346.46  Tue Feb 17 17:56:08 PST 2015
GCC version:  gcc version 4.4.7 20120313 (Red Hat 4.4.7-4) (GCC)

Entering quarkProp4
QDP m0,n1@qcd

[2016-01-12 17:01] maddyscientist commented on #425
This isn't a bug, but arose due to using a Kepler+ build on a Fermi GPU.

[2016-01-12 17:01] #425 closed

[2016-01-13 20:32] maddyscientist commented on #427
Closed with #428.

[2016-01-13 20:32] #427 closed

[2016-01-17 23:31] fwinter opened #429 "sm37"
Guys! I came across an issue with qdp-jit on sm37 hardware (i.e. K80s). Then I wanted to build the Chroma/Quda/Jit triple for this architecture and realized that QUDA too stops counting at sm35. That means huge startup times on sm37. Is there a deeper reason for this?

[2016-01-18 00:00] maddyscientist commented on #429
That doesn't sound right: sm_30 and sm_35 are binary compatible with sm_37.  There should be no difference between an sm_37 build and an sm_35 one (there's some tiny differences but none that matter).  Are you sure you're compiling for sm_35 when running on the K80?

[2016-01-18 01:20] fwinter commented on #429
Right, I was building for sm20. Building for sm35 removes the huge startup time. Sorry, I got alarmed too quickly because of a parallel issue. but none of that matters to quda.

[2016-01-18 01:20] #429 closed

[2016-01-21 19:24] maddyscientist commented on #420
Closed with #423

[2016-01-21 19:25] #420 closed

[2016-01-24 11:33] lcosmai opened #433 "MILC 7.7.11 with QUDA 0.8.0 compilation issues"
I tried to compile MILC v7.7.11 with QUDA 0.8.0.

This is my compilation environment:
Operating System:
CentOS Linux release 7.0.1406 (Core)
Architecture:
x86_64
2 nVIDIA Tesla K80 "Kepler" per node
CUDA release:
7.0.28
Compilers:
INTEL

I followed the instructions given in
https://github.com/lattice/quda/wiki/MILC-with-QUDA

I downloaded  (git clone https://github.com/lattice/quda.git)
and config

[2016-01-25 20:30] mathiaswagner commented on #433
This was an issue with the quda interface using c++ features and not being  valid C. This has been fixed. Please update your release.
Note that `git clone https://github.com/lattice/quda.git` will check out the development branch of QUDA. If you want to have the stable version you should make sure to get the `master` branch.

Please either switch to master or update your checkout to the latest com

[2016-01-26 01:32] mathiaswagner commented on #120
@cpviolator @maddyscientist PING: Any updates on this? Something we need to fix for 0.8?

[2016-01-26 12:38] lcosmai commented on #433
I switched to quda 0.8.0 master and the MILC 7.7.11 compilation with quda 0.8.0 is OK. Thanks for the support!
I would like suggest that in the instructions given in https://github.com/lattice/quda/wiki/MILC-with-QUDA "git checkout develop" should be replaced with "git checkout master".

[2016-01-26 17:01] mathiaswagner commented on #433
Strictly speaking there is no 0.8.0 yet and you probably checkout out quda master which is the latest released version (0.7.2)

[2016-01-26 17:01] #433 closed

[2016-01-26 18:56] maddyscientist commented on #433
@lcosmai if you do want to use QUDA 0.8 our
Release candidate is in the release/0.8.x branch.  We hope to release this in the next week or two, once we have competed final testing.  It should be as stable, if not more stable than the current master as well as giving improved performance and more features.

[2016-02-02 14:27] mathiaswagner opened #435 "Improve selection of non-default MPI version from cmake"
The use of *FindMPI* from cmake prints some confusing diagnostic messages when trying to use a non-default MPI version. The current detection of the MPI libraries and includes might not always work by using the preferred  `cmake -DMPI_CXX_COMPILER=<path-to-mpicxx>` approach to specify a non-default MPI version.

This can probably be improved.
I need to collect some diagnostics on different machine

[2016-02-23 09:14] mathiaswagner opened #439 "MILC precision mismatch in rhmc (MILC 7.7.13 / quda 0.8.0)"
QUDA internal tracking of bug report by @lcosmai https://github.com/milc-qcd/milc_qcd/issues/5

MILC 7.7.13 and probably also 7.8.0 fails in RHMC with QUDA

To reproduce build MILC for double precision and enable all QUDA acceleration for HISQ:

run
[code]

error message:
[code]

[2016-02-23 12:22] mathiaswagner commented on #439
Some insight from gdb: breakpoint at the cbheckgauge call
[code]

Looking into the milc_interface invert call
[code]

So at line 977 we do not load a gauge field. However, as the resident gauge field is double precision and the request is for a single precision inversion we hit the error later.
Looks like we need to add another check for reloading the gauge field at least here and maybe also in ot

[2016-02-23 12:59] mathiaswagner commented on #439
The error occurs when calculating pbp. Forcing an `invalidateGauge` in `qudaInvert` fixes the issue.
Not sure how we can best detect that this is needed.

[2016-02-23 15:15] maddyscientist commented on #439
We could add a method to query the precision of the resident gauge field and invalidate if it doesn't match.
-----------------------------------------------------------------------------------
This email message is for the sole use of the intended recipient(s) and may contain
confidential information.  Any unauthorized review, use, disclosure or distribution
is prohibited.  If you are not the inte

[2016-03-16 16:41] kostrzewa opened #444 "unpredictable "invalid resource handle" in MPI-parallel application linking against serial QUDA library"
Dear all,

this is a rather peculiar issue that I'm trying to get my head around. Explaining the context will require a few lines, so let me begin with the error message which occurs when running on the gpu partition of Jureca at JSC in Juelich (75 nodes with two K80s -> four devices per node):

[code]

We (Bonn node of the ETMC) are trying to use the QUDA solvers in (perhaps) a rather peculiar wa

[2016-03-16 16:46] kostrzewa commented on #444
I should mention that of course the full gauge field and source are copied to each of the four devices.

[2016-03-16 16:48] kostrzewa commented on #444
The relevant calling code can be found here: https://github.com/kostrzewa/tmLQCD/blob/lowmem.subprocess/quda_interface.c#L523

[2016-03-16 19:30] mathiaswagner commented on #444
Your usage pattern seem pretty unusual. I am not sure whether anyone has ever tried that before.
You might just hit some issues that only show up in that case.
Maybe you can boil you code down to a single MPI rank first and check whether that succeeds?

[2016-03-17 02:20] rbabich commented on #444
I don't think it's that unusual.  We used to use QUDA in a similar mode when running alongside QDP/C and QOPQDP, doing inversions on a single GPU but using multiple MPI processes for contractions, etc.

That was a long time ago, though...

[2016-03-17 08:58] mathiaswagner commented on #439
Closing this now.

[2016-03-17 08:58] #439 closed

[2016-03-18 13:48] mathiaswagner commented on #444
@rbabich: l stand corrected. But at least we probably don't do very extensive testing with this usage pattern these days.

@kostrzewa : Can you report the CUDA (nvcc)and CUDA driver (nvidia-smi) versions?

[2016-03-18 14:11] maddyscientist commented on #444
Looking at this bit of code where QUDA is initialized, am I correct in thinking that we're concerned here with sub process mode?

The macro `MPI` is a local one and should therefore not supposed to be defined for this to work?  Is it possible that the MPI on the problem system defines this but your local testing used an MPI that does not?

[code]

[2016-03-21 15:46] kostrzewa commented on #444
Dear all, thank you and apologies for taking so long to reply after your quick reactions.

@mathiaswagner
[code]

I cannot really query the version of nvidia-smi because interactive sessions are not permitted on the gpu compute nodes. On the frontend nodes, which do not have GPUs, the manpage for nvidia-smi gives
[code]

I had already considered trying to reduce the problem to just one MPI rank in

[2016-03-25 06:09] maddyscientist commented on #444
@kostrzewa While this doesn't solve your issue (I presume it's not fixed yet?), I would like to draw your attention to the fact that we'll shortly be merging in the feature/peer_to_peer branch into the main development branch (`develop`).  This adds support for direct peer-to-peer communication between GPUs on the same PCIe route complex: this drastically improves strong scaling within a node.  Pe

[2016-03-25 12:25] kostrzewa commented on #444
@maddyscientist That would indeed remove the requirement for the usage of this special mode. That's really good news since I've been unable to resolve the issue. Thanks!

[2016-03-25 23:23] maddyscientist commented on #444
@kostrzewa Which Dirac operator and solver do you use?  Let me test that this is working fine, then if you don't mind using a development branch, you could try the feature/peer_to_peer branch.  It seems to be mostly stable, though there are a number issues I need to fix (for example un-improved staggered in half precision is presently broken).  It seems to be stable for all Wilson-type actions.

[2016-03-28 05:45] cpviolator opened #448 "CMAKE throwing "lib/gitversion.dummy" error"
Hi guys,

I'm trying to build a simple 0.8.0 master copy build on Centos. I go through the motions of making a build directory, running `cmake ../quda`, I set the compute mode for 2.0 turn off some Dirac operators builds with `ccmake .` in the build directory, compile then generate, then run `make -j 16`. The error that is thrown is not something I've been able to fix, it goes:

`[howarth@compphys

[2016-03-28 05:47] maddyscientist commented on #448
What version of cmake, nvcc, and gcc do you have?

This is for @mathiaswagner, he's the cmake expert :wink:

[2016-03-28 05:49] maddyscientist commented on #448
One thing though: can you check if the problem also occurs in the develop branch?  There have been a number of minor changes to the cmake build in develop, so it would be good to rule this out as something that hasn't been fixed already.

[2016-03-28 05:50] cpviolator commented on #448
GCC: 4.4.7
NVCC: CUDA 6.0
CMAKE: 2.8.12.2
GIT: 1.7.1

On Mon, Mar 28, 2016 at 1:47 AM, maddyscientist <notifications@github.com>
wrote:

[2016-03-28 05:52] mathiaswagner commented on #448
Yes, cmake version as well as CMakeLists.txt are helpful. Do you build in source or in a separate build directory?

[2016-03-28 05:59] maddyscientist commented on #448
I can see from what @cpviolator has written above, that he's using a separate build directory.

[2016-03-28 06:02] cpviolator commented on #448
I build in a separate directory. Here is my `CMakeLists.txt` from my local server. I'll post the TACC Stampede info too.

[CMakeLists.txt](https://github.com/lattice/quda/files/191422/CMakeLists.txt)

[2016-03-28 06:03] mathiaswagner commented on #448
Right. I see it now.

[2016-03-28 06:05] mathiaswagner commented on #448
Not my morning. I meant CMakeCache.txt. sorry.

[2016-03-28 06:10] cpviolator commented on #448
No worries, here's the `CMakeCache.txt` from my local. TACC Stampede data will follow.
[CMakeLists.txt](https://github.com/lattice/quda/files/191427/CMakeLists.txt)

[2016-03-28 06:12] maddyscientist commented on #448
(I think you've posted the same file twice: that doesn't look like a CMakeCache.txt file)

[2016-03-28 06:14] cpviolator commented on #448
You're right! Not my evening then either :) Here is the `CMakeCache.txt` for my local Centos build:

[CMakeCache.txt](https://github.com/lattice/quda/files/191431/CMakeCache.txt)

[2016-03-28 06:18] cpviolator commented on #448
For TACC Stampede,

GCC: 4.4.7
NVCC: CUDA 6.5
CMAKE: 2.8.12.2
GIT: 1.7.1

Same error message as the local one. Here is the `CMakeCache.txt` for TACC Stampede:

[CMakeCache.STAMP.txt](https://github.com/lattice/quda/files/191440/CMakeCache.STAMP.txt)

[2016-03-28 06:28] cpviolator commented on #448
The Develop branch does not build on either my local Centos or TACC Stampede; they do not like the `-std=c++11` command line option, but I think a `-std=c++0x` replacehack will fix it.

[2016-03-29 09:36] mathiaswagner commented on #448
For the develop branch there are some issues with the `c++11` option in older cmake versions. We probably need to require a newer cmake version for that.
Anyway, we should also figure out what goes wrong with your 0.8 build.

[2016-03-29 09:57] mathiaswagner commented on #448
Can you give the hotfix/cmake_gitdummy branch a try?
I have a first suspicion what _might_ be going on and the branch tries to fix that.

[2016-03-29 17:31] cpviolator commented on #448
Thanks, that does the trick! I've attached my `CMakeLists.txt` from the build (a local Centos build) and If I encounter any problems on TACC I'll check back, but I'm pretty sure it will go smoothly on there too.

May I ask, why does adding that boolean on `GITVERSION` solve the problem?
[CMakeLists.txt](https://github.com/lattice/quda/files/193950/CMakeLists.txt)

[2016-03-30 11:42] mathiaswagner commented on #448
Closed with #449

[2016-03-30 11:42] #448 closed

[2016-03-31 15:54] kostrzewa commented on #444
@maddyscientist Thanks! For now we only require degenerate twisted mass and twisted mass + clover with support for inversions of both flavours (+ and - mu).  For the solver we always use CG, usually double-half. The parameters are passed to QUDA as follows for the two relevant cases:

[code]

[2016-04-13 10:36] AlexVaq opened #450 "Multigrid fails for unpreconditioned clover"
There seems to be a bug with unpreconditioned clover and the multigrid solver, but to see it one needs to use a smooth configuration and calculate the clover term (these are not default settings of the test). What I see is that the null vectors are poorly computed, and the resulting solver has a really bad performance.

The issue doesn't exists in the preconditioned clover, or in the twisted-clove

[2016-04-13 14:58] kostrzewa opened #453 "twisted mass clover mass rescale results in |source|=nan when more than one inversion is done"
For multiple inversions with twisted mass + clover in the same job, the second inversion produces a `nan` for the source after mass rescaling. With the same calling code, multiple twisted mass (w/o clover) inversions go through without issues. This is with v0.8.0. I cannot test with the develop branch because `genericCopyColorSpinor` exits with `Not enabled` for the `QUDA_CHIRAL_GAMMA_BASIS` which

[2016-04-13 16:08] AlexVaq commented on #453
Strange, for the disconnected we have always inverted 1000+ random sourced and never had a problem like this.

I also find strange that after calling invertQuda the tuned parameters are not saved.

Can you try disabling tuning? Just to see if there is something broken on that side, although I wouldn't discard a problem in the interface.

[2016-04-14 08:57] kostrzewa commented on #453
This seems to be connected to auto-tuning. In addition, the number of iterations in the solve is reduced markedly (to around 2500) with auto-tuning disabled.

There is another issue which may or may not be related to this: for tmclover, the double-half solver is quite unstable and bails after

[code]

[2016-04-14 09:05] kostrzewa commented on #453
Please disregard the comment about the number of iterations, I was using NORMOP_SOLVE in this test rather than NORMERR_SOLVE.

[2016-04-14 09:24] AlexVaq commented on #453
Half precision never worked very well with twisted-clover until dynamic-clover inversion was introduced. I don't understand very well why, to be frank. You can try enabling DYNAMIC_CLOVER to see if you get an improvement in stability, although mostl likely your solver will be slower.

[2016-04-14 10:26] mathiaswagner opened #454 "Reorganize tests"
When building quda the `tests` directory uses a lot of disk space. The issue is that all test executables are statically linked against the quda library and so the disk usage in tests is approximately `<size of quda> x <number of tests>`.
We might use a shared library or combine all tests in a single executable.
As we plan to make more use of google tests and the google test framework provides an

[2016-04-14 10:33] mathiaswagner commented on #453
Just trying to understand this better: As soon as you run without autotuning this works fine? When you turn on autotuning only the first inversion is fine and it crashes then?

Is a tunecache written to disk if you autotune?

If yes, does a subsequent run work after loading the tunecache (first iteration in this run)?

[2016-04-14 10:53] kostrzewa commented on #453
Yes.

Yes, we check the residual externally and it is correct (to within an acceptable difference ```<r,r> 8.516572e-19(QUDA)  7.325881e-19(tmLQCD)```

To be precise, it doesn't crash, it just produces ```nan``` in the next inversion after mass rescaling and the solver then notices that it has "diverged". The norm of the input and solution spinors before mass rescaling are correct and agree betwee

[2016-04-14 11:13] mathiaswagner commented on #453
It looks very weird that the subsequent iteration retunes here. I assume that they all are called with the same parameters for tuning. I assume the inversion is called with the same setup and just uses a different source so all kernels should find tune parameters in the cache.
Figuring out what is going wrong here is the first thing we need to do.

[2016-04-15 12:47] kostrzewa commented on #453
Correct. It should be noted that the ```QudaInvertParam``` that we pass to ```invertQuda``` is created only once in our ```_initQuda``` and some parameters are set which we don't expect to change. At the next call of our Quda inverter interface, if the parameters changed (which they didn't in this case), these are adjusted and the the same struct is passed to ```invertQuda```.

As a result, if ```

[2016-04-15 16:43] maddyscientist commented on #453
Ok, I wonder if this reuse of the `QudaInvertParam` is significant.  Can you print it out before and after each call to `invertQuda`?
[code]

Also, can you instrument the `Dirac::prepare` method to print out the norms of the different vectors to see if we can isolate which function is getting the Nan?

[2016-04-20 08:15] mathiaswagner commented on #454
For now it looks like building a shared library just for the tests is probably not a good idea. We need to build position independent code for a shared library which might affect performance (not tested though) or we need to build twice - once for the static and once for the shared library. That does not seem desirable.

[2016-04-21 15:39] maddyscientist commented on #453
@kostrzewa

I'm confused by this statement you made in the opening comment:

If I look at the source for the copy routine, I see:
[code]
So it appears the the chiral basis should be supported for input and output into `QUDA_UKQCD_GAMMA_BASIS` which is what QUDA uses internally.  Can you give more details on the problem you've been seeing?

[2016-04-21 20:27] maddyscientist commented on #450
Is there a way for me to reproduce this problem using the internal QUDA tests?

[2016-04-21 21:30] AlexVaq commented on #450
I'm not sure: in a unit configuration the clover term is irrelevant. I didn't try a totally random configuration, maybe if you just create the clover term there you'll see it.

I'll try tomorrow.

[2016-04-22 12:07] kostrzewa commented on #453
@maddyscientist

I'm guessing the relevant basis change is the following:

[code]

[2016-04-22 12:16] maddyscientist commented on #453
Ah yes.  That's most likely a copy paste bug and if you delete that line it should fix it.

[2016-04-25 17:21] maddyscientist commented on #184
Symmetric preconditioning support was merged into develop with #442.  The difference between left and right preconditioning is only present in variable coefficient Mobiüs, and can be removed with appropriate reordering of the coefficients.

[2016-04-25 17:21] #184 closed

[2016-04-27 22:58] maddyscientist commented on #453
@kostrzewa Can you check if this problem is still occurring with the current develop branch?  If it is, can you answer my question from https://github.com/lattice/quda/issues/453#issuecomment-210541239?  thx

[2016-04-28 00:40] maddyscientist commented on #450
@AlexVaq any update on this?

[2016-04-28 04:12] AlexVaq commented on #450
Not yet, I'll download the current develop and try again. It's curious that the BiCG solver directly fails...

If the bug is still there, I'll also try to find an easy way to reproduce it.

[2016-04-28 06:27] kostrzewa commented on #453
@maddyscientist I can only work on this very sporadically, I do have it on my radar and will get back to you.

[2016-04-28 07:58] AlexVaq commented on #450
It seems to me that the bug affects clover fermions, and not specifically multigrid. The part that fails is the BiCG solver, and it fails right from the start.

In order to see the bug, with minimal changes in multigrid_invert_test.cpp, one can try this:

1. Change clover_coeff from 1 to 1e-20. This ensures our clover fermions will be like wilson. I mean, we should get the same result with wilson

[2016-04-28 07:58] AlexVaq commented on #450
Sorry, I forgot to remove the --sdim and --tdim, they are not really necessary, the problem remains for other volumes.

[2016-04-28 19:00] maddyscientist commented on #453
@kostrzewa No worries.  Just update me when you can.

[2016-04-28 20:28] maddyscientist commented on #450
Will look into this, but off the top of my head, I wonder if this is because it tries to invert the clover matrix which is close to zero, and so becomes junk.

[2016-04-28 21:36] AlexVaq commented on #450
Well, the preconditioned operator works properly, it's the unpreconditioned one that fails. Also I believe the clover term includes the identity in QUDA, so it would try to invert something close to the identity.

Did you manage to reproduce it? I gave you a clear case you could see it goes wrong, but with other values (clover_coeff ~ 0.1, for instance) it also happens, so I would say MG is not re

[2016-04-28 21:54] maddyscientist commented on #450
Looking into it now.  The other to note is that multigrid_invert_test actually uses the QUDA clover construction and inversion routines to create the clover field, whereas invert_test is just a hack.

[2016-04-28 22:02] AlexVaq commented on #450
I changed that when I tried the invert_test, so QUDA was constructing the clover term from the random configuration in that  case too. You can also reproduce that one and see how wilson and clover coincide. By the way, you need to comment the part that generates the clover term in the CPU, even if you don’t load the clover from CPU, it will modify the random source/configuration generated because

[2016-04-28 23:12] maddyscientist commented on #450
Ok, I have reproduced this....no idea what's wrong yet.

[2016-04-28 23:36] maddyscientist commented on #450
Looks like a memory initialization bug..still investigating....

[2016-04-29 07:25] maddyscientist commented on #450
I have this fixed.  Will push tomorrow.  Problem was smoother was being done with preconditioning but since the outer solver has no preconditioning, no clover inverse was being done.  Basically this is the fault of the hacked MG interface.

[2016-04-29 09:02] AlexVaq commented on #450
Glad to see you fixed it! I see, so the smoother needs the inverse clover
term anyway. That definitely would make things go wrong.

On Fri, Apr 29, 2016 at 9:25 AM, maddyscientist <notifications@github.com>
wrote:

[2016-04-29 17:39] #450 closed

[2016-05-11 20:24] mathiaswagner commented on #435
Looks like
[code]
does the job if MPI is correctly installed on your system.
Closing this until someone complains.

[2016-05-11 20:31] #435 closed

[2016-05-20 16:48] maddyscientist opened #469 "Create fused dslash and reduction kernels"
In almost all linear solvers we have to do operations like
[code]
If we fuse these operations into a single kernel then we will improve linear solver performance:
* Reduced memory traffic
* Less kernel launches reducing CPU overhead
* More arithmetic intensity per kernel improving performance at small problem size
* Better strong scaling of the dslash kernels since there is more local work to over

[2016-05-22 20:04] fwinter opened #470 "Clover issues"
invertQuda gives me

CALLING QUDA SOLVER
ERROR: Parameter clover_coeff undefined (rank 0, host workstation, check_params.h:365 in checkInvertParam())
       last kernel called was (name=N4quda10CopyCloverIffLi72ENS_6clover11FloatNOrderIfLi72ELi4EEENS1_11QDPJITOrderIfLi72EEEEE,volume=16x16x16x32,aux=out_stride=65536,in_stride=65536)
QMP m0,n1@ error: abort: 1

This comes from an HMC (Chroma) input

[2016-05-22 20:15] bjoo commented on #470
Hi Frank,

We came across this in MG work but I thought we fixed it. I think this comes from the fact that we didnt set it at all since we passed the precomputed clover term so we didn't need to. I think at some point Kate tightened up the parameters checking. I can't remember if I set a default value in the Mg branch or whether Kate did it on the MG QUDA branch.

Best,
 B

On May 22, 2016 4:04:36

[2016-05-22 20:16] maddyscientist commented on #470
This works if you use the quda-multigrid branch of Chroma.  We've increased some interface checking robustness so more parameters need to be explicitly set.  I guess Balint hasn't merged this branch into master yet.

[2016-05-22 21:55] fwinter commented on #470
chroma/feature/quda_multigrid gets me a step further, but

CG: Convergence at 22 iterations, L2 relative residual: iterated = 6.872258e-06, true = 6.872258e-06
Cuda Space Required
	 Spinor:0.0146484375 GiB
	 Gauge :0 GiB
	 InvClover :0 GiB
QUDA_CG_CLOVER_SOLVER: time=1.471436 s	Performance=4.80858746421863 GFLOPS	Total Time (incl. load gauge)=2.793924 s
QUDA_CG_CLOVER_SOLVER: 22 iterations. Rsd =

[2016-05-22 21:56] fwinter commented on #470
"a step further" here means it obviously passes the parameter check but fails on the first solve.

[2016-05-23 11:22] mathiaswagner commented on #469
A thing I experimented with was only doing a first step of the reduction. I.e. calculate the norm and reduce using shuffle. That still requires a separate reduction call but in your example instead of doing the norm for `N` (vector length) we only need a simple sum reduction over 'N/32'.

[2016-05-23 14:35] fwinter commented on #470
I got it to work with 0.8 quda release branch and chroma/master. We can leave this issue open for the master branch.

[2016-05-23 17:22] maddyscientist commented on #469
Actually the reduction factor is greater than this, since each thread in general (at least on the fine grid) will compute both color and spin degrees of freedom, so the final reduction would be over `N/(32*nSpin*nColor)`.

[2016-05-24 18:24] mathiaswagner opened #471 "blas functions should use const fields whenever possible"
Currently we have e.g. dot products like

[code]

In some case we already use 'const ColorSpinorField`

[code]

Not urgent right now but might prevent issues with constness later.

[2016-05-24 18:33] mathiaswagner opened #472 "Solvers should use ColorSpinorField instead of cudaColorSpinorField"
Or is there a good reason to stick with `cudaColorSpinorField`?

[2016-05-24 18:56] maddyscientist commented on #472
No, they should all use `ColorSpinorField`.  Just a relic of history.  I've only switched the ones over that were needed for multigrid, and haven't gotten around to the rest (yet).

[2016-05-24 20:23] mathiaswagner commented on #472
Ok. I can take care of (at least some of ) them. I'll add a list of solvers that require updates later.

On 24.05.2016, at 21:09, maddyscientist <notifications@github.com<mailto:notifications@github.com>> wrote:

No, they should all use ColorSpinorField. Just a relic of history. I've only switched the ones over that were needed for multigrid, and haven't gotten around to the rest (yet).

-
You are

[2016-05-24 22:57] maddyscientist opened #473 "Need to be able to specify mapping of GPU to local process"
With the advent of NVLink, getting the correct node topology is now more complicated than just ensuring correct NUMA placement of processes for their respective GPUs.  For dense GPU systems with multiple NVLinks we need a method to easily map the local process id to GPU device ordinal.  Failing to do so will result in sub-optimal use of peer-to-peer bandwidth and message being unnecessarily routed

[2016-05-25 04:06] mathiaswagner commented on #473
NVML's `setCPUAffinity` does not work? Or is the mapping needed on the `mpirun` level ?

[2016-05-25 04:33] mathiaswagner commented on #472
Files in which grep found `cudaColorSpinorField` and hence might require closer investigation and updating to `ColorSpinorField`:

- [ ] lib/inv_cg3_quda.cpp  **who** - *comment*
- [ ] lib/inv_cg_quda.cpp  **who** - *comment*
- [ ] lib/inv_eigcg_quda.cpp  **who** - *comment*
- [ ] lib/inv_gcr_quda.cpp  **who** - *comment*
- [ ] lib/inv_gmresdr_quda.cpp  **who** - *comment*
- [ ] lib/inv_mpbicgstab

[2016-05-25 12:15] AlexVaq commented on #472
I'm doing the covariant derivative and some minor routines I added. Since
there is no CPU implementation of any of these, I'll just exit if the
spinor field is not in the GPU.

I have a nother problem updating the ghost exchange. Previously we agreed I
would use ColorSpinorField::exchangeGhost() instead of my custom
implementation, but I didn't find this function. I found
cudaColorSpinorField::exc

[2016-05-25 19:19] maddyscientist commented on #472
@alexstrel From color_spinor_field.h:
[code]
This is implemented for both `cudaColorSpinorField` and `cpuColorSpinorField`, and will work on unprojected fields.

[2016-05-25 19:38] AlexVaq commented on #472
Mmm, ok. I suppose I was mixing the optimized routines for Wilson-type dslash with this generic one. I'll give it a try and update the covDev.

[2016-05-26 02:57] alexstrel commented on #472
Ok, will check the deflated stuff.

[2016-05-29 13:45] kostrzewa opened #474 "further twisted mass clover convergence issues"
I would like to request some help, if possible, with pin-pointing the origin of convergence issues that I see using twisted mass clover on the Jureca K80 nodes at Juelich Supercomputing Center. I don't see any of these issues on our local K20 GPU nodes in Bonn. I've compiled 97672d379fa4b7bb9cf55a7b9a305071d9dc76ba of the develop branch and use QUDA through the latest commit of the master branch o

[2016-05-29 14:44] AlexVaq commented on #474
We found similar performance issues in Jureca. The workaround we were using was to spread the gpus across several nodes, i.e., if you ask for 4 gpus, take four nodes, 1 gpu per node. This looks really counterintuitive, because I'd expect intra-node communication to be much faster than inter-node, but for us it works.

Can you try that, to use one gpu per node, and report back? My feeling is that t

[2016-05-30 07:38] kostrzewa commented on #474
Hmm, well the performance is not really the problem, when the tunecache is enabled, I get around 750 Gflop/s in single precision on one node on a 24^3x48 lattice. Performance goes up a little moving to a 32^3x64 lattice and significantly moving to a 48^3x96 lattice. Using just one gpu per node is quite inefficient though, isn't it? If I understand correctly, accounting is always for the whole node

[2016-05-30 08:08] AlexVaq commented on #474
Yes it is. Hence our woes.

Yes, I see that there is something wrong when doing the reliable update,
because the residual is increased two orders of magnitude (in the success
scenario, in the failure scenario, it simply exits). Are you using
dynamical clover inversion? I've found it to be much more stable, and it
inverts the clover term in a different way. I don't understand it yet why
it should w

[2016-05-30 08:25] kostrzewa commented on #474
No, I will have to try. I find it a bit surprising that the inversions behave admirably on our local cluster but so badly on Jureca...  Do I just set ```DYNAMIC_CLOVER``` at compile-time (in make.inc) or do I need to also set some run-time parameter?

Thanks. I just disabled it for testing purposes in these two runs to understand what's going on since we saw in the past that there are some issues

[2016-05-30 08:58] mathiaswagner commented on #474
Even for your success case the reliable updates seem to increase the residual by several orders of magnitude. (Maybe you can plot the residual vs iteration count for both cases and do the same for your runs on K20).
The is a parameter 'max_res_increase' which controls how often the residual is allowed to increase after a reliable update. Maybe try increasing that.

[2016-05-30 09:54] AlexVaq commented on #474
You just set DYNAMIC_CLOVER and it should work. You'll lose performance,
but gain memory, so the best you can try is to use as less GPUs as possible
to improve the strong scaling.

Here as well, when I set QUDA_TUNE_NO and do not set QUDA_RESOURCE_PATH,

Mmm... This makes me guess there must be a problem with the tuning, so
either the pretune result is not properly saved-restored, or the tuning
fr

[2016-05-31 06:57] mathiaswagner opened #475 "replace errorQuda MACRO with function"
the fact that `errorQuda` makes it impossible to set a breakpoint in gdb. For development (i.e. at least for debug builds) we should think about making that a function so that we can easily set a breakpoint and examine the status.

Not sure how to best implement that but I hope the intention is clear.

[2016-05-31 07:30] mathiaswagner commented on #475
adding

[code]

does the job for me.
I need to test what happens in MULTI_GPU builds.

[2016-05-31 14:01] mathiaswagner commented on #475
see pull request #476

[2016-05-31 18:59] mathiaswagner commented on #475
closed with #476

[2016-05-31 18:59] #475 closed

[2016-06-01 05:36] maddyscientist commented on #474
@kostrzewa Can you try disabling the peer-2-peer communication?  I've seen on one machine (a quad K80 system at Jlab) where peer-to-peer communication gave the wrong answer for reasons I've yet to fully determine.  To do so, you need to export /setenv `QUDA_ENABLE_P2P=0`.

Also, can you tell me the NVIDIA driver that is running on Jureca?  This might help us work out why there might appear is a Ju

[2016-06-01 05:44] maddyscientist commented on #474
More on this...it's possible that the autotuner is getting something wrong: this can happen for a couple of reasons:
1. When you have two instances of the same kernel launched with slightly different parameters, but the autotuner isn't breaking the degeneracy leading to reuse of launch parameters.
2. If a kernel that is being autotuned destroys its input data in the act of it being called but does

[2016-06-01 06:18] maddyscientist commented on #474
Just echoing what @mathiaswagner reported.  It would be good to try increasing the `QudaInvertParam::max_res_increase` parameter.  The residual history isn't that different between the good run and bad runs until the bad run breaks down.  This could have simply been unlucky: there is no exact reproducibility between tuned and untuned runs since the order of the reduction changes.  It's possible th

[2016-06-01 06:19] maddyscientist commented on #474
Also, a general comment on performance: it looks like you're using double-single solvers here with no reconstruction.  You will gain more performance if you switch to double-half as well as using reconstruct for the sloppy operator (12 or 18).  Of course let's get a handle on the solver stability first though.

[2016-06-01 07:50] kostrzewa commented on #474
To begin answering your questions, here's the output of ```nvidia-smi -q``` for the first K80 device on one of the GPU compute nodes.
[jureca_nvidia_smi_q.txt](https://github.com/lattice/quda/files/292886/jureca_nvidia_smi_q.txt)

[2016-06-01 07:57] kostrzewa commented on #474
These inversions are done with twisted boundary conditions (in all directions) which we enforce by pre-multiplying the gauge fields with the respective phases before passing them to QUDA. As far as I understand, reconstruction cannot be used in this case.

Also in our more general case, where we use twisted boundary conditions in time only to produce anti-periodic quark field boundary conditions i

[2016-06-01 08:01] AlexVaq commented on #474
I had a look at the code and noticed that twisted-clover uses the general framework for tuning for dslash operators, and the preTune and postTune functions are as defined in dslash_quda.cuh.

Although this still could mean that there is something particularly wrong with twisted-clover and the tuning, it would be very strange indeed.

[2016-06-01 08:04] AlexVaq commented on #474
This can be something to consider as a future feature. I suppose you can always reconstruct the standard link and add the phase at the end, without a big penalty in performance, but this has not been implemented yet.

[2016-06-01 08:12] mathiaswagner commented on #474
@kostrzewa: There is probably a workaround for that. We also do reconstruction for staggered where we need to take into account the staggered phases and even an arbitrary phase do to the U(3) symmetry of the long links. Anyhow, I am most interested in the convergence behavior in your K20 runs. (see my comment above). Do you have something you can share?

[2016-06-01 09:00] kostrzewa commented on #474
I just did what you suggested. In the first invocation, tuning was done for the first inversion (up quark, which Mario sets to ```TwistFlavour = -1```) and the solver converges normally. For the second inversion (down quark -> ```TwistFlavour = 1```, tuning is done again and I observe the residual increase as before. Then the inversion is aborted. (I have not yet tweaked the suggested parameter).

[2016-06-01 13:11] detar opened #477 "Undefined clover_coeff in quad-0.8.0 clover_field.cpp?"
We are trying quda-0.8.0 with the MILC code for the first time and encountered a new error when calling qudaCloverInvert

ERROR: Parameter clover_coeff undefined (rank 0, host nid00604, /N/u/sg/BigRed2/
quda-0.8.0/quda-0.8.0/lib/check_params.h:365 in checkInvertParam())
       last kernel called was
(name=cudaMemcpyHostToDevice,volume=bytes=452984832,aux=copy,/N/u/sg/BigRed2/quda-0.8.0/quda-0.8.0/

[2016-06-01 13:19] mathiaswagner commented on #477
I just had a quick look at the milc interface code. For eigcg and multi shift clover there is a line
[code]
this seems to be missing for `qudaCloverinvert`.

Can you try if adding this line to `milc_interface.cpp` (line ~ 1460) fixes the issue?

[2016-06-01 13:38] AlexVaq commented on #477
Since clover_coeff is not used if the clover term is precomputed, one might just give some random value to the coefficient as a workaround.

[2016-06-01 13:39] stevengottlieb commented on #477
Thanks, Mathias.  I will try that and report back.

On Wed, 2016-06-01 at 13:19 +0000, Mathias Wagner wrote:

[2016-06-01 16:03] maddyscientist commented on #477
The develop branch introduces more rigorous parameter checking, including whether checking if the clover_coefficient is set or not.  So I think this problem is coming from the develop branch and not the 0.8.0 release.

I'll look into this now.  We should bump the version number in the develop branch so that there is no confusion between develop (what will be 0.9) and 0.8.

[2016-06-01 16:10] maddyscientist commented on #477
Ok, I've worked out the source of the bug: the clover coefficient is being set when it comes to downloading the clover field in the `qudaLoadCloverField` function, but it isn't set `invertQuda`, which is when this parameter check takes place.

I'll open a pull to fix this in the next couple of minutes, and also bump develop to 0.9.0.

[2016-06-01 16:43] #477 closed

[2016-06-01 17:12] detar commented on #477
Hi Mathias,

Thank you for the speedy diagnosis.  Steve will let us know if that
fixes the problem.

Best,

Carleton

On 6/1/2016 7:19 AM, Mathias Wagner wrote:

--
Carleton DeTar
Department of Physics and Astronomy
University of Utah

[2016-06-01 17:28] stevengottlieb commented on #477
You are correct about my being in the develop branch.  But here is a
stupid question, why is only the develop branch shown?

login2 quda-0.8.0/quda-0.8.0> git branch
* develop

My reading of the help is that all branches should be shown.  Is the
problem that my clone request was too specific?  I guess I can play with
that on my own.

Steve

On Wed, 2016-06-01 at 16:03 +0000, maddyscientist wrote:

[2016-06-01 17:39] maddyscientist commented on #477
@stevengottlieb git is only displaying the branches you have locally used.  To show the remote branches, use `git branch -r` or `git branch -a` to show all branches.

[2016-06-01 17:40] mathiaswagner commented on #477
From gitref.org:
Without arguments, git branch will list out the **local** branches that you have.

The clone behavior is describe at https://git-scm.com/docs/git-clone

_Develop_ is now the default branch so that a git clone will get you on the development branch by default. This helps with the development process (pull requests will by default be created to pull something into develop) but of co

[2016-06-01 17:44] stevengottlieb commented on #477
Thanks.  I actually figured that out when I started playing.  I guess I
missed the word local when I looked at the output from
git help branch.

Thanks to Mathias for pointing that out.  Maybe time to reread the git
manual Kate referred me to some time ago.

On Wed, 2016-06-01 at 17:39 +0000, maddyscientist wrote:

[2016-06-01 17:44] AlexVaq commented on #477
Also, I don’t believe you’ll have this problem now, but it’s not a bad idea to refresh the local references to the remote repository by running “git fetch” from time to time. This will update the references to the branches stored locally, so if someone added a new branch, or a branch was updated, you’ll see it in your local machine.

[2016-06-02 01:06] maddyscientist commented on #474
Ok the fact that the solve goes through fine the second time after tuning has been done is indicative of something being wrong with the autotuning.  One would think that the error occurs when the reliable update is done, but I see only blas kernels are tuned then on the second run and not dslash kernels.  Looking into this...

[2016-06-02 05:15] maddyscientist commented on #215
Closing this issue, since it's long since been implemented using BiCGstab on random vectors.  Of course there's scope for improvement, but that's not with in the scope of this issue.

[2016-06-02 05:15] #215 closed

[2016-06-02 05:24] maddyscientist commented on #474
Ok, I'm back tracking from my previous statement.  The fact that it works after tuning but not during isn't _necessarily_ indicative of the tuning getting something wrong, since between the tuning run and the post tuning run we don't have exact reproducibility when running on multiple GPUs (#182, #199).  What also confuses the issue is that with tuning switched off, the reliable update saw a large

[2016-06-02 07:16] maddyscientist commented on #474
@kostrzewa After some late night insight, I have made a first attempt at fixing the reproducibility issue (#199) when running with tuning enabled on multi GPUs.  E.g.,

before

CG: 2916 iterations, <r,r> = 8.596637031253607e-08, |r|/|b| = 9.336447639050856e-08 (tuning run)
CG: 2916 iterations, <r,r> = 8.591627185004837e-08, |r|/|b| = 9.333726750427703e-08
CG: 2916 iterations, <r,r> = 8.59162718500

[2016-06-02 07:20] AlexVaq commented on #474
I also find this problem weird. A quick inspection of the code doesn't reveal anything, and we never had serious problems with this in the past.

Could it be some very tricky race condition? Like I didn't call cudaDeviceSynchronize() after some kernels. In the past those were bugs of the covariant derivative and the contraction code that appeared very rarely and randomly, and since I wrote half of

[2016-06-02 07:31] mathiaswagner commented on #474
Setting`CUDA_LAUNCH_BLOCKING=1` might help to diagnose race conditions.

[2016-06-02 07:47] maddyscientist commented on #474
@AlexVaq There should, by design, be no `cudaDeviceSynchronize` calls in the dslash codes, it should all be event based.  Since this code is shared by all dslash kernels, I severely doubt that you are to blame for this 😄

@kostrzewa I don't think you tested with peer-to-peer disabled yet.  Can you try this as well to see how it affects things?  (`QUDA_ENABLE_P2P=0`).  It's possible that I did some

[2016-06-02 13:52] kostrzewa commented on #474
@maddyscientist

I've tested this now (dynamic_clover + ```QUDA_ENABLE_P2P=0```) and this seems to work **fine** in both runs. I attach the logs and the tuning results.

[two_invocation_dynamic_clover_nop2p.zip](https://github.com/lattice/quda/files/295729/two_invocation_dynamic_clover_nop2p.zip)

So unless something changed on Jureca, which I cannot guarantee, it seems that this was it...

I will

[2016-06-02 14:30] kostrzewa commented on #474
Disabling

[2016-06-02 14:35] kostrzewa commented on #474
Disabling dynamic clover does not seem to make a difference, but I did experience a lockup during a call of ```loadCloverQuda``` (```nop2p.loadCloverQuda.lockup.log``` in the attachment). The third call (confusingly called ```second_invocation_nop2p.log```) worked for both propagators without residual increases.

[two_invocation_nop2p.zip](https://github.com/lattice/quda/files/295825/two_invocatio

[2016-06-02 14:54] maddyscientist commented on #474
@kostrzewa thanks for this data.  I'll take another look at the peer to peer code, though all my tests have shown it to be robust.  I haven't tested it with twisted clover though (shouldn't make a difference though).  Something to look at on my forthcoming 12 hour flight :smile:  If you have time, I would still like you to run a test with my new branch as this will with further diagnosis.

@AlexVa

[2016-06-02 14:57] AlexVaq commented on #474
That's the way to go, but do we have a CPU dslash for clover?

[2016-06-02 15:01] kostrzewa commented on #474
@maddyscientist

Jureca runs slurm and some custom thread/process pinning (AFAIK), could this have an effect which is not taken into account? As I mentioned, NUMA affinity does not work on Jureca either.

will do so right now

[2016-06-02 15:02] maddyscientist commented on #474
I'll knock one up.  On holiday now for the next 10 days but this might be something I do at some point.

[2016-06-02 15:09] mathiaswagner commented on #474
QUDA's basic numa affinity is know to be pretty much broken, see #223. It's a long standing issue but we probably need a better approach anyway #473.

[2016-06-02 17:24] kostrzewa commented on #474
I'm seriously suspecting hardware/driver issues on Jureca. I keep getting hard lockups in various places, independent of the various possible combinations of branch/compile/runtime options that we have discussed. (```DYNAMIC_CLOVER = yes```, "reproducible", ```QUDA_ENABLE_P2P=0```)

[2016-06-02 17:39] mathiaswagner commented on #474
Do you know which nodes your job is running on? Might be a faulty node that can be isolated. Slurm should allow you to exclude these nodes at submission.

On 02.06.2016, at 19:25, Bartosz Kostrzewa <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm seriously suspecting hardware/driver issues on Jureca. I keep getting hard lockups in various places, independent of the various p

[2016-06-02 17:40] kostrzewa commented on #474
So I've produced logs and *.tsv using the reproducible branch now with different combinations of the above-mentioned compile-/run-time options. In two cases I experienced lockups at different points in the computation, once apparently during tuning and once at iteration 10 of the CG in the computation of the sequential prop.

[two_invocation_reproducible.zip](https://github.com/lattice/quda/files/

[2016-06-02 17:42] kostrzewa commented on #474
@mathiaswagner

Yes, that's the next step. I migh

[2016-06-02 17:50] kostrzewa commented on #474
@maddyscientist Despite my using the reproducible branch, it seems that the inversion histories are not, in fact, reproducible. Am I doing something wrong or missing some kind of run-time parameter?

[2016-06-02 18:03] mathiaswagner commented on #474
Not at all ?

If you tune multiple times the results may differ.

If you tune in run 1, the next runs (run 2 and later) should give the same result. Run1 may differ. With the reproducible branch run 1 should no love longer differ. Unless there is a bug in that branch.

On 02.06.2016, at 19:54, Bartosz Kostrzewa <notifications@github.com<mailto:notifications@github.com>> wrote:

@maddyscientist<htt

[2016-06-02 18:04] maddyscientist commented on #474
I don't think you're doing anything wrong: the fact that it isn't reproducible is good data, and is likely an indicator that the tuning per se is not to blame for these issues and there is either a bug or machine issues.

[2016-06-02 18:08] kostrzewa commented on #474
@mathiaswagner
If you look into the first archive, the files ```first_invocation.log``` and ```second_invocation.log``` are two executions of the same code with the same source (as you can infer from the source normalisation before and after rescaling). The first execution does the tuning and the second one re-uses the parameters. Not even the total number of iterations are the same.

[2016-06-03 09:21] kostrzewa commented on #474
Some more information: Thanks to information from JSC, I've now been able to compile the entire software stack using gcc 4.9.3 only (thus not mixing icc and gcc). In this setup, I still experienced the residiual increase and aborted solve. I think we can thus exclude the compiler as the culprit.

[2016-06-03 12:01] kostrzewa commented on #474
As far as the lockups are concerned, I may have identified that the most frequent issue is our call of

[code]

to construct the clover field on the device. So far, 90% or so of all lockups happen here.

[2016-06-03 12:11] maddyscientist commented on #474
Do the lock ups occur if tuning is disabled?

[2016-06-07 13:02] mathiaswagner opened #479 "Memory leak with gauge field caching for MILC"
Citing Carletons mail:

From a run on 64 GPUs.

[code]

[2016-06-07 14:34] AlexVaq commented on #472
I'm trying to clean-up the covariant derivative. So far introducing ColorSpinorField instead of cudaColorSpinorField has been trivial, but when it comes to the ghosts I'm finding some trouble.

Following @maddyscientist recommendation, I use "in->exchangeGhost(parity, dagger);" to exchange ghosts before calling the covariant derivative, and as far as I understand, I should use the ghost texture GH

[2016-06-07 20:36] maddyscientist commented on #472
Ah your assessment is completely correct.  Looks like I need to merge to the two ghost arrays before you use this to have both generic exchange and textures.  I'll plan on doing this next week if I can, it was on the to do list anyway since this is needed to support p2p for multigrid operators.  Sorry about this,

[2016-06-07 20:38] AlexVaq commented on #472
No problem, then I might very well implement ColorSpinorFields everywhere without touching the ghost exchange implementation, and after you fix this I’ll clean-up the covariant derivative.

Thanks for reporting. I think you saved me a lot of time.

[2016-06-09 05:09] kostrzewa commented on #474
Yes, they also occur when tuning is disabled. (QUDA_TUNE_NO is set and QUDA_RESOURCE_PATH is not defined).

I was further able to set up the computation on the K20 cluster and I experience issues here too when tuning is enabled. No lockups, but NANs. This was with v0.7.2, however, so it's not a fair test. I will have time to look back into this after the 23rd of June or so.

[2016-06-09 11:57] maddyscientist commented on #474
Can you give me the full k20 machine specifications: Cuda driver, toolkit version and compiler version.  This hang is very disturbing since I've never seen it and cannot reproduce it.

@alexvaq: I have almost finished the host clover kernel that will for real testing of the Wilson clover action.  From this I imagine you can trivially extend it to twisted clover.

[2016-06-10 09:09] AlexVaq commented on #472
I see that not all solvers are listed in @mathiaswagner list. Is there any reason for that? Also, why is inv_cg3_quda.cpp in the list (or why is that file in the library)? It looks pretty useless at this stage.

[2016-06-10 09:17] mathiaswagner commented on #472
inv_cg3_quda.cpp is indeed outdated. I think Justin put that in as a simple reference for developing the s-step solver.
My list was based on grepping for `cudaColorSpinorField` and files that don't show up in my list should be using 'ColorSpinorField' already. But I might have missed a file. Please feel free to add to the list.

[2016-06-13 08:58] AlexVaq commented on #472
I marked the GCR as done, because I think @maddyscientist updated it (and my inspection of the file tells me so). Can you confirm, @maddyscientist ?

Also, I'm removing inv_cg3_quda.cpp from the list. Maybe we should remove it from the library as well.

[2016-06-14 21:35] alexstrel commented on #403
close this issue since this implementation is already in the develop branch.

[2016-06-14 21:35] #403 closed

[2016-06-15 01:20] maddyscientist commented on #474
@kostrzewa Can you confirm that `QudaInvertParam::compute_trace_log=0` in the call to `loadCloverQuda()`?

[2016-06-15 06:34] kostrzewa commented on #474
I will only be able to check this directly after the 23rd or so. If ```newQudaInvertParam()``` sets it to 0 by default, then it should have been 0, yes. We don't touch that parameter. I guess we would if we did HMC or reweighting using QUDA.

[2016-06-15 07:37] maddyscientist commented on #474
@kostrzewa That's ok, your use of `newQudaInvertParam` confirms that it will be set to 0.  You are correct, this is used for HMC (and could be used for reweighting).

[2016-06-27 04:48] dipsankarb opened #482 "Documentation for QUDA Dslash test"
Hi,

I am trying to run QUDA Dslash test with MPI. When I run with 2 processes (on one node with multiple GPUs) I get this error: Running from test directory inside my build.

$ mpirun -np 2 gpu01 gpu01 ./dslash_test
ERROR: ERROR: Communication grid size declared via initCommsGridQuda() does not match total number of MPI ranks (1 != 2)Communication grid size declared via initCommsGridQuda() does n

[2016-06-27 08:46] AlexVaq commented on #482
You need to specify the local lattice size with --xdim, --ydim, --zdim and --tdim, and then you should tell QUDA how you are partitioning your lattice with --xgridsize, --ygridsize... As a default, the gridsize is 1 on every dimension, implying you use only 1 gpu, but QUDA binds gpus to MPI processes, so you'll need to set one gridsize to 2.

I suggest you run ./dslash_test --help to understand so

[2016-06-27 16:44] dipsankarb commented on #482
That helps. Thanks a lot.

[2016-06-27 16:44] #482 closed

[2016-06-27 17:08] maddyscientist commented on #482
We should fix that bad link.  Thanks for reporting that.  Also, there is documentation on the wiki site

https://github.com/lattice/quda/wiki

Note that GPU direct rdma support doesn't necessarily improve performance and this support is experimental.  In general it's probably best to disable it unless you find a speed up from it `GPU_COMMS=no`.

[2016-06-27 17:41] dipsankarb commented on #482
I am not seeing good scaling with the increase in number of GPUs. For example, if I run keeping xdim, ydim, zdim and tdim fixed at 48. Then I run as follows:

$ mpirun -np 2 gpu01 gpu01 ./dslash_test  --xdim 48 --ydim 48 --zdim 48 --tdim 48 --xgridsize 2 --ygridsize 1

Numbers:

xgrid 2 ygrid 1 (2 procs on 1 K80 1 node which is basically 2 GPUs)

endQuda Total time = 0.1826 secs
initQuda-endQuda T

[2016-06-27 18:11] AlexVaq commented on #482
I assume you’re keeping the local volume (xdim, ydim…) fixed, but you increase the number of gpus (and hence the total volume) so you’re trying to test weak scaling. In a good environment (inifiniband or equivalent, no serious networking problems and gpus properly configured) the weak scaling of QUDA is extremely good, so I would expect almost perfect weak scaling (same timing even though you’re i

[2016-06-27 18:28] maddyscientist commented on #482
Also, when running dslash_test, the metric you should be looking at is GFLOPS, which dslash_test reports per GPU.  The output timing information that you quote includes the QUDA initialization overheads, such as creating the GPU context.  In a real application these overheads are negligible, but in a unit test such as this, they dominate; hence reported kernel performance is more relevant.

[2016-06-27 18:47] AlexVaq commented on #482
Yes, definitely @maddyscientist is right. You might want to try ./invert_test, which is more computational intensive, and check the GFlop count there. Warm-up time in a multigpu environment can be high sometimes, depending on the machine.

[2016-06-28 09:54] kostrzewa commented on #474
The changes that entered the develop branch over the last two weeks seem to have resolved this for me on Jureca. I set up the computations which ran into lockups and diverging true residuals and they now go through without problems. I will also test on our K20 cluster and report back with full specs and results. Thanks a lot for the assistance!

[2016-06-28 10:17] kostrzewa commented on #474
Sorry, I seem to have spoken too soon, I just experienced two more lockups...

[2016-06-28 10:40] kostrzewa commented on #474
Also, in contrast to what I saw before, the final true residual is now apparently wrong.

[code]

Where in the last line, the true <r,r> is computed using the tmLQCD operator.

I also experience lockups in different places now. With P2P disabled, the code locks up during operator creation and, in a different run, at the fifth CG iteration.

Would it be useful for you if you could try the exact sam

[2016-06-28 10:51] AlexVaq commented on #474
So, it gives wrong result? That's pretty serious. I might be able to try
one of your confs, can you give me the details?

On Tue, Jun 28, 2016 at 12:40 PM, Bartosz Kostrzewa <
notifications@github.com> wrote:

[2016-06-28 15:30] kostrzewa commented on #474
@AlexVaq I've sent you the paths by e-mail, let me know if there's a problem accessing them.

[2016-06-28 15:32] AlexVaq commented on #474
Thanks, I can access the configurations. I’ll have a look at it as soon as I can. Let’s see if I can find some spot later today...

[2016-06-28 16:27] maddyscientist commented on #474
I'm also happy to reproduce the issue locally if you give me instructions on how to build the code.

Also, can you check whether dslash_test and invert_test QUDA internal tests are working on Jureca?  (With `--dslash-type twisted-clover` to select fermion type)

[2016-06-28 21:23] maddyscientist commented on #474
Looks like the lack of clover convergence was I stupid bug I created whilst adding my reference clover dslash changes (I introduced a bug in the clover inversion).  Fixed in #483, @AlexVaq I've assigned this to you merge and close (@mathiaswagner is on holiday).

@kostrzewa Hopefully your convergence issues should be taken care of.  The only thing left that is worrisome is the lock ups, I've never

[2016-06-29 16:44] dipsankarb commented on #482
I am running on our local academic cluster which we regularly use for running several HPC
applications and system software and am confident that all the configurations are correct and
have observed benefits with GDR and MPI in several of our previous works. I have done
nvidia-smi and top to ensure that all unique GPUs are getting selected by QUDA and peer
access is also getting enabled for my mult

[2016-06-29 16:51] maddyscientist commented on #482
The benchmark you are running here is weak scaling, so constant execution time is desirable.  You need to decrease the local problem size (`--size`) so that the product with the inter GPU grid (`--grid`) is constant to do a strong scaling test.

[2016-07-06 07:21] maddyscientist commented on #479
This bug should now be fixed with #303f60e67340184647fcdb6a0bed6539d94bce57, though it needs full verification.

[2016-07-06 13:04] detar commented on #479
Thank you!  Do you need anything more from us?

Carleton

On 7/6/16 1:21 AM, maddyscientist wrote:

[2016-07-15 20:01] kostrzewa commented on #474
@maddyscientist @AlexVaq
Thanks to both of you. I haven't had much time lately to look into this unfortunately, or to forward the necessary info. This is just a quick update to say that indeed our residual check now works out again. I still have the lockup issue unfortunately. I will try to prepare instructions on how to run the code as soon as I have a moment. Cheers!

[2016-07-15 20:22] maddyscientist commented on #474
@kostrzewa Looking at the comments above, it looks like the lockups have only been seen on Jureca, is that correct?

[2016-07-15 21:05] kostrzewa commented on #474
Yes, that's correct.

[2016-07-15 21:22] maddyscientist commented on #474
Do you know what version of linux is running on Jureca?  We've seen some codes hang with multi-GPU running on RHEL / CentOS 6.6 owing to a bug in the kernel (https://groups.google.com/forum/#!topic/mechanical-sympathy/QbmpZxp6C64).

[2016-07-15 21:23] maddyscientist commented on #474
Another thing I would suggest is that if you can run interactively on Jureca, you could run the code until it hangs then attach gdb to the hung process and get a stack trace to see where it's hung.

[2016-08-18 04:38] maddyscientist commented on #391
Closed with #488

[2016-08-18 04:38] #391 closed

[2016-08-29 09:23] #479 closed

[2016-08-29 14:12] mathiaswagner commented on #333
Rechecked after #489:

[code]
and
[code]

are fine.

[code]
still fails with

[code]

[2016-09-02 22:11] #223 closed

[2016-09-15 07:46] maddyscientist commented on #214
Closed with #500

[2016-09-15 07:46] #214 closed

[2016-09-15 09:09] #113 closed

[2016-09-19 20:43] alexstrel opened #505 "solo precision preconditioned GCR is broken"
Solo precision GCR does not work properly when preconditioned with GCR. It was detected during staggered multigrid tests when the fine level pre/post-smoothers were set to GCR. However, it can be reproduced in the develop branch with wilson operator, please see details below.
1. How to reproduce the bug.
The fastest way is to run multigrid solver. Note that the original GCR solver does not allow o

[2016-09-19 20:51] alexstrel commented on #505
Forgot to add my environment:
gcc version: 4.8.4
nvcc version: 8.0
OS kernel : 2.6.32-642.4.2.el6.x86_64 (Scientific Linux v 6.3)
driver version: 367.44

[2016-09-20 19:59] maddyscientist opened #506 "Implement BiCGStab(l) solver"
This will provide a faster baseline Wilson solver, and potentially also help with null-space generation for MG.

[2016-09-21 04:18] weinbe2 commented on #506
Created branch feature/bicgstabl as a starting point.

[2016-09-21 04:57] maddyscientist opened #507 "Fermi support is broken"
It appears that dslash_test is broken when running on Fermi:

[code]

I suspect the problem is related to some of the changes made with respect to peer-to-peer, but this will require checking.

[2016-09-22 17:03] cpviolator opened #508 "feature/multigrid and develop compilation issue"
I'm getting a persistent error message when compiling feature/multigrid or develop branch with multigrid enabled. I'm using magma 1.6.2 compiled with 'gcc with MKL 10.3, Intel threads' which passes all tests. I have set `MAGMA_INC` and `MAGMA_LIB` as environment variables in my `.bashrc` file.

When compiling Quda, `NVCC` will throw the error:

`nvcc fatal   : A single input file is required for a

[2016-09-22 17:08] maddyscientist commented on #508
Hmm, haven't seen this issue before.

Can you try compiling with cmake instead of configure?  https://github.com/lattice/quda/wiki/Building-QUDA-with-cmake
(Building with configure is deprecated.)

Also, you should stick to develop and ignore feature/multigrid, as everything in feature/multigrid has already been merged into develop.

Lastly, probably best to upgrade to a more recent version of CUD

[2016-09-22 17:57] alexstrel commented on #508
to this topic,  unfortunately different versions of MAGMA are not compatible . I believe you changed line 14 in bias_magma.cu with MAGMA_14 (to support pre 1.7.X versions)
Also I just realized: MAGMA 2.X.X versions are not supported as well, because they changed interface functions (again!). This should be fixed.

[2016-09-22 22:04] cpviolator commented on #508
OK, now using CMAKE 3.1.0 with CUDA 7.5 and GCC 4.9.3. Magma was complied with intel MKL

I did get one initial error with CMAKE where in `CMakeLists.txt` I had to replace:

`message( ${MAGMA_INCLUDEDIR})`
with
`message("${MAGMA_INCLUDEDIR}")`

to avoid a CMake error

Now, everything goes well until CMake gets to the tests. The error thrown is:

`[ 85%] Built target quda_test
Linking CXX executabl

[2016-09-23 05:08] cpviolator commented on #508
Just to close this off.

I chose to use `magma-1.7.0` with `gcc 4.9.3` and `gnu threads`, and I linked against `lib magma.so`. Complilation was successful, but only after I explicitly replaced

`#include <magma.h>`
with
`#include </explicit/path/to/my/magma/include/magma.h>`
in the `lib/blas_magma.cu` file.

Currently trying to run `multigrid_benchmark_test` but getting the error:
`ERROR: Unsuppor

[2016-09-23 05:13] maddyscientist commented on #508
Thanks for the update.  Was your successful compilation with cmake or configure?

The multigrid_benchmark_test is a pure perf benchmark, and indeed as you've found by default it won't run (unnecessary parts of the code are not instantiated to try and minimize compilation time).  You can make the multigrid_benchmark_test work by editing this file to only test Nc=24 and 32, e.g., set the initial loo

[2016-09-23 05:24] cpviolator commented on #508
Yes, I used CMake. I was confused by the `MAGMA` option (I thought it was just the magma directory it wanted) but CMake threw enough info to work it out.

Will do RE the benchmark test. I will be doing a lot of MG comparisons with other solver anyway. `multigrid_invert_test` is working splendidly. Awesome work!

[2016-09-23 05:28] cpviolator commented on #359
@mathiaswagner @alexstrel Just compiled and tested `multigrid_invert_test` in `quda-develop` linked against `magma-1.7.0` compiled with `MKL`. I used `gcc/4.9.3` complier with gnu threads and made magma with the `make.inc.mkl-gcc` file. All good!

[2016-09-23 05:29] maddyscientist commented on #508
The MG in QUDA has been my biggest labour of love / hate ever 😉

There's a bunch of parameters in MG, if you want we can sync up on the best ones to use.  And I should really update the wiki!

One thought on MAGMA, it uses pkg-config ($(prefix)/lib/pkgconfig/magma.pc), I'm guessing something is going wrong with that which is resulting you needing to use absolute path for the include.

I plan on re

[2016-09-23 05:34] mathiaswagner commented on #359
Thanks for testing. Did you also try cmake?

Autoconf is deprecated.

On Sep 23, 2016, at 07:28, Dean Howarth <notifications@github.com<mailto:notifications@github.com>> wrote:

@mathiaswagner<https://github.com/mathiaswagner> @alexstrel<https://github.com/alexstrel> Just compiled and tested multigrid_invert_test in quda-develop linked against magma-1.7.0 compiled with MKL. I used gcc/4.9.3 compli

[2016-09-23 05:41] cpviolator commented on #359
Yeah, I did try `CMake` with the magma install, but no luck there. I will play around with a second compilation using `CMake` now I know what the parameters should be and get back to you... a bit sooner than 10 months this time!

[2016-09-23 06:00] cpviolator commented on #508
Getting some optimal parameters would be great, thanks! I saw that you did some comparisons with `CG` and `BiCGstab` here #451 and I will be doing comparisons with a deflated solver for TM and TM clover. The eigensolver is a real time sink for TM because we must calculate with the normal operator M^{\dag}M (unlike \gamma_5 hermitian operators where \gamma_5 M can be passed to the eigenslover to ge

[2016-09-23 06:02] maddyscientist commented on #508
CUBLAS / CUDENSE has everything we need for MG (batched LU solvers and batched matrix inverse), so we can just use that (it would take me a day to fix this, but I've had too many other things).  Fancy giving it a shot? 😜

[2016-09-23 06:12] cpviolator commented on #508
HA! Maybe! I have a few jobs to do here at Temple too but I do enjoy a challenge. I assume that it's mostly just replacing the functions in `blas_magma.cu` with the appropriate ones in CUBLAS/CUDENSE? I'll take a look for sure.

[2016-09-23 06:15] maddyscientist commented on #508
Yes, mostly.  MAGMA is called from dirac_coarse.cpp, you need to switch out that for the CUBLAS / CUDENSE variant.  Only minor compilation is that MAGMA provides helper functions for setting the pointers into the batched matrices, not sure if CUBLAS includes this too, or if you'll have to do that yourself.

Also, check the pm I just sent to your gmail.

[2016-09-23 06:36] #508 closed

[2016-09-23 18:10] maddyscientist opened #510 "Implement flexible preconditioned CG"
This is likely an important solver for multigrid on staggered and domain wall.

[2016-09-23 18:24] alexstrel commented on #510
https://github.com/lattice/quda/commit/1f29e74868ae777901ea863377756fa9db9f4b0f
but I found that this commit was overwritten after recent commits in staggered-multigrid, strange.

[2016-09-23 18:34] maddyscientist commented on #510
Well that's your branch @alexstrel , so I guess you did it 😜

So this means we have this algorithm in QUDA then?  It seems that there a lot of useful things being implemented in the staggered MG branch that would be useful in the develop branch (arpack, flex CG, etc.).

[2016-09-23 18:37] alexstrel commented on #510
I need to restore it, it strangely disappeared from recent commits...
(I redesigned arpack as well, but want to add primme library)

[2016-09-23 18:39] maddyscientist commented on #510
Can you just add flex CG to a branch from develop then?  That way we will get flex CG faster into develop (like you've been working on with the arpack branch).  I think we need to try and keep the pull requests simple where possible (I fear otherwise the eventual staggered multigrid merge will be gigantic - like the original feature/multigrid one was 😄 ).  Thx