[2018-10-31 16:39] cpviolator opened #749 "Runtime error on develop branch with DWF invert"
I'm hooking up QLUA with QUDA's DWF inverter. Compiling the latest QUDA develop and running wilson/clover inverter are fine. The invert test for a mobius domain wall action gives the following runtime error.

[code]

I added a little extra to the output which shows that `param.block.x = 544`. This looks like a tuning error. Any ideas? Here's my environment:

[code]

[2018-10-31 17:18] cpviolator commented on #749
Possible fix?

Replace line 106:

```if ( advance[0] || advance[1]) {```

goes to

```if ( (advance[0] || advance[1]) && param.block.x*param.block.y*param.block.z+1 < deviceProp.maxThreadsPerBlock) {```

The mobius inverter runs smoothly, but I'm not sure if this makes the tuner inefficient in some way. Also, this may have to be propagated to other DWF actions.

[2018-11-08 04:09] cpviolator commented on #749
Fixed with #750

[2018-11-08 04:09] #749 closed

[2018-11-26 17:48] maddyscientist opened #752 "In HISQ force, compute force magnitude to aid HMC optimization"
Since the cost will be negligible, we should always compute the magnitude of the force.  Whether to print this information or not can be based on the verbosity setting.  Probably should do this also for gauge force and regular staggered force as well.

[2018-12-03 19:04] stevengottlieb opened #754 "warning and error compiline MILC update_u.c"
I am working on Ascent at ORNL.  Just cloned quda and MILC.   I am working in develop branch of QUDA and master of MILC.  My compilation fails with following warning and error.

update_u.c:47:31: warning: passing argument 3 of 'qudaUpdateU' from incompatible pointer type [-Wincompatible-pointer-types]
   qudaUpdateU(PRECISION, eps, momentum, gauge);
                               ^~~~~~~~
In file

[2018-12-03 19:08] maddyscientist commented on #754
Hi @stevengottlieb.  The issue here is that you are working on the master branch of MILC, and not the develop branch.  As far as I'm aware, the master branch of MILC hasn't been updated in more than a year, so it lags behind the changes made to the develop branch of MILC.  Switching to the develop branch of MILC will fix your issue.

(Actually, there is an open pull against MILC that needs to be c

[2018-12-03 19:37] stevengottlieb commented on #754
Hi @maddysientist.  I will compile without the fermion force until
@detar closes the issue.

Steve

On Mon, 2018-12-03 at 19:08 +0000, maddyscientist wrote:

[2018-12-07 18:49] weinbe2 opened #757 "When compiled against QMP, add support for -qmp-* flags to QUDA test routines"
This'll allow support for `-qmp-geom x y z t -qmp-logic-map 3 2 1 0 -qmp-alloc-map 3 2 1 0`, for example. The main issue is making sure the flags get passed through to QMP _and_ get skipped by command line parser in the test routines (so it doesn't error out).

[2018-12-14 11:03] erinaldi opened #760 "Enable dynamical Wilson-Clover HMC for Nc!=3."
**Goal**: Generating dynamical fermion configurations for gauge theories with SU(Nc) gauge group where Nc is not 3.

**Features**:

- gauge action: Wilson Plaquette
- fermion action: Wilson-Clover (no smearing)
- applications: HMC (2 light and 2 heavy fermions), Spectrum
- interface: `Chroma`

**Target**: CORAL systems (Lassen @LLNL and Summit @ORNL), with a ~6 months timeline.

[2019-01-08 12:57] kostrzewa commented on #692
@maddyscientist I was wondering if there had been any progress just to keep up to date.

[2019-01-22 07:01] mathiaswagner opened #762 "Use CheckCXXCompilerFlag for potentially unsupported compiler flags"
See https://cmake.org/cmake/help/latest/module/CheckCXXCompilerFlag.html

This might be useful to check whether flags are supported on a specific arch or by a specific compiler.

[2019-01-22 08:16] maddyscientist commented on #692
@kostrzewa Sorry for the slow response.  I was waiting until I had something solid to give you....

I'm pleased to report that support for large fields is now enabled for Wilson, Wilson-clover, twisted-mass (both singlet and doublet) and twisted-clover is now implemented with my dslash rewrite.  The other operators will come in the next few weeks.

All this work is still in the feature/dwf-rewrite

[2019-01-29 09:37] kostrzewa commented on #692
Thanks a lot for this, you've effectively **doubled** our computing time budget! :)

I can also confirm that dynamic clover is no longer necessary for double-half twisted clover. While this doesn't quite offset the O(10-15%) slowdown that I see with the non-texture kernels in double-half, I would guess that it offsets some of that slowdown. In fact, in the non-texture code, I now observed converge

[2019-01-29 16:54] kostrzewa commented on #692
While results on our cluster are nice, I'm facing divergence issues on PizDaint even in plain double precision CG with our without dynamic clover as well as with and without GDR. This is for a 64c128 lattice for which we employ 4D comms in a 2228 (xyzt) topology, in contrast to the tests on our cluster which refer to a 32c64 lattice with 1D comms and 1112 or 1114 topologies, so maybe some residual

[2019-01-29 17:48] maddyscientist commented on #692
Hi @kostrzewa.  That's great to hear that this is proving useful already.  Thanks for the report on how this doing.

The lack of convergence on Piz Daint, and also the occasional failure of dynamic clover on your home cluster though isn't good news.  Since I have an account on Piz Daint, if you can give me a simple reproducer for the issue, I could look at this directly and get it fixed.  Certainl

[2019-02-05 04:11] maddyscientist commented on #692
@kostrzewa I think the bad convergence issues should all have been fixed now (pushed to feature/dwf-rewrite branch).  There was indeed an issue with the non-texture builds, where the MPI communicators were being erroneously being freed and reallocated while a dslash was communicating.  This bug would have affected all non-texture builds, regardless of machine type (e.g., number of GPUs per node, o

[2019-02-05 04:14] maddyscientist commented on #692
One more thing, this bug would not just have been a correctness bug, but also a performance bug, since the communicators were being continuously reallocated.  Hence any performance regressions you may have seen in comparing tex and non-tex builds may have simply been this.

I would further assert that optimal twisted-clover performance will be had when enabling dynamic-clover inversion, and any ba

[2019-02-06 21:02] kostrzewa commented on #692
@maddyscientist Thanks a lot for the updates! I will have some time on the 12th of February to take a look again whether the fixes have resolved the issues that I've seen. As for the test case, this was an inversion on the 64c128 ensemble at the physical point that I shared with you sometime around the time of the hackathon, running on 64 nodes and hopefully now with the changes on 32 nodes. I can

[2019-02-06 21:07] kostrzewa commented on #692
As for CA-GCR, @pittlerf and I tested this some time ago (https://github.com/etmc/tmLQCD/commit/812212c063dc000dff65b9ce2f9dbb8c866e3a93) and were not able to see any benefit compared to MR. However, this was on our local cluster and I don't remember if we also did multi-node tests (where I would expect some benefit). We will certainly test this again also on Piz Daint.

[2019-02-09 01:50] maddyscientist commented on #692
Great, please let me know how it all works.  Hopefully well 😄.  We have been dramatically increasing the testing coverage of the new code, across a variety of different MPI libraries and clusters, and I think we're in very good shape now.

On CA-GCR, there are a few parameters that you need to set to ensure it works well.  The best I've found is it use CA-GCR(8) as a post smoother and use no pre s

[2019-02-12 17:26] weinbe2 opened #769 "Add \gamma_5 versions of operators + CR algorithm"
Once the dslash re-write is done, it'll be trivial to add the appropriate "\gamma_5" flavor of each operator, both for the full operator and the asymmetric preconditioned version. On top of this, we should add support for the conjugate residual algorithm: https://en.wikipedia.org/wiki/Conjugate_residual_method

Since the operators are Hermitian indefinite (except for the twisted mass ops, but ther

[2019-02-12 22:39] maddyscientist commented on #769
Just a comment on implementation.  We should add `H` methods to all Dirac operators that apply the Hermitian operator.  Depending on the operator, this could be done through separate kernels, e.g., Dslash followed by gamma_5 application, a single fused kernel, or not supported at all.  We would also need to implemented a `DiracH` wrapper class that could be fed into solvers.

[2019-02-13 10:22] kostrzewa commented on #692
@maddyscientist Thank you, it all seems to work now! See further below for some timings from MG parameter scans. Going from 64 to 32 nodes for a 64c128 lattice at the physical point basically results in cost savings of a factor of 2! Performance on 64 nodes is comparable to the legacy Dslash, although it does seem a tiny bit slower (a few % at most).

We still have the problem that QUDA_ENABLE_GDR

[2019-02-13 13:11] kostrzewa commented on #692
Although perhaps this issue is not the best venue for it, I had a question since we are discussing MG performance. I've found that performance depends rather extremely on the chosen parallelisation, beyond what I would expect from packing and unpacking overheads.

As an example, when I compare the performance of the inversion above on 32 nodes in a parallelisation (xyzt) of 1-1-4-8 and 1-1-2-16, t

[2019-02-13 13:43] bjoo commented on #692
Hi Bartosz,
I am not the authoritative expert here, so wjat I write below maybe nonsense but I thought that the blocking needs to be so that the coarsest level is at least 2^4 and that it has to be even in every dim. So a coarsest local Lt=1 sounds suspect to me. In the output where the blockings are listed by QUDA, does it respect your blocking?

Best,
B

Balint Joo,  HPC Computational Scientist

[2019-02-13 13:57] kostrzewa commented on #692
Hi Balint, I thought that as long as the innermost dimension on the coarsest lattice is even and as long as the total number of coarse lattice sites (per MPI rank) is even, one should be fine. If what you're saying is true, QUDA might indeed simply change the blocking silently (see below). The solver works fine, we check the residuals externally.

I have, however, also seen the same kind of parall

[2019-02-13 17:00] weinbe2 commented on #692
Aye, both parts of that are correct. QUDA doesn't support an odd value in any dimension.

It does in some cases, though it'll print a warning: https://github.com/lattice/quda/blob/develop/lib/transfer.cpp

Line 30 to 43, specifically you can see it trying a smaller size on line 40. An example of where this will happen is if you have a 4^4 volume, then try to block by 4 in each dimension: it'll tes

[2019-02-13 22:49] maddyscientist commented on #692
Great to hear that things are mostly working now, and 32 GPUs is working well for you.  There are still some optimizations to go into the non-texture path for the blas routines in half precision, so some regressions when using half precision without textures are not completely unexpected.  I'll look at this properly once all the dslash kernels are rewritten in the new framework.

On GDR on Piz Dai

[2019-02-14 06:18] kostrzewa commented on #692
@weinbe2 @maddyscientist Thanks a lot for all the explanations. I guess we have the warnings suppressed due to the verbosity level for the different MG levels, which we don't set (I presume it then defaults to silent).

Having said all this, when I adjust the parallelisation on 64 nodes to 1x2x4x8, the solver on 32 nodes is still just as good, so the conclusion above still holds and we save about

[2019-02-16 23:13] detar opened #774 "inv_type undefined"
I am trying to start the QUDA clover inverter on Summit via the MILC interface.  It has been a while since I used it, so some conventions may have changed.  I am using a QUDA branch that was very recently forked from develop: 4ed1c90defd551574a7b7f0426532cc86b86e006.

It fails at the outset.  checkInvertParam quits with "inv_type is undefined".  Just to be sure, I added "inv_args.solver_type = QUD

[2019-02-17 01:04] cpviolator commented on #774
Is it just failing with `QUDA_BICGSTAB_INVERTER` or any explicit inverter type?

[2019-02-28 05:56] maddyscientist commented on #718
Closing issue (was fixed with #717 which added support for reconstruct with non-zero naik epsilon)

[2019-02-28 05:56] #718 closed

[2019-02-28 05:59] maddyscientist commented on #669
Closing this issue, since it appeared to be a system configuration issue that we can't do anything about in QUDA.  @kimjangho1120 feel free to reopen the issue if you think there's anything for us to do here.

[2019-02-28 05:59] #669 closed

[2019-02-28 08:09] maddyscientist commented on #186
Closing, since texture supprt in the accessors has long since been implemented.

[2019-02-28 08:09] #186 closed

[2019-02-28 08:26] maddyscientist commented on #394
Closing this issue, since we have CA-GCR which provides the functionality we need, so there is no desperate need for CA-GMRES at this time.  Nice to have, but no immediate advantage versus CA-GCR.

[2019-02-28 08:26] #394 closed

[2019-03-04 17:44] maddyscientist commented on #267
Given the increased testing and dslash rewrite, this bug will be closed with #776.

[2019-03-04 17:47] maddyscientist commented on #191
This issue has long since be closed with the multi-blas framework developed for multi-RHS solvers

[2019-03-04 17:47] #191 closed

[2019-03-04 17:54] maddyscientist commented on #426
Closing this issue, since more thought by me realized that this isn't actually that easy to solve.  Since we use even/odd preconditioning, the inverse clover matrix is included in the coarse link matrix definition.  Hence the mass is not included as a simple diagonal, and can't be rescaled after the fact.

Regardless, since the coase-link matrix computation has been heavily optimized, this is less

[2019-03-04 17:54] #426 closed

[2019-03-04 18:00] maddyscientist commented on #209
Assigning this task to @weinbe2.

[2019-03-04 18:01] maddyscientist commented on #210
Closing since not an issue.  We represent the coarse clover field as a scalar matrix field and use the gauge field accessor to this end.

[2019-03-04 18:01] #210 closed

[2019-03-14 19:41] weinbe2 opened #778 "Stout smearing assumes spatial dimension only"
Once PR #776 is in, the relevant comment is on line 47 of `include/kernels/gauge_stout.cuh`. A good way to address this might be similar to how Coulomb vs Landau gauge fixing is handled---pass in a dimension to _not_ smear in (here, 3), or alternatively if 4 (or maybe we should use -1?) is passed in, do the full 4-d smearing. This is forward-thinking for evolution with smeared actions, where a ful

[2019-03-14 19:44] weinbe2 commented on #778
It looks like over-improved stout assumes smearing in all 4 dimensions. I guess to be even _more_ forward thinking, we should just merge stout and over-improved stout to support 3-d and 4-d, as well as over-improved vs regular in general.

[2019-03-14 20:14] cpviolator commented on #778
Ape smearing assumes spatial too. I like the orthogonal dimension method.
Ping me when the PR is done.

On Thu, Mar 14, 2019 at 3:44 PM Evan Weinberg <notifications@github.com>
wrote:

[2019-03-21 23:08] maddyscientist opened #779 "Support TIFR phases in new dslash framework"
At the moment, the rewritten staggered dslash kernels only support MILC-style phases.  We need to support TIFR phases to allow for gauge reconstruct support when using the TIFR codes.

- [ ] add function for TIFR phases
- [ ] move phase functions to index_helper
- [ ] move other staggered specific index functions to index_helper

[2019-03-21 23:11] maddyscientist opened #780 "Rewrite contraction kernels in accessor framework"
The contraction kernels have not yet been ported to the accessor framework, and instead rely on the macros utilized by the legacy frameworks.  This needs to be overhauled and rewritten using accessors.

[2019-03-21 23:17] maddyscientist opened #781 "Multi-rhs support with new dslash kernels"
We need to add multi-rhs support to the rewritten dslash kernels.  This should be done for all dslash kernels and likely use the composite framework as was done with the staggered multi-rhs operator we developed in the legacy code.

[2019-03-21 23:18] maddyscientist opened #782 "Register tiling support in multi-rhs kernels"
We found a significant speedup in the multi-rhs staggered dslash previously.  We need to apply this optimization to the rewritten multi-rhs kernels (once #781 has been closed).

[2019-03-21 23:22] maddyscientist opened #783 "Implement swizzling and spatial blocking experiments to new dslash framework"
Swizzling the block index, as well as spatial blocking was found to have some benefit for improving performance of the dslash kernels.  We should add this functionality to the rewritten kernels.

[2019-03-21 23:25] maddyscientist opened #784 "Set shared memory carve out when using jitify"
We've found that using the maximum shared memory carveout can improve performance of the dslash kernels.  There isn't a hook in jitify to do this when using when using run-time compilation for the new dslash kernels.  We need to work out how to do this, and enable it.

[2019-03-21 23:29] maddyscientist opened #785 "Documentation updates, wiki pages etc. for new dslash framework"
While not directly required for deletion of the legacy dslash kernels, we should fully document the new QUDA kernel framework, with the appropriate wiki pages.  For example, we should have pages for:
- [ ] Dslash framework
- [ ] Using jitify

[2019-03-21 23:34] maddyscientist opened #786 "Delete legacy dslash kernels"
Once all the other issues have been completed on milestone [20](https://github.com/lattice/quda/milestone/20), we can delete all the legacy dslash kernels, macros and python code generators.

[2019-03-22 01:51] ybyang commented on #786
It is a great news that we are very close to the new dslash kernel without macros. I would like to check whether the QUDA smearing works now in chroma. What are the recommended working branch (I guess it is feature/dwf-rewrite?) and the cmake command? Do we need to specify something for jitify?

Best,

Yi-Bo

[2019-03-22 15:00] weinbe2 commented on #786
Does this include removing `dslash_pack.cu`, too?

[2019-03-22 17:06] maddyscientist commented on #786
@weinbe2 files that will be deleted:
* lib/dslash_core/*
* lib/dslash_pack.cu
* lib/dslash_textures.h
* lib/*dslash*def.h
* lib/io_spinor.h
* lib/read_gauge.h
* lib/read_clover.h
And also we will rename all the dslash4_*.cu file to dslash_*.cu, replacing all the current dslash_*.cu files.

As well as removal of all mention of these respective functions from the headers.

[2019-04-01 18:35] maddyscientist opened #787 "Delete `GaugeField::fat_link_max` variable"
This variable isn't needed anymore with the dslash kernel rewrite using accessors.  We can nuke it once the old staggered dslash kernels are removed.

[2019-04-02 11:10] kostrzewa opened #788 "Linking fails with QUDA_BUILD_SHAREDLIB on Cray (PizDaint)"
Attempting to build the shared library on Cray (PizDaint) seems to fail for reasons which I don't understand.

```develop``` branch, head commit 8e9b6a32ca1b8e4397e1f18f0800e76a9a9416c6.

Configured as follows:

[code]

Loaded modules

[code]

Failure at link time:

[code]

[2019-04-02 16:26] cpviolator commented on #788
Can you print your environment variables? I remember using
‘’’
export CRAYPE_LINK_TYPE=dynamic
‘’’
in the past.

[2019-04-05 02:53] #779 closed

[2019-04-05 02:57] maddyscientist commented on #333
Closed with #776

[2019-04-05 02:57] #333 closed

[2019-04-05 02:58] maddyscientist commented on #583
Closed with #776

[2019-04-05 02:58] #583 closed

[2019-04-05 02:58] maddyscientist commented on #692
Closed with #776

[2019-04-05 02:58] #692 closed

[2019-04-09 07:25] maddyscientist commented on #337
Code generators are no longer used with the dslash rewrite.  closing.

[2019-04-09 07:25] #337 closed

[2019-04-09 07:27] mathiaswagner opened #790 "Remove code generation from cmake"
No longer needed when we drop the legacy code generators

[2019-04-11 08:39] maddyscientist opened #791 "Support clang address sanitizer"
It would be nice to support clang's address sanitizer.  While this would only work with the CPU code compiled with clang, this would nevertheless help track down errors.  Integrating this will require integrating this with our cmake build system.

[2019-04-11 09:15] mathiaswagner commented on #791
For reference: https://blog.kitware.com/ctest-cdash-add-support-for-new-dynamic-analysis-tools/

[2019-04-17 14:59] kostrzewa commented on #788
@cpviolator
apologies for the long delay, only got around to looking into this now.

I seem to have the linking type set correctly:

[code]

Full set of environment variables:

[env.txt](https://github.com/lattice/quda/files/3090220/env.txt)

[2019-04-17 15:06] kostrzewa commented on #788
I guess this is a known issue: https://gitlab.kitware.com/cmake/cmake/issues/17208

[2019-04-17 16:20] maddyscientist commented on #788
Looks like this was merged in for the CMake 3.11 release.  @kostrzewa can you confirm the issue goes away if you use 3.11+ (or above)?

[2019-04-18 08:17] kostrzewa commented on #788
I'm afraid that 3.8.1 is the latest CMake version available on PizDaint...

[2019-04-18 09:56] kostrzewa opened #792 "likely Dslash correctness regression for non-clover twisted mass"
It seems that there is a correctness regression for the non-clover twisted mass  case. Below, I show output from some inversions on a 16c40 quenched Wilson plaquette lattice at beta=5.85. Inversions are done using double-single mixed-CG.

All calls are from within tmLQCD and the QUDA head commit is 50ea7fdb2919e7e628a29744a4a640470a55b53e and we're running on K20m here, but I've observed the same

[2019-04-18 14:00] kostrzewa opened #793 "PizDaint twisted-clover tuneLaunch() failure with accessor-based Dslash in some part of MG"
It seems that the accessor-based Dslash used in the MG for twisted-clover has an issue when running on PizDaint (with both ```QUDA_TEX=ON``` and ```QUDA_TEX=OFF```). In this test, we use the develop branch and 50ea7fdb2919e7e628a29744a4a640470a55b53e as head commit. Solver launches are via tmLQCD.

[code]

Double-single and double-half CG work fine, but just to make sure I'm currently building wit

[2019-04-18 14:01] maddyscientist commented on #793
I think I nailed this bug already.  Try my development branch feature/ndeg-twisted-clover.

[2019-04-18 14:03] maddyscientist commented on #793
FYI: I'm fixing various minor things that have cropped up since the code merge in my development branch (as well as implementing non-degenerate twisted clover fermions).

[2019-04-18 14:04] kostrzewa commented on #793
Sure enough I was able to reproduce it also locally on K20m with ```QUDA_TEX=ON``` using a completely different lattice geometry.

[code]

Sounds good, I'll be patient then and try your feature/ndeg-twisted-clover branch :)

[2019-04-18 14:07] maddyscientist commented on #793
Specifically here, the bug I found was in the coarsening of the twisted-clover matrix with dynamic clover enabled.  I nailed that bug with this commit https://github.com/lattice/quda/commit/363390badd0f1c14e84e5470d9942c225673f90d (and made the code much simpler and doubled its speed as well for good measure 😉 )

[2019-04-18 14:19] maddyscientist commented on #788
You can get recent binaries from https://cmake.org/download/ (as well as source code if you want to build yourself).  Downloading a binary should work fine though.

[2019-04-18 16:36] kostrzewa commented on #793
I confirm that with the feature/ndeg-twisted-clover branch everything works as expected. Cheers!

[2019-04-18 16:36] #793 closed

[2019-04-18 16:37] maddyscientist commented on #793
Great thanks for the confirmation.  I'll probably just file a pull today or tomorrow with the hotfixes from my development branch rather than wait for me to finish non-degenerate twisted clover.  Will check into issue #792 as well today.

[2019-04-18 19:35] maddyscientist commented on #792
Fix with commit 625278d5fe510e3d0530942032a2e0d42c3e9ca1.

[2019-04-19 22:56] maddyscientist commented on #788
Ok, I tried with cmake 3.14 on piz daint.  It still doesn't work, but at least it gives a human readable error message when configuring cmake.  Closing.

[code]

[2019-04-19 22:56] #788 closed

[2019-04-19 23:16] maddyscientist commented on #774
This was a bug I introduced with over zealous parameter checking in the `loadCloverQuda` function.  I fixed it about about a month ago with a more targeted parameter checking which fixes this.  Closing this issue.

[2019-04-19 23:16] #774 closed

[2019-04-19 23:18] maddyscientist commented on #785
Assigning first draft of the dslash framework to @cpviolator.
@mathiaswagner for the reconstruction options and I'll handle jitify.

[2019-04-19 23:19] maddyscientist commented on #731
More thoughts on this: perhaps I should just unify the coarse and fine grain accessors.  This would give maximum flexibility and easily allow mixing different access styles in the same kernel.

[2019-04-19 23:22] maddyscientist commented on #644
Initial work on this has started in the feature/sextet branch.  This development branch aims to add sextet fermion support to the staggered dslash operator.  The lessons learned in this can perhaps be extended to different representations beyond this.

[2019-04-19 23:24] maddyscientist commented on #566
This issue should be fixed now since the recursive dslash kernels are now replaced with the C++ rewrite.  There may be other Intel compiler issues, but the problem that this issue has been fixed, so closing.

[2019-04-19 23:24] #566 closed

[2019-04-22 10:26] kostrzewa commented on #792
I can confirm that this is addressed by #794 thanks!

[2019-04-22 19:57] #792 closed

[2019-04-22 19:59] maddyscientist commented on #792
Thanks for confirming this @kostrzewa.  The issue came up due to a hole in the solver testing: the default did not test solving the full system with e/o preconditioning.  I will ensure this hole is plugged going forward though so we include this by default in the regression testing.

[2019-05-01 06:21] cpviolator opened #797 "Wilson Flow"
I'm homogenising the gauge smearing and fixing routines. The addition of Wilson Flow routines to QUDA would be a nice addition.

[2019-05-01 06:23] AlexVaq commented on #797
I had (somewhere) code for that (not production ready but fully working). Once I’m a bit more free I can try to find it, but it might be lost with my IRLM...

Alex

[2019-05-01 06:28] cpviolator commented on #797
No worries if you can't find it. The core of the algorithm would be contained to a `computeWFStep` function call, which would perform a single Wilson Flow step. The rest is all boiler plated template instantiation.

But it would be good to refactor working code rather than starting from scratch :)

[2019-05-02 14:46] kostrzewa opened #798 "possible regression: tmclover multinode MG (OpenMPI)"
On the K20m partition of our local cluster, it seems that current head commit (as of today) of the ```develop``` branch leads to an incorrect residual and unreliable updates in GCR for twisted clover. This is running with ```QUDA_DYNAMIC_CLOVER=ON```.

The cluster runs OpenMPI 2.0.2a1 with GDR support, although the problem appears irrespective of whether this is in use. QUDA and tmLQCD have been c

[2019-05-02 16:32] maddyscientist commented on #798
Hi @kostrzewa.  Thanks for the report, but sorry to hear you're having this issue.  A few things:
* does it occur with non-dynamic clover?
* are you running with MG verify switched on (and I presume it passing the verification test if it's on?)
* can I get access to your cluster?  If I can reproduce this, I should be able to work out what the problem is much easier.
* can you reproduce the problem

[2019-05-03 11:42] kostrzewa commented on #798
Hi @maddyscientist

Yes, it fails there too.

Should probably get into the habit of turning this on at least for the first few verification runs. It does *not* seem to pass MG verify:

[code]

What I find a bit strange, however, is that unless I crank up the verbosity, the verification seems to pass. I would have expected verification to be done (and to error out) if ```run_verify``` is set to ```

[2019-05-04 01:00] cpviolator opened #801 "Jitify on Volta"
Compiling with `QUDA_JITYFY=ON` on summit (volta) causes runtime errors for all tests. Does the `jitify.hpp` file need updating for volta?

[2019-05-04 01:02] maddyscientist commented on #801
We're pretty sure this isn't a Volta issue - it's working fine on other Volta machines.  It looks to be a Summit / POWER9 issue.

@cpviolator can you do a `HOSTDEBUG` build and try again.  When built for debugging, jitify will output much more informatin and we'll be able to see what the problem is.

[2019-05-04 01:10] cpviolator commented on #801
Dozens of compile time errors with jitify on and `HOSTDEBUG` build type:

[code]

[2019-05-04 01:13] cpviolator commented on #801
My bad, bad jitify.hpp file in QUDA...

[2019-05-04 01:19] cpviolator commented on #801
Full output from a failed test on summit:

[code]

[2019-05-05 06:55] kostrzewa opened #802 "occasional crashes in exchangeGhost() in MG"
I get these kinds of crashers from time to time and was wondering if this was observed elsewhere. If not, I would be happy to flesh out the report with more details. This is tmclover MG on a 32c64 lattice running on 4 P100.

[code]

[2019-05-05 06:56] kostrzewa commented on #802
[code]

[2019-05-05 06:56] kostrzewa commented on #802
[code]

[2019-05-05 06:57] kostrzewa commented on #802
This was running with ```QUDA_ENABLE_P2P=3``` and the 4 P100 (8 per node) are all on the same machine.

[2019-05-05 07:00] kostrzewa commented on #802
Happens in about 10% of runs, each of which has 1240 inversions.

[2019-05-06 20:12] maddyscientist commented on #802
@kostrzewa I've never seen this issue before.  What version of MPI are you using and are you running with `QUDA_ENABLE_GDR=1`?  One thing that we recently released what that both MVAPICH and older versions of OpenMPI have buggy handling of CUDA IPC (inter-process inter-GPU communication over PCIe/NVLink) in that they don't correctly handle the case where a host application may use IPC on the same

[2019-05-10 20:49] maddyscientist commented on #802
@kostrzewa Can I ask you to test the `hotfix/milc-bnl` branch when you have a chance to if this issue persists?  I have been fixing various issues that I have found since I introduced [AddressSanitizer](https://github.com/google/sanitizers/wiki/AddressSanitizer) to QUDA (and I am now a huge proponent of this, since I found issues I would never have found otherwise), and made some of the behaviour

[2019-05-10 21:19] maddyscientist commented on #754
Closing this issue since it's long since been resolved.

[2019-05-10 21:19] #754 closed

[2019-05-13 16:54] weinbe2 opened #804 "Add support for hypercubic RNG to staggered tests"
Just need to copy what Kate put in for Wilson-type fermions to Staggered-type fermions. This is more of a reminder to myself than anything else.

[2019-05-13 16:55] weinbe2 commented on #804
Expanded this to clover fields, gauge fields.

[2019-05-13 17:45] cpviolator opened #805 "Open boundary conditions."
Some computations (Luscher's open temporal for example) require open boundary conditions. QUDA needs an open BC option to support this. A first pass would be to identify the open BC and insert a zero valued link as needed. An optimised version would do this, and not communicate at all in the open dimension.

[2019-05-14 06:11] kostrzewa commented on #802
This is with OpenMPI-2.0.2a1 with GDR support, although I run with ```QUDA_ENABLE_GDR=0``` currently because I had some problems with incorrect residuals which I did not have time to investigate in detail. I guess this might be the issue that you're describing.

As for the synchronisation problems, they also arise in this run (which has ```QUDA_ENABLE_GDR=0```) so I'm nto sure that this is the cul

[2019-05-14 14:52] weinbe2 opened #807 "Create unified routines to print a single site of a LatticeField or the entire field"
We should have two versions of `printVector` (or, more generally, any `LatticeField` via a virtual function declaration): one that takes a checkerboard index and prints the values for just this site, and then one that takes zero arguments and prints all of the sites across all ranks (i.e., loops over comm ranks, on a given rank an inner loop goes over all checkerboard sites while other ranks block

[2019-05-14 17:49] #744 closed

[2019-05-14 19:18] #791 closed

[2019-05-15 14:11] kostrzewa commented on #798
Below a sit rep from a scan that I completed yesterday/today. MG inversion of twisted clover on a 32c64 lattice on two nodes with 4 K20m each.

I test the pre-```hotfix/milc-bnl``` (compiled at commit 54b503f25b9f5bb22de83370b9ce6950804f8564) noted in the top-level report as well as ```hotfix/milc-bnl``` which I had compiled at commit 4df6a29bcfbc8e16558a2c9214955db29639b5d8

I enable run_verify t

[2019-05-16 17:07] maddyscientist commented on #780
@cpviolator is making progress on the rewrite, and we plan to just nuke the old `contractQuda` kernels.  Are these being used at all by anyone?

@AlexVaq @khadjiyiannakou @sbacchio @ckallidonis @ckallidonis @srijitpaul

[2019-05-16 19:59] mathiaswagner commented on #254
closing this as we have a `.clang-format` file now.

[2019-05-16 19:59] #254 closed

[2019-05-17 06:47] maddyscientist commented on #798
Hi @kostrzewa.  Just to update you: I did some tests on your K20m system today, and I can report that I have reproduced badness on the cluster when running QUDA unit tests with a 32^3x64 clover (no twist) lattice (with 1x1x2x4 topology).  I also see the failures in verify when p2p=0.

Debugging this issue directly now, hopefully I'll get this nailed in the next day or so.

[2019-05-20 16:46] maddyscientist commented on #798
Update here @kostrzewa.   Still working on isolating this bug, though I have determined that the issue only arises I think when the clover field is computed on the device, and if this isn't done then the error seems to go away.  Consistent with the MG bug as reported by the @ckallidonis @ BNL, the issue only occurs if we have the the rank order running fastest for the Z dimension and slower for th

[2019-05-29 06:19] maddyscientist opened #821 "Create staggered deflation solver test"
The deflation multigrid pull that shall shortly be merged (#816) add support for eigenvector deflation using a thick restart Lanczos algorithm.  For now, this has only been tested on Wilson-type fermions, and the unit test that uses Lanczos is for Wilson-type fermions.  This issue is to create an equivalent test for staggered-type and nSpin=1 fermions (naive staggered, HISQ and Laplace).

[2019-05-30 04:58] maddyscientist opened #823 "Add deflation support to CA-CG"
At present only CG has support for deflation.  For coarse-grid deflation, the expectation is that we will want to use CA-CG, hence this request to enable it.

[2019-05-31 20:08] weinbe2 opened #825 "Make the pool allocator smarter"
As it currently works, the pool allocator looks for a large enough existing allocation, and if one doesn't exist, it frees the smallest one and calls a fresh `cudaMalloc`. If that `cudaMalloc` call returns an error, it gets passed along to `errorQuda`, and that's that.

A smarter method would be to "catch" the error from `cudaMalloc`, then try again with the next-smallest existing allocation (free

[2019-06-06 07:09] mathiaswagner opened #834 "Use ISO-C bindings for Arpack-NG"
When we move along with Arpack-NG that should be the cleaner solution going forward.

[2019-06-06 15:51] weinbe2 opened #835 "Fix plaquette calculation for recon 9 and 13 in staggered tests"
Right now, passing in `--recon 13` breaks the staggered inversion tests because the plaquette tests aren't compiled with recon 13 support. There are two possible trivial fixes: either template in recon 13 and 9 in the plaquette calculation code, or have the gauge field get loaded via recon 18 for the plaquette check then re-loaded in 13 afterwards.

This is more a reminder to myself than anything

[2019-06-06 16:13] maddyscientist commented on #835
I think best to just support recon-13 and recon-9 directly.  I have a plan to remove the compilation overhead for the plaquette (no need to instantiate all block size templates).  So we shouldn't to worry about the compilation overhead.

[2019-06-06 16:13] weinbe2 commented on #835
Sounds good---I noticed we also need to add it in the fat link construction, too.

[2019-06-11 16:32] weinbe2 opened #838 "Optimize Yhat max calculation"
The current implementation of calculating the scale for fixed precision Yhat is a "just works" solution: it does a per-thread `atomicMax`. This should be replaced by a proper standard butterfly reduction scheme.

[2019-06-11 16:44] weinbe2 opened #839 "Jitify MG run fails to converge"
As of the `develop` branch on June 11, a jitify MG run with the default parameters currently fails to converge. As far as I can tell, it makes it through the setup without an issue, and it's only when it hits the solve itself that issues show up. For convenience, here's a run with some verbosity flags pre-supplied for you, but again, they aren't necessary.

`./multigrid_invert_test --verbosity ver

[2019-06-11 16:47] #780 closed

[2019-06-14 00:36] maddyscientist commented on #835
Closed by #843

[2019-06-14 05:44] #835 closed

[2019-06-14 06:55] maddyscientist commented on #681
@cpviolator this is probably relevant for your work

[2019-06-14 06:56] maddyscientist commented on #516
This has long since been done.

[2019-06-14 06:56] #516 closed

[2019-06-14 07:00] maddyscientist commented on #154
Closing this issue.  Long term we are moving away from using the texture cache completely rendering this issue null and void.

[2019-06-14 07:00] #154 closed

[2019-06-14 07:03] mathiaswagner commented on #733
Closing this. Reopen if still a thing.

[2019-06-14 07:03] #733 closed

[2019-06-14 07:04] mathiaswagner commented on #655
Closing this. Reopen if this is still an issue.

[2019-06-14 07:04] #655 closed

[2019-06-14 07:05] #267 closed

[2019-06-14 09:56] kostrzewa commented on #798
There seems to be another issue in that the MG setup breaks somewhat after an update (change of twisted quark mass) even for cases where it works correctly initially.  This is what happens:

[code]

I need to check if the current develop is similarly affected...

[2019-06-14 10:20] kostrzewa opened #846 "Frequent CMake version requirement changes"
I wanted to inquire about the frequent CMake version requirement changes and whether these are absolutely necessary. Most sysadmins, it seems to me, are very conservative and getting them to install packages more recent than ~ 2 years is difficult. This is doubly true of many supercomputer installations, where software versions sometimes remain constant (or are only mildly modified) over the life

[2019-06-14 11:57] mathiaswagner commented on #846
There are technical reasons. And since you can download cmake binaries for Linux from cmake.org that only require you to unpack a tar in your home it should not prevent anyone from compiling QUDA.
Most systems these days have reasonably recent cmake modules. And 3.11 is over a year old.

Tl;dr we are aware and don’t change requirements for no good reason. Since cmake is now the only option we will

[2019-06-14 11:59] mathiaswagner commented on #846
We also have things in mind that we want to add in the future that will require 3.11 and so to not bump it up frequently we went with 3.11.

[2019-06-14 12:04] kostrzewa commented on #846
Understood. Wasn't meant as criticism, just something that I and others keep bumping into on various machines.

Makes sense!

[2019-06-14 12:04] #846 closed

[2019-06-14 12:10] mathiaswagner commented on #846
I know. Brevity is just me typing on my phone. We try to stay compatible but there will always be some pain points when moving forward.

[2019-06-14 12:14] mathiaswagner opened #847 "Update Quda build instructions"
Describe building QUDA with cmake, getting cmake if not available and currently available options in cmake.
Particularly MPI detection.

[2019-06-14 12:15] mathiaswagner commented on #846
Follow up issue #847

[2019-06-14 12:19] mathiaswagner commented on #701
Is this still an issue? If yes please reopen.

[2019-06-14 12:19] #701 closed

[2019-06-14 12:21] mathiaswagner commented on #534
Closing as nobody complained for a long time.

[2019-06-14 12:21] #534 closed

[2019-06-14 12:23] mathiaswagner commented on #324
With a lot of rewrite and Maxwell not a commonly architecture for Quda. Closing.

[2019-06-14 12:23] #324 closed

[2019-06-15 05:38] #823 closed

[2019-06-20 06:44] maddyscientist commented on #790
Was completed in #848

[2019-06-20 06:44] #790 closed

[2019-06-20 06:45] maddyscientist commented on #786
Closed with #848

[2019-06-20 06:45] #786 closed

[2019-06-27 06:38] mathiaswagner opened #854 "Stability of mixed-precision CG for heavy-quark solves"
#853 disables mixed precision for heavy-quark solves as they are sometimes unstable.
This is a reminder to look into this.
One idea is to just iterate in mixed precision until L2 breakdown and then continue in full precision.

[2019-06-28 09:54] maddyscientist opened #856 "Improve precision of block orthogonalization in fixed point"
The present implementation of block orthogonalization when using fixed point is just to assume to that the max element size is 1.0.  While this clearly works, for large block size and/or large number of colours, this results in a significant loss in precision.  We need to fix this.

[2019-06-29 19:44] cpviolator opened #857 "Unable to find CUDA_TOOLKIT_INCLUDE on some systems"
When using CMake/3.14.5 the following error was observed on Lassen:

[code]

This can be avoided by editing out the NO_DEFAULT_PATH part of the following in `cmake/FindCUDAWrapper.cmake`

[code]

[2019-07-26 07:02] maddyscientist opened #866 "Add support for asymmetric coarsening to MG"
At present, there is no support for coarsening asymmetric-preconditioned operators, e.g., Wilson-clover or twisted-clover.  This is something that should be done, and shouldn't be too hard.

Assigning to myself.

FYI @bjoo and @sunwayihep.

[2019-08-09 18:54] weinbe2 opened #874 "Add support for deflating a preconditioned operator while performing a solve that reconstructs to the full operator"
As it stands, this combination triggers an error. After PR #873 gets merged, this can be triggered in `release/1.0.x` as of August 9, 2019 by making the following modifications to `staggered_eigensolve_test` below line 600 or so while running a `staggered` or `asqtad` `dslash_type` test:

`matpc_type = QUDA_MATPC_EVEN_EVEN;` (or `ODD_ODD`)
`solution_type = QUDA_MAT_SOLUTION;`

These correspond to

[2019-08-15 19:59] weinbe2 opened #875 "Consider removing the legacy sign convention for staggered-type operators"
Staggered operators have the convention that `Dslash` actually applies `-D_{eo}` or `-D_{oe}`, while `DslashXpay` applies `D_{eo} + m I_{ee}`, `D_{oe} + m I_{oo}`. Under the hood, this actually triggers by checking if `m == 0.` or not, which causes an issue if `DslashXpay` is called with zero mass.

There's currently a workaround (right now testing it, but it'll be there soon) which catches this c

[2019-08-15 21:23] weinbe2 opened #877 "Staggered eigensolver gives wrong smallest eigenvalue when splitting a 16^4 lattice in `t` direction"
I don't think the issue is in the staggered eigensolver specifically, it's just the only place I've noticed an issue (so far). This issue is unrelated to the zero mass quirk I recently addressed, as it shows up before and after the fix. I've only verified it exists on `release/1.0.x` (and my hotfix branch). Reference commands given at the very bottom.

Overly verbose description of what's going on

[2019-08-16 02:08] cpviolator commented on #877
Updating this issue with some tests from `staggered_invert_test`

Baseline command, one MPI rank:

[code]

gives

[code]

But with a `t` splitting command:

[code]

we see

[code]

Both done with `QUDA_ENABLE_TUNING=0`

[2019-08-16 02:17] cpviolator commented on #877
Possibly due to the refactoring of the staggered gauge utils :( I'll retest on an old commit.

[2019-08-16 20:40] cpviolator commented on #877
Did a few more tests.

* The eigensolver works fine for Wilson fermions.
* An old version of `staggered_invert_test` with the old gauge utils produces the same errors as above.
* Same errors appear when using `--dslash-type staggered` and/or `--compute-fat-long true/false`

[2019-08-18 00:51] cpviolator commented on #877
Big Clue!

* The temporal periodicity is hardcoded in both `staggered_invert_test` and `staggered_eigensolve_test` to `QUDA_ANTI_PERIODIC_T`. Switching to `QUDA_PERIODIC_T` makes the issue go away in both the invert test and eigensolve test in that all the different MPI configurations give the same data.

Conclusion: temporal boundary condition not being properly implemented for staggered T comms.

[2019-08-18 01:34] cpviolator commented on #877
Fixed with #878

[2019-08-22 09:37] kostrzewa opened #880 "MG + Lanczos wiki page specifies --nsrc multiple times"
Is there a reason that ```--nsrc``` is specified multiple times in the MG + Lanczos example command given on https://github.com/lattice/quda/wiki/Multigrid-Solver ?

Also, would it be okay if I added some linebreaks to make it easier to read? I was thinking of something like

[code]

[2019-08-22 16:44] maddyscientist commented on #880
I suspect it was just an oversight, the multiple `--nsrc` entries.  Feel free to clean up.

[2019-08-22 17:58] cpviolator commented on #880
Fixed with https://github.com/lattice/quda/wiki/Multigrid-Solver/1b3fd65e9dd97b88e264f5e79aab878f8a705b5c

[2019-08-22 23:11] #880 closed

[2019-08-23 11:28] kostrzewa commented on #880
Thanks, I also removed the duplicated ```nsrc``` entries.

[2019-08-24 00:01] #877 closed

[2019-08-24 20:36] detar opened #881 "The current QUDA/develop fails to compile on Summit"
With the latest develop version, the compiler chokes on multi_blas_helper.cuh

Using modules

Currently Loaded Modules:
  1) hsi/5.0.2.p5            5) DefApps                          9) cuda/10.1.168
  2) xalt/1.1.3              6) gcc/6.4.0                       10) fftw/3.3.8
  3) lsf-tools/2.0           7) cmake/3.15.2
  4) darshan-runtime/3.1.7   8) spectrum-mpi/10.3.0.1-20190611

Is a highe

[2019-08-24 20:43] cpviolator commented on #881
Did you pull the latest commits from develop, then recompile? I saw this issue once and thought I'd made an error, so deleted the source code and downloaded a fresh copy of develop branch. That solved the issue.

May I ask that, if you've not already done so, you download a fresh copy of QUDA and recompile? Please keep that buggy version though, this is clearly a real bug that needs to be fixed.

[2019-08-24 20:56] maddyscientist commented on #881
Hi @detar.  I’ve seen this issue before, whence it was caused by bugs in older gcc.  I see that you’ve loaded up gcc 6.4, but I wonder if an old version is being used by CUDA for the .cu files.  Can you paste the output from compiling with `make VERBOSE=1`, which will allow us to see the full command invoked?

[2019-08-25 06:28] maddyscientist commented on #881
I can't reproduce this issue with gcc 5, and things compile fine, so that's not the issue.

Looking at the error message, I think I know what the problem is: I think you've reused a prior build and updated the source code without rerunning cmake.  QUDA now requires to be built with C++14, so if you reuse a prior cmake generated makefile, it will try to build with C++11, and give you that error (C+

[2019-08-25 16:10] mathiaswagner commented on #881
I think rerunning cmake alone won’t fix that. It doesn’t overwrite the cxx_standard in the cache. Either fresh build Dir or setting QUDA_CXX_STANDARD to 14 should do.

[2019-08-25 20:09] detar commented on #881
Hmm.  I did rerun cmake to be sure -- wiped the build directory and
started from my old CMakeCache.txt.  I also looked for options that
specified the version of C++ in the ccmake selections and in the
Makefile that was generated -- I didn't see any.  But I'll find a way to
force the issue, based on your observation.

Thanks,

Carleton

On 8/25/19 12:28 AM, maddyscientist wrote:

[2019-08-25 20:54] maddyscientist commented on #881
Hi Carleton.  You need to either create a new CMakeCache.txt file from fresh or explicitly reset the QUDA_CXX_STANDARD to be 14.

[2019-08-25 22:09] detar commented on #881
Thanks, everyone, for the advice.  Earlier this afternoon, I found the
QUDA_CXX_STANDARD option in the advanced cmake set.  I also switched to
gcc-7.4.0.  The build, still underway, has passed the previous failure
point.

Best,

Carleton

On 8/25/19 2:54 PM, maddyscientist wrote:

[2019-08-26 09:49] mathiaswagner opened #882 "Multigrid evolve test fails to compile"
Seems it missed the fix for per-level input/output files in some places. Putting it here so we don't forget to fix it for 1.0.

[code]

[2019-08-26 14:37] kostrzewa opened #883 "multigrid_invert_test linked without -lcublas by default"
I don't know if it's our installation here in Bonn, but when I try to compile the tests (latest develop) after this call of CMake:

[code]

Linking of ```multigrid_invert_test``` fails due to ```-lcublas``` not being passed as a linker flag (This is CUDA-9.2 installed in /usr/local/cuda-9.2 with all symlinks created).

I added ```-lcublas``` by setting ```-DCMAKE_EXE_LINKER_FLAGS``` as a workaroun

[2019-08-26 14:40] mathiaswagner commented on #883
No, obviously not what should happen. Do you mind running the cmake command in a fresh dir (without the `CMAKE_EXE_LINKER_FLAGS`) and send the CMakeCache?

Not sure yet where this goes wrong. I think the cache should include the cmake version but please also send that.

Thanks.

[2019-08-26 14:44] kostrzewa commented on #883
[CMakeCache_quda_gh883_v01.txt](https://github.com/lattice/quda/files/3541622/CMakeCache_quda_gh883_v01.txt)

[2019-08-26 14:45] kostrzewa commented on #883
```cmake version 3.13.2```

[2019-08-27 18:28] mathiaswagner commented on #882
Closed by #884

[2019-08-27 18:28] #882 closed

[2019-08-29 13:58] kostrzewa commented on #883
I've reproduced this behaviour on PIzDaint, btw.

[2019-08-29 13:59] kostrzewa commented on #883
[code]

[2019-08-29 14:05] kostrzewa opened #885 "invertmsrc_test fails to compile due to (invalid) implicit complex -> real downconversion"
[code]

[2019-08-29 14:51] maddyscientist commented on #883
@kostrzewa after running `cmake` can you try running `ccmake`, re-generate the `CMakeCache.txt` file using `ccmake` and then try to recompile again.  I don't know why this fixes the issue, but this problem has been seen by others, e.g., at Jülich.

If this does fix the problem, could you send us the generated CMakeCache.txt file before and after running `ccmake`?

@mathiaswagner Did you ever diagn

[2019-08-29 14:55] kostrzewa commented on #883
@maddyscientist Sure thing. First of all, my list of loaded modules:

[code]

CMakeCache.txt before and after ccmake will follow shortly!

[2019-08-29 15:00] kostrzewa commented on #883
Before ccmake:

[CMakeCache_quda_gh883_PizDaint_before_ccmake.txt](https://github.com/lattice/quda/files/3556167/CMakeCache_quda_gh883_PizDaint_before_ccmake.txt)

[2019-08-29 15:02] kostrzewa commented on #883
sorry, mistakenly had the ```CMAKE_EXE_LINKER_FLAGS``` in the call. Just a second.

[2019-08-30 10:04] cmcneile opened #886 "Default arguments in staggered_eigensolve_test.cpp"
Hello,
         Just a suggestion.

When  I use

mpirun -npernode $mpi_tasks_per_node -np $np  /home/cmcneile/Wilkes2-gpu/production_runs/exec/staggered_eigensolve_test \
--dim 12 12 24 64 --gridsize 2 2 1 1 \
--load-gauge ./l2464f211b600m0102m0509m635a-coul.1000_ildg
--dslash-type asqtad --mass 1e-16 --compute-fat-long true --tadpole-coeff 1.0 --test 3 \
--prec double --recon 18 \
--eig-nConv 16

[2019-08-30 10:17] mathiaswagner commented on #886
I see your point and we are busy rewriting QUDA's parameter parser anyway.
Still not sure what you are suggesting here: Error out if any parameter that the test requires is not explicitly given on the command line? This will become quite annoying as the you will need to specify everything just to be able to run a test (and in some cases even parameters that are only needed if others are given and

[2019-08-30 14:28] kostrzewa opened #887 "coarse grid deflation for twisted clover fermions not helping / working as expected?"
Elsewhere, @maddyscientist, you suggested this parameter set as a good setup for coarse grid deflation for tmclover fermions:

[code]

After adjusting ```test_util.cpp``` to allow more than 1024 vectors in ```mutligrid_invert_test```, I am unable to reproduce the good results obtained by @maddyscientist . The solver that I get does not really converge very quickly at all, only going down to ```~2e

[2019-08-31 16:44] cpviolator commented on #887
I think the issue is that you explicitly pass `--mg-mu-factor 2 0.0`. This should be left as the default 1.0. It's probably best not pass that argument at all when using deflated MG.

[2019-09-01 11:58] kostrzewa commented on #887
Thanks @cpviolator, unfortunately it does not help:

[code]

Ah, one thing I just noticed that escaped me before is that the solver quickly reaches 2e-3 and then sits there, reminiscent of the problems that I've seen in the past with tmclover convergence.

[2019-09-01 17:40] kostrzewa commented on #887
Just for the sake of completeness, I've tested regular MG (with coarse mu factor) with the same code and same tunecache and that works as expected. I would thus say that it's unlikely that the convergence issue that I observe is due to some obscure issues during comms or in the clover inversion, as we had with convergence issues before.

[2019-09-02 12:16] kostrzewa commented on #887
I've increased the number of coarse solver iterations to 100 on both the intermediate and the coarsest level (1 and 1 in the input parameter numbering) and it seems that the coarse solver simply does not converge at all:

[code]

and from there it just keeps getting worse

[code]

[2019-09-02 17:38] cpviolator commented on #887
@kostrzewa I'm going to spin up the latest version of develop and test on a smaller lattice. In the interim, could you possibly perform the following:

Turn on coarse grid deflation (with full verbosity on all levels) but with `--mg-eig-nEv 2 32 --mg-eig-nKr 64` and `--mg-eig-nEv 2 128 --mg-eig-nKr 2 256` just to see how badly the convergence is affected. Full verbosity will report how much the de

[2019-09-02 18:44] mathiaswagner commented on #885
should be fixed by #888. Please reopen if still a thing.

[2019-09-02 18:44] #885 closed

[2019-09-02 20:01] cpviolator commented on #887
Hitting some resistance to convergence here too with an TxL^3=64x32^3 lattice. Outer solver is sticking at about 7e-2. Investigating...

[2019-09-03 13:46] kostrzewa commented on #887
Thanks for the cross-check. From a log file provided by @fmani and @sbacchio (thanks!), I see that the output "Deflating N right and N left singular vectors" is missing from my logs even at the highest verbosity levels. Could some part of the logic be skipped for some reason and the solve is running on the undeflated coarse system?

[2019-09-03 13:51] kostrzewa commented on #887
Actually, strike the previous comment, it's right there...

[2019-09-03 13:53] cpviolator commented on #887
I’m thinking a bug has been introduced. I ran the scripts from my original
tests on an Olde build and saw expected speed up. I then ran the same
script against a fresh build and saw stagnation. I’ll bisect the commits
and track it down today.

On Tue, Sep 3, 2019 at 09:51 Bartosz Kostrzewa <notifications@github.com>
wrote:

[2019-09-03 13:54] kostrzewa commented on #887
Thanks a lot @cpviolator

[2019-09-03 19:55] maddyscientist commented on #883
ping...did `ccmake` fix the issue @kostrzewa?

[2019-09-03 22:28] cpviolator commented on #887
@kostrzewa Some sort of BLAS bug has crept in to develop. I'll dig around for it tonight. If I can't find it, release 1.0 all should work perfectly with sufficient speed up.

[2019-09-04 07:46] kostrzewa commented on #883
No, see the two versions of CMakeCache in comment above yours: https://github.com/lattice/quda/issues/883#issuecomment-526225515

[2019-09-04 08:43] kostrzewa commented on #883
Oh, I see, I never followed up with a report on the "I'll compile now". When the machine is out of maintenance tomorrow I'll check again, I seem to remember that it didn't work, but can't guarantee that I remember right.

[2019-09-04 11:51] kostrzewa commented on #887
Thanks @cpviolator! I can confirm that, at least with my 24c48 test lattice, things work as expected with the release/1.0.x branch. Cheers! I'll test on the 64c128 on PizDaint when the machine is out of maintenance!

[2019-09-04 15:25] cpviolator commented on #887
@kostrzewa It looks like there is a bug in release 1.0 too. I can only see convergence if I set `QUDA_ENABLE_TUNING=0` and use release 1.0 on Summit with the L=64. Investigating further...

[2019-09-04 15:53] kostrzewa commented on #887
Yes, I seem to observe issues on a larger test lattice as well...

[2019-09-04 16:06] kostrzewa commented on #887
Actually, this was an issue with not having enough blocks on the coarsest level. (blocking was (0: 6 6 3 3), (1: 4 4 2 2), local lattice (xyzt)(48 48 24 24) and I requested 1024 vectors to be deflated. Adjusting the blocking to (0: 6 6 3 3), (1: 2 2 2 2) makes TRLM converge nicely and I get a speedup of a factor of 4 over the regular MG solve with coarse mu scaling.

I'll report later on the statu

[2019-09-04 20:20] kostrzewa commented on #887
Using the release/1.0.x branch and

[code]

on 32 Piz Daint nodes, I was able to get 2.2 second solves on the 64c128 physical point lattice. Very impressive! Thanks to all of you for this massive improvement!

[2019-09-04 20:23] cpviolator commented on #887
You might be able to get more speed-up by using:

`--mg-block-size 0 4 4 4 8`

I found that just respecting the temporal direction on the first level w.r.t. blocking can give a factor of two or so.

[2019-09-04 20:24] cpviolator commented on #887
Still hunting for the bug...

[2019-09-04 20:24] kostrzewa commented on #887
But doesn't that leave the coarse grid with a single lattice site?

[2019-09-04 20:25] cpviolator commented on #887
Yes, so you have to rearrange the MPI set up to `--gridsize 2 2 2 4` or something that will fit the blocking.

[2019-09-04 20:26] kostrzewa commented on #887
okay, I see what you mean, will give it a go

[2019-09-04 20:26] maddyscientist commented on #887
Thanks for the update @kostrzewa.  More improvement will come when fix the outstanding issues with the develop branch.

One favour I would request: could you send us the full stdout for these parameters with `--verbosity verbose --mg-verbosity 0 verbose --mg-verbosity 1 verbose --mg-verbosity 2 verbose` set?  This might help us identify where things go bad.

[2019-09-04 20:29] maddyscientist commented on #887
Sorry to clarify my above request: can you send us the stdout for both release and develop branches, so we can see where things go bad?  thx

[2019-09-04 23:15] kostrzewa commented on #887
The necessary jobs are queued. I'll upload one pre and post-tune output each, for develop and feature/1.0.x, respectively, at full verbosity.

[2019-09-04 23:17] maddyscientist commented on #887
Perfect, thanks @kostrzewa 😄

Regarding the results you've got on Piz Daint with 32 nodes with 64^3x128 lattices @ 2.2 seconds.  What is the speedup this gives versus the prior algorithm?

[2019-09-04 23:27] kostrzewa commented on #887
I can't confirm that, I get about 3.5 seconds by using any permutation of 4 4 4 8 on the finest grid (making the necessary adjustment to parallelisation). 4 4 4 4 gives the best performance so far, at least for me.

[2019-09-04 23:31] kostrzewa commented on #887
A bit hard to say as I can't compare apples to apples at this stage (we run without recon in production as we use twisted boundary conditions, so things are somewhat slower). I'll do an apples to apples comparison when I run a production test (from within the tmLQCD QUDA interface). The best setup that I was able to find resulted in about 9-10 seconds per solve, I expect that in production I'll ge

[2019-09-04 23:58] kostrzewa opened #891 "tm/tmclover mu=0.0 coarse grid deflation -> reuse for any mu value?"
For twisted mass (or tmclover), would it be possible to generate the vectors for coarse grid deflation once with mu=0.0 (or the smallest mass to be used in a particular run) and then re-use these for any mu value? I understand that the coarse operator must (should?) be updated, but why exactly should the unphysical singular eigenvectors change (substantially) as mu is increased? The true eigenvalu

[2019-09-05 02:44] kostrzewa commented on #887
Both run with:

[code]

#### develop

[develop_gh887_pre_tune.out.txt](https://github.com/lattice/quda/files/3577212/develop_gh887_pre_tune.out.txt)
[develop_gh887_post_tune.out.txt](https://github.com/lattice/quda/files/3577211/develop_gh887_post_tune.out.txt)

#### release-1.0.x

[quda_1.0.x_gh887_pre-tune.out.txt](https://github.com/lattice/quda/files/3577216/quda_1.0.x_gh887_pre-tune.out.txt)

[2019-09-05 17:24] cpviolator commented on #891
@kostrzewa Absolutely. One can save and load eigenvectors any time the eigensolver is called. One simply needs to pass the correct string to the solver. For the regular eigensolver, one would use
[code]
For the MG routines, you use
[code]
where in your case you pass `<level>` as 2, the bottom level. This will load a vector space of size `nConv`, compute the eigenvalues for that space, and load the

[2019-09-05 17:36] cpviolator commented on #881
@detar How did this pan out? Everything OK?

[2019-09-05 18:38] kostrzewa commented on #891
I see, but is there no way to avoid ```updateMultigridQuda``` performing the EigSolver step?

Let me try to understand what you suggest: I start my inversions with the lightest mu that I have (or just set mu_factor = 0.0 on the coarsest level) and set ```mg_eig_param.vec_outfile```, such that they are written to disk at the end.

When I switch quark masses, I need to run ```updateMultigridQuda```,

[2019-09-05 18:49] cpviolator commented on #891
I think see the issue you're having. Let me reiterate to ensure we are both on the same page:

1. You construct an MG object that constructs a deflation space, (say DS)
2. Using the same gauge field, you switch quark mass (and presumably mu) and update the MG object so that it is properly configured for the new quark field.
3. You wish to use the same DS for each update, but `updateMultigridQuda`

[2019-09-05 18:51] kostrzewa commented on #891
That's exactly right, yes. The MG object in question is not destroyed, simply updated using the C interface ```updateMultigridQuda``` function with suitably updated quark mass parameters.

[2019-09-05 18:55] cpviolator commented on #891
OK, this seems fairly doable. I will write a subroutine that will detect if a deflation space is to be transferred, adjust the MG params to stop the new object from computing a new space, transfer the deflation space to the new object, then restore the MG params.

I'll ping you when its ready for testing.

[2019-09-05 18:56] kostrzewa commented on #891
Awesome!

[2019-09-05 18:57] cpviolator commented on #891
@maddyscientist WRT the above, should this go into develop or release 1.0?

[2019-09-05 18:58] maddyscientist commented on #891
Definitely for develop.

[2019-09-05 21:39] cpviolator commented on #891
Just inspecting the code path for this and making notes.

The deflation space is created and owned by the bottom level solver. So the level 2 (CA-)GCR is the instance that creates/loads the vectors, and they are discarded as soon as soon as the parent MG object is destroyed, as the parent MG destroys the bottom solver.

Provided the parent MG object persists, this feature can be implemented with b

[2019-09-06 08:07] kostrzewa commented on #887
@maddyscientist Apples to apples: Regular MG with thoroughly optimised setup left, Coarse grid deflated MG on the right with best params based on the ones you provided.

Light up-type forward prop to r^2 / b^2 <= 1e-19 from a time slice source:

[code]

Light down-type sequential prop to r^2 / b^2 <= 1e-19 using one time slice of a light forward propagator as a source:

[code]

Strange down-type s

[2019-09-06 08:08] kostrzewa commented on #887
Not sure what happened in lines 3 and 4 of the second block in https://github.com/lattice/quda/issues/887#issuecomment-528756683

[2019-09-06 09:07] kostrzewa commented on #887
Note that it seems, however, that there is somewhat less variation of the time to solution as one moves from one gauge field to another when coarse grid deflation is used, so that's another benefit. The standard MG takes up to 12 seconds for the forward prop inversion on another gauge configuration (up from 7) while the deflated MG takes 3 (up from 2.5).

[2019-09-06 14:31] cpviolator commented on #887
@kostrzewa These are some really nice numbers to see! As for the anomalous increase in wall clock times on lines 4 and 5: the outer iteration count is unaffected, and all the inner iteration maxima are highly constrained. This also would suggest a hardware fault, and IIRC Piz-Daint would often suffer from MPI traffic issues.

Naturally, now that the horrible low eigenvalues have been taken care of

[2019-09-06 22:51] maddyscientist commented on #887
Thanks for the data @kostrzewa.  Some nice speedup numbers there.

And thanks also for the comparison logs.  I'm pleased to report that we've worked out the issue with the develop branch, and I've filed a pull request to fix that #894.  With that fix in place, your results above should be even better - I'd expect perhaps a 10-20% speedup over the numbers you report above.

[2019-09-07 11:08] kostrzewa commented on #883
Alright, so it's indeed true that running ```ccmake .``` allows the tests to be linked correctly.

While the CMakeCache.txt is unaffected as you can see above in https://github.com/lattice/quda/issues/883#issuecomment-526225515, what does change are the files in

[code]

which obtain lines:

[code]

[code]

and the link command:

[code]

where libcublas is explicitly listed.

[2019-09-07 23:01] cpviolator commented on #887
@kostrzewa @maddyscientist I played around a bit with the params you gave and there was little to be gained, if at all. I was adjusting the smoother hits, block sizes, ca-basis size, and coarse solver tols.

I would remind you though to ensure that you have compiled with `QUDA_MAX_MULTI_BLAS_N=64` to ensure that the deflation is as fast as possible. The compile time is much better than it was (tha

[2019-09-08 00:03] maddyscientist commented on #887
Actually @cpviolator, with the latest code in develop there is no need to compile up multi-blas-n to be that large.
* By default, all powers of two are automatically compiled up and multi-blas-n now only enables non powers of two.
* Moreover, one of the dimensions of the multi-blas-n is purely a runtime parameter in the develop branch: this means that you can do an arbitrary sized 1-d multi reduct

[2019-09-08 16:00] kostrzewa opened #895 "issues with multi-node MG on Kepler release/1.0.x branch"
If you find some time, could I ask for help with diagnosing what's happening here?

[code]

I will attach the full log below. I've tried different combos of gdr, p2p and when gdr is disabled, I still have the problems reported in #798, so the two issues might be related.

[2019-09-08 16:02] kostrzewa commented on #895
[production_cA211a.30.32_0000_gdr1_p2p1.out.txt](https://github.com/lattice/quda/files/3587748/production_cA211a.30.32_0000_gdr1_p2p1.out.txt)

[2019-09-08 17:29] kostrzewa commented on #895
And here the same without GDR (and without the synchronisation problem), but with the issues of #798 with GCR aborting due to residual norm increases.

[production_cA211a.30.32_0000_gdr0_p2p3.out.head39805.txt](https://github.com/lattice/quda/files/3587827/production_cA211a.30.32_0000_gdr0_p2p3.out.head39805.txt)

[2019-09-08 17:31] kostrzewa commented on #895
I think this issue of a failure with GDR might be related with the fact that with the driver provided with the latest 9.2 series CUDA, we are unable to load the ```nv_peer_mem``` module (even after recompiling it, which works fine).

[2019-09-09 12:15] kostrzewa commented on #891
That sounds good. In our case, the MG object should be persistent (as we never destroy it explicitly). This will be of major help for future projects!

[2019-09-09 12:17] kostrzewa commented on #887
@maddyscientist

When you say "ca-gcr space", what exactly defines the size of this space? The CA basis size for the coarse solver?

[2019-09-09 18:06] maddyscientist commented on #887
In terms of MG parameters, yes the `--mg-coarse-solver-ca-basis-size` sets the Krylov space size for the CA-GCR solver.  So a value of 8 here means that we build up a the basis `(r, Ar, A^2r, ...A^8r)`, and minimize the residual in this space.

The main difference between CA-GCR and (classical) GCR is that CA-GCR does this using regular Gram Schmidt in the power basis, which means we can use a sin

[2019-09-20 02:09] maddyscientist commented on #839
Moving this to QUDA_NEXT since Jitify is still considered experimental, and won't be supported on 1.0.  @weinbe2 when you get the chance, can you check this is still an issue with `develop` branch: I suspect that it's not longer an issue with the recent round of improvements and clean up that went in with #899 (which did have some weird Jitify behaviour).

[2019-09-20 02:22] maddyscientist commented on #881
Closing this issue, since it has been resolved.

[2019-09-20 02:22] #881 closed

[2019-09-30 19:42] mathiaswagner commented on #883
Still no root cause but just wanted to add here that running `cmake .` after the initial cmake run also seems to work this around (no need to use `ccmake`).

[2019-09-30 19:51] maddyscientist commented on #883
@mathiaswagner can you up this as a known issue on the QUDA CMake wiki page and the known work arounds?  I think then we can close this issue since it’s a CMake issue and not a QUDA issue.

[2019-10-01 13:39] mathiaswagner commented on #883
Maybe #913 fixes things

[2019-10-03 11:57] kostrzewa commented on #883
Yes, #913 works

[code]

[2019-10-03 20:46] mathiaswagner commented on #883
Will be closed in develop once #919 is merged.

[2019-10-04 07:19] #883 closed

[2019-10-31 14:55] ybyang opened #923 "BatchInvertMatrix with Eigen on CPU"
I find a subtle issue on the function BatchInvertMatrix used in the multigrid setup. @maddyscientist

We tried to use the function inverse() in the library Eigen to replace the role of cublas, to do the batched inversion of the matrices on CPU. It doesn’t really matter since it just need to be called once during the entire the multigrid setup, and use ~1s for 24 vectors on a 24^4 lattice.

Our cod

[2019-11-01 20:37] maddyscientist commented on #923
Hi @ybyang.  I would be surprised that a deviation of 0.1 would not cause solver degradation.  Perhaps this is an artifact of using fake data though in the multigrid benchmark.  Do so see the same deviation when using a real gauge field?

Also, are you comparing the absolute deviation or relative deviation?  Only the latter makes sense here, and a deviation of 0.1 with an absolute comparison doesn

[2019-11-07 09:35] ybyang commented on #923
Hi @maddyscientist,

      I haven't try to compare the difference with the real gauge field yet. The deviation is the relative one, I just sum the deviations in square, and divide the sum of the square of cpu result.

      A pull request is drafted.

[2019-11-08 05:28] ybyang commented on #923
The comparison with the real gauge field is done through Chroma. I used a 24^3x64 MILC configuration, 24 NULL vectors, and the relative difference I got is 1.085209e-01. The definition of the relative difference is:
diff=sqrt(\sum_{i<2*n*n*batch} (CPU[i]^2-GPU[i]^2)/\sum_{i<2*n*n*batch} GPU[i]^2)).

[2019-11-12 18:35] kostrzewa commented on #891
This has been resolved by #900

[2019-11-12 18:35] #891 closed

[2019-11-13 17:51] mathiaswagner opened #926 "Include test for C compilation of quda.h"
Make sure the header is valid C. This is not covered currently. Maybe this can also be done for FORTRAN.

[2019-11-14 16:41] weinbe2 opened #927 "Non-`Nc=3` ColorSpinorFields cannot be saved with one rank count/topology and loaded from a different one"
Title is self explanatory---if I generate and save near-nulls and coarsest level vectors with one rank topology/count and load it from a different setup, the near-nulls/coarsest level vectors do not load correctly. In the case of the coarsest level, this is true for both full-parity and single-parity vectors.

I tested this with a fixed, loaded gauge field so it should not be related to the RNG. P

[2019-11-14 16:46] weinbe2 commented on #927
Thought for our reference, it could be related to changing the QMP layout at each load/save: https://github.com/lattice/quda/blob/develop/lib/qio_field.cpp#L129

Which could have been fine "back in the day" before MG, but may not be safe now, and should be replaced by a push/pop mechanism instead.

[2019-11-14 17:27] weinbe2 commented on #927
As far as I could test, this isn't an issue for gauge fields, verified via the plaquette in tests where I generating gauge fields with various topologies/rank counts/rank orders using `heatbath_test`, saved the gauge fields, and reloaded them in different topologies/etc.

* Looked at generating with 2 ranks, loading with 2 (changing a dimension) and 4
* Looked at generating with 4 ranks, loading w

[2019-11-14 17:29] weinbe2 commented on #927
Schematic command to generate the gauge field:
[code]
Schematic command to verify the plaquette (using `invert_test` as a proxy just to spit out the plaquette):
[code]

[2019-11-15 06:38] maddyscientist commented on #923
I don't think this is the correct measure to use here.  Specifically, the relative deviation should be measured per matrix as opposed to computing this over the entire lattice.  The deviation is a local quantity and not extensive.

The appropriate measure would be something like the following I think, where _X_ is a given matrix and _N_ is the number of matrices.  Perhaps instead of the L2 norm th

[2019-11-17 20:41] maddyscientist commented on #83
Closing.  Essentially enforced by `clang-format`.  See [here](https://github.com/lattice/quda/wiki/Coding-Conventions-and-Style) for more details.

[2019-11-17 20:41] #83 closed

[2019-11-17 20:45] maddyscientist commented on #120
Closing this ancient bug.  Clover will work with CPS already, using the regular Wilson interface will suffice.  With modern QUDA there is no need to support the separate clover interface since we can just compute the clover field on the GPU and this is faster than downloading it.

[2019-11-17 20:45] #120 closed

[2019-11-17 20:49] maddyscientist commented on #213
Will be closed by #902.

[2019-11-17 20:52] maddyscientist commented on #205
Closing this issue. We have a robust solver in modern QUDA with a double-single multi-shift solver, early termination and double-half refinement on each pole.

[2019-11-17 20:52] #205 closed

[2019-11-17 20:53] #135 closed

[2019-11-17 20:54] maddyscientist commented on #135
For posterity: we have a robust solver now simply using a high precision accumulator vector that seem robust.  Other, unrelated efforts, to improve mixed precision CG, and other solver, robustness are ongoing.

[2019-11-17 21:00] maddyscientist commented on #160
Closing issue.  This was fixed when we fused the HISQ path force and outer product computation into a single interface call.

[2019-11-17 21:00] #160 closed

[2019-11-17 21:04] maddyscientist commented on #292
Closing this ancient issue, long since taken care of.

[2019-11-17 21:04] #292 closed

[2019-11-17 21:09] maddyscientist commented on #343
Closing.  QUDA dumps profile.tsv files that contain this information giving us insight into GPU usage.  Together with the `TimeProfile` output to stdout when QUDA finishes a given instance, we have most (all?) of the information we need.

[2019-11-17 21:09] #343 closed

[2019-11-17 21:10] maddyscientist commented on #359
Closing: we do not require MAGMA going forwards, and are working to remove this from QUDA since CUBLAS and Eigen provide all needed functionality.

[2019-11-17 21:10] #359 closed

[2019-11-17 21:27] maddyscientist commented on #288
Closing this issue.  We have the CA-CG solver which replaces the matrix-powers solvers, and is numerically stable when using a Chebyshev basis.  The matrix-powers kernels are deprecated and will be removed from QUDA.

[2019-11-17 21:27] #288 closed

[2019-11-17 21:44] #663 closed

[2019-11-17 21:45] maddyscientist commented on #707
This will be closed by #902

[2019-11-17 21:54] maddyscientist commented on #693
Closing this old bug.  This issue was fixed with https://github.com/lattice/quda/commit/c86497cc8ff87fee6e8f4de10b3e54edca28e561.

[2019-11-17 21:54] #693 closed

[2019-11-17 21:58] maddyscientist commented on #745
Implemented by #850

[2019-11-17 21:58] #745 closed

[2019-11-17 22:04] maddyscientist commented on #821
Closed by #910 which adds support for deflation to both `invert_test` and `staggered_invert_test`.

[2019-11-17 22:04] #821 closed

[2019-11-17 22:11] maddyscientist commented on #895
Any luck coming up with a run of the QUDA unit test that triggers this error as well?

What I could suspect here is that there is some degeneracy in the autotuning string for two different parameters for the same kernel that leads to this failed kernel launch.  Can you also check if the error persists if run with tuning disabled?  (`QUDA_ENABLE_TUNING=0`) . Ever seen the issue Piz Daint?

[2019-11-19 19:00] maddyscientist opened #928 "Autotune for peer-to-peer connectivity"
On systems such as Summit, while there is peer-to-peer access across the node, the performance between the hemispheres is significantly less than within the hemisphere.  And moreover, improved throughput can be obtained when the data is routed through CPU memory.

When running on such systems, the peer-to-peer connectivity matrix gives a higher performance rating within the hemisphere than between

[2019-11-22 14:49] kostrzewa opened #929 "persistent deflation subspace triggers errorQuda due to missing allocation for eigenvalues"
@cpviolator @maddyscientist

I somehow manage to trigger the size test upon trying to use the persistent deflation subspace:

[code]

it seems that this was added at the end of October (this is the latest develop, after LU_rotate was merged):

[code]

and I'm wondering if at the same time, the requirements for preserving the subspace changed somehow.

I can see that the check itself was added in e

[2019-11-22 17:54] maddyscientist commented on #929
I've reproduced this with the internal fixes.  Sorry for the regression.  Will try to get this fixed shortly...

[2019-11-22 19:30] kostrzewa commented on #929
No worries :) Just as an FYI, @pittlerf and @marcuspetschlies have found that 3fa55816a49365941258f473f5379fe3bcd68f26 works fine.

[2019-11-25 14:59] pittlerf commented on #929
Hi, I am using the commit 3fa55816a49365941258f473f5379fe3bcd68f26 with PLEGMA. In a few cases (4 times in 29 runs) I observe divergence in the solver. This happens always after doing 12 source position successfully,  when in the 13-th source position the inverter changes from flavor UP to flavor DN.
I quote the error message:
[code]

[2019-11-25 20:28] cpviolator commented on #929
@pittlerf @kostrzewa @maddyscientist I'm going to take a look at this now. I will use the latest develop branch to try to reproduce both issues.

[2019-11-25 22:47] cpviolator commented on #929
@kostrzewa @pittlerf

I pushed some fixes to develop. I was able to reproduce the first error, where no space for the eigenvalues was created.

@pittlerf May I ask, when you flip the sign of 'mu' in your PLEGMA workflow, do you flip the sign in BOTH the 'QudaInvertParam` and `QudaMultigridParam` structures? I flipped the sign in the test and saw no divergences. May I also ask, do you see good perf

[2019-11-26 15:03] pittlerf commented on #929
Hi,

I can confirm that the commit 4c307d7945eda7993bd68c73c085418d935820f1 fixes the issue. I did a successful run on cyclamen, and have a run in the queue for the physical point lattice on PizDaint. We actually update both ```QudaInvertParam``` and ```QudaMultigridParam```. For the second error discussed with @sbacchio  we are on the impression that it was due to one of the GPU-s one PizDaint (n

[2019-11-26 15:54] maddyscientist commented on #929
Glad to hear that @cpviolator's fix works.  I've opened https://github.com/lattice/quda/pull/930 to get this merged into develop.

[2019-11-26 21:30] #929 closed

[2019-12-07 01:29] maddyscientist opened #932 "TRLM: upper bound of operator should be optionally found using Raleigh quotient"
At present the user must estimate the upper and lower bounds of the spectrum to include in the polynomial acceleration.  We could make this process a bit easier for the user, such that if the upper bound is found automatically using a Raleigh quotient method in the same way that the CA-CG with Chebyshev basis does at present if the user doesn't specify the bound.

[2019-12-08 03:59] cpviolator opened #934 "--recon-precondition 8 failing for twisted clover with multigrid"
While performing tests on SUMMIT with the large L=64,T=128 Twisted Clover lattice, I saw that the initial CG solve to construct null vectors was diverging when `--recon-precondition 8` is passed. Here's a list of combinations I've tested, and their behaviour in the initial CG

| recon | recon-sloppy | recon-precondition | converged |

[2019-12-09 17:07] weinbe2 opened #935 "Take advantage of even/odd tags in the prolongator"
In #914 we added the ability to set a metadata descriptor in a ColorSpinorField to "suggest" if a single parity field was even or odd.

We can now take advantage of this in multigrid solves with preconditioned operators by throwing out half of the prolongator/restrictor vector, i.e., the parity _not_ corresponding to the parity of the preconditioned solve.

[2019-12-09 18:19] weinbe2 opened #936 "QIO_string_ptr causes a segfault when loading some Chroma gauge fields"
With some gauge fields generated by Chroma, calling `QDP_string_ptr` on the XML from the gauge field _record_ (as opposed to the overall file) leads to a segfault. This, in particular, happens on line ~112 of `lib/qio_field.cpp`.

For now there's a WAR in place for gauge fields since I've never hit this issue with spinor fields (and MILC has also successfully read spinor fields generated by QUDA),

[2019-12-09 18:19] weinbe2 commented on #936
@bjoo I can take point on this, but I wanted to tag you for awareness.

[2019-12-10 13:29] srijitpaul commented on #805
Hello @cpviolator, has there been any development in this issue?

[2019-12-13 19:15] cpviolator commented on #934
Same story with the current release 1.0 branch.

[2019-12-13 19:18] maddyscientist commented on #934
@cpviolator can you confirm if the arises on small Wilson lattices as well?  e.g., the 16^3x64 anisotropic lattices or if it confined to twisted-clover only?  You could also run twisted-clover on these smaller lattices to confirm if the issue only arise with multi-GPU or occurs with single GPU.

[2019-12-13 19:53] cpviolator commented on #934
@maddyscientist I used the wilson 16,64 and a small twisted clover 32,64, both with single node and with various MPI splitting, both with recon-sloppy/precondition = 8. None of the tests failed to converge the CG set up of multigrid.

One thing looked fishy though. The computed plaquette for the Wilson was:
[code]
which doesn't look right. Is that how you remember it!?

[2019-12-13 19:54] maddyscientist commented on #934
The plaquette isn't computed correctly on anisotropic lattices.  On my eternal to do list.....  So yes, this is expected.

[2019-12-13 19:59] maddyscientist commented on #934
This is a weird bug then that is being encountered.  One thing to try is to up the process count to 64, but run with these smaller volumes.  This should be runable on nvsocal with something like
[code]
which will allow you to run multiple processes per GPU.  This might help isolate if the issue only occurs on higher process count.

[2019-12-13 20:00] cpviolator commented on #934
I'll give it a whirl with the 32,64 twisted clover.

[2019-12-13 21:05] cpviolator commented on #934
No joy with the above strategy either.

[2019-12-13 21:07] maddyscientist commented on #934
Ok, I guess we should test this on a different machine.  Do you have access to Piz Daint, or should I do this?

[2019-12-13 21:10] cpviolator commented on #934
I don't have access to that anymore, sorry.

[2019-12-13 21:18] cpviolator commented on #934
CMakeCache.txt from the release build on summit
[CMakeCache.txt](https://github.com/lattice/quda/files/3962746/CMakeCache.txt)

[2019-12-18 18:09] cpviolator commented on #805
@srijitpaul Not as yet. I have not found a use case where I have needed to implement it. Does your code require the use of OpenBC? Happy to work with you on a QUDA implementation.

[2019-12-18 18:19] srijitpaul commented on #805
Hi Dean,
yes I would require for the solver to be used on lattices with OpenBC, the list of relevant files I need to consider would be very helpful for a starting point.

[2019-12-18 19:04] cpviolator commented on #805
@srijitpaul When I looked at this problem (and in the near future I may have to implement an open temporal boundary ) my thoughts were to have three types of boundary condition in QUDA, each of which multiply by the given number when crossing the T=0 boundary:
1. Periodic -> 1.0
2. Anti-periodic -> -1.0
3. Open -> 0.0
This would be an inefficient hack as we would still be communicating data across

[2019-12-18 21:20] mathiaswagner commented on #805
But you would still have to communicate in T direction when you do not cross the T=0 boundary, so the gain would be only for nodes communicating over the T=0 <-> T=N-1 boundary. Or do I miss something here?

[2019-12-18 21:29] cpviolator commented on #805
@mathiaswagner For sure. I was conflating this with a project that has zero temporal links!

[2019-12-18 21:56] mathiaswagner commented on #805
We already have
[code]
which could be easily extended.

A lot of the boundary stuff is handled in `gauge_field_order.h`. Probably a lot of the code is generic enough, but it has not been tested for open BC. It would probably also be good to add it to the reference codes for the dslashes.

[2019-12-19 05:49] #213 closed

[2019-12-19 19:01] maddyscientist commented on #805
I think the easiest and fastest approach would be to just zero out the gauge field at the boundary, and run the code as is and things should just work.

@srijitpaul in general, are the open boundary conditions applied only for fermions and does this apply to the gauge action as well?

[2019-12-19 19:44] srijitpaul commented on #805
@maddyscientist  @cpviolator @mathiaswagner thanks for your replies.
We have open boundary conditions for fermions and gauge action.

[2019-12-19 23:51] maddyscientist commented on #805
Ok, that make things easier.  In that case, adding open boundary conditions should just be a case of
1.) Adding an appropriate enum type to the `QudaTboundary_s` struct
2.) Zero out the gauge field elements on the last time slice prior to any halo exchange in `GaugeField::exchangeGhost` and `GaugeField::exchangeExtendedGhost`.

I think this alone should be sufficient.  Perhaps the zeroing of the g

[2019-12-20 20:52] cpviolator opened #941 "Analytic reconstruction of eigenvalues when using persistent deflation subspace methods"
When shifting mass/mu in the inverter routines which employ deflations, one notices that one can reuse the eigenvectors, but the eigenvalues are shifted. At the present time, these new eigenvalues are recomputed explicitly, but they are able to be recomputed analytically due to shift being purely diagonal.

When working with very large O(1024) deflation spaces, but only a few solver instances for

[2019-12-20 20:55] cpviolator commented on #874
@weinbe2 @maddyscientist What was needed here? Did it get sorted with #873?

[2019-12-25 10:05] ybyang commented on #681
Hi, @maddyscientist @cpviolator

Ok, I figured out what the problem is.

First, the quda_inv_param.input_location and quda_inv_param.output_location set from chroma should be QUDA_CPU_FIELD_LOCATION, otherwise the function performWuppertalnStep will not copy the input/output data from/to CPU correctly. Such a feature is different from that used in the inverter, and then confused me.

Second, there

[2019-12-26 18:04] weinbe2 opened #944 "Add TFQMR solver"
TFQMR is a wonderful little Krylov solver that can stably solve indefinite matrix systems without explicit reorthogonalization (i.e., GCR). It's generally billed as "at best it converges as fast as BiCGstab, at worst it converges as slowly but stably as GCR". IIRC the "cost" of more stable convergence than BiCGstab without needing explicit reorthogonalization is two or three more BLAS operations p

[2019-12-30 22:04] maddyscientist commented on #681
Great to hear this makes it work ok :)

@ybyang reopening this bug, since the bug isn't actually fixed in mainline QUDA yet.  Can you file a pull request against the develop branch with the fix please?  Thx.

[2020-01-04 05:55] cpviolator opened #947 "Implement CA-TRLM solver to ameliorate UVM thrashing effects."
At present, the weakest link in TRLM is the orthogonalisation step. Many users find that in order to fit their problem onto solely GPU memory, they must allocate very large partitions. This causes strong scaling violations to increase, thus reducing performance.

An alternative approach is to `export QUDA_ENABLE_MANAGED_MEMORY=1` so that the driver can map pages on the CPU. This reduces the number

[2020-01-05 06:24] cpviolator commented on #932
Closed with #933

[2020-01-05 06:25] #932 closed

[2020-01-05 17:01] cpviolator opened #949 "Deterministic random gauge fiends using the hyper cubic RNG"
At present, the random gauge field generator does not use the hyper cubic RNG. It would be a useful addition for developers, purely for debugging purposes. I propose renaming the `spinor_noise.cu` file to `lattice_noise.cu` and placing both spinor and new gauge noise routines in there.

[2020-01-16 15:33] kostrzewa commented on #941
I can confirm that when running on PizDaint, for example, the MG setup update with coarse grid deflation is very costly. So much so that for certain lattice sizes, "normal" MG (with coarse grid mu factor for twisted mass) is cheaper overall, despite the higher cost per RHS.

I am a bit surprised about this as when you introduced the persistent deflation subspace, my tests indicated that the cost o

[2020-01-16 15:38] maddyscientist commented on #941
Can you check if this issue persists when using the unit test multigird_evolve_test?  @cpviolator can give you the relevant parameters.  If this reproduces the issue, then we can take a look directly without needing your exact workflow.

[2020-01-16 15:50] kostrzewa commented on #941
Trying right now to see if CMake manages to download all the USQCD dependencies to build the tests for me. I'll test with `multigrid_evolve_test` on PizDaint. I have the following sample command from when the feature was introduced:

[code]

which I'll try to adjust to a more realistic setup (I seem to remember that I've done this before, at least locally).

[2020-01-16 18:51] cpviolator commented on #941
@kostrzewa I find that USQCD download on summit can be finicky. Here's a script to do it automatically:

[code]

[2020-01-16 18:52] cpviolator commented on #941
I'll also cook up a command that sees this large delay at L=64 scale.

[2020-01-16 19:13] kostrzewa commented on #941
Thanks, CMake seems to have managed, though. It seems like I need to enable `QUDA_GAUGE_ALG`, however. So off to another compile cycle.

[2020-01-16 19:22] cpviolator commented on #941
@kostrzewa I think that `QUDA_GAUGE_ALG` issue is fixed in latest develop (with many more compilation improvements).

[2020-01-16 19:24] kostrzewa commented on #941
Definitely latest develop head commit:

[code]

[2020-01-16 19:25] kostrzewa commented on #941
`QUDA_GAUGE_ALG` is also an explicit prerequisite for building `multigrid_evolve_test` (understandably so) if `tests/CMakeLists.txt` is to be believed.

[2020-01-16 21:41] kostrzewa commented on #941
Got the tests spun up, kudos to @mathiaswagner and @maddyscientist for the CMake magic that makes these things so comfortable now. Will test a 64c128 tomorrow.

[2020-01-18 08:12] kostrzewa commented on #941
Just an update: I would have already reported back, however things have turned out to be less plain sailing than they looked initially. Issues linking with `cuFFT` even though the stub is present... I'll see what I can do.

[2020-01-18 10:06] kostrzewa commented on #941
I don't know what set of circumstances led to the tests linking properly when I said that I had gotten them compiled in https://github.com/lattice/quda/issues/941#issuecomment-575360064. It seems that I need to do something as proposed in #957 to get the gauge-related tests to link properly on PizDaint.

[2020-01-18 19:19] kostrzewa commented on #941
Alright, with the compilation issues worked around, the next problem to be faced are nan in the plaquette and topological charge (whether I start with random gauge or read in the ETMC 64c128 physical point conf.0500 which you've used for testing in the past):

[code]

This happens also on a single node with a 16c32 lattice, so I'm at a bit of a loss where to go from here...

[2020-01-21 12:56] kostrzewa commented on #941
Note that `multigrid_invert_test` works fine with the same parameters (both with and without gauge I/O).

[code]

[2020-01-22 14:24] kostrzewa commented on #934
I'm running this test right now as it might be related to the issues that I see in testing for #941

[2020-01-22 14:27] kostrzewa commented on #934
@cpviolator ~note that in your example command above, you don't set a setup solver for the coarsest level. Doesn't that mean that BiCGstab would be used for that? (which won't converge, as we know)~ sorry, I'm being a doofus

[2020-01-22 14:55] kostrzewa commented on #934
sorry, being a doofus in https://github.com/lattice/quda/issues/934#issuecomment-577206276 ...

[2020-01-22 16:17] kostrzewa commented on #934
I **cannot** confirm your observations on PizDaint. For all test cases below I get similar convergence (**lvl0:** `<r,r>~5e-5`, **lvl1:**`<r,r> ~ 3e-4`) over the 500 iterations that the CG runs for to get the null vectors. In particular, I don't observe divergence at all.

| recon | recon-sloppy | recon-precondition | converged |
|-|-|-|-|
| 18 | 18 | 18 | YES |
| 18 | 18 | 12 | YES |
| 18 | 18 |

[2020-01-22 18:27] weinbe2 commented on #934
@cpviolator just catching up a little and making absolute sure, you're seeing _divergence_, not stalling, correct? I see stalling constantly for HISQ, and it's never an issue (in fact, in cases where I try to set the tolerance so it doesn't stall, the near-nulls end up being garbage).

Divergence is of course a different issue.

[2020-01-22 18:41] cpviolator commented on #934
It's divergence. Here's some output.

Computed plaquette is 3.370904e-01 (spatial = 3.392180e-01, temporal =
3.349627e-01)
Creating new clover field
MG level 0 (GPU): Using curandStateMRG32k3a
MG level 0 (GPU): Creating a CG solver
MG level 0 (GPU): Running vectors setup on level 0 iter 1 of 1
MG level 0 (GPU): Initial guess = 2.68426e+08
MG level 0 (GPU): Initial rhs = 0
MG level 0 (GPU): CG: 0 i

[2020-01-22 18:50] weinbe2 commented on #934
@cpviolator yep, I agree that's divergence, point noted.

[2020-01-22 18:52] kostrzewa commented on #934
Could this be related to using `QUDA_TEX=ON`?

[2020-01-22 18:53] weinbe2 commented on #934
No with 99.99% confidence

[2020-01-22 18:55] weinbe2 commented on #934
It'd be related to the way the reconstruct is done, not the read itself (which is abstracted at a lower level). The local volume isn't large enough for there to be some sort of weird indexing issue.

[2020-01-22 19:28] cpviolator opened #959 "MILC and QUDA Q charge discrepancy"
As observed in #942, QUDA and MILC computed values of the topological charge Q are inconsistent.

MILC's F_munu code is here:
Make Field Strength Tensor,
https://github.com/milc-qcd/milc_qcd/blob/ac033d6faf9edb86ecb89acabb5ae3108fd618d3/generic/field_strength.c
Compute Q,
https://github.com/milc-qcd/milc_qcd/blob/ac033d6faf9edb86ecb89acabb5ae3108fd618d3/wilson_flow/fmunu.c#L41

QUDA's F_munu code

[2020-01-22 19:32] weinbe2 commented on #959
This line looks a little weird: https://github.com/milc-qcd/milc_qcd/blob/ac033d6faf9edb86ecb89acabb5ae3108fd618d3/wilson_flow/fmunu.c#L56

But otherwise they look consistent.

[2020-01-22 19:37] cpviolator commented on #959
@weinbe2 @walkloud and I had a chat about this. It does look slightly off! However, given that the `fs` argument is antisymmetric it works out OK on paper. I checked QUDA by switching the four lines at
https://github.com/lattice/quda/blob/develop/include/kernels/gauge_qcharge.cuh#L48

with

[code]
and QUDA's results were unchanged, so it must be something deeper.

[2020-01-22 19:39] kostrzewa commented on #959
If it's any help, here's my implementation in tmLQCD, not sure how useful this might be as one would need to check the definitions of the used macros:

https://github.com/etmc/tmLQCD/blob/master/meas/measure_clover_field_strength_observables.c

[2020-01-22 19:44] cpviolator commented on #959
@kostrzewa Third data points are always welcome! :)

I will look over this code for sure. In the meantime (and I understand if you don't have the time) a third calculation one of the lattices on `NVSOCAL2` `/scratch/ETMC_gauge_configurations` using tmLQCD would be invaluable. Is that something you can do?

[2020-01-22 19:47] weinbe2 commented on #959
I wonder if it's a difference in the order of reduction... `symmE` is per-site positive by construction and thus less susceptible to issues, while the topological charge fluctuates in sign from site to site.

I'd be surprised if that issue caused a deviation all the way on the third digit in the topological charge (iirc from your old data), though.

[2020-01-22 19:48] cpviolator commented on #959
@weinbe2 Let me see how wildly it varies from double -> single precision...

[2020-01-22 19:51] cpviolator commented on #959
There is also the fact that MILC performs a reunitarisation before any computation. This might have an effect, but if it did, I would expect it to show up in the energy data too.

[2020-01-22 19:53] kostrzewa commented on #959
If it's a small one (24c48), I can easily run that our local cluster interactively without hassle. I don't quite remember which configs I had provided a few years ago though.

Note that we use Kahan accumulators for just about any global sum, so one might well see differences. (I don't remember, however, what I saw in my crosschecks against a Fortran implementation that did not use Kahan sums)

[2020-01-22 19:57] cpviolator commented on #959
@kostrzewa That would be awesome, thank you! There are some 32c64 located here `/scratch/ETMC_gauge_configurations/tmclover_nf2/cA2.60.32` Is that too large?

[2020-01-22 19:59] cpviolator commented on #959
@weinbe2

double precision: `Computed topological charge gauge precise is -4.3976775762481104e+00`
single precision: `Computed topological charge gauge precise is -4.3976789550765041e+00`

A noticeable difference, but not on the scale of the MILC-QUDA difference.

[2020-01-22 20:05] weinbe2 commented on #959
@cpviolator gotcha, so it's likely not that...

[2020-01-22 20:11] kostrzewa commented on #959
Seems to work fine, it will take a while though, using four cores I get about one RK4 step / 30 s or so on a 32c64 lattice. If you let me know which `conf.xxxx` of `cA2.60.32` this was, I'll grab it from our archive.

[2020-01-22 20:14] kostrzewa commented on #959
One really stupid caveat however: for some odd reason I decided at the time that I would not produce output at step 0, so I can't cross-check the unflowed value of Q without changing code :man_facepalming:

[2020-01-22 20:28] cpviolator commented on #959
@kostrzewa Can please you use `/scratch/ETMC_gauge_configurations/tmclover_nf2/cA2.60.32/conf.2960` Thank you.

The data from the Wilson flow issue comes from a monster L=72, but I saw equally poor agreement on an L=24 test lattice. The data you provide will be fresh data and I will cross check it against QUDA and MILC. The first few lines (even ~with~ without the step 0) should be enough.

Can yo

[2020-01-22 20:31] kostrzewa commented on #959
@cpviolator will do, just to make sure that we use the same conf.2960, could you post the checksums (they are in the last few lines of the config when you open with with `less`, for example). We have a "convenience copy" of that particular ensemble which combines two replicas into a single MC and I'm not sure if I provided a config from either of the two replicas or the convenience copy.

Wilson f

[2020-01-22 20:33] cpviolator commented on #959
This good?

[code]

[2020-01-22 20:48] kostrzewa commented on #959
Yes, that should allow me to make sure that we're using the same config.

[2020-01-22 21:25] kostrzewa commented on #959
[code]

The last column is the topological charge.

[2020-01-22 21:30] cpviolator commented on #959
Excellent, thank you @kostrzewa. These are QUDA's results:

[code]

[2020-01-22 21:34] kostrzewa commented on #959
So we definitely have a sign difference in Q :) and our energies (Esym) match only up to the sixth digit or so.

[2020-01-22 21:40] cpviolator commented on #959
Yeah, the minus sign I can live with, but the Q data is again quite different. 6th DP on Esym is acceptable. I'll run this lattice through MILC and see what we find there. Thank you so much for this cross check!

[2020-01-22 22:30] maddyscientist commented on #934
I realize that I never reported my progress on this issue.  Confirming that I did reproduce the issue on Piz Daint, but only on 128 GPUs.  Running on lower node counts did not give the issue.  The horrible queue time on Piz Daint was a major pain to really debugging this further (yet).

So this appears to not be a machine issue.

[2020-01-22 22:33] cpviolator commented on #934
Could this be related to an integer overflow?

[2020-01-22 22:37] maddyscientist commented on #934
Unlikely, since larger node counts means smaller local volumes.  I can do a run through ASAN on Piz Daint to see if anything is revealed….

[2020-01-22 22:57] cpviolator commented on #959
Data after addressing https://github.com/lattice/quda/pull/942/files#r369848547

[code]
No change :(

[2020-01-22 23:05] cpviolator commented on #959
Changing boundary conditions `gauge_param.t_boundary = QUDA_PERIODIC_T;` -> `gauge_param.t_boundary = QUDA_ANTI_PERIODIC_T;` changes nothing, data is the same.

[2020-01-23 01:15] walkloud commented on #959
@cpviolator here is output from MILC code on the tmLQCD 2960 config - including some info from the input file showing the setup - deviations from QUDA in the 4th or 3rd significant digit

[code]

comparing with tm-code - looks to be the same - grabbing from @kostrzewa values above:

[code]

[2020-01-23 02:21] cpviolator commented on #959
Ok, that's pretty conclusive. I'll bug hunt...

[2020-01-23 02:22] cpviolator commented on #959
@kostrzewa @walkloud Thank you for spinning up and testing this lattice, it narrows the search down immensely.

[2020-01-23 18:16] cpviolator commented on #959
As you've seen, we've cross checked this against tmLQCD and MILC. In both cases, the energy computation is correct to an acceptable 6 d.p., but the Q charge is significantly different. (MILC and tmLQCD differ by only a minus sign)

As an experiment, I hacked the energy kernels to return a `double2` composed of the spatial energy and the qcharge, and did not call the qcharge routine at all. This me

[2020-01-23 22:49] weinbe2 commented on #959
@cpviolator one idea is running the Q compute on the CPU instead of the GPU in QUDA. I think you can just hack that in my manually copying the gauge field to a `cpuGaugeField` at the right spot. That'd give an order of summation that's likely closer to what's being done in MILC and tmLQCD.

Another idea is putting `printf` calls into the kernels and printing the checkerboard index and per-site top

[2020-01-23 22:51] cpviolator commented on #959
I like the CPU check, I'll try that later. Thanks @weinbe2 !

[2020-02-14 06:34] weinbe2 opened #963 "Unify `loadGaugeQuda` and `loadSloppyGaugeQuda` as much as possible"
In `lib/interface_quda.cpp`, the routines `loadGaugeQuda` and `loadSloppyGaugeQuda`, while distinct, do a lot of redundant work. They both contain logic to create the sloppy, preconditioned, and refinement gauge fields.

One easy solution would be to have `loadGaugeQuda` call `loadSloppyGaugeQuda` after creating the precise field, which would largely address the problem.

Assigning to myself for s

[2020-02-16 12:05] kostrzewa commented on #895
I've reproduced this with `multigrid_invert_test` (c7012904286f3de5e02a0d91b0dabe666bbb11ec) now:

## with tuning

[code]

Here's the full log:
[multigrid_invert_test_cB211.25.24_no_defl_mu0.00072.txt](https://github.com/lattice/quda/files/4209706/multigrid_invert_test_cB211.25.24_no_defl_mu0.00072.txt)

## without tuning

[code]

And this also has the same convergence problems:
[multigrid_invert_

[2020-02-16 12:09] kostrzewa commented on #895
Not that I recall, no. I've also done multi-node inversions using QUDA-MG on our P100 nodes (in that case using 3 x 4 P100 for a 48c96 lattice before `QUDA_TEX=OFF` was introduced, so this is quite a while ago...)

[2020-02-16 12:19] kostrzewa commented on #895
I can confirm that changing rank ordering fixes the issue, both with
[multigrid_invert_test_cB211.25.24_RANK_ORDER_COL_no_defl_mu0.00072.txt](https://github.com/lattice/quda/files/4209726/multigrid_invert_test_cB211.25.24_RANK_ORDER_COL_no_defl_mu0.00072.txt)
  and without
[multigrid_invert_test_cB211.25.24_NO_TUNING_RANK_ORDER_COL_no_defl_mu0.00072.txt](https://github.com/lattice/quda/files/42097

[2020-02-16 15:55] kostrzewa commented on #895
Note that in the meantime we've also fixed the `nv_peer_mem` issue on the cluster.

[2020-02-17 09:31] kostrzewa commented on #895
@maddyscientist if you'd like to test, I can keep the `quda_kepler_testing` reservation for the time being (two nodes)

[2020-02-20 01:31] maddyscientist commented on #895
@kostrzewa thanks for the update on your testing of this.  Can you confirm that this issue occurs with both `QUDA_TEX=ON` and `QUDA_TEX=OFF`?

[2020-02-22 15:18] kostrzewa commented on #895
@maddyscientist I'm afraid that `QUDA_TEX` makes no difference. Below logs from code compiled with `QUDA_TEX=ON`.

with tuning:
[multigrid_invert_test_cB211.25.24_quda_develop-dynamic_clover-c7012904286f3de5e02a0d91b0dabe666bbb11ec-with_tests-with_quda_tex_no_defl_mu0.00072.txt](https://github.com/lattice/quda/files/4239523/multigrid_invert_test_cB211.25.24_quda_develop-dynamic_clover-c7012904286f

[2020-02-22 17:44] kostrzewa commented on #941
@cpviolator I need to provide some more info on the comment above (https://github.com/lattice/quda/issues/941#issuecomment-575206858). I have just realized that I have in fact run on PizDaint on 80 nodes with a 80c160 lattice employing coarse grid deflation and got reasonable times for the MG Setup update (only about a factor of 2 or 2.5 longer than with regular MG) using commit 3fa55816a. This ov

[2020-03-01 07:47] cpviolator opened #966 "Full parity TRLM failing for MDWF"
As far as I can tell, wilson(clover) and twisted(clover) type fermions convergence in the eigensolver for both full parity and single parity fields. The same is true for domain-wall and domain-wall-4d. For mobius, only the single parity solution types will converge.

Any ideas?

[2020-03-02 23:37] cpviolator commented on #966
Update:

Using the following command, a direct CG solve also shows lack of convergence:
```./invert_test --dslash-type mobius --dim 24 24 24 16 --Lsdim 8 --mass 0.0102 --gridsize 1 1 1 4 --rank-order row --niter 5000 --prec double --tol 1e-8 --verbosity verbose --reliable-delta 0.1 --inv-type cg --inv-deflate false --prec-sloppy single --prec-precondition single --m5 -1.2 --b5 1.5 --c5 0.5 --solve

[2020-03-03 05:38] walkloud commented on #966
@cpviolator is your solver test failing on a real QCD field or a weak-field?  @maddyscientist might recall - some time ago, with MDWF solves, I found non-convergence problems with weak-fields but when I changed the topology or switched to a real QCD field, no problem - we never got to the bottom of it

[2020-03-03 07:37] cpviolator commented on #966
@walkloud Both.

[2020-03-03 20:55] maddyscientist commented on #966
This isn't a bug: the problem is that you are requesting to solve the linear system using a direct solve using CG.  This can't work because the fermion matrix isn't HPD, and needs to be solved using the normal operator.  E.g., using `--solve-type normop-pc --solution-type mat` would solve the full matrix using the preconditioned normal op CG solver.

[2020-03-03 20:55] #966 closed, assigned to nobody

[2020-03-05 07:28] mathiaswagner opened #968 "Capture (some) cmake config in tunecache (e.g. fast compile)"
When using fast compile options ( introduced / unified in #967) in cmake the tuning space and the perf of QUDA is limited.
We should take some precautions to not use the that build / tunecache for production / performance runs.

[2020-03-18 05:54] cpviolator opened #972 "TRLM failure for full matrix mobius solves"
In the present state, the TRLM will fail to find solutions to the full matrix problem with mobius. Conversely, TRLM will solve the EO preconditioned system very well.

[2020-03-18 06:11] cpviolator opened #973 "sp_pad causing algorithmic anomalies"
At the present state, the `QudaInvertParam` member `sp_pad` is set to zero library wide. However, when this value is set to non-zero, it will cause the CG algorithm to behave differently.

To see this, run `./staggered_invert_test` with default parameters. Then notice that the `X[]` variable used to fill `sp_param` is actually never set. Remedy this by replacing

[code]
with
[code]
which fills `sp

[2020-03-18 06:19] cpviolator commented on #973
In code libraries where sp_pad is NOT explicitly set to zero, this ~will~ may cause algorithmic anomalies...

https://github.com/JeffersonLab/chroma/blob/feature/quda_multigrid/mainprogs/tests/t_quda_tprec.cc#L474

[2020-03-30 22:44] stevengottlieb opened #976 "error during autotuning of blocksolver"
Zech Gletzer, Carleton and I have all run into a reported error when trying to use the blocksolver with MILC.  This has been reproduced on Cori GPU and Summit.
Here is the error message when running a 32^3 X 48 configuration on a single GPU:
ERROR: Failed to clear error state an illegal memory access was encountered
 (rank 0, host cgpu03, /global/homes/s/steven/cori/gpu/quda/lib/tune.cpp:770 in tu

[2020-03-31 18:47] weinbe2 opened #978 "Modify recon-8 convention so the unit gauge isn't the singular point"
The current recon-8 has a singularity for unit gauge fields which leads to nan's, which, among other quirks, can lead to false positives during debugging using the free field. Changing the location of the singularity would be a great benefit for debugging.

[2020-04-01 16:22] #973 closed, assigned to nobody

[2020-04-03 05:46] mathiaswagner commented on #976
Thanks for the report. The block solver has seen little attention lately. After the Dslash rewrite the initial implementation of the multiple rhs Dslash was dropped and the block solver itself was never properly updated.
So, we still have the old branch `feature/blocksolver' which has been abandoned about 2 years ago. It might or might not work anymore, but for sure misses out on all the goodness

[2020-04-04 13:00] detar commented on #976
We need to know whether the multiRHS feature will improve our ECP FOM
benchmarks.  If we see a significant improvement, we will certainly
consider incorporating it into production running on Summit.  In general
we would be grateful for help in carrying out the next set of MILC
Summit ECP  benchmarks.

On 4/2/20 11:46 PM, Mathias Wagner wrote:

[2020-04-05 15:20] stevengottlieb commented on #976
Hi Mathias,

Thanks for getting back to us and sorry for my slow response.  I want to
add to what Carleton wrote.  We are currently using a Grid blocksolver
to study disconnected HVP.  With a QUDA solver, we could do these
calculations on GPU powered computers.  Also, we are doing lots of
analysis projects with multiple sources on each configuration, not just
the one for which we are using Summit.

[2020-04-07 08:45] cpviolator commented on #972
Update: The unpreconditioned system is pretty poorly conditioned. Even a Simple CG takes an unreasonable number of iterations to converge. It is likely that TRLM is experiencing similar issues due to the same poor condition number.

[2020-04-07 20:00] weinbe2 commented on #972
@cpviolator do you have an `invert_test` repro for this? I'm a little surprised TRLM is failing on the full problem but not the EO system. EO normally only buys you a factor of 2 on the condition number, which isn't nothing, but shouldn't be the life-or-death difference.

[2020-04-07 20:02] cpviolator commented on #972
@weinbe2 Sure thing. Summit is crammed at the moment, I'll get a reproducer ASAP.

[2020-04-07 20:05] weinbe2 commented on #972
@cpviolator no rush, I won't be able to get to it exceptionally quickly.

[2020-04-07 20:19] maddyscientist commented on #972
This issue can stay closed.  The issue with full Mobius taking an aeon to converge is not related to the Eigen solver.

@weinbe2 to see the issue @cpviolator is talking about just compare CG with and with e/o preconditioning.  Can be > 10x iteration difference.  I suspect it's just because one is running with a random lattice gives this and not related to reality.  Same experiment should be done w

[2020-04-07 20:19] #972 closed, assigned to nobody

[2020-04-07 20:20] weinbe2 commented on #972
@maddyscientist fair enough re:closing it as a bug.

[2020-04-22 08:53] maddyscientist opened #985 "gauge_alg_test is flaky with multi-GPU"
Some issues seem to be present with `gauge_alg_test`

* with multi-gpu can hang when autotuning.
* the following has a failure but single precision does not (and doesn't fail if tuning is disabled)
[code]

[2020-04-28 17:36] maddyscientist opened #986 "Setting Dirichlet boundary conditioners in preconditioners"
The present approach to setting zero boundary conditions in Schwarz solvers and enabling / disabling global reductions for these solvers is haphazard and limited.  We need to expose a cleaner method for doing this.

Perhaps the solvers should query the Dirac operator in question what its boundary conditions are, and if it has Dirichlet boundary conditions we can disable global reductions?

Anyway,

[2020-04-28 22:52] cpviolator opened #987 "NULL and nullptr"
Library wide, QUDA should use nullptr rather than NULL. A bash script that incrementally changes and commits should do the trick, specifically targeting `NULL)`, `,NULL` and `NULL;` to avoid messing with `QUDA_NULL_FIELD_CREATE` and comments.

[2020-04-29 19:43] cpviolator commented on #986
@maddyscientist How are Dirichlet BC presently ~enabled~ applied? I'll need to implement this more generally in the near future.

[2020-05-06 14:44] kostrzewa commented on #895
After tests described in the comments to #988 I would like to close this issue as for every problem size that I tried, I was able to find some combination of parameters (gauge compression, GDR, P2P) which allows inversions to run through correctly. Wile there are still some strange behaviours, given that Kepler is being phased out, I'm not sure whether it would be good use of time to attempt to tr

[2020-05-06 14:44] #895 closed

[2020-05-06 14:46] maddyscientist commented on #895
@kostrzewa thanks for the update.  Apart from the remaining issue left in #988 that you reported, did you find any other issues remaining that you had to work around?

[2020-05-07 15:38] kostrzewa commented on #895
@maddyscientist All the cases except for the 24c48 lattice work fine without requiring any workarounds, so I'm quite happy :) Thanks.

[2020-05-07 18:29] cpviolator opened #991 "Hybrid TSQR in Block TRLM"
In the Block TRLM, we currently perform a serial modified Gram-Schmidt to construct the beta matrix.

https://github.com/lattice/quda/blob/feature/block_trlm/lib/eig_block_trlm.cpp#L308

This implementation can require in excess of 100k kernel launches per job. A solution to this is to allow flexibility in the number of vectors that participate in each iteration of the GS.

Define GS_block_size as

[2020-05-15 15:27] mathiaswagner opened #994 "Add CUDA 11 support to Jenkins"
Just a reminder to add CUDA 11 to our test ensemble

[2020-05-16 04:54] mathiaswagner commented on #987
what we want to use here is probably clang-tidy

[2020-05-16 05:00] cpviolator commented on #987
@mathiaswagner
https://clang.llvm.org/extra/clang-tidy/checks/modernize-use-nullptr.html
?

[2020-05-16 05:35] mathiaswagner commented on #987
Yes. Note that a ton of the _modernize_ checks could probably be applied to QUDA and we should strive to modernize files that are touched anyway. Looking into this has been on my list for quite a while now.

[2020-05-16 05:43] cpviolator commented on #987
Shall we make this a goal for 2.0?

[2020-05-16 06:02] mathiaswagner commented on #987
Sure. We should work out a strategy. Some early thoughts

- which checks to use (might require a minimum version)
- when to apply them to which files (doing one mega  pull for all of QUDA might only take us to merge hell)

...

[2020-05-18 00:23] cpviolator opened #996 "Relax orthonormalisation constants in the eigensolver for low prec solves."
At the moment, eigenvectors are deemed orthonormal if their inner product is less than 5e-16. This is hard coded, and should be relaxed for lower precision solves.

[2020-05-20 05:05] mathiaswagner opened #997 "use cmake for USQCD dependencies"
Look into providing imported targets and use of cmake for building QMP / QIO with the QUDA_DOWNLOAD_USQCD.

This is a follow-up for #995

[2020-05-22 17:20] bjoo opened #998 "QUDA_BUILD_ALL_TESTS=OFF should imply QUDA_INSTALL_ALL_TESTS=OFF"
@mathiaswagner asked me to submit a problem report (no pull-req yet, sorry).
I found on recent develop, that having QUDA_BUILD_ALL_TESTS=OFF threw an error on installation. QUDA_INSTALL_ALL_TESTS=OFF fixes the install problem. But it would be nice if QUDA_BUILD_ALL_TESTS=OFF were to automatically imply/enforce QUDA_INSTALL_ALL_TESTS=OFF.

[2020-05-22 19:33] mathiaswagner commented on #998
@bjoo You are most likely the only one who regularly _installs_ QUDA. I have a fix that went into #995 .

As this is a significant rewrite and obviously cannot test all build configurations for QUDA I'd appreciate if you could verify that the branch fixes install (and doesn't break anything else).

[2020-05-25 06:02] mathiaswagner commented on #987
For reference as it seems useful: https://blog.kitware.com/static-checks-with-cmake-cdash-iwyu-clang-tidy-lwyu-cpplint-and-cppcheck/

[2020-05-26 15:15] mathiaswagner commented on #994
done.

[2020-05-26 15:15] #994 closed, assigned to mathiaswagner

[2020-05-27 01:08] cpviolator commented on #996
Fixed with #1001

[2020-05-28 15:02] #996 closed, assigned to cpviolator

[2020-05-29 19:49] weinbe2 opened #1003 "Unify default parameters in MILC HISQ MG interface with defaults in `utils/set_params.cpp`"
The MILC HISQ MG interface currently hard codes a handful of default values for the various MG-related structures. This is largely redundant of the `setStaggeredMGInvertParam` and `setStaggeredMultigridParam` functions in `utils/set_params.cpp`. The MILC HISQ MG interface should instead leverage these functions in some capacity to avoid redundant efforts and improve robustness.

[2020-05-29 19:50] weinbe2 commented on #1003
At time of filing this depends on #1002 being merged.

[2020-05-29 19:54] weinbe2 opened #1004 "Improve robustness of MILC HISQ MG interface input file parsing"
The MILC HISQ MG interface currently implements its own functions for parsing MG param input files in the (hideous) spirit of the old command line interface before CLI11 was added. If possible, the routines for parsing input files should leverage the existing CLI11 support. This could also mean support for new MG features could automatically get added to the MILC HISQ MG interface without having t

[2020-05-29 19:56] weinbe2 commented on #1004
This depends on #1002 being merged.

[2020-05-29 20:00] weinbe2 opened #1005 "Create `staggered_multigrid_evolve_test`"
As a step towards developing MG-accelerated staggered RHMC we should create a `staggered_multigrid_evolve_test` in the spirit of `multigrid_evolve_test`. This should be straightforward on first pass (HMC only). Adding support for MG-accelerated multishift for the rational approximation will be the more complicated next step.

[2020-06-03 18:27] maddyscientist commented on #164
Assigning to @weinbe2 to take a look at this.

[2020-06-08 19:58] weinbe2 opened #1010 "QUDA throws linker errors when built against MPI with the C++ interface"
As it stands, QUDA throws an error at link time if MPI has been built with the (depreciated) C++ interface (`--enable-mpi-cxx`). The root of the issue appears to be that, in this case, some file is being compiled with `mpicc` instead of `mpicxx`, even though CMake _should_ be smart enough to know where to use one vs. the other.

One hacky WAR is to manually set `MPI_C_LIB_NAMES = MPI_CXX_LIB_NAMES

[2020-06-08 20:19] weinbe2 commented on #1010
Closing because WNF. This has also been noted near the top of the wiki page on building CUDA with CMake: https://github.com/lattice/quda/wiki/QUDA-Build-With-CMake

[2020-06-08 20:19] #1010 closed, assigned to nobody

[2020-06-09 17:54] weinbe2 commented on #1010
Addressed by #1012

[2020-06-30 18:17] weinbe2 commented on #927
This was covered by #990 . Closing.

[2020-06-30 18:17] #927 closed

[2020-06-30 18:23] weinbe2 opened #1026 "Create a solver ctest"
We should add a ctest which covers at least the most commonly used solvers, sweeping over (as appropriate for the compile):

* Wilson- and staggered-type fermions.
* All mixed precision combinations
* CG, Multishift CG, BiCGStab, GCR, CA-GCR (plus others? I don't see a need to cover _everything_)

I believe this should cover the non-MG workflows for most major applications.

While not strictly req

[2020-07-22 18:32] hummingtree opened #1037 "Make sure trove use the 3-d thread index when we update local version of trove"
Currently `trove` uses 1-d thread index, i.e. it uses `threadIdx.x` instead of `(threadIdx.z * blockDim.y + threadIdx.y) * blockDim.x + threadIdx.x`. We should make sure 3-d thread index is used when we update local version of `trove`.

[2020-07-22 18:33] hummingtree commented on #1037
@weinbe2 @maddyscientist

[2020-07-25 19:06] weinbe2 opened #1038 "Add fine-grained parallelism + matrix tiling to computeCoarseClover"
The routine `computeCoarseClover`: https://github.com/lattice/quda/blob/develop/include/kernels/coarse_op_kernel.cuh#L1014

Does not exploit a huge amount of parallelism as implemented, which turns into a bit of a nightmare when autotuning and could be a blocker in use-cases where _not_ coarsening the preconditioned op is desirable.

[2020-07-31 16:31] weinbe2 opened #1041 "Add inline documentation for QUDA interface clover routines"
Reminder for self: add documentation/clean up the routines constructHostCloverField and loadCloverQuda. I'm making this as a note to myself because I lost a good deal of time trying to understand it when debugging an issue, and I'd like to not do that again.

[2020-08-07 00:26] cpviolator opened #1043 "Smeared Diluted Propagators"
The smeared diluted propagator branch of QUDA https://github.com/lattice/quda/tree/feature/smeared_diluted_propagators has the potential to assist multiple LQCD groups in their research. Rather that have a single developer make the decisions about how this feature should be implemented, I've created this issue so that users can give input and create disscussion.

[2020-08-07 04:09] cpviolator opened #1044 "exponentiated clover"
Recent developments in the clover action formulation have shown that exponentiating the clover matrix (explicitly via Cayley-Hamilton or approximately via a Taylor series) can suppress discretisation effects significantly allowing for very coarse lattice spacing and ipso facto larger physical volumes for a given compute budget.

QUDA's implementation should be a wholly new DiracClover class `Dirac

[2020-08-13 01:34] ybyang commented on #923
Solved. As tested by cpviolator, the input matrix should be copied to CPU before the BLAS functions.

[2020-08-13 01:34] #923 closed

[2020-08-15 01:46] weinbe2 opened #1048 "sm_80: preconditioned twisted clover w/dynamic clover is slower in half precision, recon 8 than w/out dynamic clover"
Double, recon 12 sees a boost. Half, recon 8 sees a regression. I don't have an apples-to-apples comparison for single (different recons), but they're included for posterity.

### With dynamic clover:

Half, recon 8
[code]
Single, recon 8
[code]
Double, recon 12
[code]

### Without dynamic clover:

Half, recon 8
[code]
Single, recon 12
[code]
Double, recon 12
[code]

[2020-08-17 16:44] #985 closed, assigned to maddyscientist

[2020-08-20 18:14] maddyscientist commented on #801
This will be closed by #1050: this updates to the latest version Jitify, which fixes POWER9 support.

[2020-08-20 20:44] cpviolator commented on #801
Woo hoo!

[2020-08-21 00:24] maddyscientist commented on #1038
Just to note that `computeCoarseClover` already has fine-grain parallelism, and that #1050 improves the performance significantly of this kernel, although it does not yet reformulate it using the matrix-tiling abstraction.

[2020-08-25 22:31] cpviolator opened #1052 "Fixed Precision (half, quarter) IO for the eigensolver"
Now that we have quarter precision deflation fixed on power 9, it is possible to compute a deflation space in single precision and ten deflate in half or quarter precision. However, in its current state, the Lime IO interface can only read/write vectors in double or single precision. Given that device side memory is at a premium for DWF solves, it would be very beneficial to be able to read/write/

[2020-09-16 20:14] alexstrel opened #1058 "Block reduction is broken for HOSTDEBUG option"
Block reduction (both complex and real-valued) is broken when HOSTDEBUG is set and when autotuning is enabled. Typical output of the naive `blas_test` run :
`[  FAILED  ] 10 tests, listed below:`
`[  FAILED  ] QUDA/BlasTest.verify/reDotProductNorm_block_half_half, where GetParam() = (4, 2)`
`[  FAILED  ] QUDA/BlasTest.verify/reDotProduct_block_half_half, where GetParam() = (4, 3)`
`[  FAILED  ] QU

[2020-09-21 12:50] mathiaswagner commented on #637
fixed about a year ago

[2020-09-21 12:50] #637 closed

[2020-09-23 22:00] maddyscientist commented on #1058
@alexstrel can you confirm which host compiler you were using for this?

[2020-09-23 22:17] alexstrel commented on #1058
@maddyscientist  that was for gcc 8.4

[2020-09-27 08:22] cpviolator commented on #1058
Picked up some hints on this error. This command (with a block size of 16) will fail with an error, and I do not see why it should, given that a block size of 32 works just fine:

[code]

with error:
[code]

Also, a similar command with `--eig-block-size 24` gives some unusual behaviour:
[code]

with error:
[code]

Compiled with DEVEL build, gcc 9.3.0 and CUDA 11.

[2020-09-30 08:50] maddyscientist commented on #1058
@alexstrel I cannot trigger this error with my testing so far.  Can you please paste the full command you are using to trigger the error?  Also, can you tell me the exact compiler versions used and Cmake flags?

[2020-09-30 19:20] alexstrel commented on #1058
@maddyscientist for the record: gcc 8.4 , CUDA 10.2 , cmake options:
 ` -DQUDA_MPI=OFF `
  `-DQUDA_QMP=ON `
    `-DQUDA_QIO=ON `
       `-DQUDA_DOWNLOAD_USQCD=OFF `
	`-DQUDA_QMPHOME="/opt/scidac-gcc-7.4.0-ompi-4.0.0" `
        `-DQUDA_QIOHOME="/opt/scidac-gcc-7.4.0-ompi-4.0.0" `
        `-DQUDA_LIMEHOME="/opt/scidac-gcc-7.4.0-ompi-4.0.0" `
        `-DQUDA_MULTIGRID=OFF`
        `-DQUDA_INTERFACE_M

[2020-10-02 04:47] cpviolator opened #1063 "OMP accelerated loops causing massive slow-down"
In the IRAM eigensolver there is some quarantined code in `qrIteration` function that uses OMP. When activated it will cause x100 slowdown on the loop. The routine was prototyped in laptop code

https://github.com/cpviolator/VOATOL/blob/master/include/algoHelpers.h#L470

and gives good speed-up there. The QUDA code is here:

https://github.com/lattice/quda/blob/feature/arnoldi/lib/eig_iram.cpp#L27

[2020-10-02 08:19] kostrzewa commented on #1063
Interesting. Note that the QUDA code is also buggy as `temp` is not thread-local. As for performance, this has a huge number of implicit barriers.

[2020-10-02 08:21] kostrzewa commented on #1063
What's the usual size of `n_kr` here? If too small, then the `static` work assignment with a chunk size of `32` will lead to it running essentially single-threaded (or with few threads).

[2020-10-02 08:25] kostrzewa commented on #1063
Also, as `i` increases, the amount of work in the interior loop over `j` will inevitably become small, compounding the issue in the above comment.

[2020-10-02 08:34] cpviolator commented on #1063
Thanks for pointing out the thread local bug. I had it coded properly, then deleted it all, but wanted to add the quarantined code back in so copied it sloppily :(

I did have the following booleans in there at one point:
[code]
(and similar for the other loops) as a heuristic way of ensuring OpenMP offload only when it might be worth it. It seemed to work well on my laptop, but here in QUDA, any

[2020-10-02 08:35] cpviolator commented on #1063
BTW, for a decent calculation size, `n_kr` would be around 1024.

[2020-10-02 08:38] cpviolator commented on #1063
I did wonder it if was data ordering. On my laptop, I use `Eigen` objects when are in row major, and the matrices Q, and R are updated row by row. However, when I refactored the above to use row majored object, the same slow down was seen.

[2020-10-03 15:24] kostrzewa commented on #1063
A possiblity might be that your Eigen-based code is simply very slow, so it scales well with the number of threads.

[2020-10-04 11:47] kostrzewa commented on #1063
Which architecture did you observe the slowdown in QUDA on, by the way? If this was on Power9, then I wouldn't be too surprised. Look at the behaviour of the stream triad on a dual-Power9 with 2x16 cores:

![image](https://user-images.githubusercontent.com/1325246/95014578-1aaeb000-0648-11eb-9524-1c860b5b49f3.png)

[2020-10-04 11:52] kostrzewa commented on #1063
Also on EPYC, threading overheads for small working sets clearly dominate multi-threaded bandwidth:

![image](https://user-images.githubusercontent.com/1325246/95014692-cf48d180-0648-11eb-8d84-d8d26d3f626b.png)

[2020-10-05 23:52] cpviolator commented on #1063
@kostrzewa These plots are gorgeous!

I tested on two architectures: Haswell and Power9. I actually resolved the issue on Haswell because there were a proliferation of background jobs going on during the OMP tests. Once they had all calmed down (and I used an all important `export MV2_ENABLE_AFFINITY=0` then I saw a healthy 2x speed up with 6 OMP cores Vs a LAPACKE accelerated Eigen. A lot of that

[2020-10-06 02:07] cpviolator commented on #1063
So, for the Power9 on Summit, the command to use is:

[2020-10-06 02:36] cpviolator commented on #1063
So, on Summit's Power9, the command to use is:
[code]
I tested with `for CPU in 1 2 4 8 16 32 ; do` using the flag `--eig-use-eigen-qr false` to ensure the OMP code path, using `schedule(static,32)` for all loops, with the following results (relevant for the dense algebra):
N_CPU = 1: ~90 secs
[code]
N_CPU=2: ~56 secs
[code]
 N_CPU=4: ~44 secs
[code]
N_CPU=8: ~ 42 secs
[code]
N_CPU=16: 35 secs
[co

[2020-10-06 03:32] #1063 closed, assigned to nobody

[2020-10-06 10:05] kostrzewa commented on #1063
Cheers, these are essentially one-liners in ggplot2 (https://ggplot2.tidyverse.org/).

I'm happy that you've found scaling after all!

[2020-10-06 10:05] kostrzewa commented on #1063
Cheers, these are essentially one-liners in ggplot2 (https://ggplot2.tidyverse.org/).

I'm happy that you've found scaling after all!

[2020-10-07 15:40] #1058 closed, assigned to alexstrel

[2020-10-14 20:42] dwdoerf opened #1065 "ERROR: Failed to register pinned memory"
I'm using QUDA with MILC on the Cori GPU cluster at NERSC. I'm able to successfully run using a lattice of size 32^4. In this case, QUDA reports that the total device memory used is ~8.5 GB:

[code]

I'm targeting an Nvidia A100 GPU with 40 GB of memory, so I believe I have plenty of memory for a 32x32x32x64 lattice, i.e. 2x in size. However, when I try this larger lattice I get `ERROR: Failed to

[2020-10-14 21:03] weinbe2 commented on #1065
The issue here is you're running out of pinnable host memory at this problem size, not GPU memory (nor necessarily host memory), which is something we need to adopt to on our end. For context, MILC+QUDA uses pinned host memory to give more performant host/device copies. Can you try two separate experiments for me, both requiring modifications to `generic_ks/fn_links_milc.c`:

1. Line 30, add:
[cod

[2020-10-14 22:16] dwdoerf commented on #1065
Neither of these mods seem to be having an effect? The output is the same. Here's the mods I made, and of course a recompile:
[code]

[2020-10-14 22:17] dwdoerf commented on #1065
And I scanned the output for the extra printf and found nothing?

[2020-10-14 22:30] detar commented on #1065
Hi Doug,

Could you point me to the full output file?

Thanks,

Carleton

On 10/14/20 4:17 PM, dwdoerf wrote:

[2020-10-14 23:23] dwdoerf commented on #1065
Hi Carleton, here you go:

[code]

[2020-10-15 01:05] detar commented on #1065
Hi Doug,

I added a cc to Evan because I don't know if he sees the github
thread.   The pinned memory failure is happening much before the
fn_links procedure, so Evan's hacks won't help.  On initialization
before reading the lattice, the make_lattice routine allocates memory
for the lattice.  With QUDA enabled, that allocation is done with pinned
memory.  In this case it is about 3.3 GB and it is

[2020-10-15 13:23] dwdoerf commented on #1065
Evan, if you'd like to try to recreate this issue you can find my MILC benchmark at:

https://gitlab.com/NERSC/milc-benchmark/-/tree/quda-debug/quda-debug

I set up a quda-debug branch with the input scripts I'm using. It also has the slurm outputs from my runs.

[2020-10-15 16:47] weinbe2 commented on #1065
Thanks @dwdoerf , @detar , I'll be looking into this today.

@dwdoerf, in the meantime, can you please run one more test for me? In the file `lib/targets/cuda/malloc.cpp`, please modify line 299:

[code]

to read:

[code]

Of course this won't solve the problem, but it'll give some more useful information. (FYI, we'll patch this error fix in more formally soon, because we should have had this in t

[2020-10-15 17:00] weinbe2 commented on #1065
Ah, and one more ask @dwdoerf, can you please add a call to `nvidia-smi` at the top of your runscript (before calling MILC, anyway)---I want to make sure I'm testing with the right CUDA version and driver, just in case. Thanks again!

[2020-10-15 17:34] dwdoerf commented on #1065
Evan, here's the output after your requested mods:
https://gitlab.com/NERSC/milc-benchmark/-/blob/quda-debug/quda-debug/slurm-1086216.out

[2020-10-15 19:37] weinbe2 commented on #1065
Thanks @dwdoerf. I tested your workflow on a local machine based on your scripts (with decently close driver and CUDA versions, at least) and couldn't reproduce the error, so there are a few other things I want to try. The error in your output was:
[code]
I can't think of a specific reason why this error's coming up, so I want to try a few more tests (trying to verify that it's not because of some

[2020-10-16 08:45] dwdoerf commented on #1065
The llfat_test is failing. The other 3 tests ran fine. Note I tried this with one of our V100 nodes and llfat_test works fine. So it seems to be unique to our A100 DGX test bed.

[code]

The OS on both our V100 and A100 platforms is OpenSUSE:
[code]

[2020-10-16 20:31] weinbe2 commented on #1065
Thank you Doug. This result does seem reasonable, `llfat_test` allocates far more memory than the other benchmark, comparable to what MILC allocates, so I'm not surprised to see that test in particular is triggering the issue.

I put together a decently minimal reproducer below. It should compile without issue with `nvcc`. It takes in one command line argument, an allocation size in bytes. Give it

[2020-10-17 00:47] dwdoerf commented on #1065
Evan, I've run your reproducer and it fails somewhere between 2GiB and (2GiB + 32MiB). So I assume this limit is some sort of Linux configuration parameter? What shall I ask the Cori GPU admins to do?

FYI, I had to change the type of the variable `size` in main to `size_t`, and change `atoi()` to `atol()` to keep size from overflowing for large memory sizes.

[2020-10-19 20:58] weinbe2 commented on #1065
Thanks for the update, Doug. (And sorry about the typo---it's almost poetic that I made an integer overflow mistake...)

As an update on my end, I'm circling back with some folks internally and I'll get back to you soon.

[2020-10-20 17:02] weinbe2 opened #1066 "CPU preconditioned coarse link construction is broken when communications (and/or partition != 0) is enabled"
This is more to record the issue for the time being, I'll go on a `git bisect` hunt this week. GPU construct is fine so this is not a blocking issue.

The issue can be roughly traced to the bi-directional link exchange here: https://github.com/lattice/quda/blob/develop/lib/coarse_op_preconditioned.cu#L234

The evidence suggesting this is the `norm2` of `Yhat` with `--partition 15` deviates from th

[2020-10-20 17:30] weinbe2 commented on #1065
@dwdoerf FYI, Max Katz (NVIDIA) hopped on the Cori A100 machine you've been using and has also reproduced the issue (not a surprise, but a good sanity check). Investigations are ongoing.

[2020-10-20 17:50] dwdoerf commented on #1065
@weinbe2 Thanks for the update. Perfect, putting it Max's hands!

[2020-10-26 04:42] ybyang opened #1068 "Additional popKernelPackT in CovDev with HIP compiler"
With HIP compiler (currently v3.3 is used), additional popKernelPackT will be called after the GPU kernel is launched, when the argument class CovDevArg copied as the argument of the kernel will be freed. It will pop the KernelPackT pushed in the dslash_policy and create a QudaError when the dslash_policy call its popKernelPackT.

It would works fine with CUDA.

A possible hack is the following:
1

[2020-10-26 17:34] maximumcats commented on #1065
@dwdoerf I've been looking into this for the past few days. While I was investigating this I turned up some configuration issues on cgpu that needed to be resolved, so that was just done by CSG, but unfortunately they turned out not to be the culprit here. I've filed an internal NVIDIA ticket to discuss this with the CUDA team. I'll provide an update when I've got one.

[2020-10-26 18:14] dwdoerf commented on #1065
Hi Max, thanks for the status update!

Doug

[2020-10-28 00:36] bjoo opened #1070 "blas_test_full_wilson (Failed) in feature/generic_kernel (and feature/randfft_cherry_pick)"
Just a note that while I was working on cherry picking the FFT refactor and CURAND refactor into `feature/generic_kernel` from `feature/hip-compile-fixes` I noticed that on summit the `blas_test_full_wilson` test failed...

I have mentioned this to @maddyscientist and sent her the output summary. Appears to be with some reductions:

[code]

[2020-10-28 00:48] maddyscientist commented on #1070
This bug has already beed fixed in the generic/kernels branch (40bbacc7394755e4a4b5f932a6495905c5d4e1df).

[2020-10-28 00:48] #1070 closed, assigned to maddyscientist, bjoo

[2020-10-28 02:08] bjoo commented on #1070
Verified. Thank you!

[2020-10-30 16:20] yaomingamd opened #1071 "rocm-devel branch: hisq-stencil_test failure"
rocm-devel branch (2f3b43a) built with ROCM 3.9.0 got error when runs hisq-stencil_test:
ERROR: Error in unitarization component of the hisq fattening: 484 failures

[2020-11-01 20:04] maddyscientist opened #1072 "Reduction abstraction needs to be applied to choice of MPI reducer in `TunableReduction`"
Reduction abstraction is presently broken for non-summation reductions.  While the abstracted launch can be passed different reducers for the kernel, the MPI reduction presently assumes that summation is being performed.  This will break, for example, force monitoring, max element computing for half precision multigrid, etc.
[code]

[2020-11-02 16:15] weinbe2 opened #1073 "Staggered fused operator feature request"
* Modify dirac_[improved_]staggered.cpp to use the full operator for calling `MdagM` as opposed to separate even/odd parts. In theory this does the right thing:

[code]

But `Dslash` and `DslashXpay` assume single-parity fields, so we need a workaround in terms of calling `Apply[Improved]Staggered` directly.

* Investigate adding support in `invertMultishiftQuda` for the full parity staggered oper

[2020-11-02 16:15] weinbe2 commented on #1073
FYI @rickychwong

[2020-11-04 21:37] dwdoerf commented on #1065
Hi @maxpkatz just checking to see if there's been any progress on a resolution?

[2020-11-05 01:33] weinbe2 commented on #1065
Hey @dwdoerf --- I can't speak for work on resolving the exact issue as Max is the one shepherding it along, but I realized there's a potentially straightforward work-around (and in that regard I'm sorry I didn't think of it sooner). In short it's swapping pinned host memory allocations for managed memory allocations, which preserves the plumbing requirement of being able to dereference the pointe

[2020-11-06 18:35] dwdoerf commented on #1065
Hi Evan, I made the above change, but I get the following error:

[code]

[2020-11-06 18:37] weinbe2 commented on #1065
Sorry about that, investigating now. I have the cycles to make sure I can get a full run through. I'm encouraged to see the allocation went through, at least.

[2020-11-06 20:44] weinbe2 commented on #1065
Hey @dwdoerf , I just pushed a temporary branch `hotfix/cori-hack-do-not-merge` .

Using this branch I successfully ran the NERSC Small RHMC benchmark, one and two GPU runs, though admittedly it was on Ubuntu+Volta. Please give it a try. (FYI: no guarantee it'd run multi-node due to lack of testing capacity at the moment, but I don't think that's something you're testing anyway?)

[2020-11-12 00:42] #978 closed, assigned to maddyscientist

[2020-11-30 23:49] weinbe2 opened #1080 "Explore using thin-QR (Cholesky decompositions) for Gram-Schmidt"
Instead of using a traditional implementation of classical or modified Gram-Schmidt (or a hybrid thereof), (block-)orthonormalization can be formulated as a thin QR, which is implemented in practice via a Cholesky decomposition of the "outer-product-of-inner-products" of the vectors that are meant to be orthonormalized. This is described in https://arxiv.org/pdf/1801.07823.pdf , right around eqn (

[2020-12-03 07:43] mathiaswagner opened #1083 "Add NVSHMEM for 5D kernels"
we need to enable NVSHMEM support for the 5d dslashes

[2020-12-03 07:45] mathiaswagner opened #1084 "Implement STRIPED support for packing with NVSHMEM"

[2020-12-05 15:45] ghost opened #1086 "Quda incompatibility with rtx20xx series graphics cards"
At compile time with flag -DQUDA_GPU_ARCH=sm_75 for turing architecture, warnings appear as shown below:
`ptxas warning : Value of threads per SM for entry ... is out of range. .minnctapersm will be ignored`
but with default -DQUDA_GPU_ARCH=sm_70 everything runs without warnings.
**Environment**
OS: Debian 10
Cmake 3.1.9
GCC 6.3.0
CUDA runtime: 10.2.89
Driver: 455.32
GPU 0: RTX 2080

[2020-12-05 20:32] bjoo opened #1087 "Replace explicit '0' stream with device::get_default_stream() in cudaEventRecord()"
Something I came accross during merging. In places like blas_test.cpp (lines 368, 532) also in dslash_test.cpp and dslash_ctest.cpp  `cudaEventSynchronize` makes reference still to stream=0, in
places like
[code]
under the new scheme these should probably be:
[code]

[2020-12-05 20:39] bjoo commented on #1087
Also in `multigrid_benchmark_test.cpp:`

[2020-12-05 20:41] bjoo commented on #1087
also in `covdev_test.cpp`, `staggered_dslash_ctest.cpp` and `staggered_dslash_test.cpp`

[2020-12-05 23:36] bjoo commented on #1087
Fixed in PR #1088

[2020-12-05 23:42] bjoo opened #1089 "Clover tests fail in feature/generic_kernel"
The clover unit tests fail in `feature/generic_kernel` (and cascade also to `feature/generic-kernel-hotfixes` and `feature/hip-compile-fixes` )

Symptom:
[code]

Closer look with `ctest -V -I 5,6` gives
[code]
and
[code]

[2020-12-05 23:42] bjoo commented on #1089
Test system used V100, CUDA 10.2, GCC 8.3.1

[2020-12-07 02:16] bjoo commented on #1087
PR #1088 has been merged so I will close this..

[2020-12-07 02:16] #1087 closed, assigned to nobody

[2020-12-10 00:03] cpviolator commented on #1089
Try this: https://github.com/lattice/quda/tree/hotfix/GK_clover_tr_log

I think it's because we're using a random matrix.

[2020-12-10 20:01] hummingtree opened #1090 "Add an `instantiate` item for copy gauge field and copy gauge field offset, etc"
Add an `instantiate` item for `copy_gauge_field` and `copy_gauge_field_offset` for the gauge orders, etc. One trick thing is that with the lists in `instantiate.h` it becomes hard to know which file triggers the `errorQuda` if one barfs.

[2020-12-10 20:02] hummingtree opened #1091 "More coverage/clean up for split grid"
Improvements to split grid in the future:
- Add support for split grid + multi-shift. It should be straight forward.
- Add support for split grid when the number of sub-partitions is not equal to the number sources.
- Refactor the command line option groups and combine all communication related options into a `comms` group.
- Use smart pointers in `callMultiSrcQuda`, for ex `input_clover`.
- Addre

[2020-12-14 05:09] aruhela commented on #1086
What branch are you using? I don't see sm_75  available in CMakeLists.txt or anywhere else in the repo.

[2021-01-06 18:35] weinbe2 commented on #1065
Reported fixed by @rgayatri23, closing.

[2021-01-06 18:35] #1065 closed, assigned to nobody

[2021-01-06 18:37] weinbe2 opened #1094 "Have `make install` copy `usqcd` directory if QUDA_DOWNLOAD_USQCD is enabled"
Self-explanatory via title

[2021-01-08 19:41] hummingtree opened #1097 "`gauge_alg_test` fails with `--gridsize 3 2 1 1`"
The following fails with `develop` branch:
[code]
and the error message is:
[code]

[2021-01-08 19:47] weinbe2 commented on #1097
It looks like it's an issue with very small local volumes.

[code]
Runs fine, while
[code]
fails, with the issue noted above.

[2021-01-08 19:49] weinbe2 commented on #1097
Oh, I see what's up:

[code]

It's tuning the **global** volume, not the local one: see `vol=6x12x6x8`.

[2021-01-09 00:04] hummingtree commented on #1097
@maddyscientist has the fix in #1056.

[2021-01-09 00:21] #1094 closed, assigned to cpviolator, mathiaswagner

[2021-01-11 21:56] weinbe2 opened #1098 "Replace `isStaggered()`, etc, in the `Dirac` class with a virtual function implemented in each derived class"
Described in title

[2021-01-11 21:58] weinbe2 commented on #1097
Closed in `develop` by #1074

[2021-01-11 21:58] #1097 closed, assigned to nobody

[2021-01-12 02:33] bjoo opened #1099 "Suspicious generator statement in lib/CMakeLists.txt [feature/generic_kernel]"
There appears to be a suspicious generator statement in `lib/CMakeLists.txt` in [feature/generic_kernel] which looks like so:

[code]

The suspicious part is

[code]
which probably should be a list: `HOST_DEBUG,DEVICE_DEBUG` or `HOST_DEBUG;DEVICE_DEBUG` or some such. (The idea is `DEBUG` enables both `HOST_DEBUG` or `DEVICE_DEBUG`). If `DEVICE_DEBUG` is not turned on, trove is not disabled, and it

[2021-01-13 23:05] cpviolator commented on #1089
Fixed with 049191be64ac3955df94c5e7fddaf742c87ab5fc

[2021-01-13 23:05] #1089 closed, assigned to nobody

[2021-01-14 00:04] weinbe2 commented on #1089
@cpviolator @bjoo as an FYI the issue is almost certainly because it's a random matrix---I ran into a similar issue when I was testing the gamma5 work with the clover operator, as the random clover isn't gamma5 Hermitian either. One way around this is using `--compute-clover true`, which we should add in some fashion to the `ctest`.

[2021-01-26 04:16] cpviolator opened #1103 "Multi GPU broken for su3_test"
Gauge field smearing is broken for multi gpu su3_test:
[code]
will result in -nan after the first iteration of STOUT smearing, and
[code]
will result in zeros for APE.

The following pair of commands will also produce an error in the heat-bath tests:
[code]
then
[code]
gives the the following output:
[code]

[2021-01-30 05:12] cpviolator commented on #1103
Fixed with 86f64c3f3eb48cf410dadcfee658c814c0f28833

[2021-01-30 05:12] #1103 closed, assigned to cpviolator

[2021-02-04 09:32] mathiaswagner commented on #1083
Now part of #1062

[2021-02-04 09:32] #1083 closed, assigned to mathiaswagner

[2021-02-04 09:35] #926 closed

[2021-02-09 18:43] weinbe2 commented on #1091
Thoughts motivated by #1107 :

1. Why does QMP's `comm_rank_global` -> `QMP_get_node_number` work to always pick the global rank zero, as opposed to `comm_rank` -> `QMP_comm_get_node_number`? I'd assume `QMP_get_node_number` would grab the current communicator as opposed to the default. Have you looked under the hood to make sure it'll always behave as expected? (And/or should I?)

2. I think ther

[2021-02-10 22:31] maddyscientist opened #1108 "Remove explicit copy constructors from accessors"
In gauge_field_order.h `FloatNOrder` and `Reconstruct` copy constructors should be default.

@jcosborn please add any more issues here

[2021-02-10 22:52] jcosborn commented on #1108
quda::blas::ReductionArg<double, 2, double, 2, double, 2, quda::blas::Norm1<double, double>>

not sure where the offending copy constructor is yet

[2021-02-10 23:06] jcosborn commented on #1108
blas_helper.cuh: Spinor and SpinorNorm

[2021-02-10 23:10] jcosborn commented on #1108
Also virtual functions in reduce_core.cuh: ReduceFunctor
makes it non-trivially copy constructible
http://www.cplusplus.com/reference/type_traits/is_trivially_copy_constructible/
Is that necessary?

[2021-02-14 06:40] maddyscientist commented on #1108
@jcosborn latest commits to the generic-kernel branch remove the explicit copy constructors from `Spinor` and `SpinorNorm` from blas_helper.cuh and also make `ReduceFunctor::pre` and `ReduceFunctor::post` non-virtual methods.  (As noted on slack, the gauge_field_order.h copy constructors were already removed). Let me know if there are any other copy constructors you find that need to be removed.

[2021-02-23 20:41] cpviolator opened #1113 "n-HEX, n-HYP, and recursive smearing."
To complete the suite of gauge tools we need to add n-HEX and n-HYP smearing for measurements, and a recursive smearing  framework for HMC. n-HEX and n-HYP will be straightforward given that stout and APE routines are already implemented. Recursive will require a touch of thought. I think it ought to be done in such a way that any of the analytic smearing routines available can be used, rather tha

[2021-02-23 23:39] maddyscientist opened #1114 "Test and remove `QUDA_ENABLE_P2P=7` default if possible"
With the fixes to UCX regarding its inability to deal with reused CUDA IPC memory handles (https://github.com/openucx/ucx/issues/3192) we should be able to remove the default behaviour `QUDA_ENABLE_P2P=7` which essentially forbids CUDA-aware IPC and regular IPC communications policies being used in the same run.  This is a reminder to me to test that this is true and if so, remove this work around

[2021-03-03 22:06] maddyscientist opened #1115 "complex number class should be trivially copyable"
This is required for SYCL, and probably a good thing do anyway.

[2021-03-04 17:28] maddyscientist opened #1116 "Fix performance of transform_reduce"
Reminder to myself.  Since it was made generic, some kernels based on `transform_reduce` are seeing significant regressions.  This is because it maps to the multi-reduction kernel, which limits the number of threads per block instantiated to 256.  Previously, it was instantiated for 512 thread per block.

[2021-03-04 19:39] mathiaswagner opened #1117 "Investigate necessity of `in_pack` with fused/uber Dslashes"
NVSHMEM enabled Dslashes (#1062) add an additional `in_pack` to the Arg which is basically identical to the input `in` field but needed to reset the ghosts differently.

[2021-03-05 05:37] mathiaswagner opened #1118 "Look into using magic_enum (or similar) to avoid enum / int casts"
See https://github.com/Neargye/magic_enum

This allows things like
[code]

Esp worth for the shmem magic numbers introduced in #1062.

[2021-03-05 17:57] weinbe2 opened #1119 "Update `heatbath_test` to respect `--prec` when an output gauge is specified"
Right now it saves a `double` precision gauge field regardless of the input precision---I need to fix that.

[2021-03-17 18:33] kostrzewa opened #1122 "Stategy to extend TwistClover to two flavours"
`ApplyTwistClover` of `dslash_quda.cu` has already been provisioned to support two flavours (via the `epsilon` parameter). However, the underlying `TwistCloverApply` kernel does not take this into account yet (working on it).

As we're working to add support for non-degenerate twisted clover, I was also surprised to see no dependence of the sign of mu on `dagger` or `inverse`, where `inverse = fal

[2021-03-17 18:33] kostrzewa commented on #1122
Would you agree @urbach @maddyscientist ?

[2021-03-17 18:37] kostrzewa commented on #1122
Oh, wait, I see that this is taken care of in `CloverArg`!

[2021-03-17 20:13] kostrzewa commented on #1122
Since the initial question has resolved itself, I wanted to use the opportunity to ask if extending `CloverArg` to two flavours would be your preferred way for me to proceed to provide two-flavour support for this part.

I would add another kernel, `NdegTwistCloverApply`, to provide the counterpart to `TwistCloverApply` for a two-flavour spinor and add some logic to the `apply()` function of `Twis

[2021-03-17 20:31] kostrzewa commented on #1122
In the kernel itself, I'm afraid I'm not quite sure how to get to the second flavour. In the Dslash it's easy:

[code]

as I have access to `flavor` and `arg.dc.volume_4d_cb`. In the `TwistCloverApply` kernel, however, I get an index on a checkerboard (`x_cb`) and a parity and via `CloverArg` I have access to `volumeCB`. Would the latter give the right offset to get to the second flavour?

[2021-03-17 20:34] maddyscientist commented on #1122
Why not just add another member to the `CloverArg` that explicitly only includes the 4-d volume?  E.g., something like `volume_4d_cb = volumeCB / X[4]`?

[2021-03-17 20:35] kostrzewa commented on #1122
perfect, thanks!

[2021-03-17 20:37] kostrzewa commented on #1122
Actually, you've already taken care of that by constructing `volumeCB` as `in.volumeCB()/2` in the case of `doublet == true`.

[2021-03-17 20:37] maddyscientist commented on #1122
😉

[2021-03-22 18:52] #1122 closed, assigned to nobody

[2021-03-23 00:34] cpviolator opened #1123 "JIT and generic_kernels build fail"
With JITIFY on, the generic_kernels branch will fail due to a vestigial instance of `constant_param_t` at

[code]

[2021-03-23 00:36] maddyscientist commented on #1123
This is "expected" at the moment due to the rework with respect to kernel param vs constant param .  Jitify in GK will likely be busted for the next few days.  It's on my to-do list.....

Apologies for the churn.

[2021-03-24 00:30] cpviolator opened #1124 "GPU_MULTIGRID_DOUBLE build fail"
Enabling `GPU_MULTIGRID_DOUBLE` in the generic_kernels branch cause a build fail with the following error:

[code]

Compiled with `QUDA_PRECISCION=12`

[2021-03-24 15:42] mathiaswagner commented on #997
This will be fixed with #1120

[2021-03-24 15:44] mathiaswagner commented on #640
We can achieve this with separate builds and an entry function that set the LD_LIBRARY_PATH appropriately.

[2021-03-24 15:44] #640 closed

[2021-03-24 15:45] mathiaswagner commented on #302
WIth #1120 we focus on support for proper cmake export.

[2021-03-24 15:45] #302 closed

[2021-03-24 15:50] hummingtree commented on #1124
I will take a look at this. Currently my thought is to disable MG-MMA code when using double precision, since that hasn't really been tested and won't be of any practical use.

[2021-03-24 16:14] mathiaswagner commented on #857
Guess this is no longer an issue.

[2021-03-24 16:14] #857 closed

[2021-03-24 16:15] mathiaswagner commented on #105
Guess this has been superseded by NVSHMEM?

[2021-03-24 16:18] #310 closed

[2021-03-24 16:20] mathiaswagner commented on #787
Is this still open?

[2021-03-24 16:22] mathiaswagner commented on #928
How much of that was added in #1024?

[2021-03-24 16:42] #998 closed, assigned to mathiaswagner

[2021-03-24 16:48] maddyscientist commented on #105
Indeed.  Closing.

[2021-03-24 16:48] #105 closed

[2021-03-24 16:52] maddyscientist commented on #928
#1024 added this as a manual option for the user essentially, and not a run-time autotuning feature which is what this issue is for.

[2021-03-24 16:59] mathiaswagner commented on #102
Still a thing???

[2021-03-24 16:59] maddyscientist commented on #102
Not a thing.

[2021-03-24 16:59] #102 closed

[2021-03-24 17:06] mathiaswagner opened #1125 "Fetch Eigen using CPM"
Can be added to #1120

[2021-03-24 19:20] mathiaswagner commented on #886
we now use CLI for parsing arguments

[2021-03-24 19:20] #886 closed

[2021-03-25 15:15] mathiaswagner commented on #802
Is this still an issue?

[2021-03-25 15:16] mathiaswagner commented on #740
Will be fixed through #1125

[2021-03-25 15:16] #740 closed

[2021-03-25 15:18] #470 closed

[2021-03-25 15:19] mathiaswagner commented on #297
I think the new Dslash framework basically achieved that.

[2021-03-25 15:19] #297 closed

[2021-03-25 15:20] mathiaswagner commented on #103
Is this still a thing with the new dslash framework / newer architectures?

[2021-03-25 15:22] #279 closed

[2021-03-25 15:24] mathiaswagner commented on #738
is being worked on in #1121

[2021-03-25 15:48] maddyscientist commented on #103
This can be closed.  The only practical way of doing this would be to do it with Jitify (whence this becomes trivial).  In general I don't foresee us doing this for off-line compilation.

[2021-03-25 15:48] #103 closed

[2021-03-29 21:27] kostrzewa commented on #802
I guess I should close this, it'll be hard to wire up a reproducer for this now. I don't think this is still an issue, at least not as far as I can tell.

[2021-03-29 21:27] #802 closed

[2021-03-29 21:28] #798 closed

[2021-03-29 21:28] kostrzewa commented on #610
superceded by #1121

[2021-03-29 21:28] #610 closed

[2021-03-29 21:29] kostrzewa commented on #512
we've addressed this

[2021-03-29 21:29] #512 closed

[2021-03-29 21:29] #453 closed

[2021-03-29 21:29] kostrzewa commented on #474
we resolved this a while ago

[2021-03-29 21:29] #474 closed

[2021-03-31 18:43] CRobeck opened #1131 "[HIP][O1] Multigrid test fails with hipOutOfMemory when Tuning"
export META="--unit-gauge 0 --dim 16 16 16 16 --Lsdim 1 --gridsize 1 1 1 1 --solve-type direct-pc --dslash-type clover --mass 0 --clover-coeff 0.01 --compute-clover 1 --anisotropy 1 --inv-multigrid true"
export SOLVER_PARAM="--prec single --prec-sloppy single --prec-precondition single --tol 5e-7"
export MG_PARAM="--mg-levels 3 --mg-generate-nullspace true"
export LEVEL0_PARAM="--mg-nu-pre 0 0 --m

[2021-03-31 18:59] CRobeck commented on #1131
QUDA_ENABLE_TUNING=0 passes

[2021-03-31 21:56] bjoo opened #1132 "[HIP][O2][dslash-clover tests hang/take very long]"
Using ROCm-4.1.0 RC2 we see hangs in CTest Tests 7,8 (dslash_clover-[a]sym-policytune  when compiling  BuildConfiguration DEVEL with -O2.

Test passes with -O1

[2021-03-31 22:00] bjoo opened #1133 "[HIP][O2][dslash_improved_staggered_build-policytune fails ]"
CTest:  dslash_improved_staggered_build-policytune fails when built with ROCm-4.1.0 RC2, DEVEL configuration, -O2.

The failure message is:
[code]

The test passes with -O1

[2021-03-31 22:09] bjoo opened #1134 "[HIP][O2][Multigrid test fails validating (1 - P P^\dagger) v_k test for k >=2 on MG level 1]"
When generating MG Projectors for multigrid the (1 - P P^\dagger) v_k test fails on MG level 1, when using -O2 in the build and tuning is enabled (ROCm-4.1.0 RC2, QUDA config=DEVEL)

Turning off tuning by setting env var `QUDA_ENABLE_TUNING=0` circumvents problem

-O1 results in a `hipOutOfMemory` error  see #1131

[2021-03-31 22:10] bjoo commented on #1134
MG script was:

[code]

run from the top build directory

[2021-04-07 17:56] hummingtree commented on #1124
@cpviolator Just to make sure, the `GPU_MULTIGRID_DOUBLE` is defined through compiling in `HOSTDEBUG` mode? Or is it set explicitly?

[2021-04-07 18:34] CRobeck commented on #1132
./dslash_ctest "--dslash-type" "clover" "--test" "MatPCDagMatPC" "--matpc" "even-even" "--dim" "2" "4" "6" "8" "--gtest_output=xml:dslash_clover_test_poltune.xml"

[2021-04-07 19:37] maddyscientist opened #1139 "Add warning for MMA multigrid that MILC warnings are faulty"
Self assigning

[2021-04-07 19:38] mathiaswagner commented on #1134
@bjoo Can you please apply the 'Target_HIP' label for HIP bugs?

[2021-04-07 20:27] bjoo commented on #1134
Sure thing Mathias, we also grouped them under a HIP_Milestone. If you don’t want HIP issues tracked here let us know.

Best,
B

--
Balint Joo,  Oak Ridge Leadership Computing Facility,
Oak Ridge National Laboratory
P.O. Box 2008, 1 Bethel Valley Road, Oak Ridge, TN 37831, USA
email: joob AT ornl.gov.  Tel: +1-757-912-0566 (cell, remote)

From: Mathias Wagner ***@***.***>
Reply-To: lattice/quda **

[2021-04-07 20:33] mathiaswagner commented on #1134
They can stay here. All good. The label just helps to quickly identify them on the issues page (it is more prominent then the milestone) or filter them there.

[2021-04-07 22:18] cpviolator commented on #1124
@hummingtree Yeah you have to set `HOSTDEBUG` to add the correct flag via CMake. However, if you just edit these lines https://github.com/lattice/quda/blob/feature/generic_kernel/include/multigrid.h#L10 you can trigger `GPU_MULTIGRID_DOUBLE` without the debugging flag.

[2021-04-16 17:15] weinbe2 commented on #1139
Addressing this as part of my review of `hotfix/misc_1.1`

[2021-04-16 19:00] weinbe2 commented on #1139
Fixed in `3707a88`

[2021-04-16 19:00] #1139 closed, assigned to weinbe2

[2021-04-28 01:22] weinbe2 commented on #1066
I've looked into this across a few volumes and partitionings, and @hummingtree has looked into this for formal multi-GPU builds, and it seems to have fixed itself. Closing this.

[2021-04-28 01:22] #1066 closed, assigned to weinbe2

[2021-05-10 17:55] maddyscientist opened #1150 "Number of null vectors enabled in adaptive MG should be a Cmake option"
This would allow us more flexibility in algorithm exploration, and enable more efficient compilation.

[2021-05-13 14:51] bjoo opened #1151 "Unify Aggregates struct and OrthoAggregates struct via templating"
Currently `struct Aggregates` in `restrictor.cu` and `struct OrthoAggregates` in `block_orthogonalize.cu` are essentially identical. They could be unified using a Tag template. E.g.

in `include/powers_of_two_array.h`
[code]
then in `restrictor.cu`:
[code]
 and in `block_orthogonalize.cu`:
[code]

 this would reduce code duplication and reduce boilerplate.
 The thing stopping me from doing this wi

[2021-05-14 16:52] bjoo commented on #1134
Issue was fixed in commit f03dd39 by making the minimum block size equal to device::warp_size()

[2021-05-14 16:52] #1134 closed, assigned to nobody

[2021-05-14 16:53] bjoo commented on #1133
Issue appearse to be fixed by using ROCm 4.2 Release

[2021-05-14 16:53] #1133 closed, assigned to nobody

[2021-05-14 16:54] bjoo commented on #1131
Issue appears fixed by reducing shared memory size to 32000. After that it behaved like #1134. That issue was fixed by commit f03dd39

[2021-05-14 16:54] #1131 closed, assigned to nobody

[2021-05-14 19:54] weinbe2 opened #1153 "Reminder: restore multisrc tests once multi-rhs is complete"
Revert #1152 (or re-write the files as appropriate) once the multi-rhs work is done.

[2021-05-18 19:51] bjoo commented on #1132
Fixed in adbb3d27 -- apparent compiler bug.

[2021-05-18 19:51] #1132 closed, assigned to nobody

[2021-05-25 12:25] agsunderland commented on #740
I'm getting problems with the Eigen hash value with Quda 1.0.0. I've tried this workaround but still get problems:CMake Error at CMakeLists.txt:267 (message):
  QUDA requires Eigen (http://eigen.tuxfamily.org).  Please either set
  EIGEN_INCLUDE_DIRS to path to eigen3 include directory, e.g.
  /usr/local/include/eigen3 or set QUDA_DOWNLOAD_EIGEN to ON to enable
  automatic download of the necessar

[2021-05-25 13:12] mathiaswagner commented on #740
The following worked for me:
Download https://gitlab.com/libeigen/eigen/-/archive/3.3.9/eigen-3.3.9.tar.bz2 and unpack (I just downloaded and unpacked to my home directory, you might need to change the paths below according to your location)

[code]

If that does not help can you share the full error message here?

[2021-05-25 14:03] agsunderland commented on #740
Thanks. This worked.

[2021-05-25 14:45] weinbe2 commented on #740
FYI I copied these instructions here for future reference: https://github.com/lattice/quda/wiki/QUDA-Build-With-CMake#specifying-a-separate-eigen-installation-if-absolutely-necessary

[2021-05-25 18:52] agsunderland commented on #740
Thanks Evan,

I've run into another problem with the Quda installation. Could you please advise the best place I should raise this query?

Regards,
Andy

________________________________
From: Evan Weinberg ***@***.***>
Sent: 25 May 2021 15:45
To: lattice/quda ***@***.***>
Cc: Sunderland, Andrew (STFC,DL,HC) ***@***.***>; Comment ***@***.***>
Subject: Re: [lattice/quda] Release versions of QUDA co

[2021-05-25 18:55] maddyscientist commented on #740
@agsunderland just make a new issue

[2021-05-29 09:52] kostrzewa opened #1157 "stack buffer overflow in double-half and "double-double" mixed CG with clover-type operators"
Some time ago I observed that `double-double` and `double-half` CG stopped working for me with clover fermions (the solver is launched via tmLQCD in this case).

In our QUDA interface, when a clover-type operator is used, we set up the clover precisions according to the sloppy precision set for the solver:

[code]

and when the time comes and the clover field needs to be (re-)initialised, we call

[2021-05-29 10:06] kostrzewa commented on #1157
Adding a print statement to `loadSloppyCloverQuda` indeed shows that it is called twice, which I don't really understand... we only call `loadCloverQuda` once and it seems that all the copies should be initialised at this stage. It seems, however, that when `invertQuda` is called, QUDA internally calls it again.

[2021-05-30 08:41] kostrzewa commented on #1157
`git bisect` of the develop branch suggests that the problem surfaced with ee69f9fa19062eba6cc475734ff723b52e6500dd when the eigensolver precisions were introduced

[2021-05-30 09:13] kostrzewa commented on #1157
I've found the problem (it should have been obvious to me from the ASAN run).

In `checkClover`, the `prec[]` array only has 3 elements...

https://github.com/lattice/quda/blob/080cb1a83b13572df321b9be1891a9ff126c4e2d/lib/interface_quda.cpp#L2172-L2194

and for a reason which I don't yet understand, our setup hits the if condition which causes an attempt to create a clover copy with an invalid pre

[2021-05-30 09:17] kostrzewa commented on #1157
The if condition and the final existence check have also not yet been extended to take into account `cloverEigensolver`

[2021-06-17 15:47] bjoo opened #1162 "minor fixes to moderner CMake"
Propagate changes to feature/moderner-cmake2
-> QUDAVersion.cmake -> QUDAConfigVersion.cmake
-> Bump QMP version to 2.5.3 (Both download source and `find-package`
-> Cherry pick QDP-JIT mods into a branch off GK and ask Kate to merge

[2021-08-11 18:58] cpviolator opened #1169 "Build fail with QUDA_GAUGE_ALG=ON the gauge fixing routines in the `generic_kernels` branch."
Compilation bug in the GK branch. With QUDA_GAUGE_ALG=ON the gauge fixing routines hit the following error:

[code]

[2021-08-12 09:54] kostrzewa opened #1170 "calling updateMultigridQuda with `setup_maxiter_refresh[level] != 0` leads to subsequent solve erroring"
I'm currently in the process of getting MG setup evolution set up correctly in tmLQCD and have hit upon an issue which causes the next solve after a setup refresh to fail. Doing `updateMultigridQuda` without refresh (just updating parameters) instead works like a charm. Also, resetting the MG setup mid-trajectory works as expected and does not lead to any errors in the solves.

I've implemented va

[2021-08-12 09:58] kostrzewa commented on #1170
Here's what happens at high verbosity. It would be extremely helpful if you could help me identify what I'm doing incorrectly (if you have the time, that is). For brevity I'm just doing a 2-level solve.

[code]

[2021-08-12 15:15] weinbe2 commented on #1170
Oi, well, this is confusing. I see that in the various routines in `multigrid.cpp` that the solver type and preconditioner type are hot-swapped between `QUDA_MG_INVERTER` and `QUDA_MG_INVERTER` as "is needed," and something must not be getting reset when you do a refresh.

What must be happening is this path in Solver::create is getting called erroneously: https://github.com/lattice/quda/blob/rele

[2021-08-12 18:10] cpviolator commented on #1170
I have a couple of questions:

1. Are you calling `invertQuda` directly, or do you create your own QUDA solver in TM_QUDA?
2. What does `set_quda_mg_setup_state(&quda_mg_setup_state, &quda_gauge_state);` actually do?

I ask because running
[code]
on the release branch seems to run fine, even when I hack it with
[code]
to try to emulate what you are doing.

[2021-08-12 19:02] kostrzewa commented on #1170
We call `invertQuda` directly.

It just operates on state structs that I use to keep track of the state of the QUDA MG setup and the QUDA gauge field. It's the counterpart to `check_quda_mg_setup_state` in the if condition above which checks these same state variables (point along the trajectory in molecular dynamics units, angles for our twisted boundary conditons, parameters such as kappa, csw a

[2021-08-12 19:23] cpviolator commented on #1170
~~I think you might be passing the wrong invert param to `invertQuda` because the `GCR` solver has `QUDA_MG_INVERTER` as its preconditioner, which we only set for the `mg_param.invert_param = &mg_inv_param;` object, i.e., the invert param struct embedded in the mg param struct. The actual `QudaInvertParam` instance one passes to `invertQuda` should not have `QUDA_MG_INVERTER` set as its preconditi

[2021-08-12 19:44] kostrzewa commented on #1170
While I do copy the inner `QudaInvertParam` from the outer `QudaInvertParam` as a shortcut, I tried to make sure to unset things that are unsuitable for the smoothers etc.

I still suspect that this whole copying `mg_inv_param = inv_param`  thing that I do is at the heart of the problem that I see and that I should just create a fresh inner parameter struct each time and populate it accordingly...

[2021-08-12 19:47] cpviolator commented on #1170
That sounds like a good check. In QUDA we delineate these things for
clarity at the cost of extra lines of code. But because so many different
operators and tests use these param setting helper functions, it pays off.

On Thu, Aug 12, 2021 at 12:44 PM Bartosz Kostrzewa ***@***.***>
wrote:

[2021-08-12 19:48] kostrzewa commented on #1170
I'm thankful that someone else is taking a look at the logic that has built up in there over the years. If you see anything raising alarm bells I'm happy to hear it, even if it turns out to be wrong in the end.

I know that what I do right now works for all cases that I've encountered so far (both for measurements and HMC) except for `updateMultigridQuda` with the refresh iterations set to a non-z

[2021-08-13 10:22] kostrzewa commented on #1170
I've implemented a "clean slate" explicitly populated MG-internal `QudaInvertParam` (which certainly makes things cleaner). Turns out, this was not the problem....

Because we use a single `inv_param` to drive all of our solves, I have to switch back and forth between different parameter sets. One of the switches is to `inv_param.preconditioner = NULL` for non-MG solves and `inv_param.percondition

[2021-08-13 10:22] #1170 closed, assigned to nobody

[2021-08-13 10:26] kostrzewa commented on #1170
It might be useful, however, to check for `inv_param.preconditioner == nullptr` in GCR when `inv_param.inv_type_precondition != QUDA_INVALID_INVERTER`.

[2021-08-13 11:50] kostrzewa commented on #1170
While we're discussiing `updateMultigridQuda`, let me use the opportunity to pester you with another question about the state of the `thin_update_only` version. In our case, when the only thing that changes is `mu` (and/or `tm_rho`) in the outer solve, for example, is it necessary to destroy and recreate all the coarse operators and smoothers?

There's a `FIXME` comment in there which I'd be happy

[2021-08-13 13:41] cpviolator commented on #1170
@kostrzewa No time wasted here! The problem was honed down to smaller set of possibilities and solved :)

I think that results of the the scaled `mu` technique coupled with the fact that MG is so resilient would point to one being able to include `mu` and `tm_rho` in the thin updates, but I'm just speculating.

[2021-08-13 13:45] weinbe2 commented on #1170
Extending the `thin_update_only` version should suffice! You'll have to create analogs to `setMass` (or w/e it's called, typing from my phone) and whatnot if they don't otherwise exist, but I think it'll be straightforward---let me know if you hit any issues.

[2021-08-13 13:46] weinbe2 commented on #1170
The one caveat is I think `mu` gets explicitly baked into the coarse stencil---is it okay that that doesn't get updated?

[2021-08-14 11:57] kostrzewa opened #1171 "should CA_GCR also support an explicit preconditioner?"
https://github.com/lattice/quda/blob/ff2a4068eb4e571b8e357f73d1e67cc827131ef2/lib/solver.cpp#L41-L47

Should this include a test for `QUDA_CA_GCR_INVERTER`?

[2021-08-16 21:15] maddyscientist commented on #1169
Fixed with 01a69d0d

[2021-08-16 21:15] #1169 closed, assigned to nobody

[2021-08-23 17:33] mathiaswagner opened #1176 "Use fmt for formatting output and tune strings"
https://github.com/fmtlib/fmt

after #1056 has been merged.

[2021-08-23 21:51] maddyscientist opened #1177 "Use a macro to replace `__device__ __host__` for marking parallel functions"
This is something to do post GK merge.  Some possible options include
[code]

For aesthetic reasons I prefer lower case, but understand the reasoning for all caps to designate a preprocessor definition.  Any other suggestions @mathiaswagner, @weinbe2, @hummingtree?

[2021-08-24 19:55] maddyscientist opened #1178 "Abstract CUB"
This is a task to be done after generic kernels is merged, before HIP support is merged in.  CUB is the outstanding CUDA device library that has not been abstracted into `include/target/cuda` yet, and remains fully exposed in `include`.  While less critical for HIP, it is important for SYCL, OMP, etc.

[2021-08-24 19:55] weinbe2 commented on #1177
We should use all caps specifically to designate the preprocessor definition. I'd be receptive to something like `quda::parallel` as well but I don't think we can namespace defines like that?

As for the specific wording, I'm relatively indifferent. As an external example, Kokkos uses `KOKKOS_FUNCTION` (and `KOKKOS_LAMBDA`, `KOKKOS_INLINE_FUNCTION`, etc), but I don't see a specific need to _copy_

[2021-08-27 05:55] mathiaswagner opened #1179 "Update CLI11 to 2.x"
We use a version based on 1.8 with some QUDA specific additions. Maybe they are no longer necessary.

[2021-08-30 17:46] weinbe2 opened #1182 "Fuse multigrid coarsening routines that add elements to the diagonal"
The routines to:

* Add the identity to the coarse clover
* Add a staggered mass to the coarse clover
* Add a twist to the coarse clover

Are all very simple, straightforward, and _simple_, so post-GK I'll merge them together.

(Note, we're intentionally not fusing the similar clover/twisted-clover routines for now, despite the similarities, b/c they're far broadly more complicated and have been w

[2021-08-31 20:22] weinbe2 opened #1183 "Investigate consolidating the copy_color_spinor_mg files"
There's currently an all-to-all of to, from precisions for the MG `copy_color_spinor_mg.*` files. Historically this split was done for compile time reasons. We should investigate if this is still a problem, and if it's not we should do a partial or complete fusion of these files for code cleanliness/boilerplate reduction purposes.

[2021-09-09 20:15] weinbe2 opened #1185 "Use consistent "type" names (for ex, `value_type`) across QUDA"
Per discussion in #1056 , after the GK merge we should decide on a consistent naming convention for `Float` types, etc, used throughout the library, and make the global change. One idea is matching the STL and using `*_type` (for example form the STL: `complex<T>::value_type`) throughout the library.

[2021-09-15 21:29] maddyscientist opened #1190 "Add unit test for shared memory cache helper"
Requested by @jcosborn and @jxy.  I'll do this post GK merge.

[2021-09-28 20:42] weinbe2 opened #1192 "Generic Kernels: performance regression in non-MMA UV, VUV, Yhat for typical staggered sizes"
A comparison of perf numbers between release/1.1.x and GK shows there's a noteworthy regression in performance for typical staggered problem sizes and Nc values (24^4 local volume, Nc = 24; 64; 96). One solution to this may be re-tuning tile sizes for staggered problems, a known outstanding issue (the cost of staggered setup is heavily dominated by near-null generation for now anyway). We should r

[2021-10-06 00:31] #1068 closed, assigned to maddyscientist

[2021-10-13 21:54] maddyscientist opened #1193 "Remove some unnecessary unrolls"
In the block_orthogonalize.cuh
[code]
On the host `n_sites_per_thread` can be up to 1024, and an excessive unroll can lead to LLVM having a fit.  On the device this is trivially of length one and will always unroll.  We should just remove these unrolls.

[2021-10-14 18:23] maddyscientist commented on #1115
This has already been done as part of generic kernels (#1056).

[2021-10-14 18:23] #1115 closed, assigned to maddyscientist

[2021-10-14 18:24] maddyscientist commented on #1157
Closed in #1158

[2021-10-14 18:24] #1157 closed, assigned to nobody

[2021-10-14 18:25] maddyscientist commented on #1108
Closing this issue, as this has all been achieve in #1056 already

[2021-10-14 18:25] #1108 closed, assigned to nobody

[2021-10-19 19:06] #1193 closed, assigned to maddyscientist

[2021-10-27 17:07] #193 closed, assigned to hummingtree

[2021-11-09 18:34] weinbe2 opened #1209 "Update cmake QIO tag to support `extended` API (required for MILC)"
This is a self-reminder that the QIO tag needs to be updated once https://github.com/usqcd-software/qio/pull/14 is merged. Until that is completed you can not use the version of QIO and QUDA can optionally compile+build with MILC.

This can be worked around by manually replacing the QIO tag in `CMakeLists.txt` in the root directory of the QUDA source with `a5c3ae580b846130c06dc060ab822f17d6fe2171`

[2021-11-10 22:46] maddyscientist opened #1212 "Improve reduction tuning time"
We don't need to tune starting from grid size 1.

[2021-11-11 16:16] kostrzewa opened #1214 "MPIEXEC_[PRE,POST]FLAGS introduces quotation marks which leads to ctest launch failure"
Wanting to run `ctest` in parallel (`-j 16`) and wanting to replace the default binding (otherwise I get all processes bound to two cores on my test machine), I wanted to pass `--bind-to none` as either `${MPIEXEC_POSTFLAGS}` or `${MPIEXEC_PREFLAGS}`. Unfortunately, CMake introduces quotation marks which in turn result in launch failure (for me, OpenMPI ):

[code]

The command that is run has quot

[2021-11-15 23:02] weinbe2 opened #1215 "Add support for automatically saving the tunecache every XX minutes"
See title, have the tunecache automatically save with some frequency either predetermined and/or settable via environment variable. As part of this we can hopefully remove many explicit tunecache save function calls (that I'm definitely guilty of).

[2021-12-06 18:10] mathiaswagner commented on #550
outdated.

[2021-12-06 18:10] #550 closed

[2021-12-08 20:09] mathiaswagner opened #1222 "Fix tests with QDPJIT"
Check if we just need to call `QDP_initalize`/ `QDP_Finalize` .

[2021-12-08 20:10] mathiaswagner opened #1223 "Use `target_link_libraries` for QDPJIT"
Make sure this does not break linking if we mix static / shared linkage.

[2021-12-17 13:04] robert-mijakovic opened #1227 "QUDA doesn't link against UCX when NVSHMEM with UCX is used resulting in undefined references to ucp_*"
I'm compiling QUDA 1.1.0 using GCC 10.3.0., CUDA 11.3.1, OpenMPI, (external) Eigen, 3.3.9, and (external) NVSHMEM 2.4.1 on CentOS 8.4.
The build is configured with:
[code]

Build fails in the linking phase with undefined symbols to ucp_*. NVSHMEM is compiled with the UCX transport layer.
[code]

NVSHMEM is built with:
[code]

The issue is that QUDA doesn't link against UCX, `-L$(UCX_HOME)/lib -luc

[2021-12-17 13:32] mathiaswagner commented on #1227
Yes, UCX support in NVSHMEM is not supported in QUDA yet. QUDA uses cmake and nvshmem doesn't so any usage requirements propagation is limited.
You should be able to specify additional linker flags using
` CMAKE_EXE_LINKER_FLAGS`

[2021-12-17 18:32] robert-mijakovic commented on #1227
Thank you for the workaround. I have tested it and it worked well.

[2022-01-11 17:43] kostrzewa commented on #959
Just to comment on the mention in PR #1234: @Marcogarofalo and @simone-romiti found that the topological charge computed by QUDA still differs from the one computed by tmLQCD (which in turn agrees with MILC).

@Marcogarofalo could you perhaps post the comparison that we looked at during our last call?

[2022-01-11 18:03] Marcogarofalo commented on #959
sure
QUDA
[code]
tmLQCD
[code]

[2022-01-11 18:21] kostrzewa commented on #959
Note that the sign difference is known. I think that the absolute value should be much more consistent than it is, however.

[2022-01-11 22:02] weinbe2 opened #1236 "Newton polynomial basis for CA-CG, elsewhere"
In contrast to the Chebyshev polynomial basis, which is a 3-term recursion, the Newton basis is a 2-term recursion with similar stability properties, in contrast to the generally unstable power basis. We should investigate this for use in CA-CG (and potentially polynomial acceleration to eigensolvers, CA-GCR, etc).

Reference: https://hal.inria.fr/inria-00433009/document

[2022-01-12 20:55] weinbe2 opened #1237 "Clean up --help"
Some ideas:
 * Add support for `--help [option group]` to minimize the amount output by `--help` (or some other appropriate mechanism, whatever `CLI11` makes easiest
 * Improve the granularity of option groups, for ex clover specific, twisted specific, etc, similar to how there are already groups for eigensolves and MG. This would be a follow-up to the above suggestion of group-specific `--help`

[2022-01-13 09:14] kostrzewa commented on #959
Just digging around in the dark to see where we get.

@Marcogarofalo when you set `param.su_project = QUDA_BOOLEAN_TRUE` in the `QudaGaugeObservableParam` used for the measurement in QUDA, does this affect the difference between QUDA and tmLQCD? (the default is `QUDA_BOOLEAN_FALSE`, see `lib/check_params.h` around line 970 or so.

We don't perform SU3 projection in tmLQCD in the gradient flow but

[2022-01-13 09:39] cpviolator commented on #959
@kostrzewa There are some debugging tools you can enable by commenting out the pre processor define: https://github.com/lattice/quda/blob/develop/include/kernels/gauge_stout.cuh#L90 to ensure various SU(N) matrix properties.

Also, you could swap out the exponentiate_iQ with a Taylor series expansion, implemented here for Nc builds:   https://github.com/lattice/quda/blob/74057e061f66c91f8e7bf11ada

[2022-01-13 10:04] Marcogarofalo commented on #959
Qsym changes very little,  and the result is still very close to QUDA in https://github.com/lattice/quda/issues/959#issuecomment-1010223108
Below the numbers for QUDA with `param.su_project = QUDA_BOOLEAN_TRUE`
[code]

[2022-01-13 10:11] kostrzewa commented on #959
Thanks a lot! That likely removes this as a culprit. The other thing we can exclude is a constant factor and as @cpviolator noted before, the two implementations seem to agree more and more with increasing flow time (with some fluctuations, a real check would probably need a larger lattice and an analysis across the full flow time).

[code]

[2022-01-13 10:14] kostrzewa commented on #959
Thanks for the suggestions @cpviolator. I don't know how much time we'll be able to invest into this given that the difference is quite small. We might just accept it with the caveat that there's a few-%-level uncertainty on the individual measurements of Q. I would argue that this kind of difference is not going to mask conclusions of the type "topology is stuck" vs. "we are sampling topological

[2022-01-13 10:25] cpviolator commented on #959
@kostrzewa Indeed, my colleagues and I came to a similar conclusion WRT topological behaviour during HMC. We found that the most variance occurs in early Wilson Flow times, and that after long Wilson Flow times the QUDA Q charge value converges to the MILC value very well.

@weinbe2 made some good suggestions with atomic reductions and a CPU implementation to try to get the root of the issue.

[2022-01-14 00:29] maddyscientist commented on #959
@kostrzewa @Marcogarofalo can you give me a link to the tmLQCD implementation of the topological charge?  I assume there's no obvious difference between that and QUDA's one?  Have you looked at QUDA's one to see if anything sticks out?

[2022-01-14 16:53] Marcogarofalo commented on #959
I believe that the topological charge in tmLQCD is computed at
https://github.com/etmc/tmLQCD/blob/ce9753848039a9a2f63eeff6d244fd1b4c62718d/meas/measure_clover_field_strength_observables.c#L56
I haven't looked at QUDA implementation in much detail so far

[2022-01-19 15:53] hummingtree opened #1240 "Creating an unified interface for creating/accepting preconditioner (for PCG)"
As the title suggested, we should have an unified interface for creating/accepting preconditioning solvers. Currently with #1061 the create part of the interface is located in `invert_preconditioner.h`.

[2022-02-05 10:30] kostrzewa opened #1244 "multishift-CG with refinement segfaults (develop regression)"
The "last few" commits of `develop` seem to have introduced a regression not caught by the tests. We (@Marcogarofalo) first saw this in combination with tmLQCD in the HMC and were able to confirm using `invert_test`.

Running:

[code]

leads to

[code]

[2022-02-05 15:19] weinbe2 commented on #1244
Oomph, sorry about this. I think the issue is this line (testing now):

https://github.com/lattice/quda/blob/develop/lib/inv_cg_quda.cpp#L381

`p[0]` needs to become `x_update_batch.get_current_field()` --- and then we need to get rid of the `p` vector otherwise, I believe.

Will open a PR asap.

[2022-02-05 22:56] maddyscientist commented on #1244
@kostrzewa thanks for reporting this.  In the development branch I am working on, part of my remit will be to add unit tests for the solvers, so that we don't miss issues like this.

[2022-02-06 08:30] kostrzewa commented on #1244
@weinbe2 Many thanks for the quick fix, I can confirm that it also resolves the issue when the mshift-CG is driven via tmLQCD.

[2022-02-06 08:30] #1244 closed, assigned to nobody

[2022-02-06 08:31] kostrzewa commented on #1244
@maddyscientist That sounds great.

[2022-02-21 15:27] james-simone opened #1251 "building for HIP"
Add a page to the wiki documentation on how to build for HIP.

[2022-02-21 16:19] maddyscientist commented on #1251
Assigning to @bjoo

[2022-02-21 17:05] bjoo commented on #1251
Will get to it eventually.

[2022-02-21 17:23] james-simone commented on #1251
Hi Balint,

Would it be possible to send cmake options for a hip build? Also, is there a particular branch that should be used?

—jim

﻿On 2/21/22, 11:05 AM, "Balint Joo" ***@***.***> wrote:

    Will get to it eventually.
    —
    Reply to this email directly, view it on GitHub <https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_lattice_quda_issues_1251-23issuecomment-2D1047080697&d

[2022-02-21 17:36] bjoo commented on #1251
Yes:

For now use the `feature/hip-compiler-fixes` branch
The build script I have been using is below:

notes:
a) gfx90a is MI250 a la crusher.
b) I chose to not download Eigen. It really repends whether the machine you have access to
    has internet access or not.
c) The current build structure needs HIP-Language support. I am using cmake/3.22.1
d) Supposedly downloading USQCD like QIO and stuff

[2022-03-03 20:28] cpviolator commented on #959
@Marcogarofalo @kostrzewa Can you please use the current `feature/Wflow_interface` branch to recheck the Wilson flow data? I was trying to do a cross check with MILC but my MILC compiling skills have evaporated over the past two years. Just be sure to set `su_project = QUDA_BOOLEAN_TRUE` as is done here

https://github.com/lattice/quda/blob/feature/Wflow_interface/tests/su3_test.cpp#L263

when you

[2022-03-03 23:58] Marcogarofalo commented on #959
with `QUDA` 39fb75e2f1b571cf64fe094f5d79470c239cbc90  setting  `su_project = QUDA_BOOLEAN_TRUE` I get

[code]

which are very similar to https://github.com/lattice/quda/issues/959#issuecomment-1010223108 and still differ from tmLQCD

[2022-03-04 00:00] cpviolator commented on #959
Thank you very much @Marcogarofalo ! I'll perform a direct MILC comparison, keep hunting.

[2022-03-07 15:53] james-simone opened #1254 "Summit ppc64 build fails on develop branch with gcc 10.2"
The ppc64 gcc 10.2 compiler is not happy with Eigen v3.4.0. I expect this has been an issue since commit b640c1f44b8 "bump Eigen to 3.4.0".

[ 31%] Building CXX object lib/CMakeFiles/quda_cpp.dir/eig_iram.cpp.o
In file included from /ccs/home/simonej/ks_rhmc/build_quda/_deps/eigen-src/Eigen/Core:19,
                 from /ccs/home/simonej/ks_rhmc/build_quda/_deps/eigen-src/Eigen/Eigenvalues:11,

[2022-03-07 16:17] weinbe2 commented on #1254
Not strictly an answer, but do you have a specific need for GCC 10.\*? I believe I've seen that flavor of gcc have issues for "no good reason" before, and have empirically found 7.\* and 9.\* to be reliably safe.

[2022-03-07 16:20] weinbe2 commented on #1254
Not saying that the specific issue above is an error for "no good reason", I'm more implying that gcc 10 has a (personal) track record of being particularly difficult.

[2022-03-07 16:21] james-simone commented on #1254
OK, this report may just be informational. I happened upon this issue since gcc 10.2 is one of the later compilers on our ppc64 worker. I was able to reproduce the issue with the gcc 10.2 compiler on Summit.

[2022-03-07 16:47] weinbe2 commented on #1254
Digging into the Eigen repo, it looks like there were some known issues related to PowerPC (the top of that header queries the CPU arch).

Fixes were merged only ~3 weeks ago (even though Eigen 3.4.0 itself is ~6 months old):  https://gitlab.com/libeigen/eigen/-/merge_requests/847

This `diff` from the commit looks particularly relevant:

[code]

Since the issue isn't happening with other versions

[2022-03-08 21:43] cpviolator commented on #959
Digging into MILC I see that their strategy is to exponentiate the traceless, anti hermitian matrices using a Taylor series, whereas QUDA performs a Cayley-Hamilton decomposition. I think this is enough to cause the deviations we see. Once I have MILC up and running I will hack QUDA to use a Taylor series and get the digits to match, then I think we can close this with a caveat.

[2022-03-08 21:49] maddyscientist commented on #959
Since MILC matches tmLQCD, what strategy does it employ?

[2022-03-08 21:58] cpviolator commented on #959
Cayley Hamilton it seems... https://github.com/etmc/tmLQCD/blob/master/meas/gradient_flow.c#L106

[2022-03-09 15:35] weinbe2 commented on #1254
Re-opening it for visibility, will close once a new Eigen release has been merged in.

[2022-03-09 16:57] mathiaswagner commented on #1254
I would prefer to stick to released Eigen versions but we could add an option for using any git commit if there is a strong need. For now it seems we can wait on the next release.

[2022-03-16 21:51] bjoo commented on #1254
I fell afoul of this today. I got around it by downloading eigen-3.3.9 and unzipping it manually. Then setting
[code]
on the Cmake command line.
I am not sure why 3.4.0 is giving the problem.
Working with GCC-10 because of the desire/need to use Concepts in QDP-JIT.

[2022-03-17 06:38] mathiaswagner commented on #1254
Is this related to #1256 ?

You should also be able to use something like
`-DQUDA_EIGEN_VERSION=3.3.9`
instead of the more tedious download / unzip.

[2022-03-30 20:05] maddyscientist opened #1258 "Add Citation file"
And maybe look into correct Zenodo attribution

[2022-03-31 06:09] mathiaswagner commented on #1258
Some documentation https://citation-file-format.github.io

and a generator: https://citation-file-format.github.io/cff-initializer-javascript/#/

[2022-04-06 09:24] mathiaswagner commented on #1162
@bjoo guess this has been done.

[2022-04-12 08:56] mathiaswagner commented on #1176
This came up again in #1257

[2022-04-12 08:58] mathiaswagner opened #1262 "Remove clear from ColorSpinorField / LatticeField"
This is only used in dslash_test and blas_test and not strictly necessary there.
So relying on objects being properly destructed before calling endQuda is a better solution here.

After #1257

[2022-04-20 17:11] maddyscientist opened #1265 "Chroma-QUDA wiki update"
The QUDA Chroma wiki [page](https://github.com/lattice/quda/wiki/Chroma-with-QUDA) is out of date for the latest CMake driven build approach and should be updated.

[2022-05-03 19:37] weinbe2 opened #1269 "Verify ctest coverage of all `gaugeObservables` options"
As part of implementing the hotfix in #1268, it appears some pieces of the `gaugeObservables` routine (as called by `gaugeObservablesQuda` in the interface) had slipped through the cracks in the `ctest` suite. This should be a relatively quick follow-up and fix, but I wanted to file this before I got distracted and forgot.

[2022-05-03 20:04] hummingtree opened #1270 "The alternative `i2f` no longer works"
The alternative `i2f` conversion routine [here](https://github.com/lattice/quda/blob/466e5dfe9ec38fe8b217cc784a445169022c8842/include/convert.h#L79) (the `#if 0` version) no longer works with the latest CUDA compiler, since in principle writing to one member of a union and then accessing another member is an undefined behavior. Per https://en.cppreference.com/w/cpp/language/union,

[2022-05-05 16:35] #1270 closed, assigned to maddyscientist

[2022-05-06 20:59] jxy opened #1273 "2.8 * M_PI, is it a typo?"
https://github.com/lattice/quda/blob/6d16d9e06ac1aca084638db116b0dd1a0ab035b6/include/targets/cuda/math_helper.cuh#L96

[2022-05-06 21:01] maddyscientist commented on #1273
That is a typo.  Thanks for the catch.  It's a harmless one, since `a < 2 π`, but good to fix

[2022-05-06 21:04] maddyscientist commented on #1273
Bug fix pushed, will close then when the branch in question is merged in.

[2022-05-09 20:29] jxy opened #1274 "installed executables have RUNPATH pointing to nonexistent directories"
With `QUDA_DOWNLOAD_USQCD`, `make install` installs things under `usqcd` by default, and we have `usqcd/bin`, `usqcd/lib`, and `usqcd/include`.  However, the `RUNPATH` of installed binaries, eg. from `readelf -d usqcd/bin/blas_test`, points to `usqcd/lib64`, which does not exist.  As a result, directly running `tests/blas_test` after build works fine, but `make install` creates executables that ha

[2022-05-09 20:38] jxy opened #1275 "`make install` installs lime executables without rpath"
The lime executables in the build directories (`_deps/qio-build/other_libs/c-lime/examples`) have proper RPATH points to the build directory (`_deps/qio-build/other_libs/c-lime/lib`).  The installed `lime-*` executables under `usqcd/bin` have no RPATH set, even though the library `liblime.so` is installed under `usqcd/lib`.

Related issue #1274

[2022-05-24 05:33] #1274 closed, assigned to nobody

[2022-05-27 07:51] #1273 closed, assigned to nobody

[2022-06-02 19:38] weinbe2 opened #1286 "Implement an in-place `cax_U`"
A thin QR decomposition implemented as an `V^dag V` + Cholesky + `Sigma^{-\dag} V` requires a large batch of temporary storage unless the `Sigma^{-\dag} V`, where `Sigma^{-\dag}` is upper right triangular, is done in place. This has applications in any global orthonormalization workflow, such as in `lib/multigrid.cpp`.

[2022-06-05 09:57] kostrzewa opened #1287 "updateMultigridQuda performance regression sometime after be1766a519995f8c16b9541c300f883efabc3df8"
I've observed a (rather substantial) performance regression in `updateMultigridQuda` sometime after commit be1766a519995f8c16b9541c300f883efabc3df8. The earliest  'bad' commit (which I could compile and which ran without erroring out) that I could identify is b50f16a55d2eaae816c00812b3996138c5c4dfa9.

Running on four nodes of Juwels Booster on a 64c128 lattice at the physical point, calling `updat